[2022-03-30 17:38] baruKreddy commented on #1414
You can assign this to me @rohanKanojia, Thanks!

[2022-03-31 04:01] Devamparikh commented on #1413
Can I take this up? I'd like to give it a shot.

[2022-03-31 05:27] manusa opened #1415 "Improve OpenShift login experience"
### Context

I was in a Java user group (JUG) meetup yesterday giving a workshop about [Kubernetes for Java developers](https://www.meetup.com/ValenciaJUG/events/284785058/attendees/).

The workshop includes several activities, the first one being deploying a Java application into OpenShift using the OpenShift Maven|Gradle plugin. Then it continues with other tasks involving the interaction with K

[2022-03-31 08:08] manusa commented on #1415
This might also be interesting for CI purposes.

[2022-04-01 05:28] manusa commented on #1409
Could you please provide your logs instead of a screenshot?
You should see what's causing trouble in the lines above or below that summary.

[2022-04-01 07:13] JhaSaahil commented on #1414
Is anyone working on this?

[2022-04-01 09:32] zkj1374960803 commented on #1406
Dear @manusa,
The above is my example, please help to answer, thank you very much.

[2022-04-01 09:40] manusa commented on #1406
Hi, sorry for the late reply.

OK, in your case you're trying to override our default S2i binary build. I initially thought that you might want to provide a buildconfig to perform an S2i source build.

For the binary build, the only way to go is to use our built-in features and XML/DSL configurations. In the end, you need JKube to orchestrate this since the binary needs to be streamed to the clust

[2022-04-01 10:57] baruKreddy commented on #1414
@JhaSaahil I'm working on this currently! Thanks

[2022-04-01 16:22] cdprete commented on #1413
You can also remove `times(1)` since it's the default ;)

[2022-04-01 23:52] cdprete commented on #1382
Hi @rohanKanojia.
I've started working on the refactoring of the tests, but I've an issue with the test `org.eclipse.jkube.kit.config.service.openshift.OpenshiftBuildServiceIntegrationTest#build_withDockerfileModeAndAssembly_shouldSucceed`.
Basically, the `org.eclipse.jkube.kit.common.archive.AssemblyFileSetUtils#copy` method doesn't exit the recursion and, in the end, I get a stack overflow.

Giv

[2022-04-02 07:12] zkj1374960803 commented on #1406
Hi @manusa,

I thought about your reply carefully.
I found the cause of the problem. The buildconfig.yml defined in jkube is different from the buildconfig in OCP(OpenShift Container Platform), which caused my buildconfig.yml to not take effect.

I have a few questions.

1. I initially thought that you might want to provide a buildconfig to perform an S2i source build.
    What do you mean by _**b

[2022-04-02 08:19] heloise-viegas commented on #1358
Hi @rohanKanojia
Can I give this a try? I'm a newbie to Open source so just wanted to start somewhere

[2022-04-02 11:58] MostafaMagdy55 commented on #1413
You can assign this to me @rohanKanojia, Thanks!

[2022-04-02 11:59] MostafaMagdy55 commented on #1413
You can assign this to me @rohanKanojia, Thanks!

[2022-04-03 03:33] cdprete commented on #1382
@rohanKanojia as promised, the PR is at https://github.com/eclipse/jkube/pull/1416

[2022-04-03 10:59] Prathamkrishna commented on #1409
Alright here:
[code]

[2022-04-04 05:39] derekdunes commented on #1407
@baruKreddy can you post your Merged PRs to this issue when resolved so we could learn from it

[2022-04-04 05:40] derekdunes commented on #1414
@baruKreddy can you post your Merged PRs to this issue when resolved so we could learn from it

[2022-04-04 05:43] baruKreddy commented on #1407
Hi @derekdunes , This PR is currently under review.You can have a look at this. https://github.com/eclipse/jkube/pull/1410

[2022-04-04 05:49] derekdunes commented on #1407
@baruKreddy okay thanks

[2022-04-04 05:54] baruKreddy commented on #1414
@derekdunes This issue under progress, but I have fixed a issue which is similar and you can find that changes in this PR https://github.com/eclipse/jkube/pull/1387/files. I hope this would help.

[2022-04-04 07:39] #1311 closed

[2022-04-04 09:32] #1312 closed

[2022-04-04 09:46] #1336 closed

[2022-04-04 09:50] manusa commented on #1353
Could you provide more details about the new image to use and what are the differences with the current wildfly-centos image.

[2022-04-04 12:40] manusa commented on #1252
Relates to #1336

[2022-04-04 12:41] #1378 closed

[2022-04-04 12:46] manusa opened #1419 "Improve issue and pull request templates"
### Description

The current template for issues is a little bit messy and has some optional fields that end up rendered as empty gray boxes. We should improve this.

### Relates to
- https://github.com/fabric8io/kubernetes-client/pull/3322

[2022-04-04 12:48] manusa commented on #1411
That's the purpose of these elements (tags,tag). Could you please share a reproducer pom.xml so we can see where the problem is?

[2022-04-04 12:54] manusa commented on #1409
You should try to debug the test execution and see what's going on.
For some reason you are getting relative URLS with weird paths in the artifacts that your tests generate. We refactored this test a few times, and it should be more or less bullet-proof, but this proves otherwise.

[2022-04-04 17:31] baruKreddy commented on #1414
@derekdunes I'm attaching a PR related to this issue which in under review. https://github.com/eclipse/jkube/pull/1420

[2022-04-04 17:46] derekdunes commented on #1414
@baruKreddy thanks already reviewing, if I have any questions will definitely reach out, I hope you don't mind though?

[2022-04-05 04:20] Devamparikh commented on #1413
Hey @cdprete Do you think this would be the correct simplification for verify( ) call?
[code]

[2022-04-05 07:05] Devamparikh commented on #1372
Hey @Sohamkayal4103 Do you mind if we could work on this issue together??
I really need to solve some issues :sweat_smile:

[2022-04-05 08:17] Devamparikh commented on #1358
Hey @heloise-viegas Do you mind if we could work on this issue together??
I really need to solve some issues 😅

[2022-04-05 08:22] Surfjoan commented on #1411
enough with plugin config?
<plugin>
                <groupId>org.eclipse.jkube</groupId>
                <artifactId>openshift-maven-plugin</artifactId>
                <version>1.7.0</version>
                <configuration>
                    <images>
                        <image>
                            <name>${openshiftnamespace}/%a:%v</name>
                            <build>

[2022-04-05 08:24] Surfjoan commented on #1411
Enough with plugin conf?
`<plugin>
                <groupId>org.eclipse.jkube</groupId>
                <artifactId>openshift-maven-plugin</artifactId>
                <version>1.7.0</version>
                <configuration>
                    <images>
                        <image>
                            <name>${openshiftnamespace}/%a:%v</name>
                            <build>

[2022-04-05 08:48] Devamparikh commented on #732
Hey is this issue still open to work on??

[2022-04-05 09:16] heloise-viegas commented on #1358
Hi @Devamparikh,
Sure we can work on this together, in any case I needed  help!

[2022-04-06 04:21] Devamparikh commented on #1358
Let me know if I could do anything to help. ;)

[2022-04-06 04:32] heloise-viegas commented on #1358
@Devamparikh Do I just add the skipDeploy flag as above in UnDeployMojo.java ? I'm really confused since its my first time..
Maybe we can connect via socials so you can guide me along ...
Thanks  :)

[2022-04-06 06:45] sunix opened #1425 "Refresh the JKube website and access to the documentation/Get started/quickstarts"
### Description
The JKube website https://www.eclipse.org/jkube/ needs a refresh so new users, users and contributors finds the doc and example for what they need quickly.

[2022-04-06 07:06] cdprete commented on #1413
Hey @Devamparikh.
Yes, that would be OK, but that's only my personal opinion.
Maybe the authors prefer to keep the `times(1)` even if it's the default for readability or other reasons. @rohanKanojia can tell this ;)

[2022-04-06 07:26] manusa commented on #1425
I was thinking about this, this morning too.

The plan would be to improve (or migrate to adoc) the Markdown files located in the root of each quickstart. We should add some Frontmatter metadata to each, including the following:
- slug
- Short title (50-60 chars)
- Short description (50-160 chars)
- keywords
- _(type)_ <- inferred from directory location: kit, maven, gradle
- framework keywords
-

[2022-04-06 07:43] manusa commented on #1413
I like the verbosity of times(1) since it makes the test readable despite the convention redundancy. It makes it clear for anyone who is reviewing the test what's going on.

[2022-04-06 07:49] manusa commented on #1050
Relates to #1425

[2022-04-06 07:53] manusa opened #1426 "Release Fabric8 Maven Plugin 4.4.2"
### Description

Child of #287

Create a new release of [Fabric8 Maven Plugin](https://github.com/fabric8io/fabric8-maven-plugin).

The only change to include in this release (besides any major critical dependency bump) is to add a WARNING log message before and after each Mojo execution that prints a deprecation message (TBD) and instructs users to migrate to Eclipse JKube.

[2022-04-06 09:07] Devamparikh commented on #1358
Yes, You can communicate more efficiently via gitter.
Link is available in readme of this project.

[2022-04-07 08:19] anurag-rajawat commented on #1273
@rohanKanojia may I work on this?

[2022-04-07 08:41] halfdreamer commented on #1409
I was facing similar issue when i tried running locally, above change fixed it for me.

[2022-04-07 19:34] halfdreamer commented on #857
@rohanKanojia @manusa I'm interested in working on this. Can i go ahead and create a issues for any of the child module and start working on it  ?

[2022-04-08 05:40] rohanKanojia commented on #1092
I'm still seeing outdated test in master branch:

https://github.com/eclipse/jkube/blob/ded7049e0ff253e04ebf1fddfc265bf25f1b636b/jkube-kit/profile/src/test/java/org/eclipse/jkube/kit/profile/ProfileUtilTest.java#L88-L97

This is still not fixed

[2022-04-08 05:47] rohanKanojia opened #1429 "[Maven Quickstarts] : Update Micronaut quickstart to v3.4.1"
### Description
Our current micronaut maven quickstart seems to be outdated. It needs to be updated to latest version of micronaut.

https://github.com/eclipse/jkube/blob/ded7049e0ff253e04ebf1fddfc265bf25f1b636b/quickstarts/maven/micronaut/pom.xml#L24

- [ ] Update Micronaut version to latest release
- [ ] Verify Kubernetes Maven Plugin is working with the updated version by deploying an applicati

[2022-04-08 05:52] Mohd-Farhan commented on #1429
I am interested in resolving the issue.

[2022-04-08 05:56] Mohd-Farhan commented on #1429
I want to know what are the software I have to install for contribution.

[2022-04-08 06:09] rohanKanojia commented on #1429
@Mohd-Farhan : Please check out out Contributing page: https://www.eclipse.org/jkube/contributing

You can also check my blogpost which can guide you in contributing to Eclipse JKube https://rohaan.medium.com/how-to-contribute-to-eclipse-jkube-f3bc7f902bf4

[2022-04-08 06:12] rohanKanojia opened #1430 "[Maven Quickstarts] : Update Maven Quarkus quickstart to latest Quarkus version 2.7.5.Final"
### Description
Our current Quarkus maven quickstart seems to be outdated. It needs to be updated to latest version of Quarkus.

https://github.com/eclipse/jkube/blob/ded7049e0ff253e04ebf1fddfc265bf25f1b636b/quickstarts/maven/quarkus/pom.xml#L35

- [ ] Update Quarkus version to latest release
- [ ] Verify Kubernetes Maven Plugin is working with the updated version by deploying an application to [m

[2022-04-08 06:17] rohanKanojia opened #1431 "[Gradle Quickstart] Port `quickstarts/maven/quarkus` to equivalent Gradle Quarkus quickstart"
### Description

Port [`quickstarts/maven/quarkus`](https://github.com/eclipse/jkube/tree/master/quickstarts/maven/quarkus) quickstart to Gradle

- [ ] Generate a sample Gradle application from [https://code.quarkus.io/](https://code.quarkus.io/) and make changes as done in maven quickstart
- [ ] Add Kubernetes and OpenShift Gradle Plugins
- [ ] Verify application is deployed correctly on [minikub

[2022-04-08 06:19] Mohd-Farhan commented on #1429
thanks

[2022-04-08 06:20] anurag-rajawat commented on #1430
@rohanKanojia  may I work on this?

[2022-04-08 06:44] anurag-rajawat commented on #1431
@rohanKanojia may I work on this also?

[2022-04-08 09:16] Devamparikh commented on #732
Hey @theexplorist are you still working on this?

[2022-04-08 10:33] zargarf opened #1438 "Using a service account that already exists with openshift-maven-plugin and helm"
### Description

### Info

* Eclipse JKube version : 1.7.0
* Maven version (`mvn -v`) : 3.8.1

Hi. I'm having some issues trying with the openshift-maven-plugin when it comes to trying to reference using a serviceAccount that already exists. If I add into the configuration section of the openshift-maven-plugin in my pom.xml (1.7.0) the following (as per the docs):

[code]

and then in my src/main/

[2022-04-08 12:15] sunix opened #1439 "Should suggest to use `jkube.domain` if `createExternalUrls` is used without domain."
### Description
I have recently been using `jkube.createExternalUrls` but forgot to set the domain. Would be nice to log a `HINT` message with the suggestion.

[2022-04-08 14:04] rohanKanojia commented on #1309
ExposeEnricher adds `expose: true` annotation which used to be processed by https://github.com/jenkins-x/exposecontroller which used to  automatically create and delete Ingress rules or OpenShift Routes. This repository seems to have been archived since 2020. I think it's okay to remove this enricher.

[2022-04-08 14:04] rohanKanojia commented on #1309
ExposeEnricher adds `expose: true` annotation which used to be processed by https://github.com/jenkins-x/exposecontroller which used to  automatically create and delete Ingress rules or OpenShift Routes. This repository seems to have been archived since 2020. I think it's okay to remove this enricher.

[2022-04-08 14:56] rohanKanojia commented on #1309
It looks like IngressEnricher  & RouteEnricher also consider this `expose: true` label for generating Ingress for Service. It only generates Ingress/Route for Service who have `expose: true` label:

https://github.com/eclipse/jkube/blob/ded7049e0ff253e04ebf1fddfc265bf25f1b636b/jkube-kit/enricher/generic/src/main/java/org/eclipse/jkube/enricher/generic/NetworkingV1IngressGenerator.java#L60
https://

[2022-04-08 17:18] rohanKanojia opened #1440 "JKube Kit : Add unit test for KindFilenameMapperUtil"
### Description

[KindFilenameMapperUtil](https://github.com/eclipse/jkube/blob/master/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/util/KindFilenameMapperUtil.java) doesn't seem to be covered by any unit tests.

- [ ] Write unit test to verify all required kind to filename mappings are loaded

[2022-04-08 17:18] Devamparikh commented on #1440
I will work on this.

[2022-04-08 17:35] rohanKanojia commented on #1431
Gradle doesn't have the concept of profiles. You can use properties to enable profile related properties. In this case, I'd say you can ignore adding these profiles.

[2022-04-08 17:43] rohanKanojia opened #1441 "JKube Kit : Add unit test for ProjectEnricher"
### Description

[ProjectEnricher](https://github.com/eclipse/jkube/blob/master/jkube-kit/enricher/generic/src/main/java/org/eclipse/jkube/enricher/generic/openshift/ProjectEnricher.java) doesn't seem to be covered by unit tests

- [x] Add a unit test to verify Project is generated as expected

[2022-04-08 17:49] Devamparikh commented on #1441
Assign this to me I will work on this.

[2022-04-08 17:50] Devamparikh commented on #1441
Assign this to me I will work on this.

[2022-04-09 06:31] manusa commented on #1430
All build profiles should be tested at least in one of the environments.

[2022-04-11 04:55] rohanKanojia commented on #1309
I've removed ExposeEnricher but there still seem to be some occurrences of `expose` annotation in codebase to decide whether Service is exposed or not:

https://github.com/eclipse/jkube/blob/33d9b739af35d203798c14c7991f7812c6e4ea9f/jkube-kit/config/service/src/main/java/org/eclipse/jkube/kit/config/service/ApplyService.java#L1361

https://github.com/eclipse/jkube/blob/33d9b739af35d203798c14c7991f7

[2022-04-11 13:54] #1407 closed

[2022-04-11 14:04] #1382 closed, assigned to rohanKanojia

[2022-04-12 04:08] manusa opened #1448 "DefaultServiceEnricherTest performs a KubernetesList to JSON conversion"
### Description

Refactor [DefaultServiceEnricherTest](https://github.com/eclipse/jkube/blob/682cc6f25ccf3e95e20832d1396fa3890f3a4e26/jkube-kit/enricher/generic/src/test/java/org/eclipse/jkube/enricher/generic/DefaultServiceEnricherTest.java#L220) to remove the redundant conversion of the resulting KubernetesList into a JSON string that is parsed again further on within the test assertions.

---

[2022-04-12 04:11] manusa opened #1449 "ImageEnricherTest performs a redundant KubernetesList to JSON conversion"
### Description

Refactor [ImageEnricherTest](https://github.com/eclipse/jkube/blob/d925ff9003be3834cccc91a3f39417335ea529f9/jkube-kit/enricher/generic/src/test/java/org/eclipse/jkube/enricher/generic/ImageEnricherTest.java#L157) to remove the redundant conversion of the resulting KubernetesList into a JSON string that is parsed again further on within the test assertions.

### Relates to
- https:

[2022-04-12 04:15] manusa opened #1450 "DockerHealthCheckEnricherTest performs a redundant KubernetesList to JSON conversion"
### Description

Refactor [DockerHealthCheckEnricherTest](https://github.com/eclipse/jkube/blob/053e63e095222c26994984f73a4a4603f5489ef7/jkube-kit/enricher/specific/src/test/java/org/eclipse/jkube/kit/enricher/specific/DockerHealthCheckEnricherTest.java#L220) to remove the redundant conversion of the resulting KubernetesList into a JSON string that is parsed again further on within the test assert

[2022-04-12 05:38] #1344 closed

[2022-04-12 08:40] pmbsa commented on #777
hi @manusa, sorry to ping you again. Have you managed to look at this at all again?

[2022-04-12 10:58] #1372 closed

[2022-04-12 10:59] #1413 closed

[2022-04-13 05:54] manusa commented on #777
Hi Paul, sorry still no time. I'll reopen the issue and try to allocate some time for us to investigate.

[2022-04-14 09:14] sunix commented on #1033
build:
- build strategy: docker/jib/s2i
- packaged file location (war or jar)
- generator name
- if dockerfile used: dockerfile location, otherwise: from, cmd, args, etc...
- target image name
- success or failure, if failure provide the cause

[2022-04-19 09:30] rohanKanojia commented on #1194
When #1455 gets merged, you should be able to change name of generated Deployment with a configuration like this:
[code]

[2022-04-19 10:42] nightswimmings opened #1456 "Suggestion for improving documentation in regards of autoPull/imagePullPolicy"
By reading the documentation (https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin), I am not clear on what is the difference between autoPull and imagePullPolicy properties. Are them unrelated, used in different configs, or do they just collide or one overrides the other?

[2022-04-19 13:35] simonwg opened #1458 "Support the consideration of "ssl.enabled" properties to enable liveness/readiness probe for Spring Boot Actuator"
### Description
According to documentation, currently, enable the liveness/readiness probe by default for Spring Boot application depends on the availability of "management.server.ssl.key-store" and "server.ssl.key-store". I suggest also consider "management.server.ssl.enabled" and "server.ssl.enabled" for better judgement.

### Info

* Eclipse JKube version : 1.7.0
* Maven version (`mvn -v`) : 3.

[2022-04-19 13:48] simonwg opened #1459 "Route Generation should support 8443 as default web port"
### Description
https://www.eclipse.org/jkube/docs/openshift-maven-plugin#resource-route-generation mentioned that 80, 443, 8080, 9080,  9090, 9443 are recognized by service and automatically be exposed. I think the port "8443" should be included as one of the recognized web ports

### Info

* Eclipse JKube version : 1.7.0
[code]
* Kubernetes / Red Hat OpenShift setup and version : OpenShift 3.11

[2022-04-19 14:05] simonwg opened #1460 "OpenShift route generated targetPort doesn't use the service "normalizePort""
### Description
If "normalizePort" is enabled for service, the generated route's target port doesn't map to the normalized port

### Info

* Eclipse JKube version : 1.7.0
* Maven version (`mvn -v`) : 3.6.4
[code]
* Kubernetes / Red Hat OpenShift setup and version : OpenShift 3.11

* If it's a bug, how to reproduce :

   Enable the `normalizePort` to `true` in maven pom.xml
[code]
   The generated

[2022-04-21 07:50] #1441 closed

[2022-04-21 10:01] #1268 closed

[2022-04-21 11:13] #1194 closed

[2022-04-21 11:31] rohanKanojia opened #1465 "Remove`@Deprecated` methods from KubernetesResourceUtil using `Constants.RESOURCE_SOURCE_URL_ANNOTATION`"
### Description

While working on #1263 I had moved RemoveBuildAnnotationsEnricher related logic to KubernetesResourceUtil class since some methods of setting and getting source URL annotation were already present there. Since `maven.jkube.io/source-url` is deprecated, this method is deprecated as well and is marked for removal in 2.x versions of jkube.

### AC

The following methods _(and usages)

[2022-04-22 10:51] rohanKanojia opened #1467 "SpringBootHealthCheckEnricher : Add `/actuator/startup` as startup probe if enabled"
### Description

Related to #1322

[Spring Boot actuator](https://docs.spring.io/spring-boot/docs/2.5.6/reference/html/actuator.html) provides a `startup` endpoint which shows startup data. Here is a sample response

[code]

I think this endpoint can be used by SpringBootHealthCheckEnricher as a startup probe. SpringBootHealthCheckEnricher should check whether startup is enabled or not; If enabled

[2022-04-22 12:26] rohanKanojia opened #1468 "QuarkusHealthCheckEnricher : Add `/q/health/started` as startup probe if enabled"
### Description

Related to #1322

When [Quarkus Smallrye Health](https://quarkus.io/guides/smallrye-health#running-the-health-check) extension is added to the project, this endpoint is exposed which tells whether the application has started or not :  `/q/health/started`

QuarkusHealthCheckEnricher should also add a startup probe to container in controller's PodTemplateSpec if SmallRye extension i

[2022-04-22 13:01] Prathamkrishna commented on #1467
I think i could pick this up if no one else has plans

[2022-04-22 13:16] manusa commented on #1467
We need to check if this is also supported in SpringBoot 1.x

[2022-04-22 15:06] cdprete opened #1469 "Filesystem-based tests fail because of non-english locale"
Hi.
I was running the tests from the cdprete:pr/issue1338#5001b3e2d8db5f05bd2d0b8ac092c581e3e27b7f version of the project and I've realized that some tests fail because they explicitly check the error message returned into the exception that doesn't match the expected one since the former is (automatically translated) in the system locale (Italian on my current machine) and the latter is in Englis

[2022-04-22 15:49] #1263 closed

[2022-04-22 15:49] #1465 closed

[2022-04-23 05:56] Prathamkrishna commented on #1467
yep, it is is supported in SpringBoot 1.x

[2022-04-23 08:23] adriannowak commented on #1460
Can I take it? It would be my first PR here :)

[2022-04-23 19:18] adriannowak opened #1470 "Kubernetes-maven-plugin doesn't work with Apple M1 CPU"
### Description

The `kubernetes-maven-plugin` doesn't work on Apple M1 machines.
Similar issue was also reported in `docker-maven-plugin` and fixed by upgrading `jnr-unixsocket` to at least [0.38.17](https://github.com/jnr/jnr-unixsocket/issues/95)

### AI
- [x] CQ for the new version 0.38.17 of `com.github.jnr:jnr-unixsocket` https://dev.eclipse.org/ipzilla/show_bug.cgi?id=24105
- [x] ~~CQ for t

[2022-04-25 06:08] rohanKanojia opened #1473 "Add OpenLibertyHealthCheckEnricher to automatically add health checks in OpenLiberty projects"
### Description

OpenLiberty supports standard [Microprofile Health endpoints](https://openliberty.io/docs/22.0.0.3/health-check-microservices.html#_microprofile_health_endpoints_and_annotations).

- `/health/ready`
- `/health/live`
- `/health/started`

At the moment JKube doesn't add opinionated Liveness and Readiness probes in the case of OpenLiberty projects. We should add it to j[kube-kit-open

[2022-04-25 09:57] rohanKanojia opened #1474 "WildflyJARHealthCheckEnricher : Add `/health/started` as startup probe if enabled"
### Description

Blocked by https://github.com/eclipse/jkube/issues/1322

[Wildfly Microprofile Health Subsystem](https://github.com/wildfly/wildfly/blob/main/docs/src/main/asciidoc/_admin-guide/subsystem-configuration/MicroProfile_Health.adoc#http-endpoints) configuration defines three HTTP endpoints:

- `/health/live` to test the liveness of the application server

- `/health/ready` to test the

[2022-04-25 12:44] sunix commented on #1470
Thanks a lot @adriannowak! I unassigning it so someone could take it to create the CQs

[2022-04-25 14:27] rohanKanojia opened #1475 "Support for Helidon framework"
### Description

Create Generator and Enricher support for [Helidon framework](https://helidon.io/)

Generator should detect [Helidon Maven Plugin](https://search.maven.org/artifact/io.helidon.build-tools/helidon-maven-plugin/3.0.0-M3/maven-plugin). I couldn't find any equivalent gradle plugin in the repository.

- [x] Implement HelidonGenerator in a new module jkube-kit-helidon https://github.com

[2022-04-25 15:47] rohanKanojia commented on #1322
I've created HealthCheckEnricher implementation related issues for frameworks that seem to support startup probes:

- https://github.com/eclipse/jkube/issues/1467
- https://github.com/eclipse/jkube/issues/1468
- https://github.com/eclipse/jkube/issues/1474
- https://github.com/eclipse/jkube/issues/1473 (Whole OpenLibertyHealthCheckEnricher needs to be implemented)

For Vert.x, Micronaut and Thornt

[2022-04-25 18:17] #1324 closed

[2022-04-26 05:11] manusa opened #1476 "Goal/Task to generate a Devfile"
### Description

As a user, I want to be able to transition to other tools, so that I can easily move away from JKube or be able to work on my project from different environments.

A solution for this is to generate a [Devfile](https://github.com/devfile) based on JKube's settings and its inferred project configuration.

This would allow users to other tooling such as [odo](https://github.com/redh

[2022-04-26 05:14] manusa commented on #1265
The proposal is up. Next steps would involve selecting the contributor and preparing the related issues. We can track this in additional issues. Closing this one.

[2022-04-26 05:14] #1265 closed

[2022-04-26 08:02] sunix opened #1477 "Add integration tests for tomcat 10 jarkartaee/legacy javaee projects"
It would also be nice to include (in a follow-up) PR some sort of test to verify the configuration options, etc.

_Originally posted by @manusa in https://github.com/eclipse/jkube/pull/1385#pullrequestreview-950253849_

[2022-04-26 09:11] manusa commented on #1473
Might be a duplicate of 443

[2022-04-26 09:14] sunix commented on #443
1. This issue for the implementation
2. IT for each specific frameworks: https://github.com/eclipse/jkube/issues/1473 etc...

[2022-04-26 09:28] manusa commented on #1456
https://github.com/eclipse/jkube/blob/7aebe47db4baf1c5d8b45838f516bf7e6cdc453f/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/ImagePullManager.java#L46

[2022-04-26 09:39] manusa commented on #1438
We should improve the current ServiceAccountEnricher or break it into 2 different enrichers.
If improving the current enricher, we should add an additional property `skipCreate`to avoid the creation of the YAML.

[2022-04-26 14:35] sunix opened #1478 "Should detect and warn the user if `jkube.createExternalUrl=true` and ingress/route controller not available"
### Description
Basically when the ingress controller is not installed. JKube should detect it if it is creating an ingress that won't work. Cherry in the cake would be to tell which commands to run (for minikube: `minikube addons enable ingress`)

### Info

* Eclipse JKube version : 1.7.0

[2022-04-26 14:41] manusa commented on #1208
Can this one be closed? @sunix

[2022-04-26 14:53] manusa commented on #1358
polite ping, is anyone of you working on this issue?

[2022-04-26 17:01] nightswimmings commented on #1456
Thanks! Quite enlightning!
But what is the point of keeping both then if they are redundant?? Is there a preferred one?

[2022-04-27 05:28] manusa commented on #1456
Backwards compatibility for one.

This came from Docker Maven Plugin, so we need to check if there it evolved to provide additional features or this are just reminiscences of former functionality.

If no additional functionality is provided, we should definitely deprecate this and remove it in the next major release.

[2022-04-27 08:56] nightswimmings commented on #1456
Collonut! But what is the future reference (preferred one)?

[2022-04-27 09:05] manusa commented on #1328
Fixed by #1408

[2022-04-27 09:05] #1328 closed

[2022-04-28 04:20] #1322 closed

[2022-04-28 04:37] manusa commented on #1456
I understand that we should remove the autoPull configuration, since then it is (only?) used to determine the image pull policy inferring logic. This should evolve for users to either get the default pull policy for your project type, or imperatively configure the preferred one.

[2022-04-28 04:45] manusa commented on #1309
If we remove the enricher, is there still an easy way to disable the automatic route and ingress generation?
(excluding the enricher is not easy)

[2022-04-28 04:50] manusa commented on #1309
The linked PR removes some functionality which is not replaced:
- Log the exposed service URL
- Possibility to disable the Ingress/Route generation

We need to re-evaluate how to proceed with this.
Either repurpose this Enricher, add a new one, or move the functionality elsewhere.

[2022-04-28 09:42] #1449 closed

[2022-04-28 11:09] nightswimmings commented on #1456
Cool thanks! Merci Marc!

[2022-04-30 09:23] daryl-micah commented on #732
hey @manusa is the issue still available? I would like to help!

[2022-05-01 02:40] clara0 opened #1480 "Duplicate dependency in jkube-kit/enricher/api/pom.xml"
### Description

In the file [`jkube-kit/enricher/api/pom.xml`](https://github.com/eclipse/jkube/blob/084afe91163d18df934b66ec14477cc46369d798/jkube-kit/enricher/api/pom.xml), the dependency mockito-core is duplicated.
[code]

### Info

* Eclipse JKube version : current
* Maven version (`mvn -v`) : 3.6.3

[2022-05-02 04:39] #1480 closed

[2022-05-02 07:39] manusa commented on #732
Hi, there is already an open PR #1293 for this. However, I'm unsure if it works (we need to review).

Given the difficult setup, I'm reconsidering the option to provide nightly SNAPSHOT builds in the standard Sonatype repo. We followed this approach for the Fabric8 Kubernetes Client, and it's giving good results. So removing the complex setup friction point seems like a good idea (at the user's ex

[2022-05-02 10:34] manusa opened #1482 "Quarkus Generator and Enricher should be compatible with the Red Hat build"
### Description

The Quarkus generator and enricher is not activated when running in a project configured with the Red Hat Build of Quarkus GAV dependencies.

[2022-05-02 11:18] manusa opened #1483 "Assembly files with unnormalized paths don't get fileMode changes"
### Description

The following entries are not equal but should be:
- `/quarkus-demo/build/./camel-quarkus-demo-1.0.0-runner`
- `/quarkus-demo/build/camel-quarkus-demo-1.0.0-runner`

https://github.com/eclipse/jkube/blob/ee2390178dcad8a9cc3a9cb6d5e8c5d70a162a04/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/archive/JKubeTarArchiver.java#L80-L85

This is caused by a configuration such

[2022-05-02 18:05] maxandersen commented on #1482
Do you only consider direct dependencies ? Would it not be sufficient to detect quarkus-core in transitive dependencies so it works no matter what quarkus platform you use ?

[2022-05-03 05:05] manusa commented on #1482
The generator is actually relying on the Quarkus Maven Plugin (or Quarkus Gradle Plugin).
We're checking for the configuration of any of the following plugins:
- io.quarkus.platform:quarkus-maven-plugin
- io.quarkus:quarkus-maven-plugin
- io.quarkus:io.quarkus.gradle.plugin

I'm not sure if we might want to change the approach and check for the `io.quarkus:quarkus-core` dependency, it would certai

[2022-05-03 07:30] maxandersen commented on #1482
Ah Okey understand it better now.

So yes maven (or gradle) plugin usage is definitely the strongest indicator of a quarkus project than quarkus core jar presence is.

Maybe change it up to match on .*quarkus.*:maven-plugin ? :)

[2022-05-04 11:07] #1252 closed

[2022-05-04 13:13] derekdunes opened #1485 "Updating the how to contribute to Jkube documentation to help the ease of onboarding for both windows and Linux Devs"
### Description
The blog post/documentation for setting up jkube on a new contributor's device is majorly written for Linux users, so this issue is to update the setup on the blog post for windows users too

### Info

* Eclipse JKube version :
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift setup and version :

* If it's a bug, how to reproduce :

* If it's a feature request,

[2022-05-06 14:45] rohanKanojia opened #1489 "BaseGenerator: Verify & Align configuration options work to with properties"
### Description
Related to #1462

BaseGenerator seems to have some common configuration options which are applicable to all generators:

https://github.com/eclipse/jkube/blob/0401297d4bcea783a94fc178af376c7a8a5a185d/jkube-kit/generator/api/src/main/java/org/eclipse/jkube/generator/api/support/BaseGenerator.java#L59-L79

Since these are generator configuration fields, they should be accessible via

[2022-05-06 15:02] manusa commented on #1489
This should be applicable too for the new `tags` config option, unless it gets directly addressed in #1462 (not at the moment).

[2022-05-06 15:04] #1188 closed

[2022-05-07 05:56] kameshsampath commented on #1188
thanks @rohanKanojia  @manusa  for adding this :)

[2022-05-07 06:47] manusa commented on #1188
Nice to read you :)

I'm not sure if you're still using JKube, but Your feedback is very good, and you know we really appreciate it.
If you think of any other missing features or enhancements, please don't hesitate to reach out to us ;)

[2022-05-07 11:34] kameshsampath commented on #1188
sure thing! thanks for the trust 🙂
________________________________
From: Marc Nuri ***@***.***>
Sent: Saturday, May 7, 2022 12:17 PM
To: eclipse/jkube ***@***.***>
Cc: Kamesh Sampath ***@***.***>; Mention ***@***.***>
Subject: Re: [eclipse/jkube] Add Support for specifying multiple tags in Zero Configuration mode (Issue #1188)

thanks @rohanKanojia<https://nam12.safelinks.protection.outlook.com/?

[2022-05-09 08:10] manusa commented on #1483
Could you please try with this repo (note the commit hash): https://github.com/iam-roger-io/camel-quarkus-demo/blob/6161f0a989e5436f179efc08e80ed7a3ae12ef04/pom.xml

[code]

The runCmds commands should not be necessary, and permissions in the generated container should be changed in the tar archive:
[code]

[2022-05-09 08:32] anurag-rajawat commented on #1474
@rohanKanojia may I work on this one?

[2022-05-09 12:09] rohanKanojia commented on #1483
Somehow native build isn't working for me on this repository. I had to make some changes to project to copy quarkus-run jar instead of native executable. Here are my observations:

With 1.7.0 permission of quarkus-run jar is `0644` (not as configured)

[code]
Docker container:
[code]

With 1.8.0-SNAPSHOT based on #1487 permissions of quarkus-run jar is `0755` as expected
[code]

Docker container:

[2022-05-09 16:24] rohanKanojia opened #1493 "[Blog post]: Write a follow up blogpost to "Generate Helm charts for your Java application using JKube, Part 1""
We recently submitted a blog post [Generate Helm charts for your Java application using JKube, Part 1](https://developers.redhat.com/articles/2022/04/14/generate-helm-charts-your-java-application-using-jkube-part-1) showcasing how well Eclipse JKube integrates with helm.

The blog post is good for beginner users, but we also need to provide a follow-up blog post explaining more advanced and real-w

[2022-05-09 17:38] rohanKanojia commented on #1483
Thanks, I was using the remote container build but in my `minikube docker-env` session. Running it against local docker daemon works.

I just verified this scenario with native executable as well. fix seems to be working as expected (i.e. even after removing `runCmds` I can see correct permissions `0755` set in tarball and inside running container for runner file)

[2022-05-11 10:00] rohanKanojia commented on #1215
Is this only limited to gradle plugins? I was wondering if we could move getting-started section to jkube-kit/doc so that these getting started guides are available for all plugins.

[2022-05-11 14:32] sunix commented on #1215
@rohanKanojia yes I think it would make sense

[2022-05-12 05:50] manusa commented on #711
The Helm chart generation features have been refactored during the last couple of months:
- #1244
- #1124
- ...

This issue should no longer be applicable, as the requested end result is now achievable.

I'm closing the issue, please feel free to re-open or create a new one to cover additional requirements

[2022-05-12 05:50] #711 closed

[2022-05-12 09:53] Prathamkrishna commented on #1358
Hey, I'd like to pick this up

[2022-05-13 10:34] anurag-rajawat commented on #1450
@rohanKanojia I want to work on this

[2022-05-13 11:49] rohanKanojia commented on #106
I've tried on all versions of jkube (excluding patch releases) on both JDK8 and JDK11 but I'm not able to reproduce this issue anymore.

I think we should close this issue.

[2022-05-13 12:22] #106 closed

[2022-05-13 17:03] #1489 closed

[2022-05-16 11:23] manusa commented on #1478
This should be applicable only to the apply mojo, and probably only for specific Kubernetes platforms (such as Minikube).
For example, in regular clusters you might not have access to the kube-system namespace.

[2022-05-16 12:10] #1431 closed

[2022-05-16 16:57] anurag-rajawat commented on #1243
@manusa this issue is fixed by #1443
So, we can close this one.

[2022-05-16 17:09] rohanKanojia commented on #1243
Duplicate of https://github.com/eclipse/jkube/issues/1431

[2022-05-16 17:09] #1243 closed

[2022-05-18 08:34] #1414 closed

[2022-05-18 08:37] manusa opened #1503 "Release Eclipse JKube v1.8.0"
- [x] PR with release version commits: #1520
- [x] CI release pipelines: https://ci.eclipse.org/jkube
- [x] GitHub release: https://github.com/eclipse/jkube/releases/tag/v1.8.0
- [x] Mailing list notification: https://www.eclipse.org/lists/jkube-dev/msg00030.html
- [x] Website redeployment: https://github.com/jkubeio/jkube-website/releases/tag/v0.0.38
- [x] Twitter notification: https://twitter.co

[2022-05-18 10:36] #1450 closed

[2022-05-18 18:49] rohanKanojia opened #1505 "[Quickstarts] : Update Custom Istio Enricher (Maven) quickstart to use Fabric8 Istio Extension"
### Description

When we created this quickstart we were using Snowdrop Istio Extension for manipulating Istio objects. This extension was recently migrated to Fabric8: https://github.com/fabric8io/kubernetes-client/issues/3493

https://github.com/eclipse/jkube/blob/7e849a7dd04466ea10684e0c493c3e5dcd5db1ea/quickstarts/kit/custom-istio-enricher/pom.xml#L58-L62

This dependency should be available u

[2022-05-19 07:57] sunix opened #1506 "oc:build takes ages to perform"
### Description
with this project https://github.com/sebastienblanc/antennas-front
it takes ages to do this part....?
![Selection_657](https://user-images.githubusercontent.com/650571/169242820-20df087c-dc13-436a-b829-ff142b782507.png)

![Selection_656](https://user-images.githubusercontent.com/650571/169242849-e6c181aa-e9fa-4f1d-86a4-d714813d0b16.png)

### Info

* Eclipse JKube version : 1.7.0
*

[2022-05-19 14:38] rohanKanojia opened #1507 "Build failure due to maven invoker plugin v3.2.2"
### Description

Ever since we upgraded maven-invoker-plugin to v3.2.2 I'm seeing strange failures on CI. I'm also able to reproduce it on JDK8 on master branch :

[code]

When running `./mvnw test verify -B -Pjacoco`, I'm facing this error:
[code]

I noticed this in https://github.com/eclipse/jkube/pull/1504, I suggest reverting back to 2.0.0

[2022-05-21 08:23] Prathamkrishna opened #1510 "A double inverse of the `skip` flag in AbstractJKubeMojo"
### Description

In the class `AbstractJKubeMojo`, if we see the overridden method `execute()`; the if block, there is a double inverse on the `!canExecute()` call, which reciprocates to a `!(!skip)`. I don't really think it is needed for a double inverse, so it should be changed to a `skip`.

### Info

* Eclipse JKube version :
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift

[2022-05-21 20:42] MMajd commented on #1505
Hey @rohanKanojia, I have made a pull request that addresses this chore

[2022-05-23 03:44] anurag-rajawat commented on #1429
@Mohd-Farhan do you need help?

[2022-05-23 05:17] manusa commented on #1507
The version was bumped in #680.

The checks passed back then. The master branch CI pipelines pass intermittently.

Instead of reverting, it should be better to find out what's going on, especially since this was a major version bump. Probably there were some migration steps associated that we missed because the tests passed.

[2022-05-23 05:50] manusa opened #1512 "Graduate Gradle Plugins"
### Description

Child of #31

Remove preview notice in Kubernetes and OpenShift Gradle plugin documentation.

https://github.com/eclipse/jkube/blob/8de2d21bbce6a4a02f03fe5d67287a997ad96975/gradle-plugin/doc/src/main/asciidoc/inc/_introduction.adoc#L5

[2022-05-23 05:55] manusa commented on #1507
Maybe this is related to the JaCoCo agent, since failures happen only when using the jacoco profile (mvn clean install won't fail ---> CircleCI.test job fails, CircleCI.build job passes)

[2022-05-23 08:33] manusa commented on #1507
Closed by #1513

[2022-05-23 08:33] #1507 closed

[2022-05-23 11:03] #1460 closed

[2022-05-24 02:20] Mohd-Farhan commented on #1429
@anurag-rajawat congratulation for gsoc selection.
Ok, u can help me.

[2022-05-24 05:47] #1218 closed

[2022-05-24 07:33] borramTAS commented on #1218
Very good news, I will test it as soon as it is available, thank you very much!

[2022-05-24 09:38] #1503 closed

[2022-05-24 11:51] borramTAS commented on #1218
I refactored my project and now it works like a charm, I'll try a more complex scenario.

[2022-05-24 12:13] manusa commented on #1218
Great news, thanks for the feedback!

[2022-05-24 15:59] anurag-rajawat commented on #1429
What problem are you facing?

[2022-05-25 06:55] pmbsa commented on #777
Hi @manusa, sorry to bump this again. Any time to look at all?

[2022-05-25 07:17] manusa commented on #777
Hi @pmbsa
It's in our sprint plan but haven't had the chance to investigate yet.
We're currently focused on releasing JKube (yesterday -> 2022-05-24), and Fabric8 Kubernetes Client. :sweat:

[2022-05-25 09:50] rohanKanojia commented on #1309
(excluding the enricher is not easy)

I think Ingress generation can be enabled/disabled via `jkube.createExternalUrls` property (it's `false` by default)

For disabling Route generation we can use `jkube.openshift.generateRoute` property (it's `true` by default)

I checked these properties based on my branch and they still seem to enable/disable Route/Ingress generation as expected.

[2022-05-25 11:20] rohanKanojia commented on #1309
Here I don't think we're logging the actual Service URL but the value of an annotation that used to be set by [Fabric8 exposecontroller](https://github.com/jenkins-x/exposecontroller) after Service creation.

I think the method KubernetesHelper.getServiceExposeUrl is only used to print the value of Service annotation `jkube.io/exposeUrl`. This comes from Fabric8 ecosystem where actual annotation w

[2022-05-25 11:34] rohanKanojia commented on #1309
I think we were unnecessarily waiting for 5 seconds(default value of `jkube.serviceUrl.waitSeconds`) during apply goal/task polling whether exposeUrl annotation was set in created Service or not.

https://github.com/eclipse/jkube/blob/40added43dc6fbb180e2c79572628d0471be4195/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/util/KubernetesHelper.java#L777-L780

This waiting logic is remo

[2022-05-25 17:39] Mohd-Farhan commented on #1429
I copy docker-file-simple and paste it in jkube folder and run Command "docker build ." it shows "COPY maven/target/docker-file-simple.jar /deployments/docker-file-simple.jar" is not found and in my docker desktop an image "openjdk" is build

[2022-05-25 17:43] Mohd-Farhan commented on #1429
I only change <version>3.0.0</version> to <version>3.4.1</version> . I check dependency for micronauts 3.4.1 in mvn repositories but I did not find any new dependency to add in it.

[2022-05-26 05:48] anurag-rajawat commented on #1429
First of all, why are you copying `docker-file-simple` as you only need to update the micronaut version?
And you don't need to add any new dependency, just update the version.

After upgrading, verify whether the project is deployed okay when deployed with jkube, to do so follow the instruction from
the [README.md](https://github.com/eclipse/jkube/blob/40added43dc6fbb180e2c79572628d0471be4195/quic

[2022-05-26 05:50] anurag-rajawat commented on #1429
@rohanKanojia latest version of micronaut is 3.4.4, so it should be bumped to 3.4.4 or 3.4.1?

[2022-05-26 06:15] rohanKanojia commented on #1429
It should be bumped to latest version available

[2022-05-26 10:54] rohanKanojia commented on #1006
We do have functionality ported from dmp for this. However, DMP_PLUGIN_DESCRIPTOR constant is wrongly configured due to which this functionality doesn't work at the moment.

https://github.com/eclipse/jkube/blob/40added43dc6fbb180e2c79572628d0471be4195/kubernetes-maven-plugin/plugin/src/main/java/org/eclipse/jkube/maven/plugin/mojo/build/AbstractDockerMojo.java#L101

If I change it to `META-INF/ma

[2022-05-26 18:27] anurag-rajawat commented on #1468
@rohanKanojia I want to work on this

[2022-05-27 05:35] #1505 closed

[2022-05-27 23:41] Mohd-Farhan commented on #1429
when i run the command " mvn clean package k8s:build k8s:resource k8s:apply" it shows error  " No plugin found for prefix 'k8s' in the current project and in the plugin groups " .
@anurag-rajawat

[2022-05-28 05:50] anurag-rajawat commented on #1429
It's because you're running the command from the project's root directory, you've to run that command from the micronaut directory

[2022-05-30 15:50] sunix opened #1527 "doc: goals should be listed in order of execution"
### Description
At the moment, in the doc https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#jkube:resource
`k8s:resource` is listed before `k8s:build`. it doesn't make sense to me as the user would try `k8s:build` and `k8s:push` first most of the time.
### Info

* Eclipse JKube version :
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift setup and version :

* If it's a

[2022-05-30 16:36] sunix opened #1528 "doc: improve documentation oc:build"
### Description
the `oc:build` part needs rearrangement
for instance there is a generic part about build strategy in `Openshift build`. https://www.eclipse.org/jkube/docs/openshift-maven-plugin#build-openshift
it is not clear that kubernetes build is docker build and openshift build is s2i.
![Selection_659](https://user-images.githubusercontent.com/650571/171032833-d1082430-3cdd-41bd-a0a3-3fb24928

[2022-05-30 17:06] rohanKanojia commented on #1469
This failure is caused by this statement:

https://github.com/eclipse/jkube/blob/b57c09cc9e05e25a0e10281201ccbf4563a3854c/jkube-kit/enricher/api/src/test/java/org/eclipse/jkube/kit/enricher/api/util/KubernetesResourceUtilTest.java#L182

I checked with setting Italian locale on my system. If I remove this `.hasMessageContaining` assertion build succeeds.

I'm trying to configure surefire to run tes

[2022-05-30 18:03] sunix commented on #1528
ok so i think i understand:
- kubernetes build is local docker build
- openshift build with docker strategy is remote docker build (in the openshift cluster)

but having say that ... how do we perform a "kubernetes build" ?

[2022-05-31 08:18] cdprete commented on #1469
@rohanKanojia the problem is that there are other of these assertions around as well. Given that the messages are translated, I would expect a ResourceBundle defined somewhere in the JDK, but I didn't find any on a rapid look.

Ideally we could load the message from such bundle (in the user's language) and compare it with the received one.

[2022-05-31 08:52] rohanKanojia commented on #1469
Umm, that's strange. I'm able to get build to succeed by just removing this assertion. I'm on this locale at the moment:
[code]

For now, I think we can just remove this assertion

[2022-05-31 08:58] sunix commented on #1469
@rohanKanojia maybe try to set the environment variable in pom.xml: https://maven.apache.org/surefire/maven-surefire-plugin/test-mojo.html#environmentVariables

[2022-05-31 09:12] burads opened #1530 "jkube:kubernetes using depricated extensions/v1beta1 for deployment"
### Description
I have been converting a maven project using JKube to use Kubernetes with Rancher rather then OpenShift. So have been switching components to use jkube:kubernetes-maven-plugin rather then jkube:openshift-maven-plugin

When doing k8s:resource it is now generating the correct ingress, service, deployment and configmap  that i can all apply using kubectl.

But when trying to use k8s:a

[2022-05-31 09:44] rohanKanojia commented on #1469
@sunix : Thanks a lot, I was earlier trying `<systemPropertyVariables>` but setting `<environmentVariables>` seems to work:

[code]

[2022-05-31 10:36] rohanKanojia commented on #1419
@manusa @sunix : I can change our current issue template to align with what we have in Fabric8 Kubernetes Client. What changes would you like to have in pull request template?

[2022-05-31 13:53] sunix commented on #1528
this part is wrong:
![Selection_662](https://user-images.githubusercontent.com/650571/171190199-d36efd23-7d5f-46e3-8799-96a616207189.png)

[2022-05-31 15:40] sunix opened #1532 "oc:apply with an image built with jib is not working"
### Description
The openshift deploymentConfig is hanging not starting the pod if `oc:build` has been used with the `jib` strategy.

Workaround: remove from the deploymentConfig
[code]

### Info
* Eclipse JKube version : 1.8.0
* Kubernetes / Red Hat OpenShift setup and version : Devsandbox

#### how to reproduce :

1. create your own quay.io repo empty. mine is `quay.io/sunix/jkube-jib-quarkus`, c

[2022-06-01 11:05] #1469 closed

[2022-06-02 08:16] sunix commented on #287
Maybe what we can do is in the next release:
- fail when excuting one of the goals.
- display warnings about the problems with using fmp and provide different resolution options
- have a flag for user who still wants to use fmp that would reenable the goals.

[2022-06-02 12:09] kameshsampath opened #1534 "Supporting drone pipelines"
### Description
[Drone](https://github.com/harness/drone) is continuous delivery tool that uses containers to build pipelines. As a Java developer I would like to have JKube generate a standard `.drone.yml` for the Java project then use that YAML to trigger Drone pipelines.

* If it's a feature request, what is your use case :

Support for [Drone](https://github.com/harness/drone) pipelines to bui

[2022-06-03 05:44] manusa commented on #1530
Thanks for your report, we'll take a look into this. It seems to be definitely a bug.

[2022-06-04 07:53] Mohd-Farhan commented on #1429
micronaut build was successful but on performing request it shows error
curl: (28) Failed to connect to 192.168.49.2 port 32358 after 21032 ms: Timed out
i try some stackoverflow solution but it does not help

[2022-06-06 05:24] manusa commented on #1460
Related to #616 https://github.com/eclipse/jkube/pull/616#issuecomment-805900671

[2022-06-06 06:53] nabeelkhan10 commented on #857
Hello,
I want to contribute to open source and I found this project beginner friendly.
Can anyone guide me?

[2022-06-06 06:57] rohanKanojia commented on #857
@nabeelkhan10 : Sorry but @baruKreddy  would be working on this Epic under Google Summer of Code this summer. If you want I can create some other good first issue for you.

[2022-06-06 06:57] rohanKanojia commented on #857
@baruKreddy : Shall I assign this issue to you?

[2022-06-06 07:00] nabeelkhan10 commented on #857
Yes that would be great

[2022-06-06 07:01] nabeelkhan10 commented on #857
No brother thanks

[2022-06-06 07:47] rohanKanojia opened #1536 "UserConfigurationCompareTest : Use diamond operator `<>` for generics"
### Description
UserConfigurationCompareTest seems to have some places where we're doing raw declaration (i.e. collection type without any information of the element type).

https://github.com/eclipse/jkube/blob/8df189ce4f331b7677251f653606c9e2cc899324/jkube-kit/common/src/test/java/org/eclipse/jkube/kit/common/util/UserConfigurationCompareTest.java#L68-L69

https://github.com/eclipse/jkube/blob/8

[2022-06-06 07:48] rohanKanojia commented on #1536
@nabeelkhan10 : Could you please check if you can work on this?

[2022-06-06 09:51] manusa commented on #1534
Sounds good.
This could be an optional enricher. I guess, that this requires java types to map Drone's custom resources. With the upcoming release of [Fabric8 Kubernetes Client 6.0](https://github.com/fabric8io/kubernetes-client) we'll include a CRD to Java generator that might simplify this task very much.

[2022-06-06 09:56] manusa commented on #1527
I really don't mind. However, note that some users might be triggering these separately or concurrently (e.g. in our Integration Tests we run these goals in parallel).

For the Outer Loop, users would usually generate the resources, helm chart, and push the chart to a shared registry. Same for the container image, users would generate and push the image to an image repository. The order only matte

[2022-06-06 09:59] manusa commented on #1510
Should probably be renamed to `shouldSkip()`

[2022-06-06 10:02] manusa commented on #1506
Hi @sunix
did you manage to figure out why it was taking so long in your case? do you have an environment where we can reproduce this so we can profile it?

[2022-06-06 10:58] nabeelkhan10 commented on #1536
I know basics of java (currently studying sorting) I haven't studied data structure yet.
How much should I study before contributing?

[2022-06-06 11:03] rohanKanojia commented on #1536
This is a simple search/replace issue. I don't think you require knowledge of data structures in this.

[2022-06-06 11:04] nabeelkhan10 commented on #1536
Yes got it

[2022-06-06 11:05] nabeelkhan10 commented on #1536
I will do this

[2022-06-06 13:38] kameshsampath commented on #1534
@manusa  - this more done at the client side than at server side. The `.drone.yaml` does not apply anything on the Kubernetes though Kubernetes Runner is one option. My thought here is to generate the standard Java specific `.drone.yaml` and then when we do `mvn k8s:build` it triggers the Drone pipeline.

What do you think about this?

[2022-06-06 16:32] luidoc opened #1537 "Registry is not setup in oc:build"
Description
When using external registry in oc:build, in the push phase it fails.
My pom:

[code]

And executing mvn clean package oc:resource oc:build -DskipTests :

[code]
If I include the name of the registry in the name of the image, it works correctly.
[code]

The documentation clearly indicates that an external registry can be specified: https://www.eclipse.org/jkube/docs/openshift-maven-plu

[2022-06-06 17:25] nabeelkhan10 commented on #1536
I have forked

[2022-06-06 17:32] nabeelkhan10 commented on #1536
I don't know what is happening when I open the repo it says that I made commit 30 min ago.
But anyways I have made a PR.

[2022-06-07 03:26] anurag-rajawat commented on #1429
@rohanKanojia I'm also facing this issue, and when I check for services it shows `service default/micronaut has no node port`

but when I add `<jkube.enricher.jkube-service.type>NodePort</jkube.enricher.jkube-service.type>`
 to the properties in the `pom.xml` or manually expose port with `type=NodePort` and again check for services it shows `default   | micronaut  | glrpc/9080   | http://192.168.4

[2022-06-07 03:31] baruKreddy commented on #857
@rohanKanojia Sure assign this issue to me!

[2022-06-07 03:34] baruKreddy commented on #857
Perhaps we can create sub issues/tasks under this PR to start working on @manusa @rohanKanojia.

[2022-06-07 03:42] anurag-rajawat commented on #1429
@Mohd-Farhan please update all the occurences of
[code]
to
[code]
in the [README.md](https://github.com/eclipse/jkube/blob/40added43dc6fbb180e2c79572628d0471be4195/quickstarts/maven/micronaut/README.md) file

@rohanKanojia correct me if I'm wrong

[2022-06-07 07:23] sunix commented on #1506
@manusa no unfortunately the environment has gone.

[2022-06-07 08:42] manusa commented on #1534
:sweat_smile: Well, I guess I haven't checked the Drone project that much.

Yes, this sounds good. I understand that the pipeline would generate a container image and maybe push it to the cluster's registry? (This more being related to #767 #439)
One of the project goals is to cover as many build strategies and options as we can.

So I'm still not sure if this is what we'd achieve, but being able

[2022-06-07 15:45] kameshsampath commented on #1534
s2i is close but then the Drone is pipelines are run using containers just like tekton but little simpler :)

The package should be piped to the remote server.
This might be a good one.  We could also add watch so that we can trigger the pipelines when source changes ?

However, I understand this might be a further step on the initial implementation.
Yes, I want to have the very basics to be worki

[2022-06-08 07:56] #1279 closed

[2022-06-08 08:19] sunix opened #1540 "JKube is not picking the right .kube/config file on windows when HOME env variable is set to a different location"
### Description
We had 1 issue during a hackaton, some participant had JKube not being able to connect to the openshift cluster while they can connect with `oc`. I had figured out that these people had the HOME env variable pointing to a different location than their home folder.

Fix has to be done in the fabric8 kubernetes client, picking the home folder for .kube/config should behave like `oc`

[2022-06-08 12:22] manusa commented on #1088
Initiated 2 test
- v1.1337.0: https://github.com/jkubeio/jkube-integration-tests/runs/6793299930?check_suite_focus=true
  Should fail :heavy_multiplication_x:
- v1.8.0: https://github.com/jkubeio/jkube-integration-tests/actions/runs/2461421167
  Should pass :heavy_check_mark:

Both fail because pipeline is not OK, value is not replaced. Please review. (There are a few of these pipelines on JKube a

[2022-06-08 12:22] manusa commented on #1088
Also, maybe use Java 17 instead and K8s 1.23

[2022-06-08 13:19] manusa commented on #857
Yes, we're working on this

[2022-06-09 08:50] manusa commented on #1088
Initiated 2 test
- v1.33.7: https://github.com/jkubeio/jkube-integration-tests/actions/runs/2467123482
  Should fail :heavy_multiplication_x:
- v1.8.0: https://github.com/jkubeio/jkube-integration-tests/actions/runs/2467126477
  Should pass :heavy_check_mark:

[2022-06-09 09:01] #1419 closed

[2022-06-09 13:14] #1088 closed

[2022-06-10 07:31] pmbsa opened #1543 "DeploymentConfig Resource dropping yml elements for spec.strategy"
### Describe the bug

I have a deployment template that has a strategy as follows
[code]
after running oc:resource, the result appears to just loose the rollingUpdate: section entirely so the result is
[code]
I assume I am missing something in my config, has anybody else had this issue at all?

### Eclipse JKube version

1.8.0

### Component

OpenShift Maven Plugin

### Apache Maven version

3.8.3

[2022-06-10 07:55] manusa commented on #1543
Your YAML template doesn't seem to adapt to the structure of a DeploymentConfig:

https://docs.openshift.com/container-platform/4.10/rest_api/workloads_apis/deploymentconfig-apps-openshift-io-v1.html#spec-strategy

https://docs.openshift.com/container-platform/4.10/rest_api/workloads_apis/deploymentconfig-apps-openshift-io-v1.html#spec-strategy-rollingparams

I'm not sure, but this seems more like

[2022-06-10 08:01] pmbsa commented on #1543
Thanks Manusa.... apologies, this is the first time we are generating openshift manifests... it just dawned on me that fragment is named deployment.yml and the oc plugin is generating DeploymentConfig.... how do I get it to just generate a deployment for openshift?

[2022-06-10 08:07] manusa commented on #1543
There are several options available. The easiest is to use the `jkube.build.switchToDeployment` property:

[code]

[2022-06-10 08:09] pmbsa commented on #1543
awsome, thanks for that

[2022-06-10 12:55] sunix commented on #1527
Absolutely, but `resource` is very tight to `apply` and `build` to `push`, etc. It is about putting things together and simplifying navigation, searching and learning. In inner or outerloop, I don't see the difference. So it means that `k8s:helm` in 1st position and `k8s:helm-push` in the last position wouldn't be a problem?

[2022-06-10 13:08] manusa commented on #1527
As I see it this would be more or less the expected execution order:
| Inner Loop | Outer Loop |
|------------|------------|
| build      | build      |
| _push_     | push       |
| resource   | resource   |
| apply      | helm       |
| undeploy   | helm-push  |

In the outer-loop build+push and resource+helm* can be run in isolation, concurrently, or alternatively.

With regards to the current

[2022-06-10 13:18] sunix commented on #1527
yes my point was that it doesn't make sense to have `k8s:resource`  to far from `k8s:apply` and the helm goals.

[2022-06-10 13:32] burads commented on #1530
Have been trying to continue debugging and trying to reduce complelxity

Trying to deploy into a vanilla K3s Cluster with jkube works fine.
Adding rancher on top and using rancher cluster API also works fine.

When I switch the project to use our AKS cluster with the rancher API it results in this error.

I considered if it was maybe AKS / Rancher that did some mangeling with the get requst. So tr

[2022-06-12 20:14] MMajd commented on #1440
@rohanKanojia Hi Rohan, I wrote a unit test for this util class if it's ok with you I could make a PR

[KindFilenameUtilTest](https://github.com/MMajd/jkube/blob/3c2fa787cd73f0a9287b142ead5b2fd12da42a30/jkube-kit/common/src/test/java/org/eclipse/jkube/kit/common/util/KindFilenameMapperUtilTest.java)

[2022-06-13 03:55] rohanKanojia commented on #1440
@Devamparikh : polite ping, are you still working on this issue?

[2022-06-13 04:13] Devamparikh commented on #1440
If @MMajd had already written unit tests, please let him complete this :smile:

[2022-06-13 07:42] burads commented on #1530
Even more digging.

This seem to be related to an cluster policy.
After tracing communication with kubectl proxy -v7 i found some very interesting traces and a difference between my K3S cluster and the AKS Cluster.

As part of the process of deploying it tries to find the state of the cluster.
[code]

[code]

So maybe it is an RBAC policy or similar that we have on our AKS cluster that results in

[2022-06-13 11:07] rohanKanojia opened #1545 "(jkube-kit/common) : Migrate all tests from JMockit to Mockito"
### Component

JKube Kit

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- MigrateServiceTest
- JKubeProjectUtilTest
- KubernetesHelperTest
- OpenshiftHelperTest
- Slf4jKitLoggerTest
- SpringBootUtilTest
- ResourceValidatorTest
-

[2022-06-14 09:24] manusa opened #1546 "[EPIC] Migrate To JUnit5 Testing Framework from JUnit4"
### Description

Our current test suites are based on JUnit4. The goal of this epic is to migrate all of them to JUnit5.

### Goals
- Remove JUnit4 dependency
  - JUnit4 annotations should be replaced by JUnit5
  - JUnit4 rules should be replaced by applicable JUnit5 replacements
- Assertions should be replaced by AssertJ
- Tests should be evaluated and refactored if applicable

### Tasks
- Eclips

[2022-06-14 10:13] manusa opened #1547 "(jkube-kit-parent): Add JUnit5 dependency"
### Component

JKube Kit

### Task description

Child of #1546

Add dependency entries for JUnit5

[2022-06-14 10:15] manusa opened #1548 "(jkube-kit-common-test): Replace JUnit4 with JUnit5"
### Component

JKube Kit

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 10:32] anurag-rajawat commented on #1547
@manusa assign this to me

[2022-06-14 10:37] anurag-rajawat commented on #1546
@manusa please assign this to me

[2022-06-14 10:40] anurag-rajawat commented on #1548
@manusa this one too

[2022-06-14 10:45] Devamparikh commented on #1510
I'd work on this.

[2022-06-14 10:48] manusa opened #1549 "(jkube-kit-common): Replace JUnit4 with JUnit5"
### Component

JKube Kit

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:09] manusa opened #1551 "(jkube-kit-common-maven): Replace JUnit4 with JUnit5"
### Component

jkube-kit-common-maven

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:12] manusa opened #1552 "(jkube-kit-config-image): Replace JUnit4 with JUnit5"
### Component

jkube-kit-config-image

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:12] manusa opened #1553 "(jkube-kit-config-resource): Replace JUnit4 with JUnit5"
### Component

jkube-kit-config-resource

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:12] manusa opened #1554 "(jkube-kit-build-api): Replace JUnit4 with JUnit5"
### Component

jkube-kit-build-api

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:12] manusa opened #1555 "(jkube-kit-build-service-docker): Replace JUnit4 with JUnit5"
### Component

jkube-kit-build-service-docker

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:12] manusa opened #1556 "(jkube-kit-build-service-jib): Replace JUnit4 with JUnit5"
### Component

jkube-kit-build-service-jib

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:12] manusa opened #1557 "(jkube-kit-enricher-api): Replace JUnit4 with JUnit5"
### Component

jkube-kit-enricher-api

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:12] manusa opened #1558 "(jkube-kit-resource-helm): Replace JUnit4 with JUnit5"
### Component

jkube-kit-resource-helm

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:12] manusa opened #1559 "(jkube-kit-config-service): Replace JUnit4 with JUnit5"
### Component

jkube-kit-config-service

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:12] manusa opened #1560 "(jkube-kit-generator-api): Replace JUnit4 with JUnit5"
### Component

jkube-kit-generator-api

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:13] manusa opened #1561 "(jkube-kit-generator-java-exec): Replace JUnit4 with JUnit5"
### Component

jkube-kit-generator-java-exec

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:14] manusa opened #1562 "(jkube-kit-generator-karaf): Replace JUnit4 with JUnit5"
### Component

jkube-kit-generator-karaf

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:14] manusa opened #1563 "(jkube-kit-generator-webapp): Replace JUnit4 with JUnit5"
### Component

jkube-kit-generator-webapp

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:14] manusa opened #1564 "(jkube-kit-enricher-generic): Replace JUnit4 with JUnit5"
### Component

jkube-kit-enricher-generic

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:14] manusa opened #1565 "(jkube-kit-enricher-specific): Replace JUnit4 with JUnit5"
### Component

jkube-kit-enricher-specific

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:14] manusa opened #1566 "(jkube-kit-profiles): Replace JUnit4 with JUnit5"
### Component

jkube-kit-profiles

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:14] manusa opened #1567 "(jkube-kit-resource-service): Replace JUnit4 with JUnit5"
### Component

jkube-kit-resource-service

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:14] manusa opened #1568 "(jkube-kit-watcher-api): Replace JUnit4 with JUnit5"
### Component

jkube-kit-watcher-api

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:14] manusa opened #1569 "(jkube-kit-watcher-standard): Replace JUnit4 with JUnit5"
### Component

jkube-kit-watcher-standard

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:15] manusa opened #1570 "(jkube-kit-spring-boot): Replace JUnit4 with JUnit5"
### Component

jkube-kit-spring-boot

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:15] manusa opened #1571 "(jkube-kit-thorntail): Replace JUnit4 with JUnit5"
### Component

jkube-kit-thorntail

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:15] manusa opened #1572 "(jkube-kit-vertx): Replace JUnit4 with JUnit5"
### Component

jkube-kit-vertx

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:16] manusa opened #1573 "(jkube-kit-quarkus): Replace JUnit4 with JUnit5"
### Component

jkube-kit-quarkus

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:16] manusa opened #1574 "(jkube-kit-micronaut): Replace JUnit4 with JUnit5"
### Component

jkube-kit-micronaut

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:16] manusa opened #1575 "(jkube-kit-openliberty): Replace JUnit4 with JUnit5"
### Component

jkube-kit-openliberty

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:16] manusa opened #1576 "(jkube-kit-wildfly-jar): Replace JUnit4 with JUnit5"
### Component

jkube-kit-wildfly-jar

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:20] manusa opened #1577 "(kubernetes-maven-plugin): Replace JUnit4 with JUnit5"
### Component

kubernetes-maven-plugin

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:20] manusa opened #1578 "(kubernetes-maven-plugin-it): Replace JUnit4 with JUnit5"
### Component

kubernetes-maven-plugin-it

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:20] manusa opened #1579 "(openshift-maven-plugin): Replace JUnit4 with JUnit5"
### Component

openshift-maven-plugin

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:20] manusa opened #1580 "(openshift-maven-plugin-it): Replace JUnit4 with JUnit5"
### Component

openshift-maven-plugin-it

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:20] manusa opened #1581 "(org.eclipse.jkube.kubernetes.gradle.plugin): Replace JUnit4 with JUnit5"
### Component

org.eclipse.jkube.kubernetes.gradle.plugin

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:20] manusa opened #1582 "(org.eclipse.jkube.openshift.gradle.plugin): Replace JUnit4 with JUnit5"
### Component

org.eclipse.jkube.openshift.gradle.plugin

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 11:20] manusa opened #1583 "(gradle-plugin-it): Replace JUnit4 with JUnit5"
### Component

gradle-plugin-it

### Task description

Child of #1546

- Remove JUnit4 dependencies
- Add JUnit5 dependencies
- Refactor tests

[2022-06-14 12:39] rohanKanojia opened #1584 "(jkube-kit/config/image/) : Migrate tests from JMockit to Mockito"
### Component

JKube Kit

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- ImageConfigurationTest
- BuildConfigurationTest

### Expected Behavior
All tests in the abovementioned need to be migrated to mockito. All references to [j

[2022-06-14 12:41] rohanKanojia opened #1585 "(jkube-kit/build/api/) : Migrate tests from JMockit to Mockito"
### Component

JKube Kit

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- AssemblyConfigurationUtilsTest
- AssemblyManagerCreateDockerTarArchiveTest
- AssemblyManagerTest
- FromConfigRegistryAuthHandlerTest
- OpenShiftRegistryAut

[2022-06-14 12:43] rohanKanojia opened #1586 "(jkube-kit/build/service/docker/) : Migrate all tests from JMockit to Mockito"
### Component

JKube Kit

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- ImageConfigurationTest
- WatchServiceTest
- ApacheHttpClientDelegateTest
- HcChunkedResponseHandlerWrapperTest
- AuthConfigFactoryTest
- CredentialHelperCl

[2022-06-14 12:45] rohanKanojia opened #1587 "(jkube-kit/build/service/jib/): Migrate tests from JMockit to Mockito"
### Component

JKube Kit

### Task description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- JibServiceUtilTest

### Expected Behavior
All tests in the abovementioned need to be migrated to mockito. All references to [jmockit](https://jmockit.github.io/) should be

[2022-06-14 12:56] rohanKanojia opened #1588 "(jkube-kit/config/service/) : Migrate tests from JMockit to Mockito"
### Component

JKube Kit

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- ApplyServiceTest
- DebugServiceTest
- PortForwardServicePortOrderTest
- PortForwardServiceTest
- JibBuildServiceBuildIntegrationTest
- KubernetesClientUtil

[2022-06-14 12:58] rohanKanojia opened #1589 "(jkube-kit/enricher/api/) : Migrate tests from JMockit to Mockito"
### Component

_No response_

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- DefaultEnricherManagerTest
- EnricherConfigTest
- InitContainerHandlerTest
- ContainerHandlerTest
- DaemonSetHandlerTest
- DeploymentHandlerTest
- JobH

[2022-06-14 13:12] rohanKanojia opened #1591 "(jkube-kit/enricher/generic/) : Migrate tests from JMockit to Mockito"
### Component

JKube Kit

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- ConfigMapEnricherTest
- ContainerEnvJavaOptionsMergeTest
- ContainerEnvJavaOptionsMergeVisitorTest
- DebugEnricherTest
- DefaultMetadataEnricherTest
- Defa

[2022-06-14 13:20] rohanKanojia opened #1592 "(jkube-kit/enricher/specific/) : Migrate tests from JMockit to Mockito"
### Component

JKube Kit

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- AbstractHealthCheckEnricherTest
- DockerHealthCheckEnricherTest
- PrometheusEnricherTest
- ServiceDiscoveryEnricherTest
- WebAppHealthCheckEnricherTest

##

[2022-06-14 13:22] rohanKanojia opened #1593 "(jkube-kit/generator/api/) : Migrate tests from JMockit to Mockito"
### Component

JKube Kit
### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- FromSelectorTest
- GeneratorManagerTest
- AbstractPortsExtractorTest
- BaseGeneratorTest

### Expected Behavior
All tests in the abovementioned need to be m

[2022-06-14 13:24] rohanKanojia opened #1594 "(jkube-kit/generator/java-exec/) : Migrate tests from JMockit to Mockito"
### Component

_No response_

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- JavaExecGeneratorMainClassDeterminationTest
- JavaExecGeneratorTest
- JavaRunGeneratorTest

### Expected Behavior
All tests in the abovementioned need

[2022-06-14 13:28] rohanKanojia opened #1595 "(jkube-kit/generator/karaf/) : Migrate tests from JMockit to Mockito"
### Component

JKube Kit

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- KarafGeneratorTest

### Expected Behavior
All tests in the abovementioned need to be migrated to mockito. All references to [jmockit](https://jmockit.githu

[2022-06-14 13:29] rohanKanojia opened #1596 "(jkube-kit/generator/webapp/) : Migrate tests from JMockit to Mockito"
### Component

_No response_

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- JettyAppSeverHandlerTest
- TomcatAppSeverHandlerTest
- WildFlyAppSeverHandlerTest

### Expected Behavior
All tests in the abovementioned need to be mig

[2022-06-14 13:30] rohanKanojia opened #1597 "(jkube-kit/jkube-kit-micronaut/) : Migrate tests from JMockit to Mockito"
### Component

JKube Kit

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- MicronautHealthCheckEnricherTest

### Expected Behavior
All tests in the abovementioned need to be migrated to mockito. All references to [jmockit](https:/

[2022-06-14 13:32] rohanKanojia opened #1598 "(jkube-kit/jkube-kit-quarkus/) : Migrate tests from JMockit to Mockito"
### Component

JKube Kit

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- QuarkusModeTest
- QuarkusHealthCheckEnricherTest
- QuarkusGeneratorTest

### Expected Behavior
All tests in the abovementioned need to be migrated to mocki

[2022-06-14 13:33] rohanKanojia opened #1599 "(jkube-kit/jkube-kit-spring-boot/) : Migrate tests from JMockit to Mockito"
### Component

JKube Kit

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- AbstractSpringBootHealthCheckEnricherTestSupport
- SpringBootGeneratorTest
- SpringBootWatcherTest

### Expected Behavior
All tests in the abovementioned n

[2022-06-14 13:34] rohanKanojia opened #1600 "(jkube-kit/jkube-kit-thorntail-v2/) : Migrate tests from JMockit to Mockito"
### Component

JKube Kit

### Task description

### Description
Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- ThorntailV2HealthCheckEnricherTest

### Expected Behavior
All tests in the abovementioned need to be migrated to mockito. All references to [jmockit](https:

[2022-06-14 13:35] rohanKanojia opened #1601 "(jkube-kit/jkube-kit-vertx/) : Migrate tests from JMockit to Mockito"
### Component

JKube Kit

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- VertxHealthCheckEnricherTest
- VertxPortsExtractorTest

### Expected Behavior
All tests in the abovementioned need to be migrated to mockito. All reference

[2022-06-14 13:37] rohanKanojia opened #1602 "(jkube-kit/jkube-kit-wildfly-jar/) : Migrate tests from JMockit to Mockito"
### Component

JKube Kit

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- WildflyJARHealthCheckEnricherTest
- WildflyJARGeneratorTest

### Expected Behavior
All tests in the abovementioned need to be migrated to mockito. All refe

[2022-06-14 13:38] rohanKanojia opened #1603 "(jkube-kit/resource/helm/) : Migrate tests from JMockit to Mockito"
### Component

JKube Kit

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- HelmServiceTest
- HelmServiceUtilTest
- HelmUploaderTest

### Expected Behavior
All tests in the abovementioned need to be migrated to mockito. All referen

[2022-06-14 13:44] rohanKanojia opened #1604 "(jkube-kit/resource/service/) : Migrate tests from JMockit to Mockito"
### Component

JKube Kit

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- DefaultResourceServiceTest
- TemplateUtilTest
- WriteUtilTest

### Expected Behavior
All tests in the abovementioned need to be migrated to mockito. All re

[2022-06-14 13:47] rohanKanojia opened #1605 "(jkube-kit/watcher/api/) : Migrate tests from JMockit to Mockito"
### Component

JKube Kit

### Task description

### Description
Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- WatcherManagerTest

### Expected Behavior
All tests in the abovementioned need to be migrated to mockito. All references to [jmockit](https://jmockit.github

[2022-06-14 13:50] rohanKanojia opened #1606 "(jkube-kit/watcher/standard) : Migrate tests from JMockit to Mockito"
### Component

JKube Kit

### Task description

### Description
Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- DockerImageWatcherTest
- PodExecutorTest

### Expected Behavior
All tests in the abovementioned need to be migrated to mockito. All references to [jmockit](

[2022-06-14 13:52] rohanKanojia opened #1607 "(kubernetes-maven-plugin/plugin) : Migrate tests from JMockit to Mockito"
### Component

Kubernetes Maven Plugin

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- BuildMojoTest
- HelmMojoTest
- HelmPushMojoTest
- UndeployMojoTest

### Expected Behavior
All tests in the abovementioned need to be migrated

[2022-06-14 13:54] rohanKanojia opened #1608 "(openshift-maven-plugin/plugin) : Migrate tests from JMockit to Mockito"
### Component

OpenShift Maven Plugin

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/857

Migrate the following tests to use [Mockito](https://site.mockito.org/)  instead of [JMockit](https://jmockit.github.io/):

- OpenshiftUndeployMojoTest

### Expected Behavior
All tests in the abovementioned need to be migrated to mockito. All references to [jmockit](h

[2022-06-14 14:42] rohanKanojia commented on #958
I think we might be able to deal with this using JUnit5 extensions. I see these options

- Use JUnit Poineer https://junit-pioneer.org/docs/system-properties/
- Define your own custom extension for setting and clearing property before and after test

[2022-06-15 08:22] MMajd commented on #1606
@rohanKanojia if this issue is open for community, I would like to work on it

[2022-06-15 08:56] rohanKanojia commented on #1606
Sorry, it's created for GSoC project.

[2022-06-15 10:45] #1547 closed

[2022-06-15 10:49] #1536 closed

[2022-06-15 11:14] manusa commented on #958
I'd vote for our own extension. It won't be hard to implement and won't require additional dependencies.
Something as simple as an annotation to set a system property and an extension that would backup its original value and restore it for each test execution would be quite simple to implement.
Maybe in the scope of #958

[2022-06-16 08:38] baruKreddy commented on #1585
@rohanKanojia Please assign it to me, Thanks!

[2022-06-16 15:06] sunix opened #1619 "property `jkube.enricher.jkube-controller.pullPolicy` is not taken into account if a `deployment` resource fragment is defined"
### Describe the bug

Trying to use `jkube.enricher.jkube-controller.pullPolicy` to set the image pull policy to `Always`. It works. However, once I added a `deployment` resource fragment, even not related, it stopped working.

### Eclipse JKube version

1.8.0

### Component

Kubernetes Maven Plugin

### Apache Maven version

_No response_

### Gradle version

_No response_

### Steps to reproduce

[2022-06-17 04:21] anurag-rajawat commented on #1549
@rohanKanojia please assign this to me

[2022-06-17 07:49] #1548 closed

[2022-06-17 15:14] baruKreddy commented on #1587
@rohanKanojia Please assign this!

[2022-06-17 15:14] baruKreddy commented on #1586
@rohanKanojia Please assign this.

[2022-06-19 15:18] Mohd-Farhan commented on #1429
@anurag-rajawat after adding property it shows port but the error of connection is not resolve yet.

[2022-06-19 15:22] Mohd-Farhan commented on #1429
Sorry for delay , I was stuck in endsem.

[2022-06-20 14:32] rohanKanojia opened #1622 "Fix HelmRepoTypeTest intermittent failures on ci"
### Component

JKube Kit

### Task description

### Description

HelmRepoTypeTest seems to be failing intermittently on CI (for example [here](https://app.circleci.com/pipelines/github/eclipse/jkube/3241/workflows/cc124a3a-576d-4059-9d94-feb0b8065684/jobs/16386)):

[code]

I'm not able to reproduce this locally. I think this could be a network issue but haven't investigated it thoroughly.

### Exp

[2022-06-21 04:53] manusa commented on #1619
So apparently we have at least 4 ways to control the pull policy (fragment, XML configuration, and 2 enricher peroperties).

We need to centralize where this configuration is computed and make sure it just works. (IIRC we did something similar for at least one other property).

[2022-06-21 06:27] anurag-rajawat commented on #1551
@rohanKanojia please assign this to me

[2022-06-23 14:25] anurag-rajawat opened #1628 "Refactor EnvUtil to handle corner cases"
### Component

JKube Kit

### Task description

### Description
Refactor `extractLargerVersion()` to handle corner cases like If the given versions are invalid, `null` should be returned otherwise return the valid version.
https://github.com/eclipse/jkube/blob/61345823be63c73cf334649e33e9c5146f9d5f7a/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/util/EnvUtil.java#L81

### Expected Be

[2022-06-23 14:57] anurag-rajawat commented on #1628
@rohanKanojia please assign this to me

[2022-06-23 17:45] rohanKanojia commented on #1467
Hi guys, I revisited this and realized I had a misunderstanding regarding `/actuator/startup` endpoint. It's not related to Kubernetes probes.

In [Spring Boot Kubernetes probes](https://docs.spring.io/spring-boot/docs/2.7.x/reference/htmlsingle/#actuator.endpoints.kubernetes-probes) documentation, it's clearly stated there is no explicit startup endpoint supported:

Really sorry for the noise.

[2022-06-23 17:45] #1467 closed

[2022-06-24 09:39] rohanKanojia commented on #443
I think we have health check implementations for the following Microprofile implementations:

- OpenLiberty: https://github.com/eclipse/jkube/pull/1541
- Quarkus: [QuarkusHealthCheckEnricher](https://github.com/eclipse/jkube/blob/master/jkube-kit/jkube-kit-quarkus/src/main/java/org/eclipse/jkube/quarkus/enricher/QuarkusHealthCheckEnricher.java)
- Wildfly: [WildflyJARHealthCheckEnricher](https://gi

[2022-06-24 12:01] rohanKanojia commented on #777
@pmbsa : I'm trying to reproduce your issue in Vagrant box from https://github.com/davidecavestro/vagrant-jkube-connection-reset-by-peer.

When I run `mvn k8s:build` in your project I'm seeing this error:
[code]

Were you seeing the same issue with your project?

[2022-06-24 15:34] pmbsa commented on #777
Ye, thats exactly what we see. The docker host seems to reject the tar file or something to that effect.. we uave a fair few docker file based projects that need migrating so i would be super appreciative if you could find a solution.

[2022-06-24 18:32] rohanKanojia commented on #777
@pmbsa : I think this is the same problem we fixed before. We had added this `tarEntry.setSize(0L)` to set directory tarEntry size to 0.

https://github.com/eclipse/jkube/blob/61345823be63c73cf334649e33e9c5146f9d5f7a/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/archive/JKubeTarArchiver.java#L80-L85

However, in the case of Dockerfile mode directory seems to be present in `fileModeMa

[2022-06-27 05:33] rohanKanojia opened #1630 "[JKube Kit] : Unable to build project on JDK8"
### Component

JKube Kit

### Task description

## Description

I'm not able to build a project on JDK8. I've tried both Sun and Temurin JDKs, but I'm constantly getting this error:

[code]

I can compile only after reverting https://github.com/eclipse/jkube/commit/c700e1cfa8063477e0883a2fe257e7d43bc84e9b and https://github.com/eclipse/jkube/commit/55f8b1dc06afb2e9e90cb89c556f0255aa5a6fce

I'm see

[2022-06-27 07:24] bameur opened #1632 "Registry (pull/push) authentication"
### Component

Kubernetes Maven Plugin

### Is your enhancement related to a problem? Please describe

When pulling (via the autoPull mode of k8s:build) or pushing image, it might be necessary to authenticate against a Docker registry.

If the repository used for the pull and the push is not the same, the xml element of the pom.xml for authentication <authConfig> is not sufficient. is it possible

[2022-06-27 08:56] rohanKanojia commented on #1632
I think we already support registry authentication while pushing/pulling images. Did you get a chance to check out  [Registry Handling](https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#registry) section of our documentation?

[2022-06-27 09:09] bameur commented on #1632
tks @rohanKanojia
I will retry.

[2022-06-27 09:12] sunix commented on #1534
Hey @kameshsampath, is the plan, you to contribute a first draft of this feature and us to review it? Let us know.

[2022-06-27 09:16] sunix commented on #1537
OK @luidoc  thanks for submitting this. We will investigate that problem.

[2022-06-27 09:21] sunix commented on #1543
@pmbsa
Is this working for you? Can we close this issue?
Thanks

[2022-06-27 12:05] rohanKanojia opened #1633 "VertxHealthCheckEnricher should also check Vertx Gradle Plugin in `isApplicable()`"
### Component

JKube Kit

### Task description

### Description
VertxHealthCheckEnricher has this `isApplicable` method which is used for checking whether we should apply this enricher on a project or not.

https://github.com/eclipse/jkube/blob/61345823be63c73cf334649e33e9c5146f9d5f7a/jkube-kit/jkube-kit-vertx/src/main/java/org/eclipse/jkube/vertx/enricher/VertxHealthCheckEnricher.java#L104-L107

[2022-06-27 12:13] rohanKanojia opened #1634 "MicronautHealthCheckEnricher should also consider Micronaut Gradle Plugin in `isApplicable`"
### Component

JKube Kit

### Task description

### Description

MicronautHealthCheckEnricher has `isApplicable` method to check whether we should apply this enricher or not based on project dependencies:

https://github.com/eclipse/jkube/blob/61345823be63c73cf334649e33e9c5146f9d5f7a/jkube-kit/jkube-kit-micronaut/src/main/java/org/eclipse/jkube/micronaut/enricher/MicronautHealthCheckEnricher.java#

[2022-06-28 06:33] manusa commented on #1630
#1620 **requires** Java 11 to be able to run as stated in the PRs description. However, those modules won't be included in the build unless a valid JDK 11 is detected.

I assume that the problem then is JGit then, but that's odd because the build in its PR (#1611) worked out in Java 8. (<---- Is it possible that non of the CircleCI builds is running on Java 8?)

[2022-06-28 06:34] manusa commented on #1630
Considering this, the verify related classes should be moved to another module which requires Java 11.

[2022-06-28 11:43] Devamparikh commented on #1633
Let me take this up.

[2022-06-28 12:43] Prathamkrishna commented on #1634
hey rohan, I'll like to pick this up

[2022-06-29 05:18] rohanKanojia opened #1638 "[Quickstarts] : Update Quarkus Customized Image Maven quickstart to latest version"
### Component

_No response_

### Task description

### Description

[Quarkus Customized Image](https://github.com/eclipse/jkube/tree/master/quickstarts/maven/quarkus-customized-image) quickstart seems to be using quite an old version of Quarkus. It should be updated to the latest version.

Also it's also using JKube's old `<inline>` format which has been deprecated in favor of `<layers> ..<layer>

[2022-06-29 14:50] rohanKanojia commented on #1411
@Surfjoan : I've created a PR #1639 that creates ImageStreamTags based on tags specified in `<build><tags>` section (similar to what we do with `oc tag ...` command) . Does this align with your expectations? Would be awesome if you could provide some feedback regarding this.

[2022-06-29 16:41] baruKreddy commented on #1584
@rohanKanojia please assign this to me.

[2022-06-30 07:21] baruKreddy commented on #1588
Please assign this to me @rohanKanojia

[2022-07-02 20:26] Surfjoan commented on #1411
Cool! I am on vacation now but going to test it once i am back

Den ons 29 juni 2022 16:51Rohan Kumar ***@***.***> skrev:

[2022-07-04 10:13] manusa commented on #1630
Hi @rohanKanojia
Regarding #1637, this is not the way to proceed.
Let's split this task
- Revert JGit to the latest version with JDK 8 support. This is a core feature of JKube, so it cannot be based on Java 11.
- CircleCI pipeline to build on Java 8. We already have 3 pipelines doing more or less the same (build, sonar, test). The build pipeline should be based on JDK 8, the rest can be based on J

[2022-07-04 12:26] manusa commented on #1630
I'm referring to something else. Properly analyze its usages and see if it makes sense to still have the extra-module or not. I'll take care of that one. If you want to reuse #1637, then it should include one commit for the JGit "reversion" and another for pipeline refactor.

[2022-07-05 10:40] #1545 closed

[2022-07-05 10:54] manusa commented on #1468
Relates to:
- https://github.com/smallrye/smallrye-health/issues/165
- https://github.com/smallrye/smallrye-health/pull/192
- Smallrye-health 3.0+
- https://github.com/quarkusio/quarkus/pull/16333

[2022-07-05 11:08] rohanKanojia commented on #1506
I tried cloning the project again and doing `oc:build`. These were my observations

- Red Hat Developer Sandbox : `mvn oc:build` took `01:28 min`
- CRC : `mvn oc:build` took `54.276 sec`

I still feel this could be a slow cluster or a network issue.

[2022-07-06 08:32] sunix commented on #1506
OK I think we can close this issue, It was probably a slow network: I made a comparison (in the same condition) by triggering the build with `oc` to compare the files upload:
with `oc`: 79s
with jkube: ~69s

So to compare I first made a first `mvn clean package oc:build` that is trigering a Build but also creating a BuildConfig in openshift. Then I am measuring an upload with `oc` (having that `co

[2022-07-06 11:20] #1468 closed

[2022-07-06 12:31] #1510 closed

[2022-07-06 13:12] #1587 closed

[2022-07-06 13:22] manusa commented on #1584
I left this one open because the 3rd point of the AC (Assertions should be replaced by AssertJ) was not addressed

[2022-07-06 13:43] rohanKanojia commented on #1584
@baruKreddy : Could you please address AC which Marc just pointed out?

[2022-07-06 14:52] baruKreddy commented on #1584
Sure, will work on it!

[2022-07-06 17:10] baruKreddy commented on #1593
Please assign this to me @rohanKanojia

[2022-07-07 05:13] #1438 closed

[2022-07-07 05:20] manusa commented on #1530
Might be related to https://github.com/fabric8io/kubernetes-client/issues/4226 and the BackwardsCompatibilityInterceptor kicking in.

Could you try setting the system property `kubernetes.backwardsCompatibilityInterceptor.disable` or environment variable `KUBERNETES_BACKWARDSCOMPATIBILITYINTERCEPTOR_DISABLE` to true?

[2022-07-07 07:35] sunix commented on #1534
Allright 🙏🏼

[2022-07-07 14:24] pmbsa opened #1647 "Config Map Enricher appears to be loosing quotes and then corrupting data"
### Describe the bug

Hi, I have an example where we have a configmap template with data like this
[code]
After the resource action the kubernetes yml has this
[code]
which then results in a right mess in the deployed CM with the response json showing this
[code]
I cant for the life of me understand why the quotes would be dropped but I am hoping its something easy to rectify

### Eclipse JKube ve

[2022-07-07 16:19] rohanKanojia commented on #1537
@luidoc : Thanks for reporting, I can reproduce this issue.

You're right we don't seem to be considering registry provided in ImageConfiguration while doing S2I builds. We need to add logic here to append configured registry to applicableImageConfig here:

https://github.com/eclipse/jkube/blob/594d29d641ec1f3fc9780da092adb50e65418a95/jkube-kit/config/service/src/main/java/org/eclipse/jkube/kit/co

[2022-07-08 11:15] rohanKanojia commented on #1290
We already seem to have a check to not generate Deployment or any controller when no image configuration is present:

https://github.com/eclipse/jkube/blob/4cef8d361a73f04161699dd149383b70f60de6ca/jkube-kit/enricher/generic/src/main/java/org/eclipse/jkube/enricher/generic/DefaultControllerEnricher.java#L113

I think Some [generator](https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#genera

[2022-07-08 11:26] rohanKanojia opened #1649 "VertxHealthCheckEnricher nested enricher configuration does not work for Gradle Plugins"
### Component

JKube Kit

### Task description

### Description
Related to https://github.com/eclipse/jkube/issues/1633

[VertxHealthCheckEnricher](https://github.com/eclipse/jkube/blob/master/jkube-kit/jkube-kit-vertx/src/main/java/org/eclipse/jkube/vertx/enricher/VertxHealthCheckEnricher.java#L104-L107) seems to be having very unique enricher configuration. With Maven Plugins, users can provide

[2022-07-11 08:15] #1628 closed

[2022-07-11 09:23] #1630 closed

[2022-07-12 05:22] manusa commented on #1537
For completeness:

When using the OpenShift Maven/Gradle Plugin the push is performed from the cluster, so you need to use follow the process described in the following video: https://www.youtube.com/watch?v=zAIARZ-efxk&t=36s

Currently, our documentation for this is very poor in this aspect and should be improved.

Hi @luidoc could you provide a little more context about your scenario and current

[2022-07-12 05:36] manusa commented on #1622
Ohh sh*t! I suppose I didn't pay attention when adding these verifications because this is the kind of puzzling thing you should remember.

For weird as it seems URL#equals performs a DNS resolution when performing equality checks. Besides the performance implications, this might cause 2 different URLs to be the same, or 2 "equal" URLs to be different.

These assertions should convert the URL to i

[2022-07-12 07:53] #777 closed

[2022-07-12 10:05] luidoc commented on #1537
I'm running this pipeline from a jenkins job, in a private OpenShift cluster and i need to push my image to a harbor private registry accessible by this cluster. There is a secret in the project that allows you to push to my private harbor. This cluster won't allow using its internal registry for image publication, and i also don't want my images to be saved in openshift's private registry.

[2022-07-14 08:37] manusa opened #1654 "NPE in maven/ibm-javaee8-webprofile-liberty quickstart"
### Description

When running the `quickstarts/maven/ibm-javaee8-webprofile-liberty` example a NPE is thrown

[code]

[code]

This is caused during the build phase because it's not being skipped. The behavior started in v1.6.0, in v1.5.1 this wasn't a problem because `ImageConfiguration.buildConfig` was checked before proceeding with the build:

https://github.com/eclipse/jkube/blob/3455471f749250

[2022-07-14 09:23] baruKreddy commented on #1605
Please assign this to me @rohanKanojia ,Thanks!

[2022-07-14 09:37] #1551 closed

[2022-07-14 10:31] #1537 closed

[2022-07-14 10:57] #1654 closed

[2022-07-14 14:49] anurag-rajawat commented on #1552
@rohanKanojia assign this to me

[2022-07-14 15:07] baruKreddy commented on #1603
Please assign this to me @rohanKanojia

[2022-07-15 08:58] #1429 closed

[2022-07-18 02:56] baruKreddy commented on #1592
@rohanKanojia Please assign this to me!

[2022-07-18 10:44] anurag-rajawat commented on #1553
@rohanKanojia please assign this to me

[2022-07-18 15:04] #1600 closed

[2022-07-18 15:18] #1608 closed

[2022-07-19 08:13] manusa opened #1662 "Add small contributions note in Pull request template or in Contributing.md"
This is in the scope of big Pull Requests that take longer to review.
Also, bigger PRs might contain changes that are not acceptable for any given reason, but other changes that are. Providing smaller steps allows us to at least partially merge these contributions.

[2022-07-20 08:59] manusa opened #1663 "ImagePullPolicyEnricherTest only verifies Deployment types with single containers."
/new-issue: ImagePullPolicyEnricherTest only verifies Deployment types with single containers.

Create additional tests to verify the enricher applied to `KubernetesListBuilder` with multiple resource types (Deployments, Pods, Job, and so on). Also with Resources that contain more than one container.

https://github.com/eclipse/jkube/pull/1624#discussion_r921960402

_Originally posted by @manusa i

[2022-07-20 10:37] rohanKanojia commented on #1154
Final version:

Kubernetes Maven Plugin https://drive.google.com/file/d/1vD62e4KuiiGHmrLXsN144190hPT2wlL-/view?usp=sharing
OpenShift Maven Plugin https://drive.google.com/file/d/1_wiIe2f3YiGYMIpgnF84m-x-wGIATfCR/view?usp=sharing
Kubernetes Gradle Plugin https://drive.google.com/file/d/1I2VFAyUOf55s-4PXImbYGjncPOKxHGbm/view?usp=sharing
OpenShift Gradle Plugin https://drive.google.com/file/d/1RYSnoB

[2022-07-20 12:10] #1619 closed

[2022-07-20 15:19] #1552 closed

[2022-07-21 05:57] rohanKanojia commented on #1530
@burads : polite ping, Did you get any chance to revisit this? Does it work for you when you set `  kubernetes.backwardsCompatibilityInterceptor.disable` ?

[2022-07-21 06:00] rohanKanojia commented on #1530
I'm not sure what action to take here. We have upgraded to Fabric8 Kubernetes Client v6.0.0 in https://github.com/eclipse/jkube/pull/1464 . BackwardsCompatibilityInterceptor should be disabled by default now.

[2022-07-21 09:40] #1549 closed

[2022-07-21 10:59] rohanKanojia commented on #1647
We seem to be losing quotes since Jackson has been configured:

This setting seems to have been added in https://github.com/eclipse/jkube/pull/1124
https://github.com/eclipse/jkube/blob/dd105def19fc641a920d3af4b75779caa01212be/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/util/ResourceUtil.java#L56

If I comment this setting, I can see quotes retained in generated YAML after `mvn k8s

[2022-07-21 11:02] rohanKanojia commented on #1647
Are you facing issues with losing quotes or date string getting converted into timestamp? I tried configuring Jackson to not convert dates to timestamps:
[code]

This results in applied ConfigMap resource like this:
[code]
Would this be acceptable for your use case?

[2022-07-21 11:29] pmbsa commented on #1647
to me it feels like its the quotes going missing is then knocking on the the data being interpreted into nonsense. If the quotes simply remained we would get the date come through as we  want it.

[2022-07-21 14:26] manusa commented on #1426
https://github.com/fabric8io/fabric8-maven-plugin/releases/tag/v4.4.2

[2022-07-21 14:45] manusa commented on #1647
As discussed internally, this is a problem of our deserialization process during the Apply phase.

A ConfigMap YAML like the following excerpt:
[code]

is perfectly valid and should be applied as is to the kube-api server (the same ConfigMap applied with `kubectl` should work).

Forcing quotes to all string in our serialization process would mitigate this issue partially, but wouldn't tackle the r

[2022-07-21 14:51] #1603 closed

[2022-07-22 05:14] anurag-rajawat commented on #1556
@rohanKanojia please assign this to me.

[2022-07-22 05:49] #1411 closed

[2022-07-22 08:54] manusa commented on #1530
With the client upgrade, the behavior changes, so there's no action from our side here. Just wait for feedback after we release 1.9.0.

[2022-07-22 09:11] burads commented on #1530
I "unfortunately" found a workaround the issue was RBAC policies that are very locked down for normal users.
This also means it is only whitelisted components that are allowed access to.

So I have had our clusteradmin allow access to
api_groups = ["extensions"]
resources  = ["deployments"]
verbs      = ["create", "delete", "get", "list", "watch"]
which made jkube able to both apply and delete.

T

[2022-07-23 08:06] manusa opened #1668 "Allow additional services (via fragments) besides the default"
### Component

JKube Kit

### Is your enhancement related to a problem? Please describe

Our current `DefaultServiceEnricher` will act in three alternate ways:
- Add services defined in XML configuration
- Merge service configuration if a service exists
- Add a new service for the default deployment

The following code snippet is responsible for this:
https://github.com/eclipse/jkube/blob/d653e0b6

[2022-07-23 08:26] manusa opened #1669 "Prevent ProjectLabelEnricher from overriding fragment defined labels"
### Component

_No response_

### Is your enhancement related to a problem? Please describe

If I define multiple services (see #1668) the ProjectLabelEnricher overwrites the custom `app` label I defined in the additional service fragments (deployment, service, etc.)

### Describe the solution you'd like

We should analyze if we might want to prevent this from happening by giving priority to Fragm

[2022-07-25 07:46] #1553 closed

[2022-07-25 10:31] #1361 closed

[2022-07-25 10:39] #1532 closed

[2022-07-26 03:56] anurag-rajawat commented on #1558
@rohanKanojia please assign this to me

[2022-07-26 12:13] friedeas opened #1674 "Spring Boot Generator should utilize the layered jar if present and use it as Docker layers"
### Component

_No response_

### Is your enhancement related to a problem? Please describe

Using Spring Boots “fat jar” in the Dockerfile instead of the layers provided in the layered jar gives away the potential for an optimized image.

### Describe the solution you'd like

If a layered Spring Boot jar is detected the layers returned from the command
`java -Djarmode=layertools -jar target/sampl

[2022-07-28 05:24] #1556 closed

[2022-07-28 05:40] anurag-rajawat commented on #1567
@rohanKanojia please assign this to me.

[2022-07-28 08:21] manusa commented on #1493
Ready for review, should be published in a few days

[2022-07-29 04:02] anurag-rajawat commented on #1568
@rohanKanojia please assign this to me.

[2022-07-29 07:16] #1558 closed

[2022-07-29 08:27] #1567 closed

[2022-07-29 10:30] anurag-rajawat commented on #1569
@rohanKanojia please assign this to me.

[2022-07-29 14:07] #1649 closed

[2022-07-31 09:22] manusa opened #1680 "Add integration test for Docker Credentials Store"
### Component

JKube Kit

### Task description

### Description
Make sure that [Docker Credential Store](https://docs.docker.com/engine/reference/commandline/login/#credentials-store) works as expected by adding an Integration Test.

### Expected Behavior
The test verifies that the Docker Credential Store works with the major providers.

### Acceptance Criteria
- [ ] TBD

[2022-08-01 07:01] anurag-rajawat commented on #1566
@rohanKanojia please assign this to me

[2022-08-01 09:18] manusa opened #1684 "Plugin doesn't abort building an image in case Podman is used and the Dockerfile can't be processed"
Mirror of https://github.com/fabric8io/docker-maven-plugin/pull/1512

Consider JSON responses from Docker/Podman HTTP API even if a `Content-Type` header is not provided in the HTTP response.

[2022-08-01 09:20] manusa commented on #1684
Fix should be inspired by https://github.com/fabric8io/docker-maven-plugin/pull/1585 but implemented differently.

Also, proper tests are needed.

[2022-08-02 09:19] #1566 closed

[2022-08-02 09:19] #1568 closed

[2022-08-02 09:20] #1569 closed

[2022-08-02 09:51] anurag-rajawat commented on #1571
@rohanKanojia please assign this to me

[2022-08-02 11:41] anurag-rajawat commented on #1562
@manusa please assign this to me

[2022-08-02 12:00] ayushdubey755 commented on #1638
in the pom.xml the version can i change 2.11.0.Final @rohanKanojia

[2022-08-02 12:27] ayushdubey755 commented on #1674
@friedeas can you please specify the file in which changes has to be made?

[2022-08-02 12:35] manusa commented on #1674
The context for this issue is here: https://gitter.im/eclipse/jkube?at=62dfd33c76cd751a2f86b25f

A refactor of the Spring Boot generator is needed prior to changing its behavior. We will be taking care of these tasks.

[2022-08-02 12:43] ayushdubey755 commented on #1633
is this issue has to be made some changes?

[2022-08-02 13:16] ayushdubey755 commented on #1674
@manusa i just want to contribute so some other issue i have taged you there can you assign me those issue?

[2022-08-02 14:44] rohanKanojia commented on #1638
@ayushdubey755 : I don't think we have any rule regarding branch names. For more information about getting started with contributing to JKube, you can  read my blogpost[0]

[0] https://rohaan.medium.com/how-to-contribute-to-eclipse-jkube-f3bc7f902bf4

[2022-08-02 14:46] rohanKanojia commented on #1633
No, there will be fixed via https://github.com/eclipse/jkube/pull/1636

[2022-08-02 22:45] msamad commented on #1647
Hi, ran into the similar issue with env variables in  `deployment.yaml`, just mentioning here hoping this will be covered in the fix too

[code]
end up as
[code]

Thanks

[2022-08-03 05:15] manusa commented on #1647
Yes, this and other cases where covered in https://github.com/fabric8io/kubernetes-client/pull/4295

The fix should be applied here once we update the Kuberentes Client version with the fix, which will probably be in v1.10.0

Is providing the fragment value as a scalar multi-line a workaround for this issue (it's likely it doesn't work, but it's worth a try)?

[code]

[2022-08-03 05:16] #1571 closed

[2022-08-03 05:28] #1562 closed

[2022-08-03 05:34] msamad commented on #1647
Great, will wait for it, thanks.

It adds `\n` at the end. Tried to get rid of line ending but then end up with the issue again :(
[code]

Thanks

[2022-08-03 05:35] anurag-rajawat commented on #1561
@rohanKanojia please assign this to me

[2022-08-03 05:45] manusa commented on #1647
Yes, that's what I suspected :disappointed:

[2022-08-03 06:25] anurag-rajawat commented on #1563
@rohanKanojia please assign this to me

[2022-08-03 06:55] manusa commented on #443
Considering we haven't released 1.9.0 yet, we might want to refactor + redocument what was done in #1541 (#1473).

As suggested in https://github.com/eclipse/jkube/issues/1473#issuecomment-1109550057, #1473 looks like a duplicate of this issue, however, it's coupled to OpenLiberty, when it probably shouldn't.

In addition, there are more artifacts that provide a MicroProfile health implementation.

[2022-08-03 07:36] manusa commented on #1440
Hi @MMajd, your PR has request changes, please address them.

[2022-08-03 08:44] anurag-rajawat commented on #1563
@manusa I rewrite these assertions
https://github.com/eclipse/jkube/blob/cccc2864555f9e0959020d4c4fe4e817d587f865/jkube-kit/generator/webapp/src/test/java/org/eclipse/jkube/generator/webapp/handler/JettyAppSeverHandlerTest.java#L48-L49

like
[code]
can we combine these if not please tell me a better way to assert these?

[2022-08-03 09:27] #1358 closed

[2022-08-03 09:39] manusa commented on #1563
Those assertions were there to remove code smells. There's no need to assert these with the Files.xxx methods since these will fail in case they don't complete successfully.

If you see any assertion in the `Given` test block, they should only serve for this purpose, else there might be something wrong in the test implementation

[2022-08-03 10:39] manusa opened #1690 "JKube maintained images to be based on UBI9"
### Component

https://github.com/jkubeio/jkube-images

### Description

Upgrade JKube images based on UBI8 to be based on UBI9

- https://catalog.redhat.com/software/containers/ubi9/ubi-minimal
- https://catalog.redhat.com/software/containers/ubi9-minimal/61832888c0d15aff4912fe0d?architecture=amd64&image=6541aefcbafe0b446ae7fde5
- [ubi9/openjdk-17](https://catalog.redhat.com/software/containers/u

[2022-08-03 11:13] manusa commented on #1493
https://developers.redhat.com/articles/2022/08/01/how-configure-helm-charts-using-jkube-part-2

[2022-08-03 11:13] #1493 closed

[2022-08-03 13:47] #1137 closed

[2022-08-03 15:26] #1634 closed

[2022-08-04 08:38] manusa opened #1692 "Support for Docker contexts, or a Docker socket in an alternative location"
### Component

JKube Kit

### Is your enhancement related to a problem? Please describe

Mirror issue for https://github.com/fabric8io/docker-maven-plugin/issues/1584

Support for [Docker Contexts](https://docs.docker.com/engine/context/working-with-contexts/) looks like something that might be useful for users performing local builds leveraging Docker daemons.

### Describe the solution you'd lik

[2022-08-04 10:30] #1156 closed

[2022-08-08 05:35] anurag-rajawat commented on #1575
@rohanKanojia please assign this to me

[2022-08-08 18:22] rohanshankar commented on #1607
I can take this up if it is still an issue

[2022-08-09 05:39] manusa commented on #1607
These issues are part of the GSoC program, not meant to be taken by other members of the community (at least until the GSoC period ends)

[2022-08-09 06:17] #1561 closed

[2022-08-09 09:20] manusa commented on #1669
A possible solution is to check if the Resource already contains a defined matching label.
- If the label exists we won't overwrite.
- ??? provide a config option to overwrite ???

[2022-08-09 09:22] manusa commented on #1668
What happens with a service fragment that has no name?

[2022-08-09 11:51] anurag-rajawat commented on #1574
@rohanKanojia please assign this to me

[2022-08-10 05:13] #1309 closed

[2022-08-10 05:30] manusa commented on #1662
Hi @ayushdubey755
This issue is more of an internal task to warn non-project committers about the problems of contributing big pull requests. @rohanKanojia was going to take care of this. Maybe we can discuss how we should display this warning and then whoever can perform the required changes.

[2022-08-10 07:05] #1575 closed

[2022-08-10 07:05] #1574 closed

[2022-08-10 07:49] anurag-rajawat commented on #1573
@rohanKanojia please assign this to me

[2022-08-10 13:19] anurag-rajawat commented on #1579
@rohanKanojia please assign this to me

[2022-08-11 08:50] baruKreddy commented on #1606
@rohanKanojia As agreed we need to refactor PodExecutorTest source code. Parking it for now.Thanks!

[2022-08-11 13:49] #1593 closed

[2022-08-11 14:05] manusa commented on #1154
https://github.com/jkubeio/jkube-website/pull/51

[2022-08-11 14:27] manusa opened #1700 "Generation of Kubernetes Well-Known and Recommended labels"
### Component

JKube Kit

### Is your enhancement related to a problem? Please describe

The generated YAML files should be (optionally) enriched with the:

- [Recommended Labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/)
- [Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/labels-annotations-taints/)

### Describe the solution

[2022-08-11 14:33] #1154 closed

[2022-08-16 15:20] Kshitiz-Mhto opened #1702 "Remove unused imported classes"
### Component

Kubernetes Maven Plugin

### Task description

### Description
[org.eclipse.jkube.maven.plugin.mojo.develop.LogMojoTest.java](https://github.com/eclipse/jkube/blob/master/kubernetes-maven-plugin/plugin/src/test/java/org/eclipse/jkube/maven/plugin/mojo/develop/LogMojoTest.java) This file contain some unused imported classes ie,

[code]

### Info
- Eclipse JKube version : current
- Ma

[2022-08-17 10:55] rohanKanojia opened #1704 "`k8s:watch` with `jkube.watch.mode=copy` doesn't work"
### Describe the bug

`k8s:watch` goal when run in Docker mode has various modes, see [Watcher Docker Image](https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#watcher-docker-image) documentation.

One of them is `copy` mode where changed files are directly copied to the root directory of the running container. It's pretty handy with web applications where applications could be redeployed

[2022-08-18 10:44] TooDissing opened #1706 "Service YAML is missing selector"
### Describe the bug

We have been using JKube with Openshift for at while now. And now we are going to migrate to a new AKS based setup, so "vanilla kubernetes" instead of open shift. This migration are causing some problems.
It seems that the `Deployment` and `Service` object isn't linked together correctly. They `Service` selector is missing.
For the `Deployment` it is something like this:
[cod

[2022-08-19 05:27] rohanKanojia commented on #1706
I'm not sure I fully understand. We have integration tests to verify resource generation. I can see selector element being present both in Deployment and Service:

https://github.com/eclipse/jkube/blob/06916b680800ea74123ae40e696065536062612e/kubernetes-maven-plugin/it/src/it/spring-boot/expected/kubernetes.yml#L29-L51

Or are you referring to selector not being specified in `matchLabels`?

[2022-08-19 05:49] anurag-rajawat commented on #1555
@rohanKanojia please assign this to me.
Thanks!

[2022-08-19 07:32] TueDissingWork commented on #1706
Well it isn't there....I will try to dig a little in the test code, to see what makes that work and not my config.

[2022-08-19 07:35] TueDissingWork commented on #1706
this part is missing somehow - hopefully just config error
[code]

[2022-08-19 07:57] TueDissingWork commented on #1706
After some further testing I have narrowed it down a bit. When I add the `jkube-project-label` enricher to my config things go wrong - i.e. no selector. When running the build without this enricher everything works as expected.

[code]

I can try to write a test for this, using the above as expected result.

[2022-08-19 13:22] anurag-rajawat commented on #1557
@rohanKanojia please assign this to me.
Thanks!

[2022-08-19 13:59] TueDissingWork commented on #1706
Strangely I am having problems running the IT tests - it seems I have to add several runtime dependencies to the validator (running the Groovy verify script).
Will see how far I get.

[2022-08-19 14:01] rohanKanojia commented on #1706
Hmm, I usually do `mvn clean install` to run all tests or `mvn clean install -Dinvoker.test=test-name` to run a single one in `it/` directory.

If you're having problems with integration tests, you can also try my demo repository which is showing same behavior: https://github.com/rohanKanojia/eclipse-jkube-demo-project

[2022-08-19 14:07] rohanKanojia opened #1713 "Add HelidonHealthCheckEnricher to add Kubernetes health checks for Helidon applications"
### Component

JKube Kit

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/1475 https://github.com/eclipse/jkube/issues/443

- [x] ~To be done once https://github.com/eclipse/jkube/pull/1709 gets merged~

### Expected Behavior
[Helidon Microprofile Health](https://mvnrepository.com/artifact/io.helidon.microprofile.health/helidon-microprofile-health/2.5.2) see

[2022-08-19 14:15] rohanKanojia opened #1714 "Add HelidonGenerator to add opinionated container image for Helidon applications"
### Component

JKube Kit

### Task description

### Description
Child of #1475

Just like other frameworks, we need to add opinionated container image creation support for Helidon. For that, we need to add HelidonGenerator in a new module `jkube-kit-helidon` that would get activated when `io.helidon.build-tools:helidon-maven-plugin` is present in project.

### Expected Behavior
Use should be able

[2022-08-22 06:52] #1702 closed

[2022-08-22 07:42] manusa commented on #1706
This is odd, since this Enricher is part of the [default Enrichers](https://github.com/eclipse/jkube/blob/55f0e9863a0a265a19fbc8b2e4649bbe1b9a50ff/kubernetes-maven-plugin/plugin/src/main/resources/META-INF/jkube/profiles-default.yml#L30) (This means that unless you're using a different profile, this Enricher should already be part of your build).

Your issue is probably related to the order of exe

[2022-08-22 10:09] anurag-rajawat commented on #1560
@rohanKanojia please assign this to me

[2022-08-22 10:42] rohanKanojia opened #1716 "Add support for web applications deployments to Payara Micro"
### Component

JKube Kit

### Task description

### Description

We need to add support in Eclipse JKube to automatically detect whether the web application is getting deployed to Payara Micro
server and generate an opinionated image. We might need to create our image based on [Payara Micro Docker image](https://hub.docker.com/r/payara/micro)

For Maven we can detect `fish.payara.maven.plugins:pay

[2022-08-22 10:50] TueDissingWork commented on #1706
When removing the above mentioned `<include/>`  element everything works as expected. So we have a working solution, but still think this is a regression, as this type of config should not cause a difference, but maybe I am missing something here.

Will commit a test showing this soonish.

[2022-08-22 11:00] manusa commented on #1706
This configuration is used to override the profile settings, so it should indeed cause a difference.

See [Profiles](https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#profiles) documentation.

[2022-08-22 11:08] TueDissingWork commented on #1706
Thanks. Will re-read the documentation 😊

added a test case here:
https://github.com/eclipse/jkube/compare/master...TueDissingWork:jkube:master

[2022-08-22 15:25] rohanKanojia opened #1717 "Support for KumuluzEE framework"
### Component

_No response_

### Task description

### Description
Eclipse JKube should be able to provide a zero-configuration mode for projects using [KumuluzEE framework](https://ee.kumuluz.com). At the moment, the user must provide `<image>` configuration by himself to build the container image.

We need to add another module `jkube-kit-kumuluzee` that would contain generator and health check

[2022-08-22 15:29] rohanKanojia opened #1718 "Add KumuluzEEGenerator to add opinionated container image for KumuluzEE applications"
### Component

JKube Kit

### Task description

### Description
Child of https://github.com/eclipse/jkube/issues/1717

Just like other frameworks, we need to add opinionated container image creation support for KumuluzEE. For that, we need to add KumuluzEEGenerator in a new module jkube-kit-kumuluzee that would get activated when `com.kumuluz.ee:kumuluzee-maven-plugin` is present in project.

###

[2022-08-22 15:34] rohanKanojia opened #1719 "Add KumuluzEEHealthCheckEnricher to add Kubernetes health checks for KumuluzEE applications"
### Component

JKube Kit

### Task description

### Description

Child of https://github.com/eclipse/jkube/issues/1717 https://github.com/eclipse/jkube/issues/443

:construction: To be done once https://github.com/eclipse/jkube/pull/1709 gets merged

### Expected Behavior
[KumuluzEE Health](https://github.com/kumuluz/kumuluzee-health/) seems to be implementing Microprofile Health API.

Eclipse JKu

[2022-08-23 06:06] #1555 closed

[2022-08-23 06:17] #1579 closed

[2022-08-24 04:56] #1592 closed

[2022-08-24 05:12] #1585 closed

[2022-08-24 08:19] #1706 closed

[2022-08-24 13:17] manusa opened #1726 "Gradle IT for VertxHealthCheckEnricher"
### Component

Kubernetes Gradle Plugin

### Task description

### Description

As a follow-up task from #1636 / #1633 we should create further Gradle ITs to verify the proper behavior of the changes in the isApplicable method.

[2022-08-24 13:18] #1633 closed

[2022-08-25 04:31] manusa opened #1730 "EnricherManager instantiations should be centralized in JKubeServiceHub"
### Component

JKube Kit

### Task description

### Description

`JKubeServiceHub` should be used as the central place to host, instantiate, and access services used by JKube components.

Currently, `EnricherManager` and the `DefaultEnricherManager` are instantiated at the Mojo and Task level and then passed on to the services (Resource) that require it.

### Expected Behavior

Just like with `Bui

[2022-08-25 04:33] manusa opened #1731 "GeneratorManager instantiation and access should be centralized in JKubeServiceHub"
### Component

JKube Kit

### Task description

`JKubeServiceHub` should be used as the central place to host, instantiate, and access services used by JKube components.

Currently, `GeneratorManager` is instantiated at the Mojo and Task level and then passed on to the services (Resource) that require it.

### Expected Behavior

Just like with `BuildManager`, the class should be accessed and insta

[2022-08-25 04:34] manusa opened #1732 "WatcherManager instantiation and access should be centralized in JKubeServiceHub"
### Component

JKube Kit

### Task description

`JKubeServiceHub` should be used as the central place to host, instantiate, and access services used by JKube components.

Currently, `WatcherManager` is instantiated at the Mojo and Task level and then passed on to the services (Watcher) that require it.

### Expected Behavior

Just like with `BuildManager`, the class should be accessed and instanti

[2022-08-25 11:26] #1474 closed

[2022-08-27 13:04] nijicompany commented on #857
hey there!
I am a newbie here and I have used Eclipse a lot and still using it, after a long thought I finally decided to start contributing to open source and Eclipse will be my first. So guys please suggest to me how can I get started in contributing. Any help and resource will be much valuable to me.
Thanks in advance

[2022-08-29 19:42] MBJuric commented on #1717
For best start-up performance we recommend using exploded packing in Docker images: [https://github.com/kumuluz/kumuluzee/wiki/Uber-JAR-support#package-as-exploded-by-plugin](https://github.com/kumuluz/kumuluzee/wiki/Uber-JAR-support#package-as-exploded-by-plugin)

Basic Dockerfile example:
[code]

[2022-08-30 05:37] manusa commented on #1717
Nice, do you organize the exploded packages in directories like Spring Boot or Quarkus?

We have support for "layers" in order to optimize container image _rebuilds_, so if the exploded package is sorted into directories such as `dependencies`/`libs`, `other`, `app`, and so on, we can configure the image with multiple layers. During the rebuild process, those layers that haven't changed will alrea

[2022-08-30 10:36] bramlihamza opened #1733 "Multistage dockerFile"
Hi, thank you for the fast response.

I want to reproduce some think like this .

[code]

So I want to create a **first stage to build** the project, then create a **second stage** to copy the artifact from the first stage and run it.

I tried to do this, but I was blocked in the second stage.

[code]

thank you .

_Originally posted by @bramlihamza in https://github.com/eclipse/jkube/discussions/

[2022-09-01 06:48] pwnb0y opened #1737 "typo mistake in documentation README.md file"
### Describe the bug

one typo mistake:
``` deamon```

### Eclipse JKube version

1.8.0

### Component

JKube Kit

### Apache Maven version

3.8.5

### Gradle version

7.4.2

### Steps to reproduce

go to the documentation page
scroll at last troubleshoot section
it occurs there

### Expected behavior

it should be:
``` daemon ```

### Runtime

Kubernetes (vanilla), OpenShift, minikube, CodeReady

[2022-09-01 06:48] pwnb0y commented on #1737
/assign

[2022-09-01 06:49] pwnb0y commented on #1737
I would love to work on this issue please assign me

[2022-09-02 09:35] anurag-rajawat commented on #1572
@manusa please assign this to me.

[2022-09-05 14:31] #1573 closed

[2022-09-06 05:06] rohanKanojia commented on #1647
Since Kubernetes Client has been upgraded, I think this issue can be closed

[2022-09-06 09:13] manusa commented on #1647
We should close after the 1.9.0 release and validate that the issue is actually fixed.

[2022-09-06 11:14] #1737 closed

[2022-09-06 11:32] #1594 closed

[2022-09-06 11:43] rohanKanojia commented on #1033
I've created this document for possible points to print in different jkube summary actions. Most of these are already covered in https://github.com/eclipse/jkube/pull/1686
https://docs.google.com/document/d/1x2z96UEeEezIS3uB8la9EdJVRiWhm4reHe2R1-9CAvo/edit?usp=sharing

[2022-09-06 13:55] vilmosnagy commented on #66
We'd like to use this plugin in our Gitlab CI environment with podman.

But the `podman system service --time=0 unix:/run/user/$(id -u)/podman/podman.sock` command gives the following error in the CI (inside a container):

[code]

Has anyone ever got this plugin to work with podman within Gitlab CI?

[2022-09-06 14:03] rohanKanojia commented on #66
@vilmosnagy : Umm, which container image are you using? Maybe that image doesn't support podman?

I think this question is better suited for https://github.com/containers/podman/discussions

[2022-09-06 14:16] vilmosnagy commented on #66
@rohanKanojia any container image with podman installed :slightly_smiling_face:

In my exact situation we use `maven:3.8.4-openjdk-11`, and install podman with `apt update && apt install -y podman`. But the job is ran on GitlabCI, inside an other container which is started by the Gitlab CI runner.

[2022-09-06 14:25] wardev commented on #66
https://www.redhat.com/sysadmin/podman-inside-container

[2022-09-06 17:59] mwinzie opened #1742 "Not include Imagestream tags in Deployment Config"
### Discussed in https://github.com/eclipse/jkube/discussions/1741

<div type='discussions-op-text'>

<sup>Originally posted by **mwinzie** September  6, 2022</sup>
I am using the openshift maven plugin to generate resources oc:resource. I however would not want to have imagestream tags included. Any idea how to go about this?</div>

[2022-09-07 07:15] #1595 closed

[2022-09-07 13:22] #1598 closed

[2022-09-07 14:04] #1601 closed

[2022-09-08 06:28] vaishnavi-ramanujapuram commented on #1714
Hi, I would like to contribute to the above issue. I'm a first time contributor and this is mandatory for my course work. I'm willing to learn the concepts related to it while solving it. Could you please assign it to me.

[2022-09-08 07:29] rohanKanojia commented on #1714
@vaishnavi-ramanujapuram : I'm afraid this might not be an issue for newcomers. But if you want to try it I won't stop you.

In order to work on this, you'd need to learn about Helidon, Docker, and JKube. You need to add a module similar to https://github.com/eclipse/jkube/tree/master/jkube-kit/jkube-kit-micronaut

[2022-09-09 08:12] manusa commented on #1470
Hi @adriannowak
could you please confirm that KMP v1.8.0 works on your Apple M1 machine?

[2022-09-09 08:12] #1470 closed

[2022-09-09 13:57] manusa commented on #1647
Should be fixed in https://github.com/eclipse/jkube/releases/tag/v1.9.0

[2022-09-09 13:58] manusa commented on #1530
Interceptor should now be disabled by default in [v1.9.0](https://github.com/eclipse/jkube/releases/tag/v1.9.0) which we just released.

[2022-09-12 05:41] rohanKanojia commented on #1647
@pmbsa : Hello, Could you please try out v1.9.0 and provide us some feedback on whether your issue got fixed or not?

[2022-09-12 06:16] pmbsa commented on #1647
certainly, I will get on that today and get back to you.

[2022-09-12 07:37] sunix commented on #1033
Maybe we could add few concrete example of the expected output (with a concrete project) ? that could be than be reused in our integration tests ?

[2022-09-12 09:25] pmbsa commented on #1647
Hi @rohanKanojia, I just introduced the new release and we have an issue it seams with the me.snowdrop istioclient (we have an istio enricher implementation)

[code]
I hadnt seen this with the 1.9.0-SNAPSHOT build I had from some weeks ago, is this now as a resold of  this fix or something completely different?

[2022-09-12 09:30] rohanKanojia commented on #1647
I don't think istio client dependency comes from jkube.

Istio Client is now available via Fabric8 https://search.maven.org/artifact/io.fabric8/istio-client/6.1.1/jar

[2022-09-12 09:33] manusa commented on #1647
We've bumped the Kubernetes Client dependency to 6.1.1 in this release. The older Istio Client (the one you are using) won't be compatible with the new Kubernetes Client version. Make sure to migrate to use the new extensions that's available along with the client (the one Rohan linked).

[2022-09-12 10:36] pmbsa commented on #1647
it it looking good thanks, the date looks to be as expected when delivered into the cluster. I have also uplifted the istio-api to use the fabric8 version and that looks all good thanks

[2022-09-12 14:06] manusa commented on #1647
Closing as fixed, thanks for the feedback!

[2022-09-12 14:06] #1647 closed

[2022-09-13 12:33] edeandrea opened #1747 "Upgrading from 1.8.0 to 1.9.0 and now failing with Message: Not Found"
### Describe the bug

I have a learning tutorial (https://kubebyexample.com/learning-paths/developing-spring-boot-kubernetes/lesson-4-deploying-spring-boot-kubernetes-eclipse) which currently uses JKube 1.8.0. It is a simple Spring Boot application that uses the JKube `kubernetes-maven-plugin` to deploy to minikube.

The source code is at https://github.com/RedHat-Middleware-Workshops/spring-jkube

[2022-09-13 13:00] manusa commented on #1747
That's odd (the project check), we'll take a look and provide a fix.

[2022-09-13 13:01] rohanKanojia commented on #1747
Thanks for the bug report. I can reproduce this issue. I think this is caused by upgrade of KubernetesClient. I see this line:

https://github.com/eclipse/jkube/blob/c0ac9b2a2327c6568c5707e675b266067ed74ec0/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/util/OpenshiftHelper.java#L48

in v1.8.0, it was throwing OpenShiftNotAvailableException but on v1.9.0 it's just returning a regular

[2022-09-13 13:03] manusa commented on #1747
Could you provide the stack-trace, that method shouldn't be called to determine if the underlying cluster is OpenShift (I think most of these checks were replaced when upgrading the client version).

Also, do you have any idea why our tests haven't showed this behavior?

[2022-09-13 13:54] manusa commented on #1747
OK; so this is due to the usage of a RoleBinding resource.

[2022-09-13 14:04] manusa commented on #1747
In the original Kubernetes Client bump PR (#1464), we left out a few places where we checked if the cluster was OpenShift.

To verify if a cluster is an OpenShift cluster, we need to reuse the method [OpenshiftHelper.isOpenShift](https://github.com/eclipse/jkube/blob/f7521fe52e886fa3a4abaee28b66809c828dc22d/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/util/OpenshiftHelper.java#L54-L

[2022-09-13 14:07] manusa commented on #1530
I'm closing this issue as fixed, please reopen if the error persists.

[2022-09-13 14:07] #1530 closed

[2022-09-14 04:17] anurag-rajawat commented on #1565
@rohanKanojia please assign this to me

[2022-09-14 05:08] #1747 closed

[2022-09-14 06:52] manusa opened #1753 "Re-enable tests on Jenkins Release pipelines"
### Component

JKube Kit

### Task description

I had to temporarily disable test in the release pipelines because the tests related to the remote resource fragments features are failing:

[code]

We need to refactor these tests so that the fragments are downloaded from a temporary localhost web server.

Once these tests are replaced, the pipelines should be modified again to re-enable the tests.

[2022-09-14 13:54] manusa commented on #1747
It was released this morning, but there might be some problems with the repository synchronization. I've been waiting for more than 8 hours now to complete the release process :sweat:

https://twitter.com/MarcNuri/status/1569957559188029440

[2022-09-14 15:57] edeandrea commented on #1747
Doesn't look like its in maven central yet (or at least hasn't dispersed through their CDN).

![image](https://user-images.githubusercontent.com/363447/190204062-c5ddbe9b-06ff-4af6-91dd-aa755d722641.png)

[2022-09-14 16:08] edeandrea commented on #1747
Now its there. Looks good! Confirmed it worked.

[2022-09-14 16:10] edeandrea commented on #1747
Again - many thanks for the extremely quick turnaround!

[2022-09-15 14:03] manusa commented on #1747
Awesome news :rocket:

Thank you for trying and reporting. This was a critical one, I'm glad we caught it so quickly.

[2022-09-16 10:09] nightswimmings opened #1758 "ServiceAccount binding not being generated in deployment"
### Describe the bug

Even though documentation states https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#serviceaccount-generation
that one can bind the deployment to a serviceaccount by using
[code]
I just observed that there's no trace of such setting on the generated deployment.yml resource

The create approach, first described in the documentation, works fine but I have a preexisting

[2022-09-16 11:00] rohanKanojia commented on #1758
Are you generating Deployment using JKube zero configuration mode or using your own fragment?

[2022-09-18 12:24] pwnb0y commented on #1758
l

[2022-09-19 05:46] anurag-rajawat commented on #1577
@rohanKanojia please assign this to me.

[2022-09-19 09:35] anurag-rajawat commented on #1577
@rohanKanojia assign this to me not to yourself.

[2022-09-19 09:37] rohanKanojia commented on #1577
lol, sorry for the noise :laughing:

[2022-09-19 10:01] #1560 closed

[2022-09-20 09:07] manusa commented on #1742
The discussion appears to be resolved, is this issue still applicable?

[2022-09-20 09:49] mwinzie commented on #1742
Yes this was resolved.

[2022-09-20 09:49] #1742 closed

[2022-09-21 09:07] #1208 closed

[2022-09-21 12:57] manusa commented on #1006
Hi @grgrzybek
We have now properly ported the "plugin"/"extensible" functionality from DMP to JKube.

The documentation has been updated and is available at: [10. JKube Plugins](https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#jkube-plugin)

We've also implemented two quickstarts:
- https://github.com/eclipse/jkube/tree/master/quickstarts/maven/plugin/
- https://github.com/eclipse/jkube/

[2022-09-21 12:57] manusa commented on #1006
I'm closing this issue as completed, please feel free to open a new one in case you feel there's still something missing.

[2022-09-21 12:58] #1006 closed

[2022-09-21 14:55] mwinzie opened #1764 "Autoscaling not working as expected"
### Discussed in https://github.com/eclipse/jkube/discussions/1763

<div type='discussions-op-text'>

<sup>Originally posted by **mwinzie** September 21, 2022</sup>
I have hpa.yaml already defined but pods are spining to the maximum amount of replicas. For example my minimum can be one and maximum 2 but 2 pods gets created when it should just be one to begin with.

I included the jkube.enricher.jk

[2022-09-22 08:07] #1577 closed

[2022-09-22 08:32] anurag-rajawat commented on #1576
@rohanKanojia please assign this to me.

[2022-09-22 08:35] #1565 closed

[2022-09-25 16:45] abhisingh38203 commented on #857
@rohanKanojia @manusa
Hii!
I am new to open-source contribution. I have sound knowledge of JAVA and IntelliJ and I have been using it since long. It would be really helpful if you guys could guide me and suggest me some good resources.

[2022-09-26 11:12] #1596 closed

[2022-09-26 11:21] manusa opened #1767 "Change GitHub Actions permission settings"
[code]

_Originally posted by @mbarbero in https://github.com/eclipse/jkube/issues/1766#issuecomment-1257857068_

---
### Applies to:
- [x] https://github.com/eclipse/jkube
- [x] https://github.com/jkubeio/jkube-integration-tests
- [x] https://github.com/jkubeio/ci

### References
- https://github.com/ossf/scorecard/blob/main/docs/checks.md#token-permissions
- https://docs.github.com/en/actions/us

[2022-09-26 12:59] #1662 closed

[2022-09-26 15:56] sunix opened #1768 "log what kind of build we are doing"
Agreed. I can't remember if we are already loggin what kind of build we are doing.
e.g.
- Local Docker
- Local Jib
- OpenShift Docker
- OpenShift S2I
- ...

_Originally posted by @manusa in https://github.com/eclipse/jkube/issues/1279#issuecomment-1036290208_

Also I came through another "kubernetes mode":

[2022-09-26 16:19] sunix opened #1769 "Suggest to rename the image name"
### Component

JKube Kit

### Is your enhancement related to a problem? Please describe

We should guide the user that has the wrong image name or registry.

### Describe the solution you'd like

Either:
1. when invoking the build task, jkube could detect that the image name has been generated
2.  when the push task is failing,

=> suggest to rename it with the `jkube.generator.name` property  = r

[2022-09-27 09:09] manusa commented on #1764
Hi @mwinzie
Did the `jkube.replicas` configuration fix your issue (https://github.com/eclipse/jkube/discussions/1763#discussioncomment-3734112)?
Is there something else you need us to fix?

[2022-09-27 09:24] mwinzie commented on #1764
Hi @manusa yes it did, thanks

[2022-09-27 09:24] #1764 closed

[2022-09-28 08:07] anurag-rajawat commented on #1554
@rohanKanojia please assign this to me

[2022-10-03 04:52] anurag-rajawat commented on #1570
@rohanKanojia please assign this to me

[2022-10-03 13:00] #1563 closed

[2022-10-03 13:56] #1663 closed

[2022-10-03 14:33] RoshanBro77 commented on #857
I also want to contribute as my first open source contribution can you assign me one too?

[2022-10-05 10:01] manusa opened #1779 "[Hacktoberfest] AssemblyMode.isArchive may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/11be2905ca87644aa0b19535eb81cc1c4a3b0ccb/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/AssemblyMode.java#L44

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/contributing) first. Pay speci

[2022-10-05 10:03] manusa opened #1780 "[Hacktoberfest] ApacheHttpClientDelegate$StatusCodeCheckerResponseHandler fields may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/20754b15a009de9ebc128ce32ae83c21160dad67/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/access/hc/ApacheHttpClientDelegate.java#L181-L182

- [ ] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](http

[2022-10-05 10:04] manusa opened #1781 "[Hacktoberfest] ArchiveService.assemblyManager may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/4b7998d19509b1fbc73865a2a19a0112c3a21e1c/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/ArchiveService.java#L35

- [ ] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/

[2022-10-05 10:08] manusa opened #1782 "[Hacktoberfest] AssemblyFiles.entries may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/892ba7092627a7f0712ff68427361fb2d9cd976d/jkube-kit/build/api/src/main/java/org/eclipse/jkube/kit/build/api/assembly/AssemblyFiles.java#L32

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/contributing)

[2022-10-05 10:12] manusa opened #1783 "[Hacktoberfest] AuthConfigFactory fields may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/17ada413b53017ce446da3326ef1a5ff31d48e43/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/auth/AuthConfigFactory.java#L638

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.o

[2022-10-05 10:14] manusa opened #1784 "[Hacktoberfest] AutoPullMode fields may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/manusa/jkube/blob/1748b8ab1c4604fa44653431901a77784b18509c/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/helper/AutoPullMode.java#L33-L34

- [ ] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.or

[2022-10-05 10:17] ishu-thakur commented on #1784
Hi @manusa can you assign that to me i would to work on it :)

[2022-10-05 10:21] manusa opened #1785 "[Hacktoberfest] AutoTLSEnricher fields may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/c172d91dfee2c4881598fc5b157d94ea13b27b1d/jkube-kit/enricher/generic/src/main/java/org/eclipse/jkube/enricher/generic/openshift/AutoTLSEnricher.java#L49

- [ ] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/c

[2022-10-05 10:23] manusa opened #1786 "[Hacktoberfest] AwsSdkAuthConfigFactory fields may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/e5f1554e4a63b7aeda50f9ad1a8d5c13a72733f3/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/auth/ecr/AwsSdkAuthConfigFactory.java#L27

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.

[2022-10-05 10:49] 3NCRY9T3D commented on #1786
Hi, can you assign this issue to me?

[2022-10-05 11:55] shubhamrawat090 commented on #1783
hey @manusa is anyone working on this? please assign it to me if not

[2022-10-05 12:06] #1440 closed

[2022-10-05 13:25] ishu-thakur commented on #1783
Hi @manusa can you assign that to me :) ?

[2022-10-05 13:25] ishu-thakur commented on #1782
Hi @manusa can you assign that to me :) ?

[2022-10-05 13:26] ishu-thakur commented on #1779
Hi @manusa can you assign that to me :) ?

[2022-10-05 14:09] #1780 closed

[2022-10-05 16:52] sanmay321 commented on #1785
@manusa hey i would like to work on this issue ,

[2022-10-06 09:00] manusa commented on #1784
Fixed in #1787

[2022-10-06 09:09] #1786 closed

[2022-10-06 09:14] manusa commented on #1782
Hi @ishu-thakur
You've already contributed to the project, issues labeled with `first-timers-only` are limited to first time contributors to the project (and at most one).
The whole point of these very simple issues is for people to get acquainted with the project, with the Eclipse Foundation processes, and in general with free open source software. Consider that it takes longer for me to create t

[2022-10-06 09:28] DevPJ9 commented on #1783
Hello @manusa I would like to work on this one please assign this to me.

[2022-10-06 10:02] Gairick52 commented on #1783
Hello @manusa i would love to work on this one please assign this to me

[2022-10-06 10:09] manusa commented on #1783
Hi @Gairick52
This one is already taken, but you can find similar issues labeled with [hacktoberfest](https://github.com/eclipse/jkube/labels/Hacktoberfest) still available.

[2022-10-06 10:43] manusa opened #1797 "[Hacktoberfest] ConfigMap fields may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/c15c4bb8b7cc4ea7502f8314b1e067b27f9a1dda/jkube-kit/config/resource/src/main/java/org/eclipse/jkube/kit/config/resource/ConfigMap.java#L22

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/contributing) f

[2022-10-06 10:43] DevPJ9 commented on #1783
Hey, @manusa I have raised a PR. Can you please review it?

[2022-10-06 10:45] kaustav202 commented on #1797
let me fix this @manusa

[2022-10-06 10:45] manusa opened #1798 "[Hacktoberfest] CredentialHelperClient fields may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/e5f1554e4a63b7aeda50f9ad1a8d5c13a72733f3/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/auth/CredentialHelperClient.java#L110

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.ecli

[2022-10-06 10:46] kaustav202 commented on #1798
can I work on this @manusa

[2022-10-06 10:52] manusa opened #1799 "[Hacktoberfest] DefaultLogCallback fields may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/c15c4bb8b7cc4ea7502f8314b1e067b27f9a1dda/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/access/log/DefaultLogCallback.java#L32

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.ecl

[2022-10-06 12:19] jivjen commented on #1799
@manusa
Can I take this up?

[2022-10-07 02:26] ankitjc commented on #1781
I can take this up.

[2022-10-07 07:11] #1799 closed

[2022-10-07 09:01] anurag-rajawat commented on #1564
@manusa please assign this to me.

[2022-10-07 16:57] manish-singh-bisht commented on #1782
Hey @manusa can I do this.

[2022-10-07 18:58] Gairick52 commented on #732
@manusa hey i am beginner in open source can you suggest me some beginner friendly issues to contribute to

[2022-10-07 21:47] Wall90s commented on #1779
Hi @manusa
Could you assign me to this issue please?

[2022-10-08 16:46] ShubhraSuman commented on #1797
can u assign it to me.

[2022-10-09 14:17] Mohd-Farhan commented on #1797
Can you assign this to me

[2022-10-09 16:32] roulpriya commented on #1798
Looks like this issue is still open, can I work on this?

[2022-10-10 06:46] manusa commented on #1798
@kaustav202  are you still working on this?

[2022-10-10 06:49] manusa opened #1806 "[Hacktoberfest] Dependency fields may be 'final'"
### Description
The following statements are reported as a code style issue:

https://github.com/eclipse/jkube/blob/bc2a7c809087451bb49b1a62299c0bdedacbea8b/jkube-kit/enricher/api/src/main/java/org/eclipse/jkube/kit/enricher/api/model/Dependency.java#L24-L33

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/contribu

[2022-10-10 06:53] sanmay321 commented on #1806
@manusa i would like to do this , assign me plaese

[2022-10-10 06:57] manusa opened #1807 "[Hacktoberfest] DockerFileBuilder fields may be 'final'"
### Description
The following statements are reported as a code style issue:

https://github.com/eclipse/jkube/blob/85008d4274a9aa6f0d0a047370d8dcb8c696d7ac/jkube-kit/config/image/src/main/java/org/eclipse/jkube/kit/config/image/build/DockerFileBuilder.java#L72-L87

- [ ] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/c

[2022-10-10 06:59] manusa opened #1808 "[Hacktoberfest] DockerFileOption fields may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/c15c4bb8b7cc4ea7502f8314b1e067b27f9a1dda/jkube-kit/config/image/src/main/java/org/eclipse/jkube/kit/config/image/build/DockerFileOption.java#L26

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/contribu

[2022-10-10 07:01] manusa opened #1809 "[Hacktoberfest] GroupArtifactVersion fields may be 'final'"
### Description
The following statements are reported as a code style issue:

https://github.com/eclipse/jkube/blob/c15c4bb8b7cc4ea7502f8314b1e067b27f9a1dda/jkube-kit/config/resource/src/main/java/org/eclipse/jkube/kit/config/resource/GroupArtifactVersion.java#L20-L22

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkub

[2022-10-10 07:06] manusa opened #1811 "[Hacktoberfest] HealthCheckChecker fields may be 'final'"
### Description
The following statements are reported as a code style issue:

https://github.com/eclipse/jkube/blob/c15c4bb8b7cc4ea7502f8314b1e067b27f9a1dda/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/wait/HealthCheckChecker.java#L29-L31

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.ecl

[2022-10-10 07:10] manusa opened #1812 "[Hacktoberfest] HttpPingChecker fields may be 'final'"
### Description
The following statements are reported as a code style issue:

https://github.com/eclipse/jkube/blob/053e63e095222c26994984f73a4a4603f5489ef7/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/wait/HttpPingChecker.java#L42-L45

- [ ] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclips

[2022-10-10 07:11] Simba-97 commented on #1807
@manusa can I make changes for this?

[2022-10-10 07:13] manusa opened #1813 "[Hacktoberfest] ImageChangeTriggerEnricher fields may be 'final'"
### Description
The following statements are reported as a code style issue:

https://github.com/eclipse/jkube/blob/e8267c91af152e99fd26c610efd407ba984c87cd/jkube-kit/enricher/generic/src/main/java/org/eclipse/jkube/enricher/generic/openshift/ImageChangeTriggerEnricher.java#L39-L41

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.ec

[2022-10-10 07:15] manusa commented on #1807
Hi @Simba-97
You've already contributed to the project, issues labeled with `first-timers-only` are limited to first time contributors to the project (and at most one).
The whole point of these very simple issues is for people to get acquainted with the project, with the Eclipse Foundation processes, and in general with free open source software. Consider that it takes longer for me to create the

[2022-10-10 07:16] Simba-97 commented on #1807
@manusa cool. no worries

[2022-10-10 07:16] kaustav202 commented on #1798
@manusa you can assign it to someone else

[2022-10-10 07:30] manusa opened #1814 "[Hacktoberfest] ImagePullCache fields may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/c15c4bb8b7cc4ea7502f8314b1e067b27f9a1dda/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/ImagePullCache.java#L27

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/

[2022-10-10 07:32] manusa opened #1815 "[Hacktoberfest] IoUtil fields may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/f7521fe52e886fa3a4abaee28b66809c828dc22d/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/util/IoUtil.java#L135

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/contributing) first. Pay speci

[2022-10-10 07:34] manusa opened #1816 "[Hacktoberfest] JKubeBuildTarArchiver fields may be 'final'"
### Description
The following statements are reported as a code style issue:

https://github.com/eclipse/jkube/blob/2dcaf6dd695ad18c767f8e8132c5e0f30cbccb44/jkube-kit/build/api/src/main/java/org/eclipse/jkube/kit/build/api/assembly/JKubeBuildTarArchiver.java#L31-L33

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/

[2022-10-10 08:10] PriyanshuAhlawat commented on #1808
I will like to work on it, pls assign

[2022-10-10 08:13] Mohd-Farhan commented on #1816
Can I do this. This will my second issue if i u assign me.

[2022-10-10 08:14] sanmay321 commented on #1806
@manusa please check my PR #1810

[2022-10-10 10:16] jhonDoe15 commented on #1815
Hi! can you assign me to this issue?

[2022-10-10 10:17] jhonDoe15 commented on #1814
Hi can you assign me to this issue too? 😅

[2022-10-10 10:58] #1806 closed

[2022-10-10 11:01] manusa commented on #1814
Just one first-timer issue per new contributor ;)

[2022-10-10 11:01] #1798 closed

[2022-10-10 13:29] #1559 closed

[2022-10-10 13:29] #1554 closed

[2022-10-10 15:18] kavyabhat02 commented on #1812
Hi @manusa , can I take up this issue?

[2022-10-10 16:50] PriyanshuAhlawat commented on #1808
@manusa I was cloning repo but there seems to be an issue, pls help
![Screenshot (157)](https://user-images.githubusercontent.com/84102724/194916035-3d8da579-874c-4461-91e4-771f778744e7.png)

[2022-10-10 16:53] rohanKanojia commented on #1808
It seems like a windows specific issue for  not allowing too long file name. @baruKreddy  Have you faced this issue on Windows?

[2022-10-10 18:00] karengineering commented on #1811
Can I be assigned this?

[2022-10-10 18:46] vinayakj02 commented on #1809
Hi @manusa , can you assign this issue to me, I will try to contribute to this ?

[2022-10-10 18:46] ChinmayaSharma-hue commented on #1814
Hi @manusa, can you assign this issue to me?

[2022-10-10 18:51] manusa commented on #1808
You need to modify some settings in your git config to allow long filenames. I'll check tomorrow the exact setting.

[2022-10-11 04:57] #1809 closed

[2022-10-11 05:01] baruKreddy commented on #1808
@rohanKanojia I did face this issue, you should be able to proceed with git config --system core.longpaths true

[2022-10-11 05:03] baruKreddy commented on #1808
<img width="532" alt="image" src="https://user-images.githubusercontent.com/96629790/195001259-c9236e02-bd78-4774-8b86-3f74da5c71a9.png">
Try to follow this otherwise

[2022-10-11 05:11] GriffinAnnshual commented on #1816
Hey can you assign it to me ?

[2022-10-11 05:26] Mohd-Farhan commented on #1816
@rohanKanojia why you didn't assign this to me?

[2022-10-11 05:31] rohanKanojia commented on #1816
@Mohd-Farhan : because this issue is tagged with `first-timers-only`. It's only targeted towards new contributors. If you want to contribute you can work on some other issue.

[2022-10-11 05:32] Mohd-Farhan commented on #1816
Ok

[2022-10-11 06:02] anurag-rajawat commented on #1582
@rohanKanojia please assign this to me.

[2022-10-11 07:12] pmbsa commented on #1543
Yes, absolutly, please close it
On 27 Jun 2022, 11:21 +0200, "Sun S. D. Tan" ***@***.***>, wrote:

[2022-10-11 07:14] #1543 closed

[2022-10-11 09:13] manusa commented on #1768
`Building image (locally|in cluster) using (xxx) build strategy`

[2022-10-11 09:25] pmbsa commented on #777
Good news! That sounds hopeful at least!
On 24 Jun 2022, 20:32 +0200, Rohan Kumar ***@***.***>, wrote:

[2022-10-11 11:32] GriffinAnnshual commented on #1816
@rohanKanojia I have compeled the task. Kindly check my PR.

[2022-10-11 12:00] rohanKanojia commented on #1816
@GriffinAnnshual : Could you please link this issue in your PR description?

[2022-10-11 12:31] #1813 closed

[2022-10-11 12:40] GriffinAnnshual commented on #1816
Done

[2022-10-11 12:49] #1816 closed

[2022-10-11 12:50] PriyanshuAhlawat commented on #1808
@baruKreddy thanks for the help, issue solved🙂

[2022-10-11 17:05] #1782 closed

[2022-10-11 17:08] #1808 closed

[2022-10-11 17:16] manusa commented on #1815
We use the code-style and minor smells to create this kind of issues for the community to solve and get acquainted with the project.

However, there are other more Sonar reported critical issues that can be tackled: https://sonarcloud.io/summary/overall?id=jkubeio_jkube

Also, adding valuable test coverage ---> behavioral tests, for the untested areas of the code-base is something that can be done

[2022-10-11 18:18] rohanKanojia commented on #1807
@singloon : I've assigned you this issue. You can link issue by adding `Fixes #1807` in PR description (I edited your PR description).

[2022-10-11 18:57] ayushdubey755 commented on #1797
hi @manusa is this issue still open

[2022-10-12 01:58] #1797 closed

[2022-10-12 10:19] jfbourner opened #1829 "YAML Multiline block indicator issue"
### Describe the bug

When adding ISTIO configuration, via the annotations config, it is setting a [Block Chomping Indicator](https://yaml.org/spec/1.2.2/#8112-block-chomping-indicator) to clip the new line, where it needs to retain the new line.
[Yaml Multiline](https://yaml-multiline.info/)
[ISTIO Config](https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/)

POM Plugin config
[cod

[2022-10-13 02:13] karengineering commented on #1811
@manusa I am having trouble signing the Eclipse agreement. It keeps saying "Sorry ___ is not recognized as a user name or an email address."

[2022-10-13 04:48] karengineering commented on #1811
@manusa https://github.com/eclipse/jkube/pull/1828

[2022-10-13 04:59] rohanKanojia commented on #1811
@karengineering : Please link issue number in PR description

[2022-10-13 05:21] karengineering commented on #1811
@rohanKanojia linked

[2022-10-13 06:44] #1811 closed

[2022-10-13 06:56] manusa opened #1830 "[Hacktoberfest] LogDriver fields may be 'final'"
### Description
The following statements are reported as a code style issue:

https://github.com/eclipse/jkube/blob/053e63e095222c26994984f73a4a4603f5489ef7/jkube-kit/config/image/src/main/java/org/eclipse/jkube/kit/config/image/LogConfiguration.java#L80-L82

- [ ] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/contribu

[2022-10-13 06:58] manusa opened #1831 "[Hacktoberfest] LogDispatcher fields may be 'final'"
### Description
The following statements are reported as a code style issue:

https://github.com/eclipse/jkube/blob/27e6bafa660691586818ac561d450b70bd9007ad/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/access/log/LogDispatcher.java#L27-L29

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.ec

[2022-10-13 06:59] manusa opened #1832 "[Hacktoberfest] LogMatchCallback fields may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/c15c4bb8b7cc4ea7502f8314b1e067b27f9a1dda/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/wait/LogMatchCallback.java#L27

- [ ] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org

[2022-10-13 07:00] manusa opened #1833 "[Hacktoberfest] LogOutputSpecFactory fields may be 'final'"
### Description
The following statements are reported as a code style issue:

https://github.com/eclipse/jkube/blob/053e63e095222c26994984f73a4a4603f5489ef7/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/access/log/LogOutputSpecFactory.java#L31-L33

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https:/

[2022-10-13 07:02] manusa opened #1834 "[Hacktoberfest] LogRequestor fields may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/8c37b697b2406fef17cc19bec4b405ed1cb07177/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/access/log/LogRequestor.java#L50

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.o

[2022-10-13 07:03] manusa opened #1835 "[Hacktoberfest] MigrateService fields may be 'final'"
### Description
The following statements are reported as a code style issue:

https://github.com/eclipse/jkube/blob/fe0a1d88ce6ac5f5e8f64d470c8a134f66b9bc60/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/service/MigrateService.java#L50-L51

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/contributing)

[2022-10-13 07:05] anurag-rajawat commented on #1581
@rohanKanojia please assign this to me.

[2022-10-13 07:05] manusa opened #1836 "[Hacktoberfest] PatchService fields may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/6ae88fbe60bc88ffa39f1bd87ee12d5bda6cfa07/jkube-kit/config/service/src/main/java/org/eclipse/jkube/kit/config/service/PatchService.java#L50

- [ ] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/contributing)

[2022-10-13 07:07] manusa opened #1837 "[Hacktoberfest] PlatformMode fields may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/c15c4bb8b7cc4ea7502f8314b1e067b27f9a1dda/jkube-kit/config/resource/src/main/java/org/eclipse/jkube/kit/config/resource/PlatformMode.java#L35

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/contributing

[2022-10-13 07:08] manusa opened #1838 "[Hacktoberfest] ProjectClassLoaders fields may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/ef880c603ea7d15c92664e9a559d36b2fe1c3916/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/util/ProjectClassLoaders.java#L20

- [ ] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/contributing) firs

[2022-10-13 07:09] manusa opened #1839 "[Hacktoberfest] QueryService fields may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/c15c4bb8b7cc4ea7502f8314b1e067b27f9a1dda/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/QueryService.java#L32

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/co

[2022-10-13 07:20] Sayan2908 commented on #1839
@manusa can I get this?

[2022-10-13 07:31] codingmickey commented on #1838
is this the only change required? I would like to work on this

[2022-10-13 07:52] codingmickey commented on #1838
hey @manusa can you help me with this? I have signed off with the mail registered on the eclipse site then too why is it showing error in validation?

[2022-10-13 07:58] manusa commented on #1838
There have been some issues today with the ECA validator. Also your commit seems to be authored by an anonymous user, this might be causing some trouble too.

[2022-10-13 08:00] #1781 closed

[2022-10-13 08:09] codingmickey commented on #1838
![image](https://user-images.githubusercontent.com/42518907/195539547-1a781551-0070-4898-98ee-fc554d34b2c2.png)

[2022-10-13 08:21] manusa commented on #1838
Yes, I know, but the commit author is anonymous:

![image](https://user-images.githubusercontent.com/488391/195542512-deda88df-636d-4334-9a60-a2865a58338c.png)

This wasn't a problem anymore, but as I said, for some reason the ECA process might be flaky today.

I'll try to force revalidation later and see if it passes.

[2022-10-13 09:10] codingmickey commented on #1838
Yea it worked now!

[2022-10-13 10:43] dipesh-rawat commented on #1837
@manusa I could like to work on this. Could you please assign this to me.

[2022-10-13 13:31] aukokyong commented on #1836
Hi @manusa, I like to take up this issue.

[2022-10-13 15:13] #1837 closed

[2022-10-13 15:20] #1836 closed

[2022-10-13 15:43] #1807 closed

[2022-10-13 17:32] vandana121 commented on #1835
Hi, I am interested in working in this issue. Can you assign me this one?

[2022-10-14 13:55] adriannowak commented on #1470
@manusa I've checked it with 1.9.1 - it works

`[INFO] k8s: [helloworld-java:1.9.1] "hello-world": Built image sha256:1d260
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  18.357 s
[INFO] Finished at: 2022-10-14T15:54:26+02:00
[INFO] -------------

[2022-10-14 17:59] dishantzaveri commented on #1834
Hi, I would like to work on this.

[2022-10-14 18:47] dishantzaveri commented on #1832
Hi , I am working on this issue

[2022-10-14 19:17] MihirShinde-29 commented on #1831
I would like to work on this issue

[2022-10-14 20:53] dishantzaveri commented on #1831
Hi , I am working on this issue

[2022-10-14 20:54] dishantzaveri commented on #1830
Hi , I am working on this issue , please assign it to me

[2022-10-15 04:01] MihirShinde-29 commented on #1831
You are not assigned though @dishantzaveri and it's first come first served. Can I be assigned to this issue @manusa

[2022-10-15 04:35] manusa commented on #1830
Hi @dishantzaveri
You've already contributed to the project, issues labeled with first-timers-only are limited to first time contributors to the project (and at most one).
The whole point of these very simple issues is for people to get acquainted with the project, with the Eclipse Foundation processes, and in general with free open source software. Consider that it takes longer for me to create t

[2022-10-15 04:37] manusa commented on #1831
Hi @dishantzaveri
You've already contributed to the project, issues labeled with first-timers-only are limited to first time contributors to the project (and at most one).
The whole point of these very simple issues is for people to get acquainted with the project, with the Eclipse Foundation processes, and in general with free open source software. Consider that it takes longer for me to create t

[2022-10-15 04:38] manusa commented on #1832
Hi @dishantzaveri
You've already contributed to the project, issues labeled with first-timers-only are limited to first time contributors to the project (and at most one).
The whole point of these very simple issues is for people to get acquainted with the project, with the Eclipse Foundation processes, and in general with free open source software. Consider that it takes longer for me to create t

[2022-10-15 16:22] prasantmahato commented on #1830
Hi @manusa , Can I contribute to this?

[2022-10-16 19:13] Virendra115 commented on #1832
Can I work on this? @manusa

[2022-10-17 07:19] #1835 closed

[2022-10-17 07:27] manusa commented on #1470
Awesome, thx!

[2022-10-18 03:49] #1831 closed

[2022-10-18 04:16] #1815 closed

[2022-10-18 05:51] anurag-rajawat commented on #1839
@Sayan2908 why did you open a new PR for the same issue?

[2022-10-18 10:39] manusa opened #1857 "OpenShift Maven|Gradle Plugin should use Deployments by default"
## Description

We should switch OpenShift Maven|Gradle plugins to create Deployments instead of `DeploymentConfigs` (DC) by default.
The application should behave as if the `jkube.build.switchToDeployment` was defaulted to `true`. Users should be able to still use DCs by setting that property to false or by setting any of the other related properties/configurations that set the kind of controller

[2022-10-18 11:55] kuhhpid opened #1858 "Maven properties in image name not replaced (Zero-Config mode)"
### Describe the bug

In a Zero-Config mode it is currently not possible to use ${git.commit.id.abbrev} in the `jkube.generator.name` property or other properties defined by the git-commit-id-plugin. @rohanKanojia made the assumption that https://github.com/eclipse/jkube/blob/master/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/helper/ImageNameFormatter.ja

[2022-10-18 12:04] Sayan2908 commented on #1839
@anurag-rajawat I am sorry I did it by mistake actually I am new to open source

[2022-10-18 12:17] kuhhpid commented on #1858
I tried to reproduce the fact that `${project.property}` is correctly replaced in [org.eclipse.jkube.kit.build.service.docker.helperImageNameFormatterTest ](https://github.com/eclipse/jkube/blob/master/jkube-kit/build/service/docker/src/test/java/org/eclipse/jkube/kit/build/service/docker/helper/ImageNameFormatterTest.java) and enhanced the tag test, but it fails:

`assertThat(formatter.format("%g

[2022-10-19 06:52] #1779 closed

[2022-10-19 06:55] #1839 closed

[2022-10-19 14:35] manusa opened #1863 "[Hacktoberfest] RegistryAuth fields may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/d1754fe940228139ebc42100cb54a7390ac57762/jkube-kit/build/api/src/main/java/org/eclipse/jkube/kit/build/api/auth/RegistryAuth.java#L48

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/contributing) first

[2022-10-19 14:36] manusa opened #1864 "[Hacktoberfest] RegistryAuthConfig fields may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/6f3697a9e68e89082ab1a3c193114957eeb93f08/jkube-kit/build/api/src/main/java/org/eclipse/jkube/kit/build/api/auth/RegistryAuthConfig.java#L38

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/contributing)

[2022-10-19 14:37] manusa opened #1865 "[Hacktoberfest] ResourceFileType fields may be 'final'"
### Description
The following statement is reported as a code style issue:

https://github.com/eclipse/jkube/blob/ec6e446c24e1da97dbde1d0f21f720f6b98bd53d/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/ResourceFileType.java#L47

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/contributing) first. Pay s

[2022-10-19 14:37] PrathIam commented on #1864
Hi @manusa , I am new here looking for my first contribution. Can I look into this?

[2022-10-19 14:38] PrathIam commented on #1863
Hi @manusa , I am new here looking for my first contribution. Can I look into this?

[2022-10-19 14:43] manusa opened #1866 "[Hacktoberfest] ResourceValidator fields may be 'final'"
### Description
The following statements are reported as a code style issue:

https://github.com/eclipse/jkube/blob/e4782b525d314ecb03d5d24932b60c3140e40aab/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/util/validator/ResourceValidator.java#L56-L58

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkube/cont

[2022-10-19 14:47] manusa commented on #1864
Hi, I just assigned you 1863, you may only work on a single first-timers-only issue

[2022-10-19 14:54] PrathIam commented on #1864
@manusa Sure, Thanks!

[2022-10-19 15:18] manusa opened #1867 "[Hacktoberfest] RunService fields may be 'final'"
### Description
The following statements are reported as a code style issue:

https://github.com/eclipse/jkube/blob/880d1b3b3de91a0684dbb1d7dd1ebcd3b57af1fb/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/RunService.java#L70-L78

- [x] should be changed to:
[code]

### Before you start

Make sure you read the [contributing guide](https://www.eclipse.org/jkub

[2022-10-19 18:07] javamultiplex commented on #1867
@manusa - I would like to work on this. Can you please assign this to me?

[2022-10-19 18:12] javamultiplex commented on #1866
@manusa  - I would like to work on this. Can you please assign this to me?

[2022-10-19 18:12] javamultiplex commented on #1865
@manusa  - I would like to work on this. Can you please assign this to me?

[2022-10-20 04:23] manusa commented on #1866
Hi @javamultiplex
You already got 1865 assugbed, you may only work on a single first-timers-only issue

[2022-10-20 04:23] manusa commented on #1867
Hi @javamultiplex
You already got 1865 assugbed, you may only work on a single first-timers-only issue

[2022-10-20 05:19] javamultiplex commented on #1867
Sure thanks @manusa

[2022-10-20 15:19] NehaDadhich commented on #1866
Hi @javamultiplex
can I please work on this?

[2022-10-20 15:28] sunix opened #1870 "JKube should not pick the Dockerfile where the podman daemon is executed"
### Describe the bug

In Dockerfile mode with podman, if podman daemon is executed in a directory that is not the project folder and that contains a Dockerfile, the build task/goal is picking the Dockerfile in the podman daemon directory and not the project one.

### Eclipse JKube version

SNAPSHOT

### Component

JKube Kit

### Apache Maven version

3.6.3

### Gradle version

_No response_

### S

[2022-10-20 15:54] pwnb0y commented on #1864
Hey, @manusa this is my first-time code contribution can I go through it?

[2022-10-20 18:02] rohanKanojia commented on #1668
Currently, resource fragments are based on this pattern of having `<resourceName>-<kind>.<extension>`
https://github.com/eclipse/jkube/blob/de05bef3d207460965cfd0d895ea4d04d7223114/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/util/KubernetesHelper.java#L94

We set default name if `<resourceName>` is not provided in fragment file name:
https://github.com/eclipse/jkube/blob/de05bef3d2

[2022-10-20 20:49] bhanutejabt commented on #1867
Hi @manusa  ,
I can fix this issue. Can u pls assign this to me?

[2022-10-21 05:04] anurag-rajawat commented on #1583
@rohanKanojia please assign this to me.

[2022-10-21 07:57] anurag-rajawat opened #1873 "Remove JUnit4 dependencies"
### Component

JKube Kit

### Task description

### Description
Once https://github.com/eclipse/jkube/issues/1546 gets merged into the master we should remove JUnit4 dependencies from the project.

### Expected Behavior

### Acceptance Criteria
- [ ] Dependency should be removed from [JKube kit](https://github.com/eclipse/jkube/blob/master/jkube-kit/parent/pom.xml)

[2022-10-21 10:38] herzogf commented on #865
Is there any update / planning on this? Ideally I'd like to use JKube just to package and upload my existing helm chart sources to JFrog Artifactory.
If this is not planned for JKube, does anyone a) know a workaround to force JKube to use my existing helm chart directory or b) is there any other maven plugin to just package and push helm charts?

Thanks!

[2022-10-21 12:55] neilstevenson opened #1876 "Support for <buildx>"
### Component

Kubernetes Maven Plugin

### Is your enhancement related to a problem? Please describe

When building on a non-"x86" machine (eg. a Mac with an M1 chip), I cannot see how to build images for "x86".

### Describe the solution you'd like

Fabric8 supports `<buildx>` though it's not mentioned in the Fabric8 documentation for 0.40.2.

You can have this:
[code]

### Describe alternatives

[2022-10-21 12:58] rohanKanojia commented on #1876
@neilstevenson : Are you docker user or Kubernetes user?

[2022-10-21 13:08] neilstevenson commented on #1876
Docker, just building Docker images.

[2022-10-21 14:07] rohanKanojia commented on #1876
What is your goal behind migrating to jkube? JKube offers functionality related  to Kubernetes. It does involve Docker Maven Plugin's `build` goal, but rest of the goals are specific to Kubernetes.

[2022-10-21 14:25] neilstevenson commented on #1876
Fabric8 is deprecated and advises migrating to JKube, see https://maven.fabric8.io/

[2022-10-22 04:02] #1834 closed

[2022-10-22 04:04] #1867 closed

[2022-10-22 05:24] #1864 closed

[2022-10-22 06:00] bhanutejabt commented on #1731
Hi @manusa ,is this issue to be be resolved or not a priority?

If need to I can work on this if you assign.

BuildManager you meant by this file https://github.com/eclipse/jkube/blob/master/jkube-kit/config/service/src/main/java/org/eclipse/jkube/kit/config/service/BuildServiceManager.java.

[2022-10-22 10:08] coding-cosmos opened #1879 "katacoda course link in getting started section of README not working"
when we click on link of katacoda course in getting started here https://github.com/eclipse/jkube#getting-started  we see something like this:
![katacoda](https://user-images.githubusercontent.com/115341188/197333451-05021353-7d41-4fcd-8d4d-158ee1de62ad.png)

[2022-10-22 20:03] NehaDadhich commented on #1866
Hi @rohanKanojia I created a fork of this repository and made the changes but I am unable to push to my fork. Do I need any permissions?

[2022-10-24 08:16] manusa commented on #1866
No you don't need special permissions to push to your fork. Make sure you're git setup is OK and contains the valid SSH keys or access token.

[2022-10-24 08:43] bhanutejabt commented on #1731
Yeah sure,Thanks for the confirmation.

[2022-10-24 09:13] neilstevenson commented on #1876
Hi, just to clarify, `fabric8-maven-plugin` allows `buildx` and recommends migrating to `kubernetes-maven-plugin` which doesn't allow `buildx`.
If `kubernetes-maven-plugin` had this feature it'd make the recommended migration possible for poms that use `buildx`. I tagged this as an enhancement.

[2022-10-24 09:54] neilstevenson commented on #1876
Above is wrong... you're right about confusion. So try again..

Fabric8's `docker-maven-plugin` allows `buildx` . It's `fabric8-maven-plugin` which is deprecated.

But if `kubernetes-maven-plugin` can build Docker images, it would be a useful enhancement if `buildx` was supported.

[2022-10-25 16:52] sunix commented on #1870
probably related to https://github.com/containers/podman/issues/13293#issuecomment-1066319581

[2022-10-26 08:03] sam2611 commented on #1866
Hi @javamultiplex
May I please work on this?

[2022-10-26 10:47] manusa commented on #1870
Yes, from your description and internal discussion, this seems more like a Podman related issue. Since we're sending the container build configuration and files through the Docker-compatible REST API.

[2022-10-26 13:22] sam2611 commented on #1833
Hi, Plz assign this issue to me.

[2022-10-27 10:36] #1477 closed

[2022-10-31 10:30] anurag-rajawat commented on #1580
@manusa these are integration tests, not unit tests so we can close this issue.

[2022-10-31 10:43] #1572 closed

[2022-10-31 13:29] #1591 closed

[2022-10-31 13:29] #1604 closed

[2022-11-02 07:41] #1583 closed

[2022-11-02 09:59] manusa opened #1883 "Release Eclipse JKube v1.10.0"
- [x] PR with release version commits
  https://github.com/eclipse/jkube/pull/1902
- [x] CI release pipelines
  https://ci.eclipse.org/jkube
- [x] GitHub release: https://github.com/eclipse/jkube/releases/tag/v1.10.0
- [x] Mailing list notification:
  https://www.eclipse.org/lists/jkube-dev/msg00033.html
- [x] Website redeployment:
  https://github.com/jkubeio/jkube-website/releases/tag/v0.0.43
-

[2022-11-03 04:40] manusa commented on #508
Seems like others are catching up too: https://github.com/we-dcode/kubetunnel

[2022-11-03 09:41] rohanKanojia commented on #1758
I've observed ServiceAccountEnricher seems to only consider `<resources>` > `<serviceAccounts>` option not `<serviceAccount>` . `<serviceAccount>` only seems to be consumed while generating opinionated Deployments. This configuration seems to be working when using a deployment fragment:

[code]

We need to make changes to ServiceAccountEnricher to consider `<serviceAccount>` option as well.

[2022-11-03 11:40] #1581 closed

[2022-11-03 13:45] manusa commented on #1758
We might want to deal with the ResourceConfig pojo and maybe remove the getServiceAccount getter, or evaluate how both configurations should be merged.

[2022-11-04 10:19] #1582 closed

[2022-11-04 11:22] #1684 closed

[2022-11-04 14:55] rohanKanojia opened #1890 "Enforce ordering/priority in AbstractHealthCheckEnricher implementations"
### Component

JKube Kit

### Task description

### Description

Related to https://github.com/eclipse/jkube/pull/1709 #443

At the moment we have these enrichers that implement [AbstractHealthCheckEnricher](https://github.com/eclipse/jkube/blob/master/jkube-kit/enricher/specific/src/main/java/org/eclipse/jkube/kit/enricher/specific/AbstractHealthCheckEnricher.java) and are responsible for adding

[2022-11-04 15:15] #1638 closed

[2022-11-05 16:20] Mohd-Farhan commented on #1890
May i try this?

[2022-11-05 16:55] rohanKanojia commented on #1890
@Mohd-Farhan : Sorry but I created this issue as a reminder to refactor in future. We still need to discuss on how to solve this. I'd advise you to leave this and pick some other good first issue.

[2022-11-06 05:31] Mohd-Farhan commented on #1890
Ok

[2022-11-07 08:42] #1584 closed

[2022-11-07 08:44] manusa commented on #1890
Enrichers that might share applicability to different frameworks/libraries should account for each other regardless of configuration or profiles. We should tackle this just like we do for WebApp and WildFly.

[2022-11-07 10:25] #1576 closed

[2022-11-07 11:18] #1704 closed

[2022-11-07 11:18] #1606 closed

[2022-11-08 10:48] #1668 closed

[2022-11-09 16:41] rohanKanojia commented on #1829
@jfbourner : Thanks for reporting, I can reproduce the issue. I think this behavior is coming from our Jackson ObjectMapper  in [ResourceUtil](https://github.com/eclipse/jkube/blob/63ab8d3a3239f20da0f1ccc747ad219153d7af32/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/util/ResourceUtil.java#L120) which is not doing serialization as expected.

https://github.com/eclipse/jkube/blob/63ab

[2022-11-10 05:46] #1865 closed

[2022-11-10 11:06] haseeb-xd commented on #1833
Kindly, Review the PR

[2022-11-10 11:09] manusa commented on #1833
Your PR is not passing the **ECA** checks, please see the issue description especially the following point:

[2022-11-10 11:17] manusa commented on #508
Initial preview feature is complete.
New issues to be opened with the incremental improvements and enhancements to add on top.

[2022-11-10 11:17] #508 closed

[2022-11-10 11:21] #1883 closed

[2022-11-11 15:40] friedeas commented on #1674
@manusa is there any chance that the Spring Boot generator will be refactored in the near future to address this issue?

[2022-11-14 08:50] #1597 closed

[2022-11-14 11:37] #1607 closed

[2022-11-14 13:06] #1599 closed

[2022-11-14 18:49] rohanKanojia commented on #1829
Nope, my previous assumption was wrong.

Jackson ObjectMapper is doing what it is supposed to do. Somehow trailing newline doesn't seem to be added to annotation value via this config:
[code]
this generates annotation with value: `proxyMetadata:\n    ISTIO_META_DNS_CAPTURE: "false"\nholdApplicationUntilProxyStarts: true` (notice there is no newline at the end) . This results in Jackson adding `|-`

[2022-11-16 11:51] weihubeats opened #1915 "boolean org.fusesource.jansi.AnsiConsole.isInstalled()"
### Describe the bug

Execute the command mvn clean k8s:resource and get an error:
[code]

### Eclipse JKube version

1.10.0

### Component

Kubernetes Maven Plugin

### Apache Maven version

3.6.1

### Gradle version

_No response_

### Steps to reproduce

mvn clean k8s:resource

### Expected behavior

Run correctly

### Runtime

minikube

### Kubernetes API Server version

1.22.15

### Environme

[2022-11-16 12:11] manusa commented on #1915
Could you please provide the complete stacktrace for the error? (append -X to the mvn command)

[2022-11-16 12:12] manusa commented on #1915
Also, moving to a newer maven version (if possible) would help

[2022-11-16 12:19] weihubeats commented on #1915
<img width="1416" alt="image" src="https://user-images.githubusercontent.com/42484192/202178976-8400bf01-ffef-4e5b-9cbb-72c63b24d591.png">

[2022-11-16 12:41] manusa commented on #1915
[Maven 3.6.3](https://github.com/apache/maven/blob/cecedd343002696d0abb50b32b541b8a6ba2883f/pom.xml#L294) uses org.fusesource.jansi:jansi:1.17.1

[Maven >=3.8.2](https://github.com/apache/maven/blob/ea98e05a04480131370aa0c110b8c54cf726c06f/pom.xml#L294) has bumped to uses org.fusesource.jansi:jansi:2.x

[AnsiConsole 1.17](https://github.com/fusesource/jansi/blob/jansi-project-1.17/jansi/src/main/j

[2022-11-16 13:47] #1915 closed

[2022-11-16 14:49] manusa commented on #1915
v1.10.1 with the fix was just released, could you please confirm that the latest 1.10.1 works OK?

- https://github.com/eclipse/jkube/releases/tag/v1.10.1
- https://repo1.maven.org/maven2/org/eclipse/jkube/kubernetes-maven-plugin/1.10.1/

[2022-11-16 15:07] sunix opened #1919 "Change JKube Github project description"
### Component

_No response_

### Task description

### Description
at the moment, the Github project description is

We should have a description describing what JKube is and does rather than refering to the FMP that people may not know.

[2022-11-17 10:55] rohanKanojia commented on #1915
@weihubeats : Could you please provide some feedback about the project?

[2022-11-17 10:55] #1570 closed

[2022-11-17 14:47] rohanKanojia commented on #1669
Sorry but I'm not able to reproduce this issue. I tried with a unit test with a service resource having `app` label already set but it's passing for me.
[code]

I also tried placing a service fragment in a test project with custom `app` label but it doesn't seem to get overridden. What could I be missing? Do you have your project where you were facing this issue?

Looking at the code, our current

[2022-11-17 15:36] rohanKanojia commented on #1919
Maybe it should be similar to what https://github.com/ko-build/ko has:

[2022-11-17 16:02] #1588 closed, assigned to baruKreddy

[2022-11-18 06:14] rohanKanojia commented on #1669
I just tried with v1.11-SNAPSHOT, v1.10.1, v1.9.1, v1.8.0, v1.7.0 but seeing same behavior.

[2022-11-18 09:16] manusa commented on #1669
We need to create an integration test that includes multiple services (not sure if we did that in scope of #1668) with different _project_ labels. At least one of them should include values read from properties (pom.xml)

[2022-11-18 10:44] #1564 closed

[2022-11-18 11:01] manusa commented on #1578
These tests are executed through the maven-invoker-plugin not JUnit.

[2022-11-18 11:03] manusa commented on #1580
These tests are executed through the maven-invoker-plugin not JUnit.

[2022-11-18 11:03] #1580 closed

[2022-11-18 11:03] #1578 closed

[2022-11-19 01:52] weihubeats commented on #1915
I can use the old version to package the image and upload minikube successfully, but the pod status is not running, and the package docker image does not start properly, I don't know what the problem is, so I'm going to package the image manually

[2022-11-19 13:16] MukulKolpe commented on #1863
Hey @manusa, can I work on this issue?

[2022-11-19 17:16] rohanKanojia commented on #1915
@weihubeats : Is this the project you're working on https://github.com/weihubeats/weihubeats_demos ?

Shall I try to clone it and test it on my minikube instance? Maybe it could be due to health checks not getting satisfied (just a guess)

[2022-11-20 02:37] weihubeats commented on #1915
I used [spring-boot-docker](https://github.com/weihubeats/weihubeats_demos/tree/master/spring-boot-demos/spring-boot-docker)
 to package the docker image locally and successfully accessed it on minikube, which is the same project as [spring-boot-kubernetes-maven-plugin](https://github.com/weihubeats/weihubeats_demos/tree/master/spring-boot-demos/spring-boot-kubernetes-maven-plugin) is basically th

[2022-11-20 06:26] rohanKanojia commented on #1915
@weihubeats : You're right. I just cloned your repository and tested on minikube. You sample seems to be working okay on my machine:

[code]

[2022-11-20 06:36] weihubeats commented on #1915
But running the plug-in auto-deployment seems to be a failure, so it should be the plug-in problem

[2022-11-20 06:38] rohanKanojia commented on #1915
@weihubeats : Sorry, I don't understand what auto-deployment means? Could you please share steps you performed to deploy the application?

[2022-11-20 07:03] weihubeats commented on #1915
<img width="1388" alt="image" src="https://user-images.githubusercontent.com/42484192/202889955-1b3ddf4e-067e-45ef-9b41-9282f0ecb983.png">

<img width="792" alt="image" src="https://user-images.githubusercontent.com/42484192/202889677-c2dc6338-dfd6-4b39-b770-b84099caf187.png">
It seems that you have to configure the docker account password

[2022-11-21 05:19] rohanKanojia commented on #1915
@weihubeats : It looks like image is not present in minikube cluster. Did you run this command in the same bash session you were deploying the app ?:

[code]

[2022-11-21 05:32] weihubeats commented on #1915
<img width="1025" alt="image" src="https://user-images.githubusercontent.com/42484192/202972926-70412c1f-dd09-497e-96f3-1efb791e1170.png">

[2022-11-21 05:34] rohanKanojia commented on #1915
@weihubeats : strange, it should work. Could you please try pushing image to some remote registry (Docker Hub/ Quay.io) and see if behavior changes?

[2022-11-21 10:26] anurag-rajawat commented on #1915
@weihubeats we have checked your demo project on all three OSs Windows, Mac and Linux and it is working fine on all of them.

`1. Windows`
![Screenshot 2022-11-21 143710](https://user-images.githubusercontent.com/94977678/203021359-ea44275a-d2d8-4011-b05f-c3a2651de537.png)

![Screenshot 2022-11-21 143830](https://user-images.githubusercontent.com/94977678/203021637-5dfa3b71-0ce3-461a-8169-591ef79a

[2022-11-21 10:38] weihubeats commented on #1915
Okay, here's my system information.
<img width="253" alt="image" src="https://user-images.githubusercontent.com/42484192/203029476-141af428-637b-43a4-b42b-f1ae3911fefe.png">
- docker:
<img width="448" alt="image" src="https://user-images.githubusercontent.com/42484192/203029710-d38c4464-03af-489f-984a-d0d94d83d6a9.png">

- minikube
<img width="358" alt="image" src="https://user-images.githubuserco

[2022-11-21 10:39] weihubeats commented on #1915
I'll try again sometime

[2022-11-21 10:40] weihubeats commented on #1915
I'll try it sometime.

[2022-11-21 22:30] balbusm opened #1929 "Pull registry is not getting authenticated"
### Describe the bug

`<sever>` authentication in `settings.xml` doesn't work for pullregistry.
Also using docker login is not respected with pullregistry (settings.xml without server section).

I have two separate docker registries. One for pull (dockerhub proxy) and one for push.
Case 1. jkube doesn't respect `settings.xml` configuration

settings.xml
[code]
Dockerfile
[code]
I noticed that ever

[2022-11-22 08:34] #1557 closed

[2022-11-22 08:50] anurag-rajawat commented on #1873
@manusa please assign this to me.

[2022-11-22 09:19] anurag-rajawat commented on #1546
@manusa this epic is completed, we can close this 🚀

[2022-11-22 09:29] rohanKanojia commented on #1546
@anurag-rajawat : Congratulations on successfully completing the project :tada: . ! Nice work :star:

[2022-11-22 10:11] sunix commented on #1870
TODO @sunix try with newer version of podman

[2022-11-22 10:15] sunix commented on #1876
TODO: investigate if it is feasible with the rest api

[2022-11-22 10:17] rohanKanojia commented on #1857
Old related discussion https://github.com/fabric8io/fabric8-maven-plugin/issues/1042 on Fabric8 Maven Plugin

[2022-11-22 10:19] sunix commented on #1879
Thanks for reporting @coding-cosmos

TODO: for now remove the link to katacoda

[2022-11-22 10:24] sunix commented on #1876
related to https://github.com/eclipse/jkube/issues/1157

[2022-11-22 10:34] #1919 closed

[2022-11-22 11:12] manusa commented on #1546
Congrats, you made it :rocket:
Anurag, you did an awesome job, thanks a lot for your contributions.
I hope this marks the start of a successful career and that you keep contributing to free software and its community.

[2022-11-22 11:12] #1546 closed

[2022-11-22 11:27] anurag-rajawat commented on #1546
I am very grateful to have mentors like both of you and this was not possible without your support and regular feedback.
Thanks a lot 🙏

[2022-11-23 10:16] sockejr opened #1934 "schema validation warnings during mvn oc:resource and gradle k8sResource"
### Describe the bug

During mvn builds in the goal oc:resource the following warnings are displayed:
`
Unknown keyword $module - you should define your own Meta Schema. If the keyword is irrelevant for validation, just use a NonValidationKeyword Unknown keyword existingJavaType - you should define your own Meta Schema. If the keyword is irrelevant for validation, just use a NonValidationKeyword U