[2021-09-21 04:57] manusa opened #925 "OpenShift Maven Plugin docs: buildOutput kind wrong"
### Description
The configuration element for buildOutput kind is not OK:
![image](https://user-images.githubusercontent.com/488391/134113507-0f1cc50d-39e3-463e-9910-f79ec0055a1f.png)

We need to proper document this, or give it a specific section.

[2021-09-21 08:16] nishantraut commented on #913
Hi @manusa,

Can i help on this

[2021-09-21 11:48] rohanKanojia commented on #913
@nishantraut : This issue is tagged as help wanted. I think it's perfectly fine for you to pick this. If you're okay with it, I can assign you the issue.

[2021-09-21 11:57] nishantraut commented on #913
Hi @rohanKanojia,
Yes please assign it to me. Thanks.

[2021-09-21 14:04] #914 closed

[2021-09-22 05:15] manusa commented on #903
Did you test jib?

[2021-09-22 05:28] rohanKanojia commented on #903
In order to test jib, I need to implement push task first.

[2021-09-22 05:31] manusa commented on #903
Well, this is only about building, not pushing. We are testing that when you build the image using `ocBuild` task, the right image is built (including artifact + file assembly).
I don't understand why would you need the push goal for this. Just build the image and run it locally. I mean, how did you test #850 if we don't have `k8sPush` either??

[2021-09-22 05:35] rohanKanojia commented on #903
For Kubernetes, I used minikube and loaded image tarball into minikube's docker daemon. How am I supposed to do the same with OpenShift?

[2021-09-22 05:36] manusa commented on #903
You are testing the build process. You only need to test that the final image is OK. When you test the apply process you will have to check if the image+manifest work OK in the cluster.

[2021-09-22 15:39] rohanKanojia opened #931 "Kubernetes/OpenShift Gradle Plugin throw NullPointerException if no build directory present"
### Description

I was testing out OpenShiftBuildTask in scope of https://github.com/eclipse/jkube/issues/903 and I hit this issue. If I clean build directory and run `gradle k8sBuild` or `gradle ocBuild` tasks, I get a NPE:
[code]
On checking NPE stack trace, it points to this line(directory is initialized to `null`):
https://github.com/eclipse/jkube/blob/238d89bdd00a2e76faab0c24dc63a7a5ec6d6251/

[2021-09-23 12:14] rohanKanojia opened #932 "Image Created in JIB mode for spring-boot-camel-complete Quickstart has wrong permissions"
### Description

I encountered this issue while working on #903 , When I try building image in Docker mode and run it; everything seems to be working okay:
[code]

However, when I build same project with JIB build strategy; I see this strange error:
[code]

On looking closer it looks like in case of image created with JIB mode, there isn't permission to create `work` directory:
[code]

I see the s

[2021-09-23 13:42] rohanKanojia commented on #903
I've tested JIB build strategy with `spring-boot`, `spring-boot-crd`, `spring-boot-camel-complete` and `spring-boot-with-jib-assembly` and it seems to be working okay for all except `spring-boot-camel-complete`(see #932).

I've tried with various combinations of `build`, `clean` and `ocBuild` tasks and here are my observations:
- `gradle clean` + `gradle ocBuild` -> :x: #931
- `gradle ocBuild clea

[2021-09-24 04:56] #895 closed

[2021-09-24 07:39] #913 closed

[2021-09-24 10:52] #921 closed

[2021-09-24 16:11] rohanKanojia commented on #932
Certainly, it looks like permission for `/deployments` folder in case of JIB is different than Docker.

Docker (775):
[code]

JIB (755):
[code]

[2021-09-24 16:50] manusa commented on #932
Also the user. Since 1000 corresponds to jboss and in the jib image the owner of deployments is root, we get the permission denied error.

[2021-09-24 18:02] rohanKanojia opened #934 "KubernetesPushTask: Add required configuration options to KubernetesExtension"
### Description

Child of #31

KubernetesPushTask can be configured.

## AC
- [x] KubernetesExtension has a `getSkipPush()` field(`Property<Boolean>`) that decides whether image should be pushed or not.
  - Defaults to `false`
- [x] KubernetesExtension has a `getSkipTag()` field(`Property<Boolean>`) that decides whether images should be tagged or not.
  - Defaults to `false`
- [x] KubernetesExtens

[2021-09-24 18:07] rohanKanojia opened #935 "KubernetesPushTask: Implement `k8s:push` equivalent functionality `k8sPush` for Kubernetes Gradle Plugin"
### Description

Child of #31
Blocked by #934

Port PushMojo from Maven Plugins to KubernetesPushTask in gradle plugins.

- Any functionality present in maven plugins should be moved to gradle plugins
- Common initialization logic between KubernetesBuildTask and KubernetesPushTask should be moved to  some helper class
- [x] `k8sBuild` task should have precedence over `k8sPush`. This should be defi

[2021-09-27 09:44] #823 closed

[2021-09-27 10:01] manusa commented on #898
Not yet, but it makes sense and we should definitely look into it.

[2021-09-27 10:14] manusa commented on #894
We should reuse (the existing `useColor`) or create ANSI specific configuration for logging and apply it to any logger instance we create.

This is what we are doing in with AnsiLogger:

https://github.com/eclipse/jkube/blob/bb25bc67546b02703d93eaf28b3a570e02d4c844/jkube-kit/common-maven/src/main/java/org/eclipse/jkube/kit/common/util/AnsiLogger.java#L216-L225

Which is initialized in (amongst oth

[2021-09-27 11:06] manusa commented on #771
Closing this issue as it seems the problem was fixed.

[2021-09-27 12:20] manusa opened #936 "PortForwardService.java: "InterruptedException" should not be ignored"
### Description
The following statement is reported as a Bug by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AXhZi-z5MtwvSXpgYorx&open=AXhZi-z5MtwvSXpgYorx):

https://github.com/eclipse/jkube/blob/2a2c30a78dfb26afb89282c67e6c528429b9c34e/jkube-kit/config/service/src/main/java/org/eclipse/jkube/kit/config/service/PortForwardService.java#L170

- [x] should be changed to:

[2021-09-27 12:32] manusa opened #937 "JibBuildService.java: "InterruptedException" should not be ignored"
### Description
The following statement is reported as a Bug by [https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AXhZi-zZMtwvSXpgYorw&open=AXhZi-zZMtwvSXpgYorw):

https://github.com/eclipse/jkube/blob/96c706847bf2e87bdb9c28692e25312aa6d0fae0/jkube-kit/config/service/src/main/java/org/eclipse/jkube/kit/config/service/kubernetes/JibBuildService.java#L103-L105

- [x] should be changed to

[2021-09-27 14:06] #922 closed

[2021-09-27 16:44] rohanKanojia opened #939 "Move KubernetesBuildTask's initialization logic to a helper class"
### Description

While adding KubernetesPushTask, I noticed it's implementation for `initJKubeServiceHubBuilder()` and `buildServiceConfigBuilder()` are same as  KubernetesBuildTask's `initJKubeServiceHubBuilder()` and `buildServiceConfigBuilder()`. We should move this to a helper class in order to avoid duplication.

If I try making KubernetesPushTask extend KubernetesBuildTask, I get a circular

[2021-09-28 04:56] #934 closed

[2021-09-28 13:43] eye0fra opened #943 "openshift-maven-plugin failed For input string: ${HTTP_PORT:8080}"
### Description

JKube OpenShift Maven Plugin fails on quarkus application when using optional environment format in the `quarkus.http.port=${HTTP_PORT:8080}`
[code]
### Info

* Eclipse JKube version : 1.4.0
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift setup and version : OpenShift 4.8

* If it's a bug, how to reproduce :
1. Set the `quarkus.http.port=${HTTP_PORT:8080}`
2.

[2021-09-28 14:34] avikkundu commented on #936
want to work on it.

[2021-09-28 17:17] vignesh1992 commented on #937
Hi @manusa, Can I pick it to work on?

[2021-09-28 17:17] rohanKanojia opened #945 "OpenShiftPushTask: Implement `oc:push` maven equivalent `ocPush` gradle task to OpenShift Gradle Plugin"
### Description

Child of #31

Relates to #935

Port OpenShiftPushMojo to OpenShift Gradle Plugin

- Any functionality present in OpenShiftPushMojo should be ported to gradle plugin

[2021-09-28 19:57] avikkundu commented on #936
pull request created

[2021-09-28 20:37] avikkundu commented on #936
I am new to open source. please let me know if the issue is solved.

[2021-09-28 21:21] vignesh1992 commented on #937
Hi, I have raised a PR #[948](https://github.com/eclipse/jkube/pull/948) for review. Request you to kindly let me know your feedbacks if there are anything more which I can add to it. Thank you so much!

[2021-09-29 01:32] rohanKanojia commented on #936
@avikkundu Have you created an eclipse account and signed ECA? You'll also need to add a `signed-off by` footer to your commit message

[2021-09-29 03:34] manusa opened #949 "KubernetesDebugTask: KubernetesExtension has required configuration options"
## Description

Child of #31

KubernetesDebugTask can be configured

## AC

- [ ] KubernetesExtension has a `localDebugPort` field (`Property<Integer>`) with associated property `jkube.debug.port` to specify the local port where traffic will be forwarded to.
  - Defaults to `5005`
- [ ] KubernetesExtension has a `debugSuspend` field (`Property<Boolean>`) with associated property `jkube.debug.suspe

[2021-09-29 03:41] manusa opened #950 "KubernetesDebugTask: Implement k8sDebug equivalent functionality for Kubernetes Gradle Plugin"
### Description

Child of #31
Blocked by #949

Port DebugMojo from maven plugins to KubernetesDebugTask
- Any functionality present in maven plugin goal should be moved to KubernetesDebugTask

[2021-09-29 03:47] manusa opened #951 "KubernetesDebugTask: Implement `oc:debug` equivalent functionality `ocDebug` for OpenShift Gradle Plugin"
### Description

Child of #31
Blocked by #949

Port OpenshiftDebugMojo from maven plugins to OpenShiftDebugTask
- Any functionality present in maven plugin goal should be moved to OpenShiftDebugTask

[2021-09-29 04:38] manusa opened #952 "KubernetesExtension and OpenShiftExtension field values can be configured with properties"
### Description

Child of #31
Blocked by #944

KubernetesExtension and OpenShiftExtension can be configured through properties.

Property overrides should validated and tested through the KubernetesExtensionPropertyTest and OpenShiftExtensionPropertyTest suites.

Properties:

| Field (Getter) | Property | Default |
| --- | --- | --- |
| `getFailOnValidationError` | `jkube.failOnValidationError` |

[2021-09-29 06:46] rohanKanojia opened #953 "UrlBuilder: Move array designator to type to have Java Style array declaration"
### Description

In UrlBuilder, we have a C-Style array declaration for the local variable `ret`.

Array designators should always be located on the type for better code readability. Otherwise, developers must look both at the type and the variable name to know whether or not a variable is an array.
https://github.com/eclipse/jkube/blob/e4782b525d314ecb03d5d24932b60c3140e40aab/jkube-kit/build/serv

[2021-09-29 07:00] rohanKanojia opened #954 "DockerComposeConfiguration: Simplify conditional statement by using `Map.getOrDefault`"
### Description

In DockerComposeConfiguration constructor, I see a repeated pattern of querying map based on result of `containsKey`. Java 8 added `Map.getOrDefault` method which can be used instead of this ternary operator

https://github.com/eclipse/jkube/blob/e4782b525d314ecb03d5d24932b60c3140e40aab/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/config/

[2021-09-29 07:16] siddhantdixit commented on #953
Can I take up this issue?

[2021-09-29 09:09] #903 closed

[2021-09-29 09:38] MukulKolpe commented on #954
Hey @rohanKanojia can I work on this issue?

[2021-09-29 13:19] rgordill opened #955 "Exception with DOCKER_ENV environment var"
### Description
When configuring DOCKER_ENV with a remote endpoint, the kubernetes-maven-plugin throws the following exception:

[code]

### Info

* Eclipse JKube version : 1.4.0
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift setup and version :
minikube

* If it's a bug, how to reproduce :
`eval $(minikube docker-env)`

* Sample Reproducer Project : With any project, using k

[2021-09-29 13:29] rgordill commented on #955
My bad, forgot the eval in minikube docker-env, with lead to vars in ''

[code]

[2021-09-29 13:29] #955 closed

[2021-09-29 19:26] avikkundu commented on #954
want to work on it

[2021-09-30 04:10] manusa commented on #954
Hi @MukulKolpe
I'll assign to you since you were the first to request.
If you want this to count for Hacktoberfest, you'll need to send your PR or mark it ready during October.

@avikkundu, we are going to create a few more of these during October. I can tag you, or assign you (please confirm) the next issue if you want.

[2021-09-30 13:27] rohanKanojia opened #958 "Refactor SystemMock utility in commin-test to use mockito"
### Description

Blocked on #957 #857 #31

I was writing some tests related to System properties in #957 where SystemMock could be used for mocking System properties. Unfortunately, it's based on JMockit(as the rest of JKube Kit) and the Gradle Plugin module is based on Mockito.

We plan to Migrate JKube tests to Mockito in the future https://github.com/eclipse/jkube/issues/857

Whenever we're abl

[2021-09-30 16:41] rohanKanojia opened #961 "[Gradle Plugin] `k8sBuild` `k8sResource` and `k8sApply` tasks don't respect skip options"
### Description

In Maven Plugins, we have `jkube.skip`, `jkube.skip.build`(for skipping build goal), `jkube.skip.resource`(for skipping resource goal) and `jkube.skip.apply`(for skipping apply goal) properties for skipping goals as per requirements.

Right now I only see `jkube.skip.apply` and `jkube.skip` and `jkube.skip.push` out of which first two don't seem to have any effect.

We need to fix

[2021-10-01 08:05] #936 closed

[2021-10-01 08:06] #937 closed

[2021-10-01 13:59] #952 closed

[2021-10-01 15:24] #867 closed

[2021-10-01 17:35] vignesh1992 commented on #806
Hi @manusa, Is this issue still open? Can I pick it to work on?

[2021-10-01 17:36] manusa commented on #806
@pavanp73 are you planning to work on this?

[2021-10-03 05:21] #945 closed

[2021-10-03 05:33] #935 closed

[2021-10-03 09:38] siddhantdixit commented on #953
@rohanKanojia Please review PR #962  for this issue.

[2021-10-03 10:52] #949 closed

[2021-10-04 05:04] manusa opened #966 "PortForwardTask.java: Either re-interrupt this method or rethrow the "InterruptedException" that can be caught here."
### Description
The following statement is reported as a Bug by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AXhZi-zIMtwvSXpgYorv&open=AXhZi-zIMtwvSXpgYorv):

https://github.com/eclipse/jkube/blob/af40c8f27af57f9651f8ebb1634df33eaf909f6a/jkube-kit/config/service/src/main/java/org/eclipse/jkube/kit/config/service/portforward/PortForwardTask.java#L49-L51

- [x] should be

[2021-10-04 05:18] manusa opened #967 "SpringBootWatcher.java: Either re-interrupt this method or rethrow the "InterruptedException" that can be caught here."
### Description
The following statement is reported as a Bug by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AXhZi-7AMtwvSXpgYor1&open=AXhZi-7AMtwvSXpgYor1):

https://github.com/eclipse/jkube/blob/af40c8f27af57f9651f8ebb1634df33eaf909f6a/jkube-kit/jkube-kit-spring-boot/src/main/java/org/eclipse/jkube/springboot/watcher/SpringBootWatcher.java#L217-L219

- [x] should be

[2021-10-04 05:24] inomag commented on #967
Can I work on this issue?

[2021-10-04 05:25] siddhantdixit commented on #966
@manusa Can i work on this?

[2021-10-04 05:27] manusa commented on #966
Hi @siddhantdixit
Your help is greatly appreciated, but you already have a contribution for this repo (#953 / #962), let's keep it open so that others can contribute here too.

[2021-10-04 05:29] Stellar-X commented on #966
@manusa , Can I contribute on this? I don't know the manually testing part though but I know Java Exception Handling.

[2021-10-04 05:36] manusa commented on #966
Hi @Stellar-X
That's the standard template for our first time issues. If you want to take full advantage of this learning path, you can build the project and then test that this feature is working.

In this case you should compile the project. Then you can go into the spring-boot quickstart and test the `k8s:debug` goal:
[code]

[2021-10-04 05:38] MukulKolpe commented on #954
Hey, @manusa can you check if this looks correct?

[code]

[2021-10-04 06:31] avikkundu commented on #954
pls assign me  the next issue

[2021-10-04 07:42] #953 closed

[2021-10-04 07:46] #967 closed

[2021-10-04 15:25] sunix opened #970 "JIB image build is failing if a Dockerfile is located in the root folder of the project."
### Description
As a user, I would like to use the jib build strategy and not the default docker one. So when I am invoking:

[code]
It should use the jib strategy.

However if a Dockerfile is located in the root folder of the project, the error is raised:

[code]

![Selection_524](https://user-images.githubusercontent.com/650571/135878177-30eccbb2-dcde-457a-873e-31198cbfe102.png)

### Info

* Ecl

[2021-10-04 16:47] manusa commented on #970
There's a collision in mode detection here.

The Dockerfile in the root directory makes JKube assume we are running in Simple Dockerfile mode.

JIB build strategy is not compatible with (any of) the Dockerfile mode(s).

I'm not sure what the right approach here can be.

Some ideas:
- Extra-flag to bypass Dockerfile mode, user who wants to build this project with Jib (and go into another mode) shou

[2021-10-05 05:02] manusa opened #971 "ApplyMojo.java: Either re-interrupt this method or rethrow the "InterruptedException" that can be caught here."
### Description
The following statement is reported as a Bug by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&open=AXhZi-9fMtwvSXpgYor6&resolved=false&types=BUG):

https://github.com/eclipse/jkube/blob/af40c8f27af57f9651f8ebb1634df33eaf909f6a/kubernetes-maven-plugin/plugin/src/main/java/org/eclipse/jkube/maven/plugin/mojo/build/ApplyMojo.java#L194-L196

- [ ] should be changed

[2021-10-05 05:16] manusa opened #972 "LogOutputSpec.java: Member variables can be declared final"
### Description
`LogOutputSpec` declares several class fields that are only initialized in the constructor. They can be declared final.

The following code fragment:

https://github.com/eclipse/jkube/blob/969025bf6bd21f22ec02ef4a72174ae49aaad5bb/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/access/log/LogOutputSpec.java#L44-L47

- [x] should be changed to:

[2021-10-05 05:29] mihirterna commented on #972
Hi @manusa , I would like to work on it. Can you please assign it to me?

[2021-10-05 05:57] mihirterna commented on #972
Have created PR #973. Please review.

[2021-10-05 07:54] sunix commented on #970
My suggestion is not to fail if possible: if the user is requesting the JIB build strategy, we have to obey and build with JIB even if the Dockerfile is not used.

It may be good to add a kind of summary at the end of the build. Something like:

[code]

[2021-10-05 08:00] manusa commented on #970
Yes, but the user might be assuming that JKube is operationg in Dockerfile mode, and it's not, which will lead them to unexpected (and maybe unpleasant) results. Thus we **might** want the user to opt-in to said way of working by forcing them to provide an extra-flag.

Your proposal aligns with my second suggestion "Additional warning and fall-back to next mode....", but as I say there, I find thi

[2021-10-05 08:48] prathamgandhi commented on #971
I'd like to do this

[2021-10-05 10:52] prathamgandhi commented on #971
@manusa could you take a look why the fix didn't work. I submitted the PR without testing with kubernetes, because when I ran it, my laptop started freezing and all the RAM got used up. I thought since I had just added a catch statement, there should be no error, but apparently I was wrong :(

[2021-10-06 04:11] manusa commented on #966
It's really cool that you are going the extra-mile :clap:

It took quite long for the build to finish, I guess it might be related to your Internet connection. Subsequent builds should take no more and 2 minutes.

When running with Minikube ( 'eval $(minikube docker-env)'), Docker desktop is not really needed, or at least doesn't count in the equation.

I think you might have not started your Mini

[2021-10-06 05:20] manusa opened #975 "IngressEnricher's opinionated path type is too restrictive"
### Description

While adding [configuration options](https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#jkube-ingress) to the IngressEnricher (#551), we also included new functionality to be able to convert Ingresses from one Api Group (`networking.k8s.io/v1` / `extensions/v1beta1`) (#723).

This change introduced the [`pathType` field](https://kubernetes.io/docs/concepts/services-network

[2021-10-06 06:23] mihirterna commented on #972
Hi @manusa , Requesting you to review PR #976 . Thanks.

[2021-10-06 09:29] Onyinye91-ctrl commented on #975
@manusa i want to take this

[2021-10-06 11:53] #972 closed

[2021-10-07 03:37] #877 closed

[2021-10-08 09:12] manusa opened #982 "ProfileUtil.java: Mutable fields should not be "public static""
### Description

cc: @avikkundu

The following statement is reported as a Minor Code Smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&open=AXCb0Vs5ych7Ocxsbwm3&resolved=false&types=VULNERABILITY):

https://github.com/eclipse/jkube/blob/346ecff2adfa57b6b86493fb01a290a4d91f98cd/jkube-kit/profile/src/main/java/org/eclipse/jkube/kit/profile/ProfileUtil.java#L47

- [x] should

[2021-10-08 09:34] manusa opened #985 "LogRequestor.java: Replace "com.google.common.base.Charsets.UTF_8" with "StandardCharsets.UTF_8""
### Description
The following statement is reported as a Minor Code Smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AXCb0UiGych7OcxsbwfS&open=AXCb0UiGych7OcxsbwfS):

https://github.com/eclipse/jkube/blob/346ecff2adfa57b6b86493fb01a290a4d91f98cd/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/access/log/LogRequestor.java#L17

[2021-10-08 09:37] manusa opened #986 "AwsSigner4.java: Reorder the modifiers to comply with the Java Language Specification."
### Description
The following statement is reported as a Minor Code Smell by [https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AXCb0Ulyych7Ocxsbwfu&open=AXCb0Ulyych7Ocxsbwfu):

https://github.com/eclipse/jkube/blob/969025bf6bd21f22ec02ef4a72174ae49aaad5bb/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/auth/ecr/AwsSigner4.java#L43

- [x] should b

[2021-10-08 12:40] kanumalivad commented on #986
Kindly assign to me

[2021-10-08 13:46] sunix opened #989 "doc(kubernetes-maven-plugin): remove/fix invalid reference"
### Description
The kubernetes-maven-plugin doc contains some invalid references (dead links). These needs to be removed or adapted.
With latest asciidoctorj, the doc is failing to build:
[code]

[2021-10-08 14:27] FominSergiy commented on #985
Rookie mistake, thanks for clarifying! Will be away for two days, so will put in updates as per comments under the PR once I am back

[2021-10-09 22:14] Muhammadwasi commented on #876
Hi @manusa, I have created the PR for this issue. Please have a look.

[2021-10-10 02:05] rohanmars commented on #894
@manusa that gave me the thought to implement a simple solution based on the static nature of the JibServiceUtil class.

https://github.com/rohanmars/jkube/commit/d6f7518a532116821e6f9fd0f4261129159e6626

The output on a useColor=false run will just output when the progress is complete for each task. If it's an acceptable approach/implementation I'll create a pull request.

[code]

[2021-10-10 02:10] rohanmars commented on #894
} else if (update.getProgress() == 0.0F) {
works also, that might be more appropriate.

[2021-10-11 08:44] #986 closed

[2021-10-11 11:34] manusa opened #994 "EnvUtil.java: Move the array designators [] to the type."
### Description
The following statement is reported as a Minor Code Smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AW3z0NdYL3SSO-VMZTJX&open=AW3z0NdYL3SSO-VMZTJX):

https://github.com/eclipse/jkube/blob/e4782b525d314ecb03d5d24932b60c3140e40aab/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/util/EnvUtil.java#L85-L86

- [ ] should be changed to:
[code

[2021-10-11 11:41] manusa opened #995 "ImageName.java: Make this final field static too."
### Description
The following statement is reported as a Minor Code Smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AW3z0NUwL3SSO-VMZTE0&open=AW3z0NUwL3SSO-VMZTE0):

https://github.com/eclipse/jkube/blob/2bd55bcc7c830e50929b6ede5d0da242e42dda30/jkube-kit/config/image/src/main/java/org/eclipse/jkube/kit/config/image/ImageName.java#L331-L350

- [ ] should be change

[2021-10-11 12:50] MadhaviG97 commented on #994
Hi is this issue available?

[2021-10-11 16:12] rohanmars commented on #894
Sounds good.

In the approach (hack) I used jkube.useColor allows users to opt out, apparently because jkube calls Ansi.setEnabled(true/flase); in 2 locations based on useColor.

[2021-10-12 06:58] MadhaviG97 commented on #995
@manusa should I change CHANGELOG.md file too?

[2021-10-12 08:29] manusa commented on #995
For these issues, it's not really necessary.

[2021-10-13 05:29] manusa commented on #982
Hi @avikkundu,
Your issue was reviewed 2 days ago, please check the comments there.

[2021-10-13 11:49] grgrzybek opened #1006 "Wrong information in the docs about run-sh and other io.fabric8 artifacts"
### Wrong information in the docs about run-sh and other io.fabric8 artifacts

### Info

I was looking at:
* https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin
* https://www.eclipse.org/jkube/docs/openshift-maven-plugin

and I believe these are the transitioned versions of https://dmp.fabric8.io/#maven-goals

For example in the fabric8's docker-maven-plugin there's:
[code]

While in jkube

[2021-10-13 12:57] #982 closed, assigned to avikkundu

[2021-10-13 14:03] manusa opened #1007 "AbstractNativeSocketFactory.java: Reorder the modifiers to comply with the Java Language Specification."
### Description
The following statement is reported as a Minor Code Smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AW3z0MzyL3SSO-VMZS2o&open=AW3z0MzyL3SSO-VMZS2o):

https://github.com/eclipse/jkube/blob/cff79a222dcf8909ddd124f37437c9acee46721a/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/access/hc/util/AbstractNativeSoc

[2021-10-13 14:06] manusa opened #1008 "DeepCopy.java: Remove this empty statement."
### Description
The following statement is reported as a Minor Code Smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AXCb0UeMych7Ocxsbwe9&open=AXCb0UeMych7Ocxsbwe9):

https://github.com/eclipse/jkube/blob/5ab611a35f72559b8a9dc072447e1e883a0927d9/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/helper/DeepCopy.java#L56

- [x]

[2021-10-13 15:29] #1008 closed, assigned to sumeetp4

[2021-10-13 15:48] manusa opened #1010 "EnvCommand.java: Reorder the modifiers to comply with the Java Language Specification."
### Description
The following statement is reported as a Minor Code Smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AW3z0M81L3SSO-VMZS55&open=AW3z0M81L3SSO-VMZS55):

https://github.com/eclipse/jkube/blob/969025bf6bd21f22ec02ef4a72174ae49aaad5bb/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/helper/EnvCommand.java#L31

- [x

[2021-10-13 15:49] #975 closed, assigned to Onyinye91-ctrl

[2021-10-13 15:55] manusa opened #1011 "SuffixFileFilter.java: Reorder the modifiers to comply with the Java Language Specification."
### Description

The following statement is reported as a Minor Code Smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AW3z0M75L3SSO-VMZS5S&open=AW3z0M75L3SSO-VMZS5S):

https://github.com/eclipse/jkube/blob/969025bf6bd21f22ec02ef4a72174ae49aaad5bb/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/helper/SuffixFileFilter.java#L2

[2021-10-13 16:01] manusa commented on #994
Fixed by #998

[2021-10-13 16:03] manusa opened #1012 "RegistryAuthConfiguration.java: Move the array designators [] to the type."
### Description
The following statement is reported as a Minor Code Smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AW3z0NTvL3SSO-VMZTEG&open=AW3z0NTvL3SSO-VMZTEG):

https://github.com/eclipse/jkube/blob/d0592c1c84ded4ab4ce6e019d8eed24c85e04ba7/jkube-kit/config/image/src/main/java/org/eclipse/jkube/kit/config/image/build/RegistryAuthConfiguration.java#L49

- [x]

[2021-10-13 18:43] alimalek71 commented on #806
Hi there

It's my pleasure to work on this issue.
Can you explain more about testing after deleting this class?

Thanks

[2021-10-13 20:21] yashdabhade1 commented on #1010
Hello I am new to Open Source. Will you guide me towards my first contribution?
I am well versed in JAVA and trying my hands at open source for the first time so am cautious.

[2021-10-13 20:45] ricardozanini commented on #72
@rohanKanojia @manusa, I believe we to add Knative Service to this list: https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#controller-resource-generation

[2021-10-14 05:18] manusa commented on #1012
Hi @swatichauhan814
I think this issue has already been tackled by someone else. Let me see if there is some other issue I can assign to you. If not, I can create a few more.

[2021-10-14 05:34] #1012 closed

[2021-10-14 08:23] manusa opened #1014 "AutoPullMode.java: Reorder the modifiers to comply with the Java Language Specification."
### Description

The following statement is reported as a Minor Code Smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AW3z0M8BL3SSO-VMZS5T&open=AW3z0M8BL3SSO-VMZS5T):

https://github.com/eclipse/jkube/blob/969025bf6bd21f22ec02ef4a72174ae49aaad5bb/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/helper/AutoPullMode.java#L49

-

[2021-10-14 09:32] rasmita404 commented on #1014
Hey! Can I work on this?

[2021-10-14 10:05] manusa opened #1016 "UlimitConfig.java: Make the field private final static."
### Description

The following statement is reported as a Minor Code Smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AW3z0M55L3SSO-VMZS4f&open=AW3z0M55L3SSO-VMZS4f):

https://github.com/eclipse/jkube/blob/053e63e095222c26994984f73a4a4603f5489ef7/jkube-kit/config/image/src/main/java/org/eclipse/jkube/kit/config/image/UlimitConfig.java#L53

- [ ] should be changed

[2021-10-14 10:14] Onyinye91-ctrl commented on #1016
@manusa Can i work on this?

[2021-10-14 11:28] mehabhalodiya commented on #1016
Hey
I would like to contribute!

[2021-10-14 12:32] manusa commented on #1016
For those of you who already created a commit or tackled another first-timers-only, we really appreciate your willingness to participate, but this issues are intended for new-comers to the project.

We will be creating more `help-wanted` issues, which are intended for those who have already committed to the repo once and still want to collaborate.

[2021-10-14 13:03] mehabhalodiya commented on #1016
@manusa Yes, I am interested to contribute. I am newbie in this project.

So please do assign it to me.
Thank you.

[2021-10-14 13:03] #1011 closed

[2021-10-14 13:04] #1010 closed

[2021-10-14 13:10] manusa opened #1020 "BuildRecreateMode.java: Declare "isImageStream" on a separate line."
### Description

/cc @mehabhalodiya (please comment on this issue so that I can assign it to you)

The following statement is reported as a Minor Code Smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AW3z0NV0L3SSO-VMZTFF&open=AW3z0NV0L3SSO-VMZTFF):

https://github.com/eclipse/jkube/blob/c15c4bb8b7cc4ea7502f8314b1e067b27f9a1dda/jkube-kit/config/resource/src/main/ja

[2021-10-14 13:36] mehabhalodiya commented on #1020
Hey!
I would like to contribute.

[2021-10-14 17:01] #1016 closed

[2021-10-14 17:07] manusa commented on #989
Hi @alimalek71,
Thanks for your willingness to contribute. This issue is still to be discussed, not really up for grabs yet.
I'll be creating more Hacktoberfest specific issues.

[2021-10-14 17:13] #1014 closed, assigned to rasmita404

[2021-10-15 08:55] furiousluck commented on #1020
hi, is this still available?

[2021-10-17 13:40] Ejaz29 commented on #1020
hey @manusa is the issue still open?
I would like to work on it and I am completely new to opensource.

[2021-10-17 16:52] mehabhalodiya commented on #1020
Hey @Ejaz29
As you can see in the linked PR, I have already completed the work for this issue.

And I would suggest you, as you are totally new to teh open source, go and checkout some beginner friendly repos and try to start contributing there initially. Once, you got familiarize with the workflow then go ahead with some kind of this stuff :)

One more option is wait until @manusa creates some ot

[2021-10-18 00:43] Ejaz29 commented on #1020
Hi @mehabhalodiya
Sorry I didn't notice it and thank you for the suggestion :)
Can you also help me with one thing? I am familiar with java and I am searching for an organization which guides beginners like me. Can you suggest me any organization?

[2021-10-18 09:52] manusa opened #1029 "KubernetesHelmTask: Pre-requisite, move any common logic in Helm Mojos to the helper classes"
## Description

Child of #31

There **_might_** still be some common logic in the HelmMojo. Move anything that can be reused in the Gradle plugins to the common Helm module.

## AC
- [x] Common logic has been moved to `org.eclipse.jkube.kit.resource.helm.*`
- [x] Moved logic has Unit Tests to verify the behavior

[2021-10-18 10:06] manusa opened #1030 "Ingress Enricher defaults to networking.k8s.io/v1"
### Description

Ingress Enricher should now default to Ingress of `networking.k8s.io/v1` instead of `extensions/v1beta1`

Factors:
- 1.5.0 is out and considered stable.
- Kubernetes v1.23 will be [released](https://www.kubernetes.dev/resources/release/) on 2021-12-07. Is the second release where extensions Ingress is deprecated and not supported.

AC:
- [ ] Implementation is changed
- [ ] Documen

[2021-10-18 10:24] #995 closed, assigned to mpmadhavig

[2021-10-18 11:05] manusa commented on #925
Hi @mehabhalodiya
This is an issue internal to the team. We still need to discuss what we need to do here first.

[2021-10-18 12:54] sunix opened #1033 "Summary should be printed after JKube actions"
### Description

Globally the feeling I get is that we are not telling enough about what is JKube doing. Zero config magic is good, but as a developer I don’t feel confident if I don’t know what it is doing.
- [ ] Lists exactly what points should be summarized. Make sure that for any configuration combination, the summary is printed accordingly.
- [ ] Summary should be printed after the build/phas

[2021-10-18 14:16] sunix opened #1034 "Enable documentation auto refresh while editing adoc files."
### Description
When editing the JKube kubernetes-maven-plugin documentation, it's painful as the writer has to rerun the command mvn -Phtml package each time and it may takes some time to perform the whole generation.

For the kubernetes maven plugin:
- [x] https://github.com/eclipse/jkube/pull/983
- [x] https://github.com/eclipse/jkube/pull/996 (requiring CQ to be created)

For jube-kit
- [x] ma

[2021-10-18 15:46] rohanKanojia opened #1035 "Complete description for `jkube.debug.suspend` configuration flag in documentation"
### Description

Description of `jkube.debug.suspend` configuration option used in `k8s:debug` goal looks incomplete and  does not clearly describe what it's doing:
![Screenshot from 2021-10-18 21-11-08](https://user-images.githubusercontent.com/13834498/137764543-3c68ed78-a903-419b-8685-ee9549ca0998.png)

We need to improve this so that it's clear enough for user by checking what this flag is doi

[2021-10-19 15:50] rohanKanojia opened #1039 "VertxGeneratorTest: Join multiple assertions subject to one assertion chain"
### Description

We have these two `assertThat` statements checking entries of `env` map. Sonar is reporting this as a [code smell](https://sonarcloud.io/project/issues?id=jkubeio_jkube&open=AXLgGaCDoQqyetADFyGu&resolved=false&types=CODE_SMELL#) and is asking us to combine these two assertions into one by chaining them.

https://github.com/eclipse/jkube/blob/ee2390178dcad8a9cc3a9cb6d5e8c5d70a162a0

[2021-10-19 16:06] iamdebojyoti commented on #1039
Hi @rohanKanojia, Can I work on this?

[2021-10-19 16:27] rohanKanojia opened #1040 "KeyStoreUtilTest: Remove deprecated `ExpectedException.none()` `@Rule` & use `assertThrows` instead"
### Description

As pointed out in [JUnit Javadocs](https://junit.org/junit4/javadoc/latest/org/junit/rules/ExpectedException.html#none()), `ExpectedException.none()` rule is deprecated. We should use `Assert.assertThrows` instead

https://github.com/eclipse/jkube/blob/ee2390178dcad8a9cc3a9cb6d5e8c5d70a162a04/jkube-kit/build/service/docker/src/test/java/org/eclipse/jkube/kit/build/service/docker/a

[2021-10-19 17:22] rohanKanojia commented on #1040
@hsteinmueller : ohk, no problem.

There are still other places where `ExpectedException.none()` `@Rule` needs to be replaced:
[code]

@dolatapatryk : Whenever you pick this, Would it be possible for you to remove `ExpectedException.none()` from other classes?

[2021-10-20 06:10] rohanKanojia opened #1044 "GeneratorManagerTest: Statement lambda can be replaced with expression lambda"
### Description

This statement lambda only contains one statement, it can be replaced with expression lambda.

So what looks like this:

https://github.com/eclipse/jkube/blob/ee2390178dcad8a9cc3a9cb6d5e8c5d70a162a04/jkube-kit/generator/api/src/test/java/org/eclipse/jkube/generator/api/GeneratorManagerTest.java#L87-L89

could be rewritten like this:
[code]

### Before you start

Make sure you read

[2021-10-20 06:24] alimalek71 commented on #1044
Could you assign this issue to me

[2021-10-20 06:28] rohanKanojia opened #1045 "ProfileUtil: Collections.sort could be replaced with List.sort"
### Description

`sort` method to `List` interface was added in Java 8. I think we should replace this occurrence of `Collections.sort` with `List.sort` method for better readability:

https://github.com/eclipse/jkube/blob/ee2390178dcad8a9cc3a9cb6d5e8c5d70a162a04/jkube-kit/profile/src/main/java/org/eclipse/jkube/kit/profile/ProfileUtil.java#L141

could be replaced with:
[code]

### Before you star

[2021-10-20 06:42] Simba-97 commented on #1045
Hey @rohanKanojia can I make the necessary changes?

[2021-10-20 07:45] manusa opened #1047 "KubernetesBuildTask: k8sBuild Generator - Quarkus"
## Description

Child of #31

k8sBuild Gradle task works with Quarkus Generator.

- Any configuration setting should be part of the KubernetesExtension class (Tasks should have no Inputs)
- Any logic present in the current Mojos should be moved to JKube-kit

## AC
- [x] Generator configuration options can be overridden via DSL
- [x] Documentation related to the generator in Gradle docs (#1187)

[2021-10-20 07:48] manusa opened #1048 "OpenShiftBuildTask: ocBuild Generator - Quarkus"
## Description

Child of #31
Equivalent of and blocked by #1047

ocBuild Gradle task works with Quarkus Generator.

- S2i build works fine

[2021-10-20 07:49] sunix commented on #1033
Good point, in my opinion it should be printed too for the rest of actions

[2021-10-20 07:51] manusa opened #1049 "Gradle Plugin documentation states that the release is a preview"
### Description

For the initial 1.5.0 release of JKube, there won't be feature parity for Gradle compared to whate the Maven plugins can do.

Documentation should clearly state that only the documented features are available and that this is a preview to receive early feedback.

[2021-10-20 07:56] manusa commented on #931
What happens if we do `if (directory == null || !directory.exists())`?

Does the generator take care of providing a useful warning as the jar was not detected?

[2021-10-20 08:00] manusa opened #1050 "Website: Quickstarts for Gradle should be listed"
### Description

The following section https://www.eclipse.org/jkube/quickstarts/ lists the Gradle quickstarts too.

This might require a little bit of extra work, since the current implementation makes use of the pom.xml files to retrieve descriptions, etc.

**Not** a priority for 1.5.0.

[2021-10-20 08:39] manusa opened #1051 "Website: Kuberentes Gradle Plugin and OpenShift Gradle plugin documentation is generated"
### Description

Asciidoc documentation for the Gradle plugins is generated:
- [x] https://www.eclipse.org/jkube/docs/kubernetes-gradle-plugin
- [x] https://www.eclipse.org/jkube/docs/openshift-gradle-plugin

[2021-10-20 08:53] manusa opened #1052 "KubernetesHelmTask: Implement `k8s:helm` equivalent functionality `k8sHelm` for Kubernetes Gradle Plugin"
### Description

Child of #31
Blocked by #1029

Port HelmMojo from maven plugins to KubernetesHelmTask
- Any functionality present in maven plugin goal should be moved to KubernetesHelmTask

## AC
- [ ] Chart can be customized through properties (Configuration should be added to KubernetesExtension)
- [ ] Chart can be customized though DSL (Configuration should be added to KubernetesExtension)
- [

[2021-10-20 08:55] manusa opened #1053 "OpenShiftHelmTask: Implement `oc:helm` equivalent functionality `ocHelm` for OpenShift Gradle Plugin"
### Description

Child of #31
Blocked by #1052

Port OpenshiftHelmMojo from maven plugins to OpenShiftHelmTask
- Any functionality present in maven plugin goal should be moved to OpenshiftHelmMojo

[2021-10-20 08:58] sunix opened #1054 "Should tell the user that the Dockerfile [path] had been picked to perform the build."
### Description
JKube autodetects a Dockerfile and use it to build the image. However the user is not informed that this dockerfile is used

### Info

* Eclipse JKube version : 1.4.0
* Maven version (`mvn -v`) : 3.6.3

* Sample Reproducer Project : *https://github.com/parisjug/live-stream-question*

[2021-10-20 09:00] sunix opened #1055 "Building a new image from a detected Dockerfile and podman is showing: `Built image null`"
### Description

Building a new image from a detected Dockerfile and podman is showing: Built image null
[code]
### Info

* Eclipse JKube version : 1.4.0
* Maven version (`mvn -v`) : 3.6.3

* Kubernetes / Red Hat OpenShift setup and version :
podman version 3.2.3

* If it's a bug, how to reproduce :

1. `git clone https://github.com/parisjug/live-stream-question.git`
2. Configure podman and start

[2021-10-20 09:47] #1039 closed, assigned to iamdebojyoti

[2021-10-21 15:28] manusa opened #1059 "Create nightly test to verify Helm Charts"
## Description

Using the action from the [https://github.com/tetchel/chart-verifier-action](https://github.com/tetchel/chart-verifier-action) PoC (once it's released) that exposes https://github.com/openshift-helm-charts/charts + https://github.com/redhat-certification/chart-verifier, create nightly test to verify charts generated by JKube.

/cc @tetchel @dperaza4dustbit

[2021-10-21 18:36] Monoradioactivo commented on #1045
Is this still open?

[2021-10-25 05:23] #1044 closed, assigned to alimalek71

[2021-10-25 06:07] #1040 closed, assigned to hsteinmueller, dolatapatryk

[2021-10-25 08:40] sunix opened #1063 "Remove the `binary-s2i` suffix from all of the maintained images."
### Description
The default `quay.io/jkube/jkube-java-binary-s2i` is used as base image for not only s2i or binary build. Dockerfile built is also using this image. It is confusing for the user to see `s2i` or `binary` in the name when s2i nor binary are used.

The solution would be to remove the `binary-s2i`  suffix from all of the maintained images.

### Info

* Eclipse JKube version : 1.4.0
* M

[2021-10-25 17:33] #1029 closed, assigned to rohanKanojia

[2021-10-26 13:16] sunix opened #1070 "doc: remove unused asciidoctorj processor `ClasspathIncludeProcessor`"
### Description
https://github.com/eclipse/jkube/blob/master/kubernetes-maven-plugin/doc/src/main/java/org/eclipse/jkube/maven/doc/ClasspathIncludeProcessor.java#L36 seems not to be used. There is no `classpath:` includes in our doc.
Removing the classes `ClasspathIncludeExtension` and `ClasspathIncludeProcessor` would also help simplifying the dependency management of the doc projects.

- [x] che

[2021-10-27 06:51] rohanKanojia opened #1073 "Kubernetes Gradle Plugin's `k8sHelm` task can't pick maintainers, home, sources from project configuration"
### Description

While working on #1052 , I couldn't find any way to read the following properties in Helm Configuration from project configuration:

- Developers of a specific project: https://github.com/eclipse/jkube/blob/4848968450189305cec09c6aacaa658f12d50292/jkube-kit/resource/helm/src/main/java/org/eclipse/jkube/kit/resource/helm/HelmConfig.java#L53
- Source URL of project: https://github.c

[2021-10-27 10:01] manusa opened #1074 "Better logs/messages when running tasks that might need/depend on another one"
### Description

Analogous to #931, when a task/goal is invoked that might depend on other files, we should provide better hints to the user as to why an error is occurring ([last paragraph in PR description](https://github.com/eclipse/jkube/pull/1064#issue-1034916727)).

e.g. User runs k8sBuild with no packages/classes. A hint indicating that he/she might have forgotten to run the build/package a

[2021-10-27 12:01] rohanKanojia opened #1075 "KubernetesHelmPushTask: Implement `k8s:helm-push` maven equivalent functionality in Kubernetes Gradle Plugin"
### Description

Child of #31

Port HelmPushMojo from maven plugins to KubernetesHelmPushTask
- Any functionality present in maven plugin goal should be moved to KubernetesHelmPushTask

## AC
- [ ] Repository options can be overridden
- [ ] Chart can be pushed to Chart Museum repository
- [ ] Chart can be pushed to Artifactory repository
- [ ] Chart can be pushed to Nexus repository

[2021-10-27 12:08] rohanKanojia opened #1076 "OpenShiftHelmPushTask: Implement `oc:helm-push` equivalent functionality `ocHelmPush` for OpenShift Gradle Plugin"
### Description

Child of #31
Blocked by #1075

Port OpenshiftHelmPushMojo from maven plugins to OpenShiftHelmPushTask

- Any functionality present in the maven plugin goal should be moved to OpenshiftHelmPushTask

[2021-10-27 12:17] #1053 closed, assigned to rohanKanojia

[2021-10-27 13:51] #1049 closed, assigned to rohanKanojia

[2021-10-29 05:21] #1051 closed, assigned to manusa

[2021-10-29 05:32] manusa opened #1087 "Create ci.eclipse.org pipeline that verifies test pass on the Jenkins agent"
### Description

During the 1.5.0 release process the release pipeline had some failing tests. The tests that check the Container image Tar archive failed due to a mismatch in the output size. There were no apparent changes on the runtime environment and the same issue cannot be reproduced locally

https://ci.eclipse.org/jkube/

- [x] Reproduce the issue
- [x] Identify the cause and fix https://gi

[2021-10-29 08:07] manusa opened #1088 "Automated smoke test pipeline for release"
### Description

After a new release is cut it would be good to be able to trigger a manual Pipeline that verifies that the new release publicly available from Maven repositories works.

[2021-10-29 13:43] rohanKanojia opened #1089 "DockerRegistrySecretEnricherTest: Use `.hasSize()` instead of getting and comparing size of map"
### Description

We have this usage of AssertJ where we're asserting a map's size:
https://github.com/eclipse/jkube/blob/a49aff150d4cee4cba39c2305e8096721444d0c3/jkube-kit/enricher/generic/src/test/java/org/eclipse/jkube/enricher/generic/DockerRegistrySecretEnricherTest.java#L79

AssertJ already has a `hasSize()` method. This statement can be simplified to:
[code]

### Before you start

Make sure

[2021-10-29 13:52] rohanKanojia opened #1090 "KubernetesResourceUtil: Replace deprecated usage of JsonMappingException constructor"
### Description

In KubernetesResourceUtil.readFragment method, we're using this constructor for JsonMappingException:
https://github.com/eclipse/jkube/blob/a49aff150d4cee4cba39c2305e8096721444d0c3/jkube-kit/enricher/api/src/main/java/org/eclipse/jkube/kit/enricher/api/util/KubernetesResourceUtil.java#L383

This has been marked deprecated as per latest Jackson Databind documentation. We can use th

[2021-10-29 13:56] rohanKanojia opened #1091 "ProcessorConfig: Remove unnecessary cast to Map in `setConfig()` method & remove unused import"
### Description

ProcessorConfig has this `setConfig` method where there is an unnecessary cast to Map:
https://github.com/eclipse/jkube/blob/a49aff150d4cee4cba39c2305e8096721444d0c3/jkube-kit/config/resource/src/main/java/org/eclipse/jkube/kit/config/resource/ProcessorConfig.java#L106

- [x] Remove unnecessary Cast to Map
- [x] Remove unused import at line 17 https://github.com/eclipse/jkube/blob

[2021-10-29 14:49] rohanKanojia opened #1092 "ProfileUtilTest: Split `findProfile` unit test into two separate unit tests"
### Description

`ProfileUtilTest` has this test `findProfile` which seems to be testing two different scenarios:
- When valid `profileArg` is passed to `Profile.findProfile` method
- When invalid `profileArg` is passed to `Profile.findProfile` method

**Unit tests should be atomic and should test only one thing**. In my opinion, they should be split into two tests for these scenarios
https://gith

[2021-10-29 15:19] rohanKanojia opened #1095 "WildflyJARGeneratorTest: Replace `Collections.EMPTY_LIST` with `Collections.emptyList()`"
### Description

Usage of `Collections.emptyList()` is preferable since it uses type-inference and therefore returns `List<T>`. These places can be updated to use `Collections.emptyList()` instead:

https://github.com/eclipse/jkube/blob/a49aff150d4cee4cba39c2305e8096721444d0c3/jkube-kit/jkube-kit-wildfly-jar/src/test/java/org/eclipse/jkube/wildfly/jar/generator/WildflyJARGeneratorTest.java#L60

ht

[2021-10-30 06:31] anirudhbagri commented on #1095
Hi,
I would like to take up this one.. Can you assign this to me?

[2021-10-30 19:44] abhi30996 commented on #1089
Hi. I would like to work on this issue. Is it still available?

[2021-10-30 19:51] javastl commented on #381
jkube.generator.webapp.user fails to create the group or the user

pom contents below

------------------------
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<pare

[2021-10-31 04:30] Ejaz29 commented on #1089
hi @rohanKanojia is this issue available? I would like to work on it.

[2021-10-31 17:18] srivishnu2101-1 commented on #1089
Created a PR https://github.com/eclipse/jkube/pull/1099

[2021-11-01 01:06] javastl opened #1100 "Docker issue - Fails to create non-root user"
### Description

### Info

* Eclipse JKube version :
* Maven version (`mvn -v`) :Apache Maven 3.6.3 (cecedd343002696d0abb50b32b541b8a6ba2883f)
[code]
* Kubernetes / Red Hat OpenShift setup and version : v1.21.0

* If it's a bug, how to reproduce : pom include below
* <?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchem

[2021-11-03 12:16] kuailexingmao opened #1103 "Can anyone tell me how to solve this problem:java.net.UnknownHostException: kubernetes.default.svc"
I am using org.eclipse.jkube:openshift-maven-plugin, but the build fails.
My configuration is as follows:
`<plugin>                                                                                             `
`<groupld>org.eclipse.jkube</groupld>                                                                 `
`<artifactld>openshift-maven-plugin</artifactld>

[2021-11-03 17:48] #1100 closed

[2021-11-03 17:50] javastl commented on #1100
I was using the wrong property for the user
<jkube.generator.webapp.user>
Intended only for tomcat, wildly etc.   Not for setting up docker groups or user in the container

[2021-11-04 14:19] manusa commented on #1100
Hi, I think this was in scope of https://github.com/eclipse/jkube/issues/381#issuecomment-955583878.

The assembly user can be setup for images configured via XML.

Sorry for the late reply.

[2021-11-04 14:19] manusa commented on #381
https://github.com/eclipse/jkube/issues/1100#issuecomment-959777704

[2021-11-04 15:18] javastl commented on #381
Here is my current configuration.  It runs but does not allow me to configure the path for "/hello" to be shown in the kubernetes-dashboard

                <configuration>
                    <images>
                        <image>
                            <name>${docker.user}/random-generator:${project.version}</name>
                            <build>
                                <from>

[2021-11-08 10:50] rohanKanojia commented on #887
I think this warning is coming from here:
https://github.com/eclipse/jkube/blob/40b056179d70d28166b58ca01e15393e3fc73a22/jkube-kit/enricher/generic/src/main/java/org/eclipse/jkube/enricher/generic/ImageEnricher.java#L286-L290

We check whether we already have the environment variable with the provided name. If absent, we're adding it to `containerEnvVars` otherwise we're logging `Environment varia

[2021-11-08 14:29] manusa commented on #469
Fixed in #860

[2021-11-08 14:29] #469 closed

[2021-11-08 14:42] manusa opened #1106 "Base images with JDK 17 as baseline"
### Description

Upgrade [base images](https://github.com/jkubeio/jkube-images) to have a minimum JRE/JDK v 17.

- https://quay.io/repository/jkube/jkube-java-binary-s2i
- https://quay.io/repository/jkube/jkube-jetty9-binary-s2i
- https://quay.io/repository/jkube/jkube-karaf-binary-s2i
- https://quay.io/repository/jkube/jkube-tomcat9-binary-s2i

[2021-11-09 10:06] manusa commented on #1034
I'm not sure if the doc-watch profile is available for Gradle plugins

[2021-11-09 10:35] maxdidato commented on #1055
Hi, I had the same problem and find out it is related to podmam failing to build the dockerfile.
If you check the podman logs carefully it will tell you what went wrong. Unfortunately podman doesn't treat that as a fatal error, instead it logs is a DEBUG so JKube goes assuming everything went fine. This happen also when pushing the image to a repo you are not logged in or not have permissions. JKu

[2021-11-10 08:51] manusa opened #1109 "KubernetesWatchTask: Implement `k8s:watch` equivalent functionality `k8sWatch` for Kubernetes Gradle Plugin"
### Description

Child of #31

Port WatchMojo from Maven plugins to KubernetesWatchTask
- Any functionality present in maven plugin goal should be moved to KubernetesWatchTask

## AC
- [ ] Watch works for standard projects
- [ ] Watch works for Spring projects
- [ ] doc: Create appropriate asciidoc entry

[2021-11-10 09:51] manusa opened #1110 "OpenShiftWatchTask: Implement `oc:watch` equivalent functionality `ocWatch` for OpenShift Gradle Plugin"
### Description

Child of #31
Blocked by #1109

Port OpenshiftWatchMojo from maven plugins to OpenShiftWatchTask
- Any functionality present in maven plugin goal should be moved to OpenShiftWatchTask
-
## AC
- [ ] Watch works for standard projects
- [ ] Watch works for Spring projects
- [ ] doc: Create appropriate asciidoc entry

[2021-11-10 10:23] anirudhbagri commented on #1095
Hi @rohanKanojia, Can you add `hacktoberfest-accepted` label to this PR so that it counts towards it.

[2021-11-10 15:32] lbruun opened #1111 "Feature: fail oc:build if image tag already exist"
Some Docker Registries have a feature which disallows re-deploy of the same tag. This is good for several reasons.
(btw: there are differences in how "clever" such feature is in the registries which supports it, for example compare Azure, AWS, Harbor Registry, etc)

The benefits of having immutable build artifacts are well known. It is also well-known why it doesn't make sense for image consumers

[2021-11-10 17:59] rohanKanojia opened #1113 "Spring Boot Dekorate Maven Quickstart throws NPE on `k8s:apply`"
### Description

When I'm running `k8s:apply` goal to apply manifests generated by dekorate to Kubernetes Cluster. I'm getting NullPointerException:
[code]
NPE seems to be pointing to this line (`items` being `null`):

https://github.com/eclipse/jkube/blob/2a328258896d2079a3f3d8059c40b7cb141099da/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/util/ResourceUtil.java#L97

This seems to

[2021-11-11 06:35] rohanKanojia commented on #836
Code for handling Dekorate detection already seems to be there:

https://github.com/eclipse/jkube/blob/2a328258896d2079a3f3d8059c40b7cb141099da/gradle-plugin/kubernetes/src/main/java/org/eclipse/jkube/gradle/plugin/task/KubernetesResourceTask.java#L73-L80

I think we just need to add a quickstart and check if Dekorate integration is working okay

[2021-11-11 10:31] rohanKanojia commented on #802
@maycap123 : Hello, I want to pick this task from where you left. Do you have your branch pushed somewhere? I can cherry-pick your commit and include it in the PR,

[2021-11-11 11:48] manusa commented on #1095
Your PR is not compiling. Your change also requires removing the no longer necessary casting.

Your commits also seem to be signed by the anonymous GitHub user. This should be addressed too.

[2021-11-11 12:23] #1075 closed

[2021-11-11 14:14] #887 closed

[2021-11-12 08:54] manusa opened #1115 "OpenShiftBuildService doesn't work with Dockerfile mode + Assembly configuration"
### Description

When we implemented Multilayer container image support (#724 / #425), we didn't account for a scenario where the user provides a Dockerfile configuration with an Assembly and performs the build in an OpenShift cluster.

In this particular scenario, the Assembly configuration is flattened twice:

https://github.com/eclipse/jkube/blob/d4010de9a0918fdf32aefd8bc9561d62ce152b45/jkube-k

[2021-11-12 14:45] manusa commented on #858
Fixed in #1042

[2021-11-12 14:45] #858 closed

[2021-11-15 10:43] nightswimmings commented on #898
Another option is generate ServiceMonitor kinds, which is the current recommended approach for monitoring

[2021-11-15 10:58] sunix commented on #1070
It looks like the fmp doc was including doc from docker-maven-plugin
For instance:
https://github.com/fabric8io/fabric8-maven-plugin/blob/master/doc/src/main/asciidoc/inc/goals/build/_fabric8-build.adoc?plain=1#L446
[code]
Was including the adoc file from the docker-maven-plugin https://github.com/fabric8io/docker-maven-plugin/blob/master/src/main/asciidoc/inc/build/_overview.adoc?plain=1

[2021-11-15 11:02] manusa commented on #1070
Yes, that's very likely.
We need to check if that doc applies to our project and if we actually migrated the affected docs from DMP too.

For the ones you mention, I think we did.

[2021-11-15 11:02] sunix commented on #1070
In any case, if we were willing to use these kind of includes, it would make sense to have it in a separate project. Not in the doc project.

[2021-11-15 11:03] manusa commented on #1070
So basically the classpath thingy was used to include adoc from other jars. right?

If so, I think it's completely safe to remove that.

[2021-11-15 11:08] sunix commented on #1070
Yes exactly

fabric8-maven-plugin/doc/src/main/asciidoc (master) >_ find -name "*.adoc" |xargs grep "classpath:"
./inc/_appendix.adoc:include::classpath:/META-INF/fabric8/kind-filename-type-mapping-default.adoc[]
./inc/goals/build/_fabric8-build.adoc:include::classpath:/META-INF/doc/dmp/inc/image/_configuration.adoc[]
./inc/goals/build/_fabric8-build.adoc:include::classpath:/META-INF/doc/dmp/inc/b

[2021-11-15 13:45] #1076 closed

[2021-11-15 14:44] #1054 closed

[2021-11-15 14:55] sunix opened #1118 "refactor ConfigHelper::initImageConfiguration"
### Description
Refactor this part https://github.com/eclipse/jkube/blob/6ba7797d980b04e6ee6276e681a5444d0611295a/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/helper/ConfigHelper.java#L208-L216

- avoid iterating 2 times
- refactoring and renaming so it is clear what it is doing : print image location or extracting the api version, etc ...
- also fix the

[2021-11-15 20:31] hkimbrough22 commented on #1091
@rohanKanojia does this still need help?

[2021-11-16 06:09] rohanKanojia commented on #1091
@hkimbrough22 : There is PR from @KlaudiaHorvat #1093 but it doesn't have commit signed off which is required by Eclipse for contributions to be merged. If @KlaudiaHorvat  is not working on this we can close #1093 & maybe you can pick this up

[2021-11-16 10:26] #1070 closed

[2021-11-17 11:25] #802 closed

[2021-11-17 15:05] #1115 closed

[2021-11-18 18:11] nightswimmings opened #1125 "Support WebFlux SpringBoot projects when it comes to generate probes for actuators"
SpringBootHealthCheckEnricher uses servlet properties exclusively in order to generate probes

[code]

When the service is reactive (webflux) the equivalent counterpart property is spring.webflux.base-path

[2021-11-18 18:17] rohanKanojia commented on #1125
Thanks for reporting this issue. Would it be possible for you to contribute a PR for this?

[2021-11-19 10:22] nightswimmings commented on #1125
I'll try to find a moment during this week, I guess it requires testing, because otherwise its a 10 min change

[2021-11-19 12:50] guiliguili opened #1126 "Liveness and readiness TCP ports are not serialized as numbers when defined as numbers"
### Description
When specifying liveness and readiness TCP port in `pom.xml` using a number value as follow :

[code]

The generated deployment file is serialized as a string value between double-quotes :

[code]

### Info

* Eclipse JKube version : 1.5.1
* Maven version (`mvn -v`) : 3.8.3

### Root cause analysis

The [org.eclipse.jkube.kit.enricher.handler.ProbeHandler#getTCPSocketAction](https:

[2021-11-22 09:46] pmbsa opened #1129 "oc:resource failing looking for a missing class io.fabric8.kubernetes.api.model.batch.v1.JobBuilder"
### Description
Hi Jkube, I am in the process of migrating to JKUBE from fabric8. I have managed to make the necessary changes to my config to allow the kubernetes-maven-plugin to build and deploy as we had using fabric8. I am not testing the openshift plugin with the same.
I simply replaced the kubernetes plugin with the openshift plugin expecting it to work but perhaps I am over simplifying?
the

[2021-11-22 10:15] rohanKanojia commented on #1129
Hello, I'm not able to reproduce this. I ran `oc:resource` on https://github.com/rohanKanojia/eclipse-jkube-demo-project but could not see similar error. Could you please share a reproducer project?

[2021-11-22 10:16] pmbsa commented on #1129
Hey Rohan, that might be tricky. I am working for a bank but I will see what I can do.

[2021-11-22 10:18] manusa commented on #1129
#1124 is taking care of many things related to Resources, both known and unknown.

Would it be possible for you to clean install the code in the PR and see if the problem persists on 1.6.0-SNAPSHOT?

[2021-11-22 10:26] rohanKanojia opened #1130 "Add E2E test for CustomResources in JKube Integration tests"
### Description

Right now we don't seem to have any E2E test which verifies the application of Custom Resource manifests onto a Kubernetes Cluster . We need to create an E2E test in [jkube-integration-tests](https://github.com/jkubeio/jkube-integration-tests/tree/main/projects-to-be-tested) similar to [spring-boot-crd](https://github.com/eclipse/jkube/tree/master/quickstarts/maven/spring-boot-crd

[2021-11-22 10:36] pmbsa commented on #1129
I will have a go at the 1.6.1-SNAPSHOT.

[2021-11-22 10:41] manusa commented on #1129
(Just to make sure) You need to checkout the branch in my PR or wait for the PR to get merged.

[2021-11-22 11:06] pmbsa commented on #1129
using that snapshot build seems to cause untold chaos

[code]

[2021-11-22 11:49] manusa commented on #1129
That's odd, looks like a collision of dependencies with the underlying Kubernetes client.

Maybe this is related to your original problem, it seems that your project is picking up an older version of the client (for some strange reason).

[2021-11-22 11:57] #1034 closed

[2021-11-22 12:07] lbruun opened #1132 "Env vars with KUBERNETES_ name prefix"
In certain example fragments in the documentation it is shown that you can define your own env var and the name `KUBERNETES_NAMESPACE` is used in the example.

I believe the env var name prefix `KUBERNETES_` is being used by OpenShift ?

I think the documentation **should not encourage a home-made env var with this particular name prefix**.

It would be better to show example like this:

[code]

w

[2021-11-22 12:09] manusa commented on #1132
Would you like to contribute a PR with proposed changes in the quickstarts and documentation?

[2021-11-22 13:38] rohanKanojia opened #1134 "Add support for `watchPostTask` to KubernetesWatchTask in Kubernetes Gradle Plugin"
### Description

Kubernetes Maven Plugin's watch goal provides a `watchPostGoal` configuration option which allows running a maven goal on rebuild/restart of application during `k8s:watch`:
![Screenshot from 2021-11-22 18-48-12](https://user-images.githubusercontent.com/13834498/142868538-b05b0a57-7d98-4ea6-b282-3f2f491e367d.png)

Kubernetes Maven Plugin WatchMojo delegates this task to a thread w

[2021-11-22 15:49] sunix opened #1136 "gradle k8sBuild on a quarkus project is failing with java.util.ConcurrentModificationException"
### Description

### Info

* Eclipse JKube version : 1.5.1 or 1.6.0-SNAPSHOT
* Gradle version: gradlew (provided) 7.3

* If it's a bug, how to reproduce :
1. create a new gradle Quarkus project from https://code.quarkus.io/
2. add to build.gradle
[code]
3. run
[code]
4. it fails with
[code]

[code]

[2021-11-22 16:03] Christian-dev-ops opened #1137 "[jkube-volume-permission] Add resources"
### Description
When I mount a PVC into my fragment deployment.yml, the Jkube use the jkube-volume-permission enricher, but my cluster has resource limited and i need to put "resources -> requests and limits"

### Info

* Eclipse JKube version : 1.5.1
* Maven version (`mvn -v`) : 3.8.1
[code]
* Kubernetes / Red Hat OpenShift setup and version : Kubernetes  v1.18

* If it's a feature request, what

[2021-11-22 16:06] rohanKanojia commented on #1136
What happens when you set a breakpoint here? Could it be due to the way we're extracting dependencies?

https://github.com/eclipse/jkube/blob/ab423e19c5945524ca6ff3f2dc4896546961eb8c/gradle-plugin/kubernetes/src/main/java/org/eclipse/jkube/gradle/plugin/GradleUtil.java#L138

[2021-11-22 16:32] manusa commented on #1136
That's odd, but that code is doing lot's of stuff and manipulating several lists. It might be colliding with something Quarkus is doing.

[2021-11-22 17:06] sunix commented on #1136
That part is tricky hard to debug with the stream api.

[2021-11-22 17:08] manusa commented on #1136
Don't worry, I'll try to take a look tomorrow first thing.
That piece of code is doing too many things.

[2021-11-22 18:05] robinroos opened #1138 "imagePullPolicy: IfNotPresent should be Always for -SNAPSHOTs"
### Description

Upon oc:resource oc:deploy of a Spring Boot application, the resulting Deployment has imagePullPolicy: IfNotPresent.  This causes OpenShift not to fetch the new version.  If the built version is a SNAPSHOT then imagePullPolicy should have value Always.

### Info

* Eclipse JKube version : 1.5.1
* Maven version (`mvn -v`) : 3.6.3
* Kubernetes / Red Hat OpenShift setup and version :

[2021-11-23 06:22] lbruun commented on #1132
@manusa. Sure. Give me a day or two.

[2021-11-23 09:37] #778 closed

[2021-11-23 09:37] #1113 closed

[2021-11-23 09:46] sunix commented on #1136
maybe this will help: it is OK if I ignore `quarkusDev`
![Selection_564](https://user-images.githubusercontent.com/650571/143002074-c7d5b1eb-f280-4b12-af99-fa907e0fb921.png)

[2021-11-23 10:55] pmbsa commented on #777
Hey @manusa, I am having a similar issue to the problem expressed above where my docker daemon is rejecting the tar file created (BUT, only when I am doing a dockerfile based build, where jkube generates my dockerfile everything is fine).
the daemon returns errors
[code]
I am on docker version
[code]

Is it true to say that we need to find a way to upgrade our version of Docker to upgrade to jkube

[2021-11-23 11:05] manusa commented on #777
As far as I understand, after #793, the "invalid" tar archive issue was fixed and JKube produced archives should be compatible with that version of Docker (17.12.0-ce). @davidecavestro ?

This part is confusing. Do you mean that for your Docker version, depending on how you build your image (from Dockerfile or from Generator) **with JKube**, it might or might not work?

[2021-11-23 11:10] pmbsa commented on #777
ye, if I build a service that uses the jkube generated dockerfile it works fine. When I build a service that has a dockerfile of its own, everything seems to work ok until I add fileSets to the assembly (possibly pushing the tar over a certain size, I am not sure). If I just add a single file for example to the assembly I am ok.

[2021-11-23 11:13] manusa commented on #777
Maybe there's something wrong with the assembly and the generated file descriptor.
It would be of great help if you could generate a reproducer project, since I think your issue is completely unrelated with this one (despite the same error message).

[2021-11-23 11:18] pmbsa commented on #777
That gets really hard for me to do, I have to sell my soul to the gods of banking before I am allowed to do stuff like that but I will try.
Its worth mentioning though that the structure in the target/docker folder is perfectly formed for the image. If I run "docker build" from the folder that has the generated Dockerfile I am able to build the image perfectly and stand up the container

[2021-11-23 11:45] manusa commented on #1138
https://kubernetes.io/docs/concepts/containers/images/#imagepullpolicy-defaulting

Another option would be to leave it blank and let the cluster decide. But yes, this seems like something we should fix.

[2021-11-23 15:19] pmbsa commented on #777
[docker-file-provided.zip](https://github.com/eclipse/jkube/files/7589056/docker-file-provided.zip)
I have used one of your examples modified to recreate the problem (using all freely available stuff). The scenario is we build against a remote instance of docker (17.12 as I said). The onlydifference between the project in the zip and the one within my organsiation is the base image, I dont have ac

[2021-11-24 09:16] manusa opened #1142 "Log informative message whenever a goal/task is skipped"
## Description

Whenever a goal/task is skipped (in either of the plugins), we should log an informative message indicating that the execution is skipped.

- [x] Kubernetes Maven Plugin
- [x] OpenShift Maven Plugin
- [x] Kubernetes Gradle Plugin
- [x] Kubernetes Gradle Plugin

_Originally posted by @manusa in https://github.com/eclipse/jkube/pull/1141#discussion_r755831821_

[2021-11-24 11:26] #961 closed

[2021-11-25 06:30] Attyuttam commented on #966
Hi @manusa, I can see that this issue is still open. Will it be okay if I pick up this issue ? I am new to contributing to open source and this might be my first contribution ever so I am not aware of the norms so please pardon me if the question is not suitable here.

[2021-11-25 06:34] rohanKanojia commented on #966
@Attyuttam: Hi, it's been a month of inactivity by currently assigned user so I think it's okay for you to pick this. Please go through https://www.eclipse.org/jkube/contributing . You'd need to create an Eclipse Account and sign off your commit by `Signed-Off-By` footer (`git commit --signoff`).

[2021-11-25 06:43] Attyuttam commented on #966
Sure @rohanKanojia

[2021-11-25 06:46] rohanKanojia commented on #966
@Attyuttam : Feel free to contact us in case you have any questions on our Gitter public channel[0]

[0] https://gitter.im/eclipse/jkube

[2021-11-25 08:14] Attyuttam commented on #966
Hi, I was able to go through all the steps mentioned above by @manusa and then run the debug session which produced the following code:

[code]
After that, I followed the steps given below but still encountered an issue:

1. Started the debug session with host: localhost and port 5005
2. hit the application running on kubernetes by running the command "minikube service spring-boot"
3. Now, I have

[2021-11-25 08:56] rohanKanojia commented on #966
Could you please add a full stack trace of the error you're getting?

[2021-11-25 08:57] #1132 closed

[2021-11-25 09:06] Attyuttam commented on #966
its not an error but its not being able to find the jar file containing the code for HelloController.java I think

As you can see , since i have put a debug point at /jkube/quickstarts/maven/spring-boot/src/main/java/org/eclipse/jkube/maven/sample/spring/boot/HelloController.java(line 29) , it tries to hit the break point but since the jar is not available to the debug session in eclipse, its not

[2021-11-25 09:59] rohanKanojia commented on #966
Do you have your branch somewhere which I can pull and try out?

[2021-11-25 10:23] Attyuttam commented on #966
@rohanKanojia  sure. This is my branch: https://github.com/Attyuttam/jkube/tree/feature/attyutttam-issue-966
Thank you for looking into it

[2021-11-25 10:24] Attyuttam commented on #966
Just my perspective.
I think this is an issue with me failing to add the jar properly in eclipse during debug, probably not with the code.
Please feel free to suggest.

[2021-11-25 16:11] rohanKanojia commented on #966
I tried out testing `k8s:debug` on your branch and it's working as expected for me :+1:

[2021-11-26 03:36] Attyuttam commented on #966
That's great. I was of the feeling I was getting the issue because of the incorrect placement of JARs in eclipse. Pardon me as I am using eclipse for the first time. I have raised the PR but its currently failing due to a check failure at codecov/patch. Can you please suggest if I would need to add a test for that part or not. I am aware of Sonar checks but not codecov.

here's my PR: https://gith

[2021-11-26 09:47] #1109 closed

[2021-11-26 09:47] #901 closed

[2021-11-26 14:29] manusa opened #1146 "KubernetesBuildTask: k8sBuild Generator - Vert.x"
## Description

Child of #31

k8sBuild Gradle task works with Vertx Generator.

- Any configuration setting should be part of the KubernetesExtension class (Tasks should have no Inputs)
- Any logic present in the current Mojos should be moved to JKube-kit

## AC
- [ ] Generator configuration options can be overridden via DSL
- [ ] Documentation related to the generator in Gradle docs

[2021-11-26 14:30] manusa opened #1147 "OpenShiftBuildTask: ocBuild Generator - Vert.x"
## Description

Child of #31
Equivalent of and blocked by #1146

ocBuild Gradle task works with Vertx Generator.

- S2i build works fine

[2021-11-26 14:31] manusa opened #1148 "KubernetesBuildTask: k8sBuild Generator - Micronaut"
## Description

Child of #31

k8sBuild Gradle task works with Micronaut Generator.

- Any configuration setting should be part of the KubernetesExtension class (Tasks should have no Inputs)
- Any logic present in the current Mojos should be moved to JKube-kit

## AC
- [x] Generator configuration options can be overridden via DSL
- [ ] Documentation related to the generator in Gradle docs

[2021-11-26 14:32] manusa opened #1149 "OpenShiftBuildTask: ocBuild Generator - Micronaut"
## Description

Child of #31
Equivalent of and blocked by #1148

ocBuild Gradle task works with Micronaut Generator.

- S2i build works fine

[2021-11-26 14:32] manusa opened #1150 "KubernetesBuildTask: k8sBuild Generator - OpenLiberty"
## Description

Child of #31

k8sBuild Gradle task works with OpenLiberty Generator.

- Any configuration setting should be part of the KubernetesExtension class (Tasks should have no Inputs)
- Any logic present in the current Mojos should be moved to JKube-kit

## AC
- [ ] Generator configuration options can be overridden via DSL
- [ ] Documentation related to the generator in Gradle docs

[2021-11-26 14:33] manusa opened #1151 "OpenShiftBuildTask: ocBuild Generator - OpenLiberty"
## Description

Child of #31
Equivalent of and blocked by #1150

ocBuild Gradle task works with OpenLiberty Generator.

- S2i build works fine

[2021-11-29 11:55] sunix opened #1153 ""Too many open files" when building jkube in some environment"
### Description
I am randomly facing "Too many open files" error when building JKube in some environment. I am wondering if we have a leak. The goal of this issue would be to analyse, investigate and make sure we are not leaking.

[code]

from https://quay.io/repository/sunix/jkube-dev/build/13e24378-5771-4ca6-abdf-5512c9e9382e

### Info

* Eclipse JKube version : 1.6.0-SNAPSHOT

[2021-11-29 13:20] manusa commented on #1138
As agreed during triage session, we should **set** the value to Always (not leave it blank), and provide a warning.

[2021-11-29 13:45] manusa opened #1154 "Update Asciinema intro content with something more up to date"
### Description

The current Asciinema intros are very outdated.
- https://asciinema.org/a/335724
- https://asciinema.org/a/335743
- https://www.eclipse.org/jkube/demos

We should replace with something more updated (maybe Asciinema too, or just a plain YouTube video).

[2021-11-30 11:53] #966 closed

[2021-11-30 14:15] #1136 closed

[2021-12-01 07:47] #1110 closed

[2021-12-01 15:12] sunix opened #1156 "kubernetes gradle plugin: Should k8sBuild require kubernetes cluster to be configured ?"
### Description
I am trying to run k8sBuild and get this error with podman:
[code]
1. this is strange that it is requiring kubernetes to be configured to work.
2. it is marked as successful but no image has been built.

### Info

* Eclipse JKube version : 1.6.0-SNAPSHOT

* Sample Reproducer Project : testing with a gradle project generated from https://code.quarkus.io/

[2021-12-01 15:41] jesperdj opened #1157 "Support for Docker option: --platform"
### Description

### Info

* Eclipse JKube version : 1.5.1
* Maven version (`mvn -v`) : 3.8.4
* Kubernetes / Red Hat OpenShift setup and version : N/A (Not using Kubernetes, I just want to build Docker images)
* If it's a bug, how to reproduce : Not a bug
* If it's a feature request, what is your use case :

I am using a new MacBook Pro with Apple Silicon (M1 Max CPU, arm64 architecture).

I have

[2021-12-02 09:30] sunix opened #1158 "k8s build task should inform the user when no image build was performed (if no configuration/generator were found)"
### Description
Testing a Quarkus project with gradle and podman:
[code]

JKube doesn't know how to build a container: Quarkus doesn't have any predefined generator and no configuration were found. So no image were built. This is expected. However, the user should be informed with a log message.

### Info

* Eclipse JKube version : 1.6.0-SNAPSHOT
* Sample Reproducer Project : testing with a gradle

[2021-12-02 10:52] #1030 closed

[2021-12-02 11:03] Attyuttam commented on #1092
I can see that there is one PR merged and that PR seems to contain the necessary change. Is this issue still open by any chance ?

[2021-12-02 11:07] rohanKanojia commented on #1092
@Attyuttam : Yeah, You're right. Let's close this one.

Are you looking for some issue to work on?

[2021-12-02 12:07] Attyuttam commented on #1091
Hi @rohanKanojia  , Can I pick up this issue  if its still open ?

[2021-12-02 12:36] rohanKanojia commented on #1091
@Attyuttam : I think you can pick this since there is no activity on #1093 for a month

[2021-12-03 03:44] Attyuttam commented on #1091
Thanks @rohanKanojia

[2021-12-03 03:45] Attyuttam commented on #1092
Hi, @rohanKanojia , like you suggested, I am picking up https://github.com/eclipse/jkube/issues/1091

[2021-12-04 14:30] Patralekha commented on #1095
Hi I would like to take up issue #1096 .Can you assign me to this?

[2021-12-05 04:48] shivkushwaha1511 commented on #1090
I want to contribute to this issue, could you please assign it to me

[2021-12-06 06:10] rohanKanojia commented on #1090
Sorry, while reviewing your PR I realized this issue is no longer applicable after the recent refactor in #1124 .

[2021-12-06 06:10] rohanKanojia commented on #1090
@shivkushwaha1511 : I think we can close this issue. Shall I create some other good first issue for you? Would you be willing to work on that?

[2021-12-06 06:10] #1090 closed

[2021-12-06 06:23] shivkushwaha1511 commented on #1090
Yes! Please

[2021-12-06 06:25] rohanKanojia commented on #1090
@shivkushwaha1511 : Thanks for showing interest. I'll create one issue and let you know

[2021-12-06 06:47] rohanKanojia opened #1161 "DockerRegistrySecretEnricherTest: Simplify AssertJ assertion for validating Map size"
### Description

We have this redundant assert statement in DockerRegistrySecretEnricherTest:
https://github.com/eclipse/jkube/blob/c494048705945b4312a77f2152b2023464567caa/jkube-kit/enricher/generic/src/test/java/org/eclipse/jkube/enricher/generic/DockerRegistrySecretEnricherTest.java#L79

AssertJ `assertThat` also has a `hasSize` method which accepts a map. This method should be used instead. Al

[2021-12-06 06:48] rohanKanojia commented on #1161
@shivkushwaha1511: I've created this issue in case you're interested. Please review this and let me know if you want to work on this issue. I can assign you this issue then. If you have any questions regarding this, please feel free to reach out to our team on Gitter channel: https://gitter.im/eclipse/jkube

[2021-12-06 12:57] shivkushwaha1511 commented on #1161
Yes! I like to contribute to this

[2021-12-07 07:18] Attyuttam commented on #1091
This is my PR: https://github.com/eclipse/jkube/pull/1165

[2021-12-07 12:20] guiliguili opened #1167 "CustomResourceDefinition uses v1beta1 API"
### Description
C.f. [Deprecated API Migration Guide - CustomResourceDefinition](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#customresourcedefinition-v122)

### Info

* Eclipse JKube version : 1.5.1
* Maven version (`mvn -v`) : 3.8.3
* Kubernetes version : 1.22.3
* If it's a bug, how to reproduce :
  * Add a crd to your project
  * Run 'mvn k8s:deploy', this will show the fol

[2021-12-09 11:48] #1095 closed

[2021-12-09 13:25] manusa commented on #1047
We still need to add Generator related documentation, I don't know where we reflected this in #850.
Currently, we don't have any docs about Generators on the Gradle documentation.

[2021-12-09 14:13] #1091 closed

[2021-12-09 14:22] sunix commented on #1048
Tested in devsandbox the following commands works perfectly on a Quarkus project generated from code.quarkus.io
[code]

[2021-12-09 14:23] sunix commented on #1048
https://github.com/eclipse/jkube/pull/1163 is Fixing it

[2021-12-09 16:15] #1048 closed

[2021-12-10 14:06] TueDissingWork opened #1170 "Using JKube together with Cert Manager"
### Description*
We have a K8s (1.21) cluster that uses Cert Manager and we therefore need to annotate the `Ingress` resource. This however present a small challenge as we can't create annotations using the XML configuration, which includes a slash ("/").
Here's an example of the needed annotations, which helps Cert Manager generate the needed certs:
[code]
How can I apply these annotations withou

[2021-12-10 14:24] rohanKanojia commented on #1170
Umm, I had faced this problem as well. But I was able to provide `/` in annotation like this:
[code]

[2021-12-10 14:36] manusa commented on #1170
Yes, I think this has come up a few times. I'm not sure if we even added an example for this.

[2021-12-10 15:08] TueDissingWork commented on #1170
This does the job. Thanks a lot!

[2021-12-10 15:08] #1170 closed

[2021-12-10 17:51] #1167 closed

[2021-12-13 14:24] manusa commented on #1138
I'm running into some problems with this scenario.

Running on Minikube and imagePullPolicy is set to `Always`. The scenario where the image is built in the Minikube's Docker daemon `eval $(minikube docker-env)` fails, since the cluster will still try to fetch the image from the remote repo.

[2021-12-14 06:04] rohanKanojia commented on #900
We already seem to have a [Spring Boot Helm Quickstart](https://github.com/eclipse/jkube/tree/master/quickstarts/gradle/spring-boot-helm). I'll address https://github.com/eclipse/jkube/pull/1071#discussion_r736614921 in the scope of this issue

[2021-12-14 09:12] manusa commented on #1138
Another option that we might consider is using the hash to reference the image in the generated resources when the project version is a SNAPSHOT.

[2021-12-15 07:45] tipame opened #1174 "Multiple ConfigMaps in XML configuration"
### Description
XML configuration limits number of ConfigMaps by one. There is no way to define two or more ConfigMaps with XML configuration.
I found a way to generate config map from files in directory very convenient. But where is no way to have multiple ConfigMaps created from differend directories...

### Info
* Eclipse JKube version : 1.5.1
* Maven version : 3.6.3

[2021-12-15 09:45] manusa commented on #1174
Duplicate of #249.
@tipame, you can vote for that issue.

[2021-12-15 09:45] #1174 closed

[2021-12-15 09:55] tipame commented on #249
Also intetesed in this improvement.

[2021-12-15 10:06] rohanKanojia commented on #249
Would you be interested in contributing this feature? We can provide you with code pointers if you're interested.

[2021-12-15 10:29] #900 closed

[2021-12-16 06:58] rohanKanojia opened #1176 "Does Kubernetes Gradle Plugin support configuation via Kotlin DSL"
### Description

I was trying to use plugin configuration in a gradle project which used Kotlin DSL. I'm not so familiar with Kotlin so I couldn't figure out straight away on how to represent configuration model in Kotlin. Should Kotlin DSL be supported already or there is some additional work that needs to be done in order to support Kotlin DSL configuration?

[2021-12-20 16:29] thibaut-fluteaux-infy opened #1179 "Avoid initContainer while mounting a volume"
### Description
Since I switch from fabric8 to JKUBE, When I add a volume in my description.yaml.
An initContainer using busybox is automatically added, was not the case with fabric8.

The main issue, my openshift instance dont have access to busybox image (due to corporate restriction)
### Info

* Eclipse JKube version : 1.4.0
* Maven version (`mvn -v`) : 3.8.1
[code]
* Kubernetes / Red Hat OpenS

[2021-12-20 16:59] rohanKanojia commented on #1179
Is this duplicate of https://github.com/eclipse/jkube/issues/891 ? If yes, you might be able to specify image like this:
[code]

[2021-12-20 18:57] petergarnaes opened #1180 "k8s:watch uses default namespace even if other namespace is configured"
### Description

### Info

* Eclipse JKube version : 1.5.1
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift setup and version :
[code]

### Issue

I am working on a Rancher cluster

Since it involves a Rancher cluster, I can't give a good guide on how to reproduce, but the issue is pretty straight forward. When I am trying to run `mvn k8s:resource k8s:build k8s:push k8s:watch`,

[2021-12-21 07:55] te3ex commented on #1179
Thanks for the help to change the image, is their any option to avoid the usage of init container ?
with Fabric8 it was fully working without initcontainer.

regards,

[2021-12-21 07:59] thibaut-fluteaux-infy commented on #1179
Thanks for the help to change the image, is there any option to avoid the usage of init container ?
with Fabric8 it was fully working without initcontainer.
regards,

[2021-12-21 08:20] rohanKanojia commented on #1179
@thibaut-fluteaux-infy : Would it be possible for you to share a reproducer project? I will help me debug cause for behavioral difference between two plugins.

[2021-12-21 09:46] thibaut-fluteaux-infy commented on #1179
considering volumeclaim "volumetest" allready exist.
here is my reproducer : https://github.com/thibaut-fluteaux-infy/jkube-kmp
maven profile :
    -fmp for fabric8
    -jkube for jkube

 regards

[2021-12-21 10:41] sunix opened #1182 "Add telemetry and collect anonymous information about jkube usage"
### Description
From one version to another, we would like to know if our improvements or new features are making users achieving their goals:

How far users go for each kind of project ?
Have the users managed to build, generates the k8s resources, deploy them to their cluster ? etc...
Are users giving up after the first build because it failed ?
Are users going further after we added some hints

[2021-12-21 13:19] rohanKanojia commented on #1179
I see you're using quite an old version of the Fabric8 Maven Plugin. I tried with the latest version of FMP v4.4.1 and I was able to see initContainers generated.

I think this change was done by me in https://github.com/fabric8io/fabric8-maven-plugin/pull/1318

[2021-12-21 13:27] thibaut-fluteaux-infy commented on #1179
thanks for your answer,  no way to disable the usage of init container by jkube ?

[2021-12-21 13:33] rohanKanojia commented on #1179
Right now, no. If you want we can add a configuration option to disable this here:

https://github.com/eclipse/jkube/blob/cce1b0de09a3657ec9000b3097d7266daa49aaec/jkube-kit/enricher/generic/src/main/java/org/eclipse/jkube/enricher/generic/VolumePermissionEnricher.java#L94

However, we need to decide if it's really the way we would like to go.

[2021-12-21 13:58] manusa commented on #1156
One option could be to make the client and clusterAccess fields in JKubeServiceHub lazy.

They would only be initialized provided that we are not offline and only when they are needed.

[2021-12-21 15:17] thibaut-fluteaux-infy commented on #1179
After defining this,   busybox is still used ...
am i miss something ?

[2021-12-21 16:12] rohanKanojia commented on #1180
@petergarnaes : Thanks a lot for reporting. I can reproduce this issue. Looks like instead of reading `namespace` configuration `k8s:watch` is picking up namespace from `.kube/config` context :
[code]

[2021-12-21 17:20] petergarnaes commented on #1180
@rohanKanojia you are correct, don't why i did not think of that! Thanks for helping me move on in the current version of the plugin.

[2021-12-21 17:23] rohanKanojia commented on #1157
You're right. We seem to be parsing build options during build REST call. But pulling image is done before actual build, and we're not processing any build option there. I think we should pass BuildOption there and pass platform query parameter
https://github.com/eclipse/jkube/blob/cce1b0de09a3657ec9000b3097d7266daa49aaec/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/ser

[2021-12-22 09:32] manusa opened #1184 "[DRAFT] Gradle plugins support loading generators from dependencies"
Equivalent of:

[code]

[2021-12-22 09:34] manusa opened #1185 "[DRAFT] Gradle plugins support loading generators as compile time dependencies"
Equivalent of:

[code]

[2021-12-23 10:44] #1146 closed

[2021-12-23 10:44] #1147 closed

[2021-12-24 06:01] #1161 closed

[2021-12-24 09:43] rohanKanojia opened #1188 "Add Support for specifying multiple tags in Zero Configuration mode"
### Description

This was originally suggested by @kameshsampath in chat. I'm just creating an issue about it for reference.

Right now if user wants to provide multiple tags on container image during build/push goals. He has to provide full image configuration like this:
[code]

It would be nice if we could support specifying multiple tags in zero-configuration mode via specifying some property.

[2021-12-24 15:27] rohanKanojia commented on #1180
I've created a fix for this issue. I think now watch should pick correct configured namespace

Using Kubernetes Maven Plugin, I tested this via adding a namespace in plugin configuration which was not equal to the one in kubeconfig current context:
[code]

Using Kubernetes Gradle Plugin, I specified namespace in Groovy configuration:
[code]

[2021-12-27 07:12] rohanKanojia opened #1190 "`oc:build` doesn't respect `jkube.namespace`"
### Description

I was testing my fix(#1189 / #1180) on OpenShift, but I noticed that all resources created during S2I build (Build, Build Pods, ImageStream, ImageStreamTag) doesn't respect `namespace` configuration option. They're always created with current context namespace.

If I provide namespace in plugin configuration like this:
[code]

then I run `oc:build` for S2I build:
[code]

I see bui

[2021-12-31 16:55] rohanKanojia commented on #1055
I think @maxdidato  is right about this being podman issue. Even when I build image with jkube, I see that image isn't created correctly:
[code]
When I build image directly using podman using `podman build -t parisjug/livestreamquestion .`  image seems to be built correctly:
[code]

On Docker, I'm not able to get a successful build with `k8s:build`, I'm getting this error:
[code]

[2022-01-04 10:56] rohanKanojia commented on #1055
I was getting this error due to no maven failing due to no `pom.xml` or source files present in the default context directory chosen by jkube. I'm able to get a successful build if I add a `COPY` statement for adding `pom.xml` and modify rest of the `COPY` statements to use `maven/` prefix.

[2022-01-05 15:21] petergarnaes opened #1194 "jkube-controller name configuration ignored when using resource fragments"
### Description

I have a vanilla Spring Initializr demo project showing the issue [here](https://github.com/petergarnaes/maven-kubernetes-plugin-bug-demo).

Two important things to notice:
 1. I use a deployment resource fragment `src/main/jkube/deployment.yaml`. This resource fragment does **not** overwrite `deployment.metadata.name`
 2. I have configured the name of the jkube-controller in the

[2022-01-05 18:24] Diom opened #1195 "kubernetes-maven-plugin - Skipped images still are pushed, which fails"
### Description

As a dev I want to be able to skip the build and push of certain images based on property in my POM.

I can set up the build to skip certain images but it fails when being pushed as the images that were skipped do not exist. It should be possible to skip the deployment of specific images, via the same or a different configuration property.

Error:

### Info

* Eclipse JKube versio

[2022-01-06 10:28] rohanKanojia commented on #1195
@Diom : Hi, Thanks for reporting the issue. I think it makes sense to add an additional field `skipPush` or use already existing `skip` field in BuildConfiguration to skip pushing.

We can filter out image configurations here which don't have `skip` enabled:

https://github.com/eclipse/jkube/blob/b66213473b17a4d4c25096fc02055ce33197797b/kubernetes-maven-plugin/plugin/src/main/java/org/eclipse/jkub

[2022-01-06 11:10] rohanKanojia commented on #1194
I think maybe you're mixing two configuration options. Right now while reading resource fragments, `name` is being interpreted from file name, if it's not found opinionated name is used:

https://github.com/eclipse/jkube/blob/b66213473b17a4d4c25096fc02055ce33197797b/jkube-kit/enricher/api/src/main/java/org/eclipse/jkube/kit/enricher/api/util/KubernetesResourceUtil.java#L305-L308

If you rename `sr

[2022-01-06 16:33] Diom commented on #1195
@rohanKanojia I guess this means that there is no current way to do this.
I will definitely consider a PR based on your info above. Will look into the dev guidelines when I get a chance.

[2022-01-06 16:38] rohanKanojia commented on #1195
@Diom : Thanks a lot! Here is link to our contributing doc: https://www.eclipse.org/jkube/contributing . It's not so much different from other repositories apart from creating Eclipse Account, signing ECA and adding signed off footer.

Feel free to ask any questions regarding contributing here https://gitter.im/eclipse/jkube

[2022-01-06 16:57] rohanKanojia opened #1197 "[Kubernetes Gradle Plugin] Image build is not skipped if `build` > `skip` is set to `true`"
### Description
While investigating https://github.com/eclipse/jkube/issues/1195, I noticed in gradle plugins we're not considering `skip` field in build configuration.

If I add a `<skip>true</skip>` field in image build configuration like this:

[code]
I can see image build is skipped on executing `k8s:build`:
[code]

However, If I add `skip=true` field in quickstarts/gradle/micronaut-customized

[2022-01-07 01:53] kuailexingmao commented on #1179
I encountered the same problem and did not want to use initContainer automatically loaded in Depl0ymentConfig, so I disabled jkube-volume-Permission.My configuration is as follows:
`<configuration>`
      `    <enricher>`
        `     <excludes>`
                 jkube-volume-permission
        `     <excludes>`
      `    </enricher>`
    `</configuration>`

[2022-01-07 11:33] petergarnaes commented on #1194
I am mixing two configuration options, which I thought was supported. During my reading of the docs I didn't see anything discouraging this, but maybe I missed something.

In the [docs for jkube-controller](https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#jkube-controller) it is stated:

The way it is stated leads me to believe it is a general statement about configuration in the kuberne

[2022-01-07 12:50] rohanKanojia commented on #1194
If we want to support this, this can be done by editing DeploymentBuilder during merging fragements:
[code]

then you should be able to override with configuration like this:
[code]

[2022-01-10 10:37] manusa commented on #1197
TL; DR  Gradle build tasks don't account for Image model configuration skip field.

[2022-01-10 11:05] manusa commented on #1182
woopra

[2022-01-10 13:39] #1148 closed

[2022-01-10 13:39] #1149 closed

[2022-01-12 05:34] manusa commented on #1103
The plugin is not detecting your `.kube/config` and thinks that it's being executed from within a Pod.

Are you sure you are logged in to your OpenShift cluster (oc login...)?

[2022-01-12 05:50] manusa opened #1200 "Release Eclipse JKube 1.6.0"
- https://gitlab.eclipse.org/eclipsefdn/emo-team/emo/-/issues/184
- https://projects.eclipse.org/projects/ecd.jkube/releases/1.6.0
- https://projects.eclipse.org/projects/ecd.jkube/reviews/1.6.0-release-review

[2022-01-12 05:58] manusa opened #1201 "KubernetesBuildTask: k8sBuild Generator - Thorntail (v2)"
## Description

Child of #31

k8sBuild Gradle task works with Thorntail (v2) Generator.

- Any configuration setting should be part of the KubernetesExtension class (Tasks should have no Inputs)
- Any logic present in the current Mojos should be moved to JKube-kit

## AC
- [ ] Generator configuration options can be overridden via DSL
- [ ] Documentation related to the generator in Gradle docs

[2022-01-12 05:59] manusa opened #1202 "OpenShiftBuildTask: ocBuild Generator - Thorntail (v2)"
## Description

Child of #31
Equivalent of and blocked by #1201

ocBuild Gradle task works with Thorntail (v2) Generator.

- S2i build works fine

[2022-01-12 06:01] manusa opened #1203 "KubernetesBuildTask: k8sBuild Generator - WildFly (Bootable jar)"
## Description

Child of #31

k8sBuild Gradle task works with WildFly (Bootable jar) Generator.

- Any configuration setting should be part of the KubernetesExtension class (Tasks should have no Inputs)
- Any logic present in the current Mojos should be moved to JKube-kit

## AC
- [ ] Generator configuration options can be overridden via DSL
- [ ] Documentation related to the generator in Gradle d

[2022-01-12 06:01] manusa opened #1204 "OpenShiftBuildTask: ocBuild Generator - WildFly (Bootable jar)"
## Description

Child of #31
Equivalent of and blocked by #1201

ocBuild Gradle task works with WildFly (Bootable jar) Generator.

- S2i build works fine

[2022-01-12 06:16] manusa opened #1205 "KubernetesBuildTask: k8sBuild Generator - Karaf"
## Description

Child of #31

k8sBuild Gradle task works with Karaf Generator.

- Any configuration setting should be part of the KubernetesExtension class (Tasks should have no Inputs)
- Any logic present in the current Mojos should be moved to JKube-kit

## AC
- [ ] Generator configuration options can be overridden via DSL
- [ ] Documentation related to the generator in Gradle docs

[2022-01-12 06:16] manusa opened #1206 "OpenShiftBuildTask: ocBuild Generator - Karaf"
## Description

Child of #31
Equivalent of and blocked by #1201

ocBuild Gradle task works with Karaf Generator.

- S2i build works fine

[2022-01-12 06:18] manusa opened #1207 "KubernetesBuildTask: k8sBuild Generator - WebApp"
## Description

Child of #31

k8sBuild Gradle task works with WebApp Generator.

- Any configuration setting should be part of the KubernetesExtension class (Tasks should have no Inputs)
- Any logic present in the current Mojos should be moved to JKube-kit

## AC
- [x] Tomcat (default) handler works #1231
- [x] Jetty handler works #1231
- [x] WildFly (app server) handler works #1276
- [x] Custom h

[2022-01-12 06:20] manusa opened #1208 "OpenShiftBuildTask: ocBuild Generator - WebApp"
## Description

Child of #31
Equivalent of and blocked by #1207

ocBuild Gradle task works with WebApp Generator.

- [x] S2i build works fine (Tomcat/default) https://github.com/eclipse/jkube/pull/1405
- [x] S2i build works fine (Jetty) https://github.com/eclipse/jkube/pull/1405
- [x] S2i build works fine (WildFly AppServer):
   - https://github.com/eclipse/jkube/pull/1351
   - https://github.com/

[2022-01-12 06:30] rohanKanojia commented on #1203
I'm not sure if there is gradle support for Wildfly Bootable jar. I'm not able to find anything for gradle in [docs](https://docs.wildfly.org/bootablejar/)

@jfdenise : Is Gradle supported for Wildfly Bootable Jar? If not, is there a plan to add it in future?

[2022-01-12 06:31] manusa opened #1209 "Deprecate - Remove WildFly Swarm generator"
### Description

WildFly Swarm project was superseded by Thorntail (and then by WildFly Bootable Jar).

We should remove the generator, documentation, and the tests (e2e) associated with this generator.

### AC
- [ ] Removed code
- [ ] Removed documentation
- [ ] Removed tests

[2022-01-12 06:41] rohanKanojia commented on #1209
https://thorntail.io/posts/the-end-of-an-era/

[2022-01-12 08:38] manusa opened #1210 "Gradle-Enricher: ConfigMapEnricher"
### Description

Child of #31

ConfigMapEnricher works with Gradle

### AC
- [x] Enricher documentation is ported to Gradle
- [x] IT configmap is ported to Gradle
- [x] kubernetes.yml is generated as expected
- [x] openshift.yml is generated as expected

[2022-01-12 08:41] manusa commented on #1210
Probably those methods named `***FromXmlConfiguration*` should be renamed or refactored.

[2022-01-12 08:43] manusa opened #1211 "Gradle-Enricher: ContainerEnvJavaOptionsMergeEnricher"
### Description

Child of #31

ContainerEnvJavaOptionsMergeEnricher works with Gradle

### AC
- [x] Enricher documentation is ported to Gradle
- [x] IT java-options-env-merge is ported to Gradle
- [x] kubernetes.yml is generated as expected
- [ ] openshift.yml is generated as expected

[2022-01-12 08:49] manusa opened #1212 "Gradle-Enricher: ControllerViaPluginConfigurationEnricher (TODO)"
### Description

Child of #31

_TODO_

[2022-01-12 08:52] apupier opened #1213 "Use SafeContructor instead fo Yaml Empty contructor"
### Description

see https://j0vsec.com/post/cve-2021-25738/

used in:
- https://github.com/eclipse/jkube/blob/969025bf6bd21f22ec02ef4a72174ae49aaad5bb/jkube-kit/build/api/src/main/java/org/eclipse/jkube/kit/build/api/auth/handler/OpenShiftRegistryAuthHandler.java#L119
- https://github.com/eclipse/jkube/blob/969025bf6bd21f22ec02ef4a72174ae49aaad5bb/jkube-kit/build/service/docker/src/main/java/org/

[2022-01-12 08:53] manusa opened #1214 "Gradle-Enricher: DebugEnricher"
### Description

Child of #31

DebugEnricher works with Gradle

### AC
- [x] Enricher documentation is ported to Gradle
- [x] Create IT to verify that `jkube.debug.enabled` flag works as expected
- [x] kubernetes.yml is generated as expected
- [x] openshift.yml is generated as expected

[2022-01-12 10:04] #1047 closed

[2022-01-12 10:11] jfdenise commented on #1203
@rohanKanojia , we don't have plan to support Gradle. We have had a contribution of an integration in Gradle: https://github.com/wildfly-extras/wildfly-jar-maven-plugin/tree/master/examples/gradle-mdb-rar

[2022-01-12 10:28] sunix opened #1215 "doc(gradle-plugin): quick start scenarios"
### Description
The goal of this issue is to continue working on the quickstarts scenario as part of the Gradle plugin documentation.

https://github.com/eclipse/jkube/pull/1172#issuecomment-997789976
* Getting Started
   * [ ] Minikube (visible only for Kubernetes) https://github.com/eclipse/jkube/pull/1172
      * Basic workflow
      * How to…
   * [ ] TODO - Free vanilla Kubernetes cluster (Ou

[2022-01-13 18:31] manusa opened #1216 "Karaf - Support debug"
### Description

Enable the debug goal/task by populating the `KARAF_DEBUG` environment variable.

This can be applied in a specific KarafDebugEnricher.

The current DebugEnricher could be abstracted and then reused by the KarafDebugEnricher and the DefaultDebugEnricher. Each of them would populate the appropriate environment variable and expose the port.

https://karaf.apache.org/manual/latest-2.

[2022-01-14 09:15] manusa commented on #1130
Implemented in https://github.com/jkubeio/jkube-integration-tests/pull/118

[2022-01-14 09:15] #1130 closed

[2022-01-14 11:03] sunix commented on #1205
There is no "official" gradle karaf plugin but this https://github.com/lburgazzoli/gradle-karaf-plugin.
I don't know if it is worth including the support of karaf with gradle. @manusa WDYT ?

[2022-01-14 11:07] manusa commented on #1205
For now we can leave this out of scope. We can reevaluate in the future.

### Relates to
- https://issues.apache.org/jira/browse/KARAF-6148
- https://issues.apache.org/jira/browse/KARAF-6473

[2022-01-14 14:14] #1180 closed

[2022-01-16 14:47] borramTAS opened #1218 "Generate yaml files for different environments"
### Description

I need to generate different yaml files for different environments, not only for the same environment but also different configurations for the same environment. It would be useful to have a basic templating system to be used for the different targets and specific modifications for the different combinations, it could use a system based on directories, one `commons` and one for ea

[2022-01-17 06:32] manusa commented on #1218
If I understand correctly, this issue is requesting the possibility to apply more than one environment configuration.

Considering the following directory structure
[code]

Being able to provide `<jkube.environment>common,dev</jkube.environment>` or `<jkube.environment>common,prod</jkube.environment>` as a valid configuration that would account for fragments in the listed directories would solve y

[2022-01-17 10:48] borramTAS commented on #1218
Basically yes.

I would say yes, it would solve my issue.

[2022-01-18 09:05] manusa commented on #1150
References:
- https://github.com/OpenLiberty/ci.gradle/issues/694
- https://github.com/OpenLiberty/ci.gradle/issues/695

[2022-01-19 05:58] #1190 closed

[2022-01-19 06:24] #1063 closed

[2022-01-19 06:24] #1106 closed

[2022-01-19 06:24] #1209 closed

[2022-01-20 11:31] Aman-Mandal commented on #1089
is this issue still there?

[2022-01-20 12:02] manusa commented on #1089
This issue was duplicated in #1161 and solved by #1166

[2022-01-20 12:02] #1089 closed

[2022-01-21 16:22] rohanKanojia commented on #1195
@Diom : Since I'm working on related issue https://github.com/eclipse/jkube/issues/1197 . Do you mind if I pick up this one as well?

[2022-01-21 17:50] jfbourner opened #1225 "Unable to set resource request/limit for cpu and memory."
### Description
When creating the kubenetes.yml I am unable to configure the memory or cpu. I have tried setting it in the src/main /deployment.yml but this is not valid.

### Info

* Eclipse JKube version : 1.5.1
* Maven version (`mvn -v`) : 3.6.3
[code]
* Kubernetes version: 1.16.8

* If it's a bug, how to reproduce : Unsure if this is a bug or a feature of the plugin to restrict this.

* If it'

[2022-01-21 17:51] rohanKanojia commented on #1225
Do you mean `src/main/jkube/deployment.yml` ?

[2022-01-21 18:02] jfbourner commented on #1225
Yes I do mean that. My mistake.
I have updated it with a link to the kubenetes page which gives an example so something like
`spec:
  containers:
  - name: app
    image: images.my-company.example/app:v4
    resources:
      requests:
        memory: "64Mi"
        cpu: "250m"
      limits:
        memory: "128Mi"
        cpu: "500m"`

[2022-01-21 18:04] rohanKanojia commented on #1225
I'm not able to reproduce this. Here are the steps I followed:
1. Go to [quickstarts/maven/external-resources](https://github.com/eclipse/jkube/tree/master/quickstarts/maven/external-resources) and update `src/main/jkube/deployment.yml` to this:
[code]
2. Run `mvn k8s:resource -Pkubernetes`
3. Check generated `kubernetes.yml` file in `target`
[code]

[2022-01-21 18:07] rohanKanojia commented on #1225
I think it should work if you modify your fragment like this:
[code]

[2022-01-21 18:23] jfbourner commented on #1225
Yes that is working now! Good spot. I did have it inside the template/spec to begin with but did not include the resource as a list item . How comes it needs to be a list? Is this so it can merge the 2 yml?
Happy to close this issue.

[2022-01-21 18:57] rohanKanojia commented on #1225
In Pod's spec ([PodSpec.java](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-model-generator/kubernetes-model-core/src/generated/java/io/fabric8/kubernetes/api/model/PodSpec.java#L82)) container is an array/list.

[2022-01-24 12:18] rohanKanojia opened #1227 "[Quickstarts] `k8s:build` failing with maven Micronaut Customized Image Quickstart due to wrong `jkube.image.version`"
### Description

I was testing my fix for #1195 when I realized I wasn't able to build image of the `quickstarts/maven/micronaut-customized-image` since it wasn't able to pull base image

[code]

Looks like the version of the specified [image](https://quay.io/repository/jkube/jkube-java?tag=latest&tab=tags ) is outdated:
https://github.com/eclipse/jkube/blob/d8825b7a91221125f939ed5b8a88baa601afc86

[2022-01-24 12:36] manusa commented on #1227
OK, this is because we changed the base image name, but not the version.

[2022-01-24 13:44] #1213 closed

[2022-01-25 08:21] #1142 closed

[2022-01-25 14:00] #1055 closed

[2022-01-25 19:39] lagivan opened #1232 "Cannot temporarily tag because target image already exists"
### Description
This is the same issue that was created and fixed for docker-maven-plugin several years ago - https://github.com/fabric8io/docker-maven-plugin/issues/838
Here is the fix - https://github.com/fabric8io/docker-maven-plugin/pull/1170/files
The relevant code - https://github.com/eclipse/jkube/blob/85d9fe8fd17e59eb1cdb07da194e6419201585d1/jkube-kit/build/service/docker/src/main/java/org

[2022-01-25 20:05] rohanKanojia commented on #1232
@lagivan : Thanks for reporting this. We're close to releasing a new version 1.6.0 (most probably this week) . Would it be possible for you to port this fix to JKube ?

[2022-01-25 20:40] lagivan commented on #1232
@rohanKanojia done, I'm looking forward to getting it fixed in 1.6.0

[2022-01-26 04:59] manusa opened #1236 "Gradle-Enricher: DefaultControllerEnricher"
### Description

Child of #31

DefaultControllerEnricher works with Gradle

### AC
- [ ] Enricher documentation is ported to Gradle
- [ ] Create IT to verify controller generation for all types (StatefulSet, DaemonSet, ReplicaSet, ReplicationController, Job, and Deployment)
- [ ] kubernetes.yml is generated as expected
- [ ] openshift.yml is generated as expected

[2022-01-26 05:02] manusa opened #1237 "Gradle-Enricher: DefaultMetadataEnricher"
### Description

Child of #31

DefaultMetadataEnricher works with Gradle

### AC
- [x] Enricher documentation is ported to Gradle
- [x] Create IT to verify that annotations and labels are added via DSL configuration (all, Pod, ReplicaSet, Service, Ingress, Deployment, ServiceAccount)
- [x] kubernetes.yml is generated as expected
- [x] openshift.yml is generated as expected

[2022-01-26 05:11] manusa opened #1238 "Gradle-Enricher: DefaultNamespaceEnricher"
### Description

Child of #31

DefaultNamespaceEnricher works with Gradle

### AC
- [x] Enricher documentation is ported to Gradle
- [x] IT namespace is ported to Gradle
- [x] kubernetes.yml is generated as expected
- [x] openshift.yml is generated as expected

[2022-01-26 05:15] manusa opened #1239 "Gradle-Enricher: DefaultServiceEnricher"
### Description

Child of #31

DefaultServiceEnricher works with Gradle

### AC
- [x] Enricher documentation is ported to Gradle
- [x] Create IT `service` to verify that DSL configured options work as expected
- [x] kubernetes.yml is generated as expected
- [x] openshift.yml is generated as expected

[2022-01-26 06:10] manusa opened #1240 "Gradle-Enricher: DependencyEnricher"
### Description

Child of #31

DependencyEnricher works with Gradle

### AC
- [x] Enricher documentation is ported to Gradle

[2022-01-26 08:59] #1150 closed

[2022-01-26 08:59] #1151 closed

[2022-01-26 09:20] chenzhiguo commented on #1157
Is this problem solved?

[2022-01-26 09:36] manusa commented on #1157
Not yet, I'll try to implement a quick fix to see if we can make it to 1.6 release.

[2022-01-27 06:52] rohanKanojia commented on #1087
Can we close this issue?

I've removed `skipTests` from `simplified-downloads-eclipse-release` and `simplified-maven-central-release` pipelines.

I've also added an additional [daily build](https://ci.eclipse.org/jkube/job/daily-build/) pipeline which will be triggered by SCM changes on Eclipse JKube master branch. It would also be built periodically every day.

[2022-01-27 08:59] Diom commented on #1195
@rohanKanojia - Sorry I had completely let this slip my mind. Thanks for picking it up 👍🏻

[2022-01-27 14:12] manusa opened #1243 "Quickstarts: Port Quarkus quickstart"
## Description

Child of #31

Port quarkus Maven quickstart to Gradle.

[2022-01-27 16:48] #1197 closed

[2022-01-28 09:07] #1087 closed

[2022-01-29 00:03] OneCricketeer opened #1247 "[feature-request] maven-plugin for Java generation from CRD"
If it's a feature request, what is your use case :

<strike>From what I understand, this project allows building/deploying container images and applying k8s resources from Java. But can it _parse_ any resource generated from the `operator-sdk` command (specifically golang, not the `java-operator-sdk`) into POJO classes (optionally annotated with `io.fabric8.kubernetes.model.annotation` instances?

[2022-01-29 06:28] manusa commented on #1247
Hi,
I'm not sure I'm following when you say parse.

Currently, you can include resource fragments (YAML files) of *any* kind and apiType in the `src/main/jkube` or `src/main/jkube/raw` (if you don't want them to be processed) directories.

When invoking the resource goal/task (`k8s:resource`/`k8sResource`), these resources will be taken into account and included in your `bundle`.

When invoking th

[2022-01-29 13:39] OneCricketeer commented on #1247
Thanks for responding. That's the reverse of what I want.

I'm looking for a maven plugin, something like swagger-codegen that'll read a CRD yaml definition that's been generated by operator-sdk and build a set of Java classes that represent that model structure.

E.g There's this, but it creates empty Java classes and then writes YAML

[2022-01-29 14:50] manusa commented on #1247
Understood. @andreaTP is currently working on such feature on the Fabric8 Kubernetes Client.

We'll probably be releasing this on Fabric8 Kubernetes Client 6.0.0. You can check the following related PR and issues:

- https://github.com/fabric8io/kubernetes-client/pull/3693
- https://github.com/fabric8io/kubernetes-client/issues/3642
- https://github.com/fabric8io/kubernetes-client/issues/3781
- ht

[2022-01-29 15:02] OneCricketeer commented on #1247
Aha! That seems like exactly what I was looking for! We can close this, or keep it open for future work towards a plugin goal utilizing the work done there?

Good to know I'm not the only one with the idea; we've been manually patching our java models from go crds for a while.

[2022-01-31 09:53] manusa opened #1248 "Gradle-Enricher: DockerRegistrySecretEnricher (SecretEnricher)"
### Description

Child of #31
Relates to #1245

DockerRegistrySecretEnricher works with Gradle

### AC
- [ ] Enricher documentation is ported to Gradle
- [ ] IT secret-config is ported to Gradle
- [ ] kubernetes.yml is generated as expected
- [ ] openshift.yml is generated as expected

[2022-01-31 12:05] #1157 closed

[2022-01-31 12:54] manusa opened #1250 "Gradle-Enricher: FileDataSecretEnricher"
### Description

Child of #31
Relates to #1245

FileDataSecretEnricher works with Gradle

### AC
- [x] Enricher documentation is ported to Gradle
- [x] Create IT to verify (and document) the enricher works as expected
- [x] kubernetes.yml is generated as expected
- [x] openshift.yml is generated as expected

[2022-01-31 14:26] #1195 closed

[2022-01-31 14:43] #1227 closed

[2022-01-31 14:47] sunix opened #1251 "Generate a preview of the jkube documentation for PR if needed."
### Description
It would be nice to automatically generate a preview of the jkube doc for each PR if it is related to the documentation.

For instance, could be using surge.sh:
https://github.com/eclipse/jkube/blob/9be805bf66ccccde6f61a75ffef9ca72b406f6e5/devfile.yaml#L230

and have a generated doc like this:
https://jkubedoc-sunix-jkube-minikube-getting-started.surge.sh/

Could do something simil

[2022-01-31 14:49] manusa commented on #1251
This is fine as long as the preview contains the necessary files (robots.txt, etc.) to avoid search engines crawling this content (main reason is that it would affect the main documentation SERP rank).

[2022-01-31 14:50] manusa commented on #1251
Other services to consider, vercel, netlify, etc.

[2022-02-01 08:42] rohanKanojia opened #1252 "[kubernetes-gradle-plugin] Add example and documentation for writing and using custom enrichers"
### Description

We have a section of [Enricher API](https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#_enricher_api) in our documentation on how to extend JKube API by writing your own enricher as per your use case and using it in your project. However, this also needs improvement.

While porting Enricher docs to Kubernetes Gradle Plugin in #1246, I realized we haven't tested this with k

[2022-02-01 19:18] shawkins opened #1254 "OLM bundle generation support"
### Description
This is a request for jkube to support generating the files that make up an OLM bundle.  In particular the CSV file - most of the other files can be handled as fragments or maven resources.  The CSV logic would start with a fragment, then requires picking up files/fragments from other modules (that could be merged into a single file for processing by jkube if necessary) and cherry-

[2022-02-02 11:50] manusa opened #1256 "Gradle-Enricher: GitEnricher"
### Description

Child of #31

GitEnricher works with Gradle

### AC
- [x] Enricher documentation is ported to Gradle
- [x] Add [regular expression validator](https://citrusframework.org/citrus/reference/2.7/html/validation-matchers.html) to annotations for any of the current ITests
  - git-branch
  - git-commit
  - git-url
  - vcs-uri
  - vcs-ref

[2022-02-02 11:56] manusa opened #1257 "Gradle-Enricher: ImageEnricher"
### Description

Child of #31

ImageEnricher works with Gradle

### AC
- [x] Enricher documentation is ported to Gradle

[2022-02-02 11:58] manusa opened #1258 "Gradle-Enricher: IngressEnricher"
### Description

Child of #31

IngressEnricher works with Gradle

### AC
- [x] Enricher documentation is ported to Gradle
- [x] IT ingress-xml-config is ported to Gradle
- [x] kubernetes.yml are generated as expected
- [ ] ~~openshift.yml are generated as expected~~ (Current IT doesn't test OpenShift)

[2022-02-02 12:12] manusa opened #1259 "Gradle-Enricher: NameEnricher"
### Description

Child of #31

NameEnricher works with Gradle

### AC
- [x] Enricher documentation is ported to Gradle
- [x] Create IT to verify that `jkube.enricher.jkube-name.name` flag works as expected
- [x] kubernetes.yml is generated as expected
- [x] openshift.yml is generated as expected

[2022-02-02 12:25] manusa opened #1260 "Gradle-Enricher: PodAnnotationEnricher"
### Description

Child of #31

PodAnnotationEnricher works with Gradle

### AC
- [ ] Enricher documentation is available for Maven
- [ ] Enricher documentation is ported to Gradle

[2022-02-02 14:48] manusa opened #1261 "Gradle-Enricher: PortNameEnricher"
### Description

Child of #31

PortNameEnricher works with Gradle

### AC
- [x] Enricher documentation is available for Maven
- [x] Enricher documentation is ported to Gradle

[2022-02-02 14:52] manusa opened #1262 "Gradle-Enricher: ProjectLabelEnricher"
### Description

Child of #31

ProjectLabelEnricher works with Gradle

### AC
- [x] Enricher documentation is ported to Gradle #1331
- [x] Create IT to verify that `jkube.enricher.jkube-project-label.app` flag works as expected #1386
- [x] kubernetes.yml is generated as expected #1331
- [x] openshift.yml is generated as expected #1331

[2022-02-02 15:06] manusa opened #1263 "RemoveBuildAnnotationsEnricher removal"
### Description
The [RemoveBuildAnnotationsEnricher](https://github.com/eclipse/jkube/blob/bc2a7c809087451bb49b1a62299c0bdedacbea8b/jkube-kit/enricher/generic/src/main/java/org/eclipse/jkube/enricher/generic/RemoveBuildAnnotationsEnricher.java) seems to be completely outdated.

We should analyze what its initial purpose was. If it has nothing to do with Eclipse JKube, remove it.

### AC
- [x] Remo

[2022-02-02 15:14] #1232 closed

[2022-02-03 06:10] #1210 closed

[2022-02-03 09:07] manusa opened #1265 "GSoC 2022 proposal"
https://developers.google.com/open-source/gsoc/timeline

To be submitted before 2022-02-07

[2022-02-03 09:18] sunix commented on #1265
Ideas to be added to https://wiki.eclipse.org/Google_Summer_of_Code_2022_Ideas

[2022-02-03 11:39] robinroos commented on #1138
I understand this was tricky and could not be included in 1.6.0.

[2022-02-03 11:52] robinroos commented on #802
5.12.0 is available.  Should that be adopted before jkube 1.6.0 is cut?

[2022-02-03 11:54] rohanKanojia commented on #802
@robinroos : Sorry, 1.6.0 is out already

https://repo1.maven.org/maven2/org/eclipse/jkube/openshift-maven-plugin/1.6.0/
https://repo1.maven.org/maven2/org/eclipse/jkube/kubernetes-maven-plugin/1.6.0/

[2022-02-03 11:57] manusa commented on #802
There shouldn't be any notable differences for JKube users between 5.10.1 and 5.12.0.

We'll bump the client version in our next minor release (which shouldn't take as long as this one)

[2022-02-03 11:58] manusa commented on #1138
The problem is that the change may break some inner-loop scenarios (such as the mentioned issue with Minikube). We need to further evaluate this so that the fix is valid for all use cases.

[2022-02-03 13:27] manusa commented on #1200
https://github.com/eclipse/jkube/releases/tag/v1.6.0

[2022-02-03 13:27] #1200 closed

[2022-02-04 05:20] manusa opened #1268 "ProjectLabelEnricher: group and version labels should be configurable"
### Description

[ProjectLabelEnricher](https://github.com/eclipse/jkube/blob/95f0539eac7f2b897e6240d9f1362d60679f90d5/jkube-kit/enricher/generic/src/main/java/org/eclipse/jkube/enricher/generic/ProjectLabelEnricher.java) should allow the override of the group and version labels too.

Both fields are inferred from the Maven/Gradle project configuration, which might generate invalid label values (a

[2022-02-04 05:29] manusa commented on #507
Hi @algolov

Golang expressions should be possible since 1.6.0, defined both, in a Template fragment or via XML configuration.

The following example shows how to achieve this via XML configuration:
https://github.com/marcnuri-demo/jkube-helm/blob/5018e07326a4357d741688b42ea3d0a62e221995/pom.xml#L49-L52

This quickstarts does the same with a Template:
https://github.com/eclipse/jkube/blob/ac2a6813

[2022-02-04 07:13] rohanKanojia commented on #1126
I think this is due to incorrect handling of `IntOrString` type in ProbeHandler.

Here String `port` parameter provided by configuration is first parsed to Integer. If it works then `IntOrString portObj` created previously from String `port` parameter is modified to have `intVal` set, otherwise we set `strVal`.

In `IntOrString` class there is also another `int` field called `kind` (check go struc

[2022-02-04 11:24] manusa commented on #1265
https://wiki.eclipse.org/Google_Summer_of_Code_2022_Ideas#Eclipse_JKube:_Improve_JKube_user_experience

[2022-02-04 12:25] manusa commented on #1126
Probably this should be fixed upstream:
setIntVal should set strVal null and kind 0.
setStrVal should set intVal null and kind 1.

[2022-02-04 13:21] rohanKanojia commented on #1126
I'm not sure about this. I think setters are doing what they're expected to do. Kind is already handled automatically by `IntOrString(Integer intVal)` and `IntOrString(String strVal)` constructors. I've modified code in PR to use constructors instead of using setters.

If you think it's really required I can create a PR upstream as well.

[2022-02-04 14:04] manusa commented on #1126
'I'm not sure where the `kind` field was inferred from in the upstream class, maybe that can shed some light.
What's clear is that having an IntOrString with an int value and kind 1 (or viceversa) is invalid.

[2022-02-04 14:11] rohanKanojia commented on #1126
It's here https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-model-generator/kubernetes-model-core/src/main/java/io/fabric8/kubernetes/api/model/IntOrString.java#L67

It comes directly from go struct https://github.com/kubernetes/apimachinery/blob/master/pkg/util/intstr/intstr.go#L49

Serialization is also done based on this kind value: https://github.com/fabric8io/kubernetes-cl

[2022-02-04 14:26] manusa commented on #1126
You're not following.

I know where the values are in our upstream classes. The point is that those fields don't exist in the go equivalent.

Unless I'm mistaken, we are just using them internally to persist either an integer or a string, and depending on that, we set kind to 0 or 1. But (if I'm not mistaken) this is an **internal** behavior of the Fabric8 client. The custom serializer and deseria

[2022-02-04 14:30] rohanKanojia commented on #1126
I'm sorry, I can clearly see kind field in go struct: https://github.com/kubernetes/apimachinery/blob/master/pkg/util/intstr/intstr.go#L41

[2022-02-04 14:35] manusa commented on #1126
I cannot see a field named `kind` there.
Anyway, do think it makes sense to expose such an internal functionality and let users be able to provide invalid field combinations?

[2022-02-04 14:38] rohanKanojia commented on #1126
ohk, shall I deprecate/remove `setIntVal`/`setStrVal` / `setKind`  methods?

[2022-02-07 05:18] rohanKanojia commented on #1126
ohk, I'm proceeding with this suggestion

[2022-02-07 12:01] #507 closed

[2022-02-07 17:22] rohanKanojia opened #1271 "[kubernetes-maven-plugin] : Port DebugEnricher documentation to Maven Plugins"
### Description

While working on #1214 I noticed there was no existing documentation about DebugEnricher. I had added documentation about it in #1270  but only for Gradle Plugins.

Once #1270 gets merged, We need to add this to maven plugins as well.

- [x] Port DebugEnricher asciidoc documentation to kubernetes maven plugin `doc/` module

[2022-02-08 06:12] #1126 closed

[2022-02-08 16:10] rohanKanojia opened #1273 "Deprecate / Remove `jkube.io` annotation prefix from JKubeAnnotations"
### Description

While working on https://github.com/eclipse/jkube/issues/1237 , I noticed that we generated some opinionated annotations which are prefixed by `jkube.io`. For example:
[code]

This reminded me of https://github.com/eclipse/jkube/pull/1245 . This also could be side effect of `s/fabric8/jkube`. Since `jkube.io` is an unreachable address; Does it make sense to replace prefix with som

[2022-02-10 17:59] OneCricketeer commented on #1247
Migrating to https://github.com/fabric8io/kubernetes-client/pull/3830

[2022-02-10 17:59] #1247 closed

[2022-02-11 09:59] manusa commented on #1251
Python :nauseated_face: :stuck_out_tongue_closed_eyes:

IMHO, I don't think that's necessary, the git diffs in the adocs should be sufficient.

I'm happy about the generated docs deployment because it helps to see if the doc composition is OK and helps checking out the big picture (now that we're restructuring the docs). Otherwise, personally I was always happy checking the docs in the raw format.

[2022-02-11 10:22] sunix commented on #1251
I guess this is a personal preference. I like to have the diff of the final result.
Maybe I will port https://github.com/myobie/htmldiff in Java some days ;)

[2022-02-11 12:28] ammbra opened #1278 "Enricher with type Job does not generate mandatory spec.template.spec.restartPolicy"
### Description
If you configure

`<jkube.enricher.jkube-controller.type>job</jkube.enricher.jkube-controller.type>
`

, do not set any additional YAML fragment for the Job, and run `mvn k8s:resource`, the resulted Job resource will not have a `spec.template.spec.restartPolicy`. When trying to apply the resource (`mvn k8s:apply`) you will get a message with

`This is required Policy: Required valu

[2022-02-11 13:17] manusa commented on #1278
:pray:  Thx for reporting!

We should provide a default/configurable value in the [JobHandler](https://github.com/eclipse/jkube/blob/1ec8528f6b0acadc07dc98a308ef15488d1268e7/jkube-kit/enricher/api/src/main/java/org/eclipse/jkube/kit/enricher/handler/JobHandler.java).

For now, in case someone is having this problem too, the easiest workaround is to create a fragment with:

[code]

[2022-02-11 13:34] pmbsa commented on #777
Hi @manusa, dont suppose there is any way you can find some to check this out for me? I just upgraded to the latest release in the vain hope I might get lucky but the problem persists. Its a real issue for me, I need to bring our organisation up to jkube but there is no way I can do that unless we can get our dockerfile based services working as well.

cheers
Paul

[2022-02-11 14:13] sunix opened #1279 "~~Rethink~~ Remove log messages like "Running in Kubernetes mode" that don't seem to be useful"
### Description
Seeing messages like "Running in Kubernetes mode" or ""Running in Openshift mode" are confusing me as an end user.
As a user, I don't know what are the consequences of these modes. I know this is a heritage from the past. These messages are more raising questions/doubts than providing useful informations about what JKube is doing.

I propose to remove these ones.

### Info

* Eclip

[2022-02-11 14:45] manusa commented on #777
Sorry, it seems that I didn't get the notification for this issue.
I'll try to check it out

[2022-02-11 14:51] manusa commented on #1279
Agreed. I can't remember if we are already loggin what kind of build we are doing.
e.g.
- Local Docker
- Local Jib
- OpenShift Docker
- OpenShift S2I
- ...

[2022-02-11 14:59] rohanKanojia commented on #1279
We used to have `fabric8.mode` in Fabric8 Maven Plugin which used to work both on Kubernetes and OpenShift. Now that we've specific plugins. I think it's safe to remove this message.

[2022-02-11 15:18] rohanKanojia commented on #1271
Now that we've moved enricher documentation to jkube-kit, this should be covered by #1270 since both maven and gradle plugins share same documentation for enrichers

[2022-02-12 06:27] Hrushi20 commented on #1263
Should I remove the [RemoveBuildAnnotationsEnricher](https://github.com/eclipse/jkube/blob/bc2a7c809087451bb49b1a62299c0bdedacbea8b/jkube-kit/enricher/generic/src/main/java/org/eclipse/jkube/enricher/generic/RemoveBuildAnnotationsEnricher.java) class?

[2022-02-14 06:01] #1236 closed

[2022-02-14 16:28] Hrushi20 commented on #1262
Hey! What exactly is the use of IT module in the project. I am not understanding what exactly it is used for.

[2022-02-15 06:45] rohanKanojia commented on #1240
Wasn't this covered in https://github.com/eclipse/jkube/pull/1060 ? I think the only thing remaining is to add documentation for this (which doesn't exist at the moment)

[2022-02-15 08:38] #1237 closed

[2022-02-15 09:14] manusa commented on #1240
Duplicate of #1060 / #838

[2022-02-16 14:06] #1211 closed

[2022-02-16 16:29] rohanKanojia commented on #1248
DockerRegistrySecretEnricher generates [Kubernetes Docker Config Secrets](https://kubernetes.io/docs/concepts/configuration/secret/#docker-config-secrets) by checking server credentials in `settings.xml`. User just needs to provide server id in Secret XML configuration or `jkube.eclipse.org/dockerServerId` annotation. You can read more about this in [Secrets section](https://www.eclipse.org/jkube/

[2022-02-16 16:47] sunix opened #1284 "webapp custom generator should not require to set a CMD configuration"
### Description
Setting up a webapp (war) project with this configuration in the `build.gradle` file
[code]
is failling to build with the error
[code]

Adding `cmd` to the configuration is fixing it:
[code]

However, it should not fail without `cmd` and use the command that is provided by the container image.

### Info

* Eclipse JKube version : 1.6.0

* Kubernetes / Red Hat OpenShift setup and ve

[2022-02-17 05:52] #1214 closed

[2022-02-17 05:52] #1271 closed

[2022-02-17 06:29] manusa opened #1286 "DependencyEnricher should allow configuration/customization of embedded YAML files"
### Description
Currently, the embedded cluster manifests have a hard-coded name. This means that there is no way of customizing which YAML files are going to be embedded.

The current behavior will check for files located in:
- `META-INF/jkube/kubernetes.yml`
- `META-INF/jkube/k8s-template.yml`
- `META-INF/jkube/openshift.yml`

A configuration to be able to provide **extra** paths for inclusion s

[2022-02-17 08:43] sunix commented on #1284
also the message is misleading:
- it sounds like there is a conflict but there isn't
- what is `shell`?
- `in one form`? maybe rephrase this

[2022-02-17 09:08] manusa commented on #1284
I'm not sure why this is causing trouble here and not in other kinds of generators such as JavaExec, where there is no definition for these fields.

[2022-02-17 09:11] manusa commented on #1284
OK, the problems seems to be here:
https://github.com/eclipse/jkube/blob/f3f44a12d96e9b65ddfd1568ea63bf521ba8a174/jkube-kit/generator/webapp/src/main/java/org/eclipse/jkube/generator/webapp/WebAppGenerator.java#L111
We probably need to include the `.cmd` call only if `getDockerRunCommand(handler)` is not null.

[2022-02-17 11:04] #1240 closed

[2022-02-17 17:55] sunix commented on #1207
for `Custom handler works`
- quickstart: https://github.com/eclipse/jkube/pull/1288
- bug: https://github.com/eclipse/jkube/issues/1284

[2022-02-18 11:37] tipame opened #1290 "Disable forced Deployment creation for incomplete image models"
### Description
I have simple module with only one kubernates Service defined in: ../jkube/simple-service.yaml
I'm already exclude most enrichers - so i expect only one object to be generated.
Actualy resource goal always generate "Deployment/Deployment Config" object. Generated object is incomplete (because where is no info about container image). So if i run apply goal - exception is thrown.
I w

[2022-02-18 11:55] tipame opened #1291 "XML configuration ConfigMap resource file not filtered"
### Description
I create ConfigMap configuration like that:
[code]
In resource file  **test-application.yaml**:
[code]
This property is not resolved during resource goal execution (as expected).
Work only If same file content placed in  **/jkube/test-configmap.yaml**:
[code]

### Info

* Eclipse JKube version : 1.6.0, 1.5.1, 1.4.0
* Maven version (`mvn -v`) : 3.6.8

[2022-02-18 15:15] michael-mader opened #1292 "JIB build breaks for spring-boot if classifier is used"
### Description
I am building an image with jib for a spring-boot application. Spring-boot applications need to be repackaged in a fat jar so that you can run `java -jar myApp.jar`.

This repackaging can either happen in place or with a classifier.
A classifier `exec` leads to two jars:
- myApp.jar
- myApp-exec.jar

Where `myApp-exec.jar` is the fat jar.

kubernetes-maven-plugin seems to be able t

[2022-02-20 01:43] cdprete opened #1294 "Allow to disable Jolokia and Prometheus"
Hi.
I'm using the versio `1.6.0` of the plugin and I'm not able to run multiple containers in the same Pod within a k3s cluster because of port clashing. In particular, on the second container starting I've:
[code]
The ports used for the Jolokia as well as Prometheus agent seem to be quite hardcoded, therefore both the containers (2 Spring Boot applications) get the same ports and they clash.
Foll

[2022-02-21 04:32] simonwg opened #1295 "Spring Boot actuator endpoints failed to generate automatically if "deployment.yml" resource fragment is used"
### Description

### Info

* Eclipse JKube version : 1.6.0
* Maven version (`mvn -v`) : 3.8.4
[code]
* Kubernetes / Red Hat OpenShift setup and version : OpenShift 3.11

* If it's a bug, how to reproduce : Using the zero-config quickstarts. Add the following in src/main/jkube/deployment.yml

[code]
The log will show that "oc: jkube-healthcheck-spring-boot" is not triggered and the output openshift

[2022-02-21 05:29] rohanKanojia commented on #1295
@simonwg : Thanks for reporting, I can reproduce this issue.

Till this gets fixed you can try using this property as a workaround:
- Add liveness/readiness probes to all containers
[code]

[2022-02-21 06:10] rohanKanojia commented on #1292
Does it work when you modify your image configuration to copy classifier jar also?

When using XML configuration, we should ideally be providing everything via configuration. Looks like this behavior is caused by `JKubeProjectUtil.getFinalOutputArtifact` copying jar automatically into image.
[code]

[2022-02-21 06:14] manusa commented on #1290
Did you exclude `jkube-controller`?

[2022-02-21 06:19] manusa commented on #1292
With a manual assembly configuration, you are responsible of including the files that you want.

By the default, the assembly will include what Maven has set as the main artifact for the project.

In you current scenario, you don't want that file, so in addition to what Rohan pointed out, you should also add the `<excludeFinalOutputArtifact>true</excludeFinalOutputArtifact>` option to your `<assem

[2022-02-21 06:27] manusa commented on #1291
I don't think filtering is supported when using the `jkube-configmap-file`.

In your case, you are including a source file which in the end (if in Maven) should be processed by the Maven Resources Plugin. I understand that you are using this approach because this file is also used for other purposes. Why aren't you including the file that should be placed in `target/test-classes/` directory instea

[2022-02-21 07:32] michael-mader commented on #1292
ok thanks for your answer. I'll check if it is working like you suggested.
But I still don't understand, why the spring-boot generator is not used in this scenario? My understanding was, that you can add explicit configuration on top, but it seems like you are replacing everything when setting a configuration.

[2022-02-21 07:52] tipame commented on #1291
Ok. I can make filtration with resource plugin, but it's also can be done for all files in jkube directory.
Doing so - we bring unnessesery copy of files as jkube already has filtration future (and copies files from jkube source dir to target). In my opinion it should be fixed.

[2022-02-21 08:02] tipame commented on #1290
Ecluding jkube-controller - helped in my case. Thank you!
But steel - i think that resource generation of "broken" xml config (no image is supplied) should end with exception.

[2022-02-21 08:42] manusa commented on #1292
Generators are meant to provide an _opinionated_ image configuration for your project. They are a zero-config alternative to `<configuration><images><image>`.

The fact that you provide an image configuration for your project, in most cases will disable the zero-config generators.

This shouldn't be the case, however, setting `<configuration><images><image>` in most cases does (due to the mentione

[2022-02-21 08:44] manusa commented on #1290
This one would be hard to tackle, could you provide some reproducer code?

I understand that you end up with a Deployment that has no PodTemplate?

[2022-02-21 08:46] michael-mader commented on #1292
thanks for making this clear!

[2022-02-21 08:47] manusa commented on #1291
The thing is that you are using a file that is not "handled by JKube". We can evaluate this, because it might make sense from a UX perspective (although I'm still not sure about this).
From a technical perspective it doesn't because that resource is not handled by JKube and it's not a Fragment.

For me the question is, where else are you using that test resource? and why doesn't it need filtering

[2022-02-21 09:14] tipame commented on #1291
My motivation - is to use IDE formating futures wich are not working when file is part of configmap.yaml.
I have a number of platform dependend variables wich should be replaced during build.

[2022-02-21 09:17] manusa commented on #1294
Hi,

I think you tried lots of things that might be unrelated with one and other.

When providing a manual configuration, no Jolokia or Prometheus port should be added. However, your manual image configuration seems to be missing part of the assembly to make it work.

When relying on our base image (any of the standard Generators: Spring Boot, Quarkus, etc.), then yes, those ports are added automa

[2022-02-21 09:19] manusa commented on #1290
It would be really helpful to get some reproducer code to see how we can properly tackle this.

[2022-02-21 10:42] #1238 closed

[2022-02-21 11:00] #1278 closed

[2022-02-21 11:21] #1256 closed

[2022-02-21 11:30] manusa opened #1297 "Gradle-Enricher: ReplicaCountEnricher"
### Description

Child of #31

Relates to #1240 #1060

ReplicaCountEnricher works with Gradle

### AC
- [x] Enricher documentation is ported to Gradle #1352
- [x] Create IT to verify that `jkube.replicas` flag works as expected #1060
- [x] kubernetes.yml is generated as expected #1060
- [x] openshift.yml is generated as expected #1060

[2022-02-21 11:33] manusa opened #1298 "Gradle-Enricher: RevisionHistoryEnricher"
### Description

Child of #31

RevisionHistoryEnricher works with Gradle

### AC
- [x] Enricher documentation is ported to Gradle
- [x] IT revisionhistory is ported to Gradle
- [x] kubernetes.yml is generated as expected
- [x] openshift.yml is generated as expected

[2022-02-21 11:48] manusa commented on #31
Hi @matthiaszimmermann, @edeandrea, @erizzo (@OneCricketeer, @moley, @danduke, @antmordel, @typekpb, @MaximVasin)

You expressed your interest for this feature. It's been available as a preview since [1.5](https://github.com/eclipse/jkube/releases/tag/v1.5.0).

Did you have a chance to try the new Gradle Plugins?

It would be great to have your feedback ;)

[2022-02-21 12:08] manusa opened #1299 "Gradle-Enricher: ServiceAccountEnricher"
### Description

Child of #31

ServiceAccountEnricher works with Gradle

### AC
- [x] Enricher documentation is ported to Gradle
- [x] Create IT to verify that Service Accounts can be generated via DSL config (creates an SA resource + a reference for the Deployment)
- [x] Create IT to verify that Service Accounts are generated if there's an SA reference in a Deployment
- [x] kubernetes.yml is gene

[2022-02-21 12:20] manusa opened #1300 "TriggersAnnotationEnricher should be moved to OpenShift package"
### Description

[TriggersAnnotationEnricher](https://github.com/eclipse/jkube/blob/682cc6f25ccf3e95e20832d1396fa3890f3a4e26/jkube-kit/enricher/generic/src/main/java/org/eclipse/jkube/enricher/generic/TriggersAnnotationEnricher.java) should be moved to `org.eclipse.jkube.enricher.generic.openshift` package.

This enricher is OpenShift specific, it should be located in the appropriate package.

[2022-02-21 12:20] tipame commented on #1290
My plugin configuration:
[code]
Also i have 2 yaml files in jkube directory:
[code]
[code]
If you try to execute resource goal - Deployment object wil be created (no errors), but it will fail on apply phase.

[2022-02-21 12:40] manusa opened #1301 "Gradle-Enricher: TriggersAnnotationEnricher"
### Description

Child of #31

TriggersAnnotationEnricher works with Gradle

### AC
- [x] Enricher documentation is ported to Gradle
  Improve the documentation (maybe add a reference to the OpenShift specific documentation)
- [x] Create IT to verify that the **annotation** is added to applicable resources
- [x] openshift.yml is generated as expected

[2022-02-21 13:29] manusa opened #1302 "Gradle-Enricher: VolumePermissionEnricher"
### Description

Child of #31
Relates to https://github.com/fabric8io/fabric8-maven-plugin/issues/835

VolumePermissionEnricher works with Gradle

### AC
- [x] Enricher documentation is ported to Gradle
- [x] Maven IT `volume-enricher-*`are renamed (especially artifcatIds)
- [x] IT `volume-enricher-*` are ported to Gradle
- [x] kubernetes.yml is generated as expected
- [x] openshift.yml is generat

[2022-02-21 13:37] manusa opened #1303 "Gradle-Enricher: AutoTLSEnricher"
### Description

Child of #31

AutoTLSEnricher works with Gradle

### AC
- [x] Enricher documentation is ported to Gradle
- [x] Create IT to verify that the enricher works as expected (verify the expected resources also work in an OpenShift cluster)
- [x] openshift.yml is generated as expected

[2022-02-21 14:27] manusa commented on #1273
All annotations, or fields that use the `jkube.io` should be replaced to `jkube.eclipse.org`.

If we want to implement this for 1.x, we should provide at least a workaround to configure the former prefix in case users are relying on these values.

[2022-02-21 15:08] edeandrea commented on #31
Thanks @manusa ! I was not aware it was there.

[2022-02-22 07:06] kuailexingmao opened #1305 "How to specify the OpenShift and Kubernetes Access configuration files？"
As topic how to specify the access to the configuration file?
* Eclipse JKube version :1.6.0
This file ~/.kube/config，can I specify path through plug-ins?

I'm using kubernetes-maven-plugin, wanted him to automatically deploy to the rancher,But this file path can be through the plug-in configuration?
I configure the environment variables KUBECONFIG, but didn't work, plug-in or automatic looking fo

[2022-02-22 08:56] manusa commented on #1305
The `KUBECONFIG` environment variable should do the job.

I'm not sure why it's not working for you.

This is the command I use to set (for example) the Okteto specific kube config file:
[code]

In case you want to manually configure access to the cluster, you can do so by providing `access`configuration:
https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#_kubernetes_access_configuration

[2022-02-22 10:12] tipame opened #1306 "Fail to apply multi-namespace configuration"
### Description
My plugin configuration:
[code]
I have number of yaml fragments in jkube directory:
[code]
In generated openshift.yaml - namespace annotation added to every object (with help of jkube-namespace enricher).
Namespace name = value form tag (1) of configuration.
As described in documentation - i can use  **jkube.enricher.jkube-namespace.namespace** property instead of tag.
Actualy if n

[2022-02-22 10:23] tipame commented on #1306
I think i found the truth:
[code]
Namespace tag (1) - at the root of configuration - used if no tag (2) or tag (3) defined.
So in my case - i should remove tag (1) and tag (2).

[2022-02-22 11:21] cdprete commented on #1294
Hi @manusa.
Setting the `jolokiaPort` and `prometheusPort` correctly un-expose them (aka, the Dockerfile which is generated doesn't list them in the `EXPOSE` command), but they're still referenced (at least the Prometheus one) by the `run-java.sh` script used by the entrypoint and that's the issue in my opinion.

[2022-02-22 11:26] manusa commented on #1306
We need to improve the namespace documentation.

Bsically there are 2 configuration options that must be accounted for (besides possibly stating a namespace in the metadata of a resource fragment): which namespace you want to operate on, and if you want to create a namespace.

The following test highlights these options:
https://github.com/eclipse/jkube/blob/db08667a669389daaecd343db8d2ed159cc6844

[2022-02-22 11:34] manusa commented on #1294
OK, I think I'm understanding better now.

I understand that you're talking about our base image: https://quay.io/repository/jkube/jkube-java

In this case, we should probably automatically add the `AB_PROMETHEUS_OFF` variable in case `prometheusPort` is disabled (same for `AB_JOLOKIA_OFF`).

[2022-02-22 18:09] ohbus commented on #1265
I would like to work on the [JUnit5 project](https://wiki.eclipse.org/Google_Summer_of_Code_2022_Ideas#Eclipse_JKube.E2.84.A2:_Migrate_To_JUnit5_Testing_Framework_from_JUnit4)

Or on the [Mockito Project](https://wiki.eclipse.org/Google_Summer_of_Code_2022_Ideas#Eclipse_JKube.E2.84.A2:_Migrate_To_Mockito_for_mocking_tests), though I am very amateur in this.

@manusa would you like me to start migr

[2022-02-22 20:24] cdprete commented on #1294
Yes, I think it would help. Or, even better, don't add at all Prometheus and/or Jolokia as agents when running the container.
Also, if I may, setting the port to 0 is not very natural in my opinion. I would add some `prometheusEnabled` and `jolokiaEnabled` flags in the configuration.

Of course, for backward compatibility, if the port is 0 then such flags should be set to `false`.

[2022-02-23 01:16] kuailexingmao commented on #1305
THX！
The KUBECONFIG environment variable is available because I set it to the wrong user.

[2022-02-23 06:03] #1239 closed

[2022-02-23 06:24] manusa opened #1308 "Gradle-Enricher: DeploymentConfigEnricher"
### Description

Child of #31

DeploymentConfigEnricher works with Gradle

### AC
- [x] Add entry to documentation for this enricher

[2022-02-23 06:28] manusa opened #1309 "ExposeEnricher removal/update"
### Description
The [ExposeEnricher](https://github.com/eclipse/jkube/blob/bc2a7c809087451bb49b1a62299c0bdedacbea8b/jkube-kit/enricher/generic/src/main/java/org/eclipse/jkube/enricher/generic/openshift/ExposeEnricher.java) seems to be completely outdated.

The purpose of this Enricher seems to be just to add an `expose` label to the generated service. This label was probably consumed by one of the

[2022-02-23 08:12] manusa opened #1310 "Gradle-Enricher: ImageChangeTriggerEnricher"
### Description

Child of #31

ImageChangeTriggerEnricher works with Gradle

### AC
- [x] Enricher documentation is improved and ported to Gradle
  - Fix current Documentation:
    - Element [`enableAutomaticTrigger`](https://github.com/eclipse/jkube/blob/6d4ef1b0b7e622a546f124a3b522abf3425d2efd/kubernetes-maven-plugin/doc/src/main/asciidoc/inc/goals/build/_jkube-resource.adoc#L867) doesn't exist,

[2022-02-23 08:29] manusa opened #1311 "Gradle-Enricher: ProjectEnricher"
### Description

Child of #31

ProjectEnricher works with Gradle

### AC
- [ ] Enricher documentation is ported to Gradle #1389
- [x] IT `openshift/project` is ported to Gradle (should already be covered by #1238)
- [x] openshift.yml is generated as expected (should already be covered by #1238)

[2022-02-23 08:44] manusa opened #1312 "Gradle-Enricher: RouteEnricher"
### Description

Child of #31

RouteEnricher works with Gradle

### AC
- [x] Enricher documentation is ported to Gradle
- [x] IT `*with-route-*` are ported to Gradle
- [x] openshift.yml is generated as expected

[2022-02-23 08:56] sunix commented on #1207
for `Documentation related to the generator in Gradle docs`
https://github.com/eclipse/jkube/pull/1307#event-6123065510

[2022-02-24 03:18] kuailexingmao commented on #1305
@manusa  I have a question about the environment variable configuration of kubeconfig，I'm using kubernetes Maven plugin now.
Then I see the official document has such an explanation：‘If useOpenShiftAuth is enabled then the OpenShift configuration will be looked up in $KUBECONFIG or, if this environment variable is not set, in ~/.kube/config.’.
So I have to configure useopenshiftauth to make the pl

[2022-02-24 03:18] kuailexingmao commented on #1305
@manusa  I have a question about the environment variable configuration of kubeconfig，I'm using kubernetes Maven plugin now.
Then I see the official document has such an explanation：‘If useOpenShiftAuth is enabled then the OpenShift configuration will be looked up in $KUBECONFIG or, if this environment variable is not set, in ~/.kube/config.’.
So I have to configure useopenshiftauth to make the pl

[2022-02-24 06:18] #1258 closed

[2022-02-24 06:22] #1250 closed

[2022-02-24 13:55] sunix commented on #1207
for `Generator configuration options can be overridden via DSL`
- quickstart: https://github.com/eclipse/jkube/pull/1313

[2022-02-24 16:02] fscdf opened #1316 "Unwanted container creation in deploymentConfig.yamls due to initContainer"
### Description

I want to create two docker images in the pom, then run one in an initContainer and one in a normal container. All generated deploymentConfig yaml's contain, however, an additional unwanted container for the second image in the pom.

### Info

The relevant portion of my pom.xml:
[code]

The initContainer and container are defined as follows.
[code]

In the target/ folder, all gene

[2022-02-25 05:49] #1257 closed

[2022-02-25 06:26] manusa opened #1317 "Release Eclipse JKube 1.7.0"
https://projects.eclipse.org/projects/ecd.jkube/releases/1.7.0
https://github.com/eclipse/jkube/releases/tag/v1.7.0

[2022-02-25 06:32] #1207 closed

[2022-02-28 08:20] #1317 closed

[2022-02-28 17:32] sunix opened #1319 "doc: document the ability to include kubernetes manifests that are applied as there are (without being enriched) with the `raw` folder"
### Description
Document the ability to include kubernetes manifest that are applied as there are (without being enriched) with the `raw` folder.

For instance, I have a mysql database deployment I would like to have deployed at the same time as my java backend without having to run kubectl.

Example: https://github.com/rohanKanojia/quarkus-todo-app

Action items:
- [ ] Cleanup the profile list ht

[2022-02-28 17:35] manusa commented on #1319
It's already documented. Maybe we can improve the documentation to make it mor explicit 🤷

[2022-02-28 17:36] manusa commented on #1319
Also, it's not a folder per se, but a profile.

[2022-02-28 18:23] manusa commented on #1319
https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#profiles-predefined should be updated to include raw (+ any other missing profile)

A common-scenario or a FAQ (how to apply extra yaml files etc.) would also help

[2022-03-01 05:41] rohanKanojia commented on #1295
Hmm, I'm seeing strange behavior from TypedVisitor class

https://github.com/eclipse/jkube/blob/d1152b17067a14cf4a4490056e4a38071519d895/jkube-kit/enricher/specific/src/main/java/org/eclipse/jkube/kit/enricher/specific/AbstractHealthCheckEnricher.java#L115-L121

Here when KubernetesListBuilder contains a DeploymentConfig, Service and Route and DeploymentConfig contains only one container in PodTem

[2022-03-02 06:48] manusa opened #1322 "Support for Startup Probes via XML/DSL configuration"
### Description
Eclipse JKube currently supports the definition and configuration of readiness and liveness probes.

https://github.com/eclipse/jkube/blob/6d4ef1b0b7e622a546f124a3b522abf3425d2efd/jkube-kit/config/resource/src/main/java/org/eclipse/jkube/kit/config/resource/ResourceConfig.java#L50-L51

We should provide an additional configuration option to define startup probes too.

Containers ca

[2022-03-02 16:25] manusa commented on #1194
I think this can be categorized as a bug.

As a workaround, your resource fragment can specify the name as
[code]

Then in your `pom.xml` you can set the property value for each profile and JKube will interpolate when reading the fragment.

[2022-03-03 20:44] sunix opened #1324 "should pick tomcat 10 if Jakarta EE provided api is used in the dependencies"
### Description
For webapp using jakarta ee, tomcat 10 should be used instead of 9

[code]

[code]

### Info

* Eclipse JKube version : 1.7.0
* If it's a bug, how to reproduce : I faced that while working on the demo https://github.com/sunix/hello-tomcat-kubernetes
* Sample Reproducer Project : *[GitHub Clone URL]*

[2022-03-04 06:08] manusa commented on #1324
We need to create a base Tomcat10 image.

Tomcat 10 should be used in all cases or if we want to keep Tomcat9 too, implement a new Handler for the new conditions.

[2022-03-06 12:57] soumeg09 commented on #106
Is this issues still open?

I see no warning relative to illegal reflective actions, anymore.
![k8s warning](https://user-images.githubusercontent.com/35333642/156924224-62d778fd-9c7d-4245-b720-04026f4d3864.png)

[2022-03-07 11:16] rohanKanojia opened #1325 "`jkube.enricher.jkube-name.name` doesn't modify `.metadata.name` for generated manifests"
### Description

I noticed this while writing a test for https://github.com/eclipse/jkube/issues/1259 . What I'm observing is that generated resources always seem to have default opinionated name whether we provide `jkube.enricher.jkube-name.name` flag or not.

NameEnricher seems to be working okay as a single unit. I think the problem lies in the ordering of this enricher:

https://github.com/ecl

[2022-03-07 15:53] sunix opened #1328 "Provide guidance when the final project packaged file is not found"
### Description
When running `ocBuild` or `k8sBuild` without having built the project, the following message is display
[code]
I did not understand right away.
JKube should guide the user with an message like

[code]

### Info

* Eclipse JKube version : 1.7.0

* Sample Reproducer Project : tested with quickstarts/gradle/webapp

[2022-03-08 06:06] manusa commented on #1208
Does your configuration change the image user, it should be 1000:1000?

[2022-03-08 08:56] sunix commented on #1208
this is strange, it's trying to use `jboss/wildfly:25.0.0.Final` as base image, but I see
[code]
should be using `quay.io/wildfly/wildfly-centos7:26.0` as it is an s2i build.

[2022-03-08 08:59] manusa commented on #1208
Are you sure you're running an S2i build and not an OpenShift Docker build?

[2022-03-08 09:06] manusa commented on #1265
https://summerofcode.withgoogle.com/programs/2022/organizations/eclipse-foundation

[2022-03-08 09:14] sunix commented on #1208
with Maven it is working fine:
[code]
And build success

[2022-03-08 09:16] manusa commented on #1208
Maybe something wrong in the gradle project setup? it looks like something is not triggering in the Generator.

[2022-03-08 09:22] sunix commented on #1208
In gradle
[code]
I am going to debug to see the difference.

[2022-03-08 09:24] sunix commented on #1208
what is strange is that the log `Using OpenShift build with strategy S2I` is after `webapp: Using jboss/wildfly:25.0.0.Final as base image for webapp`

[2022-03-08 16:51] sunix commented on #1208
I am going to provide a fix to `OpenShiftBuildTask.java`:
[code]

[2022-03-09 06:20] #1295 closed

[2022-03-09 08:34] sunix commented on #1265
Hello @ohbus and other students,
Here are some more details for the following steps: https://www.eclipse.org/lists/soc-dev/msg00896.html

[2022-03-09 09:39] sunix commented on #1208
ok finally the fix is
[code]
`.jKubeBuildStrategy(getOpenShiftExtension().getBuildStrategyOrDefault())` is already called in `TaskUtil`. So

In mid term we need to see if we could avoid initializing things twice in `GeneratorContextBuilder` and `BuildServiceConfig`. Maybe the `GeneratorContextBuilder` should pick from the `BuildServiceConfig`.

[2022-03-09 09:46] manusa commented on #1208
This has probably survived after a few releases because for most of the rest of the supported frameworks ---> Generators, the image is the same for S2I and Docker-compatible builds.
This change will fix the issue for every other Generator that provides different images for Docker and S2I.
As soon as we finish with enrichers we need to start working on the E2E tests so we identify this problems ear

[2022-03-10 09:29] sunix commented on #1208
Now deploying `quickstarts/gradle/webapp-wildfly`:
[code]
it looks like it is missing h2 drivers.
It seems it could be enabled by passing `GALEON_PROVISION_LAYERS` env variable with `datasources-web-server` to the s2i build. https://github.com/wildfly/wildfly-s2i/blob/wf-18.0/README.md

[2022-03-10 09:49] sunix commented on #1208
I managed to get rid of these errors by passing manually `GALEON_PROVISION_LAYERS=datasources-web-server`

Now I get the JBoss Wildfly main page instead of the app :/

[2022-03-10 11:37] sunix commented on #1208
This is strange because: https://github.com/eclipse/jkube/blob/master/jkube-kit/generator/webapp/src/main/java/org/eclipse/jkube/generator/webapp/handler/WildFlyAppSeverHandler.java#L109

[code]
But I am not sure to see this env variable in the generated buildconfig

[2022-03-10 12:06] sunix commented on #1208
looks like it doesn't work, GALLEON_PROVISION_LAYERS", "cloud-server,web-clustering" should be passed to the build config where it looks like here it is env for the final built image.

[2022-03-10 21:40] jcordes73 opened #1335 "Warning shown about Jolokia when running a Quarkus App"
### Description

### Info

* Eclipse JKube version : 1.7.0
* Maven version (`mvn -v`) : 3.6.3
[code]
* Kubernetes / Red Hat OpenShift setup and version :
OpenShift 4.9

* If it's a bug, how to reproduce :
- Create a Quarkus app
- Deploy to OpenShift

A warning in shown in the pod logs:

INFO exec  java -Dquarkus.http.host=0.0.0.0
-javaagent:/usr/share/java/jolokia-jvm-agent/jolokia-jvm.jar=config=

[2022-03-11 05:47] manusa commented on #1335
This is odd, the base image we use in Eclipse JKube 1.7.0 no longer has this problem.
Are you sure you're using Eclipse JKube 1.7.0 and that the base image for your container is `quay.io/jkube/jkube-java:0.0.13`?

[2022-03-11 10:40] rohanKanojia opened #1336 "Gradle-Generator: Using your own Custom Generators with Gradle Plugins"
### Description

Child of #31

Verify whether adding custom generators as a dependency to plugin works for Gradle Plugins and add documentation/quickstart for it. Its maven equivalent is documented here https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#generators

- [x] Users should be able to create their custom generator using Generator API
- [x] Documentation should showcase how to add

[2022-03-11 11:18] manusa commented on #1335
I'm not sure if you're reporting the issue for this repo https://github.com/jcordes73/camel-quarkus-openapi

The following line is the culprit:
https://github.com/jcordes73/camel-quarkus-openapi/blob/47a384e8fee26cd4c604d3c94b01dbf37393224e/pom.xml#L18

That base image is providing the older version of Jolokia. You could try our Java 11 base image (which uses an up-to-date version of Jolokia):
`qu

[2022-03-11 12:02] #1260 closed

[2022-03-11 12:13] ShivangMishra commented on #1279
@manusa, I am going to work on this issue. Can you suggest what other messages should be removed ?

[2022-03-13 16:00] skpandey885 commented on #746
Hey, @manusa I need some guidance. Can you please help me?

[2022-03-14 04:12] rohanKanojia commented on #1251
I think there is a way we might not need any temporary hosting tool/service for generated documentation. In CircleCI, we can upload the artifacts after the build. User can click on workflow > Go to Artifacts tab > Click `docs-generated/index.html`

![Screenshot from 2022-03-14 09-41-15](https://user-images.githubusercontent.com/13834498/158103591-f23cc79d-e0e6-4b71-980b-1e734cd7524b.png)

The resu

[2022-03-14 07:32] baruKreddy opened #1338 "Junit Testcases failing while building the project in windows"
Description

While building the project some of the Junit test cases are failing in couple of classes.

[2022-03-14 08:33] sunix commented on #1251
@rohanKanojia this looks good to me

[2022-03-14 11:21] sunix commented on #1338
Hello @baruKreddy
Thanks for reporting this issue.

1. Could you provide more details to this?: how to reproduce and logs
2. Would you like to work on this?

[2022-03-14 13:29] baruKreddy commented on #1338
Hi @sunix
1) In windows if we try doing mvn clean install in command prompt, we will be able to see test cases failing
2) I will definitely give a try by changing a method appropriately which is failing for windows.

Regards
Bhargavi Reddy

[2022-03-15 02:56] Urjaswi-2655 commented on #1328
@sunix @rohanKanojia @manusa  I want to work on this issue due to its label(good first Issue)
I haven't run  ocBuild or k8sBuild without having built the project to check the message displayed above
But I want to confirm that my work would be to change the displayed message.
Question: Where should I change the message and How ?
And can you help me  to setup JKube , So that I can understand better

[2022-03-15 03:32] Urjaswi-2655 commented on #989
@manusa Can we work on it now?

[2022-03-15 05:26] baruKreddy commented on #1338
@sunix can you help me with building the project. I see that testcases are failing wherever the docker image is involved(needed) , did debugging. whenever I try mvn clean install, I see some auth problem with docker registry. Apart from doing mvn clean install, should we do anything so that I get required docker image. Let me know which step I'm missing.
Adding stack trace for reference

[INFO] JI

[2022-03-15 05:47] rohanKanojia opened #1339 "JobHandlerTest : Use assertThrows instead of `@Test(expected = IllegalArgumentException.class)` annotation"
### Description
Right now we're using this `expected` annotation for verifying exception thrown in test. We should use `Assert.assertThrows` instead since it's move flexible and level returns thrown exception's object which can be asserted further if necessary

https://github.com/eclipse/jkube/blob/d5653eeaedfcda146065e1b674040114ff3be1b0/jkube-kit/enricher/api/src/test/java/org/eclipse/jkube/kit/

[2022-03-15 05:54] Urjaswi-2655 commented on #1339
@rohanKanojia I want to work on it .

[2022-03-15 05:55] rohanKanojia opened #1340 "ImageConfigurationTest : Replace `org.hamcrest..*` assertions with `org.assertj.core.api.*`"
### Description

In ImageConfigurationTest, this hamcrest `assertThat` assertion should be replaced with AssertJ's `assertThat` assertion instead:

https://github.com/eclipse/jkube/blob/d5653eeaedfcda146065e1b674040114ff3be1b0/jkube-kit/config/image/src/test/java/org/eclipse/jkube/kit/config/image/ImageConfigurationTest.java#L39-L40

[2022-03-15 06:05] rohanKanojia opened #1341 "ImageNameFormatterTest : Replace `org.hamcrest..*` assertions with `org.assertj.core.api.*` equivalents"
### Description
ImageNameFormatterTest seems to be using Hamcrest assertions. For example here:

https://github.com/eclipse/jkube/blob/d5653eeaedfcda146065e1b674040114ff3be1b0/jkube-kit/build/service/docker/src/test/java/org/eclipse/jkube/kit/build/service/docker/helper/ImageNameFormatterTest.java#L49

- [ ] We should replace all hamcrest assertions with assertj equivalents

[2022-03-15 06:05] Urjaswi-2655 commented on #1339
Just to understand what I have to do .
This would be my first PR so..
I will fork this repo.
cd Desktop (place I want to move it)
git clone
git remote add upstream url
git branch
git add
git commit -m "message"
it push origin master
compare and pull request
check branches
create pull request

[2022-03-15 06:08] anurag-rajawat commented on #1341
@rohanKanojia Can I work on this?

[2022-03-15 06:08] rohanKanojia commented on #1339
Yeah, more or less. You have already created Eclipse Account and signed off ECA, right? Make sure you've configured your git username and email. Use `git commit --signoff` instead of `git commit`

[2022-03-15 06:09] Urjaswi-2655 commented on #1339
Yes
Ok
Thanks

[2022-03-15 06:15] Urjaswi-2655 commented on #1339
@rohanKanojia What would be type of Change?

[2022-03-15 06:15] rohanKanojia commented on #1339
Since it's a cleanup task, I'll put this in chore section

[2022-03-15 06:20] Urjaswi-2655 commented on #1339
@rohanKanojia I think I have done some mistake pls check

[2022-03-15 06:21] rohanKanojia opened #1343 "MavenUtilTest : Replace `org.hamcrest..*` assertions with `org.assertj.core.api.*` equivalents"
### Description
MavenUtilTest seems to be using Hamcrest assertions. For example here:

https://github.com/eclipse/jkube/blob/d5653eeaedfcda146065e1b674040114ff3be1b0/jkube-kit/common-maven/src/test/java/org/eclipse/jkube/kit/common/util/MavenUtilTest.java#L134-L138

- [x] Replace This hamcrest assertion dependency with assertj in [common-maven/pom.xml](https://github.com/eclipse/jkube/blob/master

[2022-03-15 06:22] Urjaswi-2655 commented on #1339
@ I think I have reverted the pull request

[2022-03-15 06:22] rohanKanojia opened #1344 "[Epic] : Refactor tests to use only `org.assertj.core.api.` Assertions"
### Description

Right now in our tests we're both using Hamcrest and AssertJ assertions. I remember we had decided to use AssertJ assertions for tests. We should refactor all tests that are still using Hamcrest assertions to use AssertJ instead:

- https://github.com/eclipse/jkube/issues/1340
- https://github.com/eclipse/jkube/issues/1341
- https://github.com/eclipse/jkube/issues/1343
- https://g

[2022-03-15 06:27] rohanKanojia commented on #1339
Please read doc about [assertThrows](https://junit.org/junit5/docs/5.0.1/api/org/junit/jupiter/api/Assertions.html#assertThrows-java.lang.Class-org.junit.jupiter.api.function.Executable-
) for it's usage.

Have you [set up your IDE](https://www.eclipse.org/jkube/contributing#setup) for development? Did you verify build is successful with `mvn clean install` ?

[2022-03-15 06:30] Urjaswi-2655 commented on #1339
No I have not done , I will try again after setting up , Thanks

[2022-03-15 06:32] Urjaswi-2655 commented on #1339
@rohanKanojia Can you help me in setting up
I am not able to do so

[2022-03-15 06:38] rohanKanojia opened #1345 "AssemblyFileSetUtilsTest : Replace `org.hamcrest..*` assertions with `org.assertj.core.api.*` equivalents"
### Description

AssemblyFileSetUtilsTest seems to be using Hamcrest assertions. Foe example,

https://github.com/eclipse/jkube/blob/d5653eeaedfcda146065e1b674040114ff3be1b0/jkube-kit/common/src/test/java/org/eclipse/jkube/kit/common/archive/AssemblyFileSetUtilsTest.java#L62

- [x] Replace all occurrences of Hamcrest assertions with AssertJ equivalents

[2022-03-15 06:50] Urjaswi-2655 commented on #1339
@rohanKanojia Can you help me in this step
Code formatting is done by the Eclipse code formatter using the configuration files found in the ide-config directory.

[2022-03-15 07:17] baruKreddy commented on #1345
I will work on this!

[2022-03-15 07:17] Urjaswi-2655 commented on #1339
@rohanKanojia Done IDE Setup

[2022-03-15 08:24] Urjaswi-2655 commented on #1339
@rohanKanojia  pls can you check if it is correct
Now I have to just mvn clean install Right and then pull request.....
![Screenshot (1596)](https://user-images.githubusercontent.com/65727814/158336035-0609731d-c16a-4cc5-8a95-954b814ed3c4.png)

[2022-03-15 08:36] anurag-rajawat commented on #1340
@rohanKanojia May I work on this?

[2022-03-15 09:19] baruKreddy commented on #1343
I will work on this!

[2022-03-15 10:37] baruKreddy commented on #1343
[https://github.com/eclipse/jkube/issues/1343#issuecomment-1067742444](url)

[2022-03-15 10:38] Urjaswi-2655 commented on #1339
@rohanKanojia Please assign this issue to @anurag-rajawat
I think, I am not ready to counter this issue now , Sorry

[2022-03-15 11:30] anurag-rajawat commented on #1339
@rohanKanojia can i raise a PR?

[2022-03-15 15:52] rohanKanojia commented on #1344
@anurag-rajawat : You can raise a PR excluding files mentioned in already created issue if you want.

[2022-03-16 15:13] sunix opened #1353 "Wildfly webapp projects should use a JBossEAP based image for openshift plugins."
### Description
For openshift plugins, JKube is using `quay.io/wildfly/wildfly-centos7:26.0` as base image.
For kubernetes plugins, JKube is using `jboss/wildfly:25.0.0.Final` as base image.

To me, openshift is a kubernetes variant that is maintain and supported by Red Hat. So it would make sense to deploy the maintained and supported version of Wildfly when deploying to openshift: JbossEAP.

###

[2022-03-16 18:43] anurag-rajawat commented on #1344
@rohanKanojia Yes, I mean all occurrences in Jkube repo, only json assertions are remaining and as soon as possible I raise a PR for all these refactors.

If possible, can you provide some reference to change assertions such as

`assertThat(json, JsonPathMatchers.isJson());`

`assertThat(json, JsonPathMatchers.hasJsonPath("$.spec.replicas", Matchers.equalTo(replicaCount)));`

`assertThat(builder.b

[2022-03-17 08:43] guiliguili opened #1358 "Improvement to add skipUndeploy flag for undeploy goal"
### Description
While it is currently supported to skip apply through the `skipApply` flag, I would like to have the similar flags for `undeploy`.

### Info

* Eclipse JKube version : 1.5.1
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift setup and version : N/A

* Use case :
  I am using multi-module project and I would like to apply/undeploy selectively certains modules based

[2022-03-17 08:49] rohanKanojia commented on #1358
@guiliguili : Thanks for reporting! I think this makes sense.

I do see a `skipDeploy` flag in DeployMojo:

https://github.com/eclipse/jkube/blob/d5653eeaedfcda146065e1b674040114ff3be1b0/kubernetes-maven-plugin/plugin/src/main/java/org/eclipse/jkube/maven/plugin/mojo/develop/DeployMojo.java#L35-L36

But I don't see any skip flag in UnDeployMojo. Maybe we should add it there as well. Similar flags

[2022-03-17 08:52] guiliguili commented on #1358
Good catch on skiDeploy.

I am kind of busy right now but I should hopefully have some time in a few week to submit a PR on this.

[2022-03-17 08:58] rohanKanojia commented on #1344
I think these JsonPathMatchers assertions are just to assert nested fields in an object. We're only converting object to Json string just for the sake of assertion. AssertJ has `hasFieldOrPropertyWithValue` method for comparing object fields.

For example this:

https://github.com/eclipse/jkube/blob/d5653eeaedfcda146065e1b674040114ff3be1b0/jkube-kit/enricher/generic/src/test/java/org/eclipse/jkube

[2022-03-17 09:17] sunix commented on #1182
It is very difficult at the moment that third party companies collect information of a community project. At the moment the eclipse foundation do not have such services. I am closing this as won't fix for now.

[2022-03-17 09:17] #1182 closed

[2022-03-18 08:51] rohanKanojia opened #1361 "VolumePermissionEnricher : Use `.spec.storageClassName` instead of annotation to set PersistentVolume class"
### Description
Right now we seem to be using `volume.beta.kubernetes.io/storage-class` annotation to provide the class of PersistentVolume.

https://github.com/eclipse/jkube/blob/d5653eeaedfcda146065e1b674040114ff3be1b0/jkube-kit/enricher/generic/src/main/java/org/eclipse/jkube/enricher/generic/VolumePermissionEnricher.java#L192-L194

However, as per Kubernetes docs, this annotation will be marke

[2022-03-18 08:54] rohanKanojia opened #1362 "VolumePermissionEnricher : Replace iteration with bulk `Collection.addAll` call"
### Description

We seem to be having this code in VolumePermissionEnricher:

https://github.com/eclipse/jkube/blob/d5653eeaedfcda146065e1b674040114ff3be1b0/jkube-kit/enricher/generic/src/main/java/org/eclipse/jkube/enricher/generic/VolumePermissionEnricher.java#L127-L130

Instead of looping over the collection, we can easily replace this with one-liner by using `Collection.addAll` call.

[2022-03-18 09:15] Simba-97 commented on #1362
@rohanKanojia can I work on this issue?

[2022-03-18 09:30] anurag-rajawat commented on #1344
@rohanKanojia if the assertion

https://github.com/eclipse/jkube/blob/d5653eeaedfcda146065e1b674040114ff3be1b0/jkube-kit/enricher/generic/src/test/java/org/eclipse/jkube/enricher/generic/ImageEnricherTest.java#L161

is rewritten like

[code]

then it gives error
[code]

The problem occurs when you try to extract properties with indexes such as `containers[0]` or `env[0]`.
So, how do I rewrite thes

[2022-03-18 10:06] rohanKanojia commented on #1344
Yes, I don't think assertj supports these kinds of indexing in-field paths.

However, you can make use of assertj DSL methods like `asList()`, `element()`, `first()`, `extracting()` to extract nested fields and assert them. So the Hamcrest assertion you're pointing to can be refactored like this:

[code]

[2022-03-18 11:02] Prathamkrishna commented on #1362
Hey @rohanKanojia I'd like to pick this up

[2022-03-18 11:05] rohanKanojia commented on #1362
@Simba-97 : Sorry, I had created this for @Prathamkrishna . He asked me to do it on Gitter channel https://gitter.im/eclipse/jkube

[2022-03-18 11:16] Simba-97 commented on #1362
No problem @rohanKanojia 😄

[2022-03-18 11:27] Prathamkrishna commented on #1362
Created the PR, @rohanKanojia lemme know if there's anything else:)

[2022-03-18 16:30] guiliguili opened #1364 "Support pushing of Helm charts to OCI registries"
### Description
With the release of Helm 3.8.0, Helm is able to store and work with charts in container registries, as an alternative to Helm repositories (c.f. [Storing Helm Charts in OCI Registries](https://helm.sh/blog/storing-charts-in-oci/)).

This is a feature request to add support for oci in the `helm-push` goal.

### Info

* Eclipse JKube version : 1.7.0
* Maven version (`mvn -v`) :
[code

[2022-03-18 16:39] guiliguili commented on #1364
FYI I tried the following configuration :

[code]

And I not surprisingly got the following error :
[code]

[2022-03-21 11:31] #1284 closed

[2022-03-21 12:40] #1251 closed

[2022-03-21 13:45] #1340 closed

[2022-03-21 13:56] rechandler12 opened #1368 "Container image does not contain registry"
### Description
When I run `k8s:resource` image in container spec does not contain registry. And Kubernetes cannot download image from docker.

Plugin config:
[code]

I run command:
[code]

Logs in console:
[code]

And my final file contain:
[code]

It should be:
[code]

I think jkube-image enricher should do the job. But it just doesn't work. It also should set imagePullPolicy to Always as it it

[2022-03-21 14:08] manusa commented on #1368
Duplicate of https://github.com/eclipse/jkube/issues/1138

[2022-03-21 14:09] rechandler12 opened #1369 "k8s:helm build archive with wrong suffix"
### Description
When I build helm chart with k8s:helm i get file, eg:
gus-api-1.0.0-SNAPSHOT-helm.tar.gz

And this file is uploaded to Nexus.

When I try to download file by
[code]
I get 404, because helm expected file will be at location:
[code]

This classifier messes around :(
https://github.com/eclipse/jkube/blob/master/jkube-kit/resource/helm/src/main/java/org/eclipse/jkube/kit/resource/helm/

[2022-03-21 14:10] rechandler12 commented on #1368
agree but only this part, lack of registry is new issue

[2022-03-21 14:25] manusa commented on #1369
Maybe we can reorder the position of the classifier or just remove it. I'm not sure if it's useful.

The purpose is to differentiate charts built for Kubernetes (helm) and OpenShift (helmshift).

[2022-03-21 16:40] #1325 closed

[2022-03-21 16:43] #1261 closed

[2022-03-21 16:56] #1339 closed

[2022-03-21 19:45] rechandler12 commented on #1369
Here's logs from helm:
[code]
Code of downloader:
https://github.com/helm/helm/blob/main/pkg/downloader/chart_downloader.go

[2022-03-22 05:26] rohanKanojia opened #1371 "ConfigsTest: Replace multiple tests with a single parameterized one"
### Description

We seem to be testing `Configs.asBoolean` method in ConfigsTest which seems kind of redundant.

https://github.com/eclipse/jkube/blob/b45facd5b3dd25a31850d2f38b96c73edf66b83a/jkube-kit/common/src/test/java/org/eclipse/jkube/kit/common/ConfigsTest.java#L108-L170

[Sonar suggests](https://sonarcloud.io/project/issues?resolved=false&id=jkubeio_jkube&open=AXTUMbfd_bxDuY6CEkWA) replaci

[2022-03-22 05:35] rohanKanojia opened #1372 "FileDataSecretEnricherTest: Join these multiple assertions subject to one assertion chain"
### Description
These two assertions can be joined together. Maybe we can just remove first one and just use `.containsEntry` assertion:

https://github.com/eclipse/jkube/blob/b45facd5b3dd25a31850d2f38b96c73edf66b83a/jkube-kit/enricher/generic/src/test/java/org/eclipse/jkube/enricher/generic/FileDataSecretEnricherTest.java#L82-L87

[2022-03-22 05:43] Sohamkayal4103 commented on #1372
Can I work on this issue?

[2022-03-22 05:47] rohanKanojia opened #1373 "EnvUtilTest : Use `.hasSize` instead of `.isEqualTo` in assertj assertion"
### Description

This assertion should be simplified to use `hasSize()` instead. Also, it should be chained together with next assertion as a single statement:

https://github.com/eclipse/jkube/blob/b45facd5b3dd25a31850d2f38b96c73edf66b83a/jkube-kit/common/src/test/java/org/eclipse/jkube/kit/common/util/EnvUtilTest.java#L209-L210

[2022-03-22 05:57] rohanKanojia opened #1374 "HealthCheckConfigTest : Use assertThrows instead of `@Test(expected = IllegalArgumentException.class)` annotation"
### Description
Right now we're using this `expected` annotation for verifying exception thrown in test. We should use `Assert.assertThrows` instead since it's move flexible and level returns thrown exception's object which can be asserted further if necessary

https://github.com/eclipse/jkube/blob/b45facd5b3dd25a31850d2f38b96c73edf66b83a/jkube-kit/config/image/src/test/java/org/eclipse/jkube/kit/

[2022-03-22 06:00] anurag-rajawat commented on #1373
@rohanKanojia may i work on this?

[2022-03-22 06:00] anurag-rajawat commented on #1373
@rohanKanojia may i work on this?

[2022-03-22 06:05] baruKreddy commented on #1371
I will take this up @rohanKanojia . Please assign it to me!

[2022-03-22 06:27] manusa commented on #1369
I understand the problem. The thing is that Nexus is just ignoring the chart information contained in the archive and inferring all of the information from the filename when building the index.

The question here is to see if we can completely remove the classifier part from the filename so that it doesn't tamper with Nexus. Another option is to modify the upload filename on the fly when pushing i

[2022-03-22 06:36] #1297 closed

[2022-03-22 10:13] Devamparikh commented on #1374
Hey Can I pick this up? I want to contribute.

[2022-03-22 10:17] #1308 closed

[2022-03-22 10:33] #1373 closed

[2022-03-22 10:41] #1345 closed

[2022-03-22 10:45] rohanKanojia opened #1378 "GoTimeUtilTest : Use `assertThat(actual).contains(expected)` instead of fetching and comparing optional"
### Description

We seem to have this assertion in this test where we're extracting actual value from Optional<Integer> and then doing comparison.

https://github.com/eclipse/jkube/blob/79c84363daeafe4af7c3ca9fb6b5e761b9ac399b/jkube-kit/enricher/api/src/test/java/org/eclipse/jkube/kit/enricher/api/util/GoTimeUtilTest.java#L40-L41

AssertJ already provides support for [this](https://www.javadoc.io/

[2022-03-22 10:48] Prathamkrishna commented on #1378
I'd like to pick this up @rohanKanojia

[2022-03-22 11:17] #1343 closed

[2022-03-22 14:03] rohanKanojia commented on #1371
Yes, I meant creating a new class.

I'm slightly confused by your changes. How are you able to have access to `org.junit.jupiter.params*` classes? We don't have any JUnit5 deps in the project yet.

[2022-03-22 20:04] cdprete opened #1382 "Build args not replaced properly"
Hi.
I'm trying to build a Docker image from a custom Dockerfile using the version 1.7.0 of the jkube-maven-plugin and I've the following error during the execution of the build goal
[code]

Dockerfile
[code]

Maven config
[code]

Any clue?

[2022-03-23 05:56] #1298 closed

[2022-03-23 08:25] #1301 closed

[2022-03-23 08:52] #1259 closed

[2022-03-23 11:07] #1303 closed

[2022-03-23 13:35] Devamparikh opened #1388 "Not able to built project"
I'm not able to built jkube project. what should I do?
![Screenshot from 2022-03-23 19-03-05](https://user-images.githubusercontent.com/60180815/159711879-8f672f5f-c577-4d71-a408-de61822bb0e6.png)

[2022-03-23 13:37] rohanKanojia commented on #1388
Error seems to be complaining about not being able to find a docker/podman daemon. You can set up docker on your machine and retry.

Usually for building I run `mvn clean install` from root directory of project

[2022-03-23 13:54] #1310 closed

[2022-03-23 14:20] manusa commented on #1382
There seems to be a bug in the process that pre-downloads the base image and which doesn't consider the provided ARGs:

https://github.com/eclipse/jkube/blob/725a663dd097322397e23001a573e486df9beee3/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/BuildService.java#L74-L76

https://github.com/eclipse/jkube/blob/725a663dd097322397e23001a573e486df9beee3/jkube-k

[2022-03-23 14:22] rohanKanojia commented on #1382
Umm, I do remember fixing an issue like this last year. Is it possible to try out with docker-maven-plugin as well? If it works,I'll port the fix here as well.

[2022-03-23 14:25] manusa commented on #1382
Relates to:
- https://github.com/fabric8io/docker-maven-plugin/issues/1430
- https://github.com/fabric8io/docker-maven-plugin/pull/1490

[2022-03-23 14:48] #1299 closed

[2022-03-23 14:50] manusa commented on #1361
Or maybe keep both approaches for backwards compatibility?

[2022-03-23 16:48] #1262 closed

[2022-03-24 11:17] Devamparikh commented on #1388
mvn clean install command is giving build success on running also mvn k8s: build
![Screenshot from 2022-03-24 16-43-06](https://user-images.githubusercontent.com/60180815/159904687-df80b6e9-5238-4990-b658-611c30e601d9.png)

[2022-03-24 11:19] rohanKanojia commented on #1388
strange, looks like a permission issue to me. Are you sure the folder you're working under has the right permissions?

[2022-03-24 11:25] Devamparikh commented on #1388
Yeah, right but there is some error still. can this be ignore?
![Screenshot from 2022-03-24 16-52-29](https://user-images.githubusercontent.com/60180815/159906084-f9081702-ba12-4c4d-acb8-7b01eac3a71d.png)
And yet mvn k8s:apply is failing.
![Screenshot from 2022-03-24 16-54-22](https://user-images.githubusercontent.com/60180815/159906489-be358689-6bb2-4a17-9b3e-644e80a852cc.png)

[2022-03-24 12:12] Devamparikh commented on #1388
![Screenshot from 2022-03-24 17-40-19](https://user-images.githubusercontent.com/60180815/159913613-541095ad-bb81-465b-b082-39dab51106d7.png)

[2022-03-24 12:29] Devamparikh commented on #1388
Completed build by installing minikube.

[2022-03-24 12:29] #1388 closed

[2022-03-24 12:42] Devamparikh opened #1393 "Try to run HealthCheckConfigTest class or file"
### Description

Hey I want to run HealthCheckConfigTest class or file to work on that. but the run option on my intelliJ IDE says "add configuration" what steps should I follow?
![Screenshot from 2022-03-24 18-11-04](https://user-images.githubusercontent.com/60180815/159918498-1b6436e2-f6b1-4e44-8819-5d04dafe9efc.png)

### Info

* Eclipse JKube version :
* Maven version (`mvn -v`) :
[code]
* Kube

[2022-03-24 12:59] cdprete commented on #1382
Do I have to do this trial?

[2022-03-24 13:04] manusa commented on #1382
I don't think it's needed, as far as I can tell, the issue was reported in https://github.com/fabric8io/docker-maven-plugin/issues/1430 and fixed. @rohanKanojia ?

[2022-03-24 13:15] rohanKanojia commented on #1382
I'll port this fix from dmp to jkube this week.

[2022-03-24 13:55] Urjaswi-2655 opened #1394 "Issue: To Add Screenshot of Eclipse setup in Contributing guide ."
We have a Screenshot of the IntelliJ IDEA Setup in Contributing Guide on [JKube Website](https://www.eclipse.org/jkube/contributing)
![image](https://user-images.githubusercontent.com/65727814/159930429-46b72197-9a79-4cb0-b68b-78c287da4ef1.png)
It would be great if we Add a Screenshot of the Eclipse Setup too.
Because I was on Eclipse, though I have switched to IntelliJ. Screenshot of the IntelliJ

[2022-03-25 05:42] #1362 closed

[2022-03-25 06:08] #1302 closed

[2022-03-25 11:29] cdprete commented on #1382
If you need me to give it a try, just let me know ;)

[2022-03-25 13:06] rohanKanojia commented on #1382
@cdprete : Thanks a lot, It would be great if you can build and try out SNAPSHOT version based on my branch

[2022-03-25 14:13] Urjaswi-2655 opened #1400 "Issue: Two Quickstarts are similarly named in JKube Website"
Both Quickstarts are named the same  [JKube Website](https://www.eclipse.org/jkube/quickstarts/) here  i.e Maven:: Wildfly JAR but one is Wildfly JAR and the Other one is Wildfly JAR Slim.
![Screenshot (1658)](https://user-images.githubusercontent.com/65727814/160136047-dbfdcfe6-150a-41f3-b7f0-dfd2f8465abc.png)
But As Per naming Convention  one should be `Maven :: Wildfly JAR` and Other one should

[2022-03-25 14:26] Urjaswi-2655 commented on #1400
@rohanKanojia I would like to work on this issue and one on the [eclipse/jkube#1394](https://github.com/eclipse/jkube/issues/1394)

[2022-03-25 17:52] Urjaswi-2655 commented on #1394
Created PR [33](https://github.com/jkubeio/jkube-website/pull/33) && [34](https://github.com/jkubeio/jkube-website/pull/34)
for this issue [here](https://github.com/jkubeio/jkube-website)

[2022-03-25 17:54] Urjaswi-2655 commented on #1400
Created PR for issue #1394 [33](https://github.com/jkubeio/jkube-website/pull/33) && [34](https://github.com/jkubeio/jkube-website/pull/34)

for this issue [here](https://github.com/jkubeio/jkube-website/pulls)

[2022-03-26 02:58] Urjaswi-2655 commented on #1400
Created PR for this issue  https://github.com/eclipse/jkube/pull/1401 here

[2022-03-27 06:20] Devamparikh commented on #1374
Check out last PR #1399 for this issue.

[2022-03-27 20:38] cdprete commented on #1382
@rohanKanojia I tried to install your code locally, but the build fails:
[code]

I've started the build with `JAVA_HOME="C:\Program Files\jdk-11" mvn clean install -Dmaven.test.skip=true`

[2022-03-28 04:14] rohanKanojia commented on #1382
I think this could be due to failing test on windows. I remember someone also reported failing build in windows https://github.com/eclipse/jkube/issues/1338 . Could you please add your findings there as well?

[2022-03-28 04:52] manusa commented on #1400
Hi @Urjaswi-2655, When you create a PR the recommended approach is to add a meaningful description of what it does, and in other pointer that might help reviewers.

In this case, something like `Fix #1400, updated WildFly Jar Slim quickstart's name to make it more specific and avoid a duplicity with the regular WildFly Jar quickstart` would be much better and would allow you to skip redundantly co

[2022-03-28 05:00] Urjaswi-2655 commented on #1400
Sorry , it was my first PR . Will not repeat this mistake again . Thanks @manusa

[2022-03-28 05:01] manusa commented on #1374
Hi @Devamparikh ,
If you check the issue in GitHub's web interface, you'll notice that the full activity for your PRs has been logged here. This is because you added proper descriptions and messages to your PRs (and even your git commits).
Unless we voluntarily opted-out, maintainers of this repo get notified about all of this. Comments such as this one are not really needed, unless a long time ha

[2022-03-28 05:15] #1374 closed

[2022-03-28 08:26] #1400 closed

[2022-03-28 11:23] #1371 closed

[2022-03-29 02:24] zkj1374960803 opened #1406 "About jkube version compatibility issues"
### Description
[Here](https://github.com/eclipse/jkube/pull/1266) you say,
Maybe some resources might be missing, but overall, we should be compatible.
I don't quite understand what "resources " means here.

### Info
* openshift-maven-plugin : 1.7
* redhat openshift container platfrom:4.10

[code]

[2022-03-29 05:04] rohanKanojia opened #1407 "MavenUtilTest : Migrate mocking framework from JMockit to mockito"
### Description

Child of #857

We have MavenUtilTest in common-maven module which seems to be using JMockit:

https://github.com/eclipse/jkube/blob/479858aa6719ffaabe8320c87ec43d129c78ffe6/jkube-kit/common-maven/src/test/java/org/eclipse/jkube/kit/common/util/MavenUtilTest.java#L105

- [ ] Migrate JMockit references to Mockito
- [ ] Remove jmockit dependency reference from [jkube-kit/common-maven

[2022-03-29 05:20] baruKreddy commented on #1407
@rohanKanojia Please assign it to me!

[2022-03-29 05:23] Prathamkrishna commented on #1328
hey @rohanKanojia I'd like to work on this

[2022-03-29 12:10] cdprete commented on #1338
I've experienced failing tests as well while testing the branch for https://github.com/eclipse/jkube/issues/1382
If needed, it's possible to skip them with `-DskipTests` (`-Dmaven.test.skip=true` is not honored).

In my case, the tests were verifying that the generated Dockerfile has the same content as the one used as reference and this is failing on Windows, probably due to different line breaks

[2022-03-29 12:23] cdprete commented on #1382
@rohanKanojia done ;)

If you need help with Windows, I can try to find some time, fix the tests for such OS and open a PR. Just let me know :)

[2022-03-29 12:54] manusa commented on #1338
This is a known issue. Many of the tests were implemented having *nix FS in mind.

[2022-03-29 12:59] manusa commented on #1406
Hi,
`resources` refers to any apiGroup+Kind resource (e.g. Pod, etc.).
The PR mentions that some typed resources might be missing for direct manipulation, but this shouldn't bother you if you are providing fragments or complete YAML files.

Regarding the BuildConfig resource, it should be definitely supported. However, depending on what you're trying to accomplish it might not be the appropriate w

[2022-03-29 13:02] rohanKanojia commented on #1382
@cdprete : It would be great if you could contribute :-)

[2022-03-29 16:06] rohanKanojia commented on #1263
RemoveBuildAnnotationsEnricher seems to be removing `maven.jkube.io/source-url` annotation from all resources present in KubernetesListBuilder.

This  `maven.jkube.io/source-url`  annotation seems to be getting added to all resources added via dependency in Dependency enricher:
[code]

Looks like this annotation is just used for some log statements which are printed during mergeResource phase:

ht

[2022-03-29 17:28] Prathamkrishna opened #1409 "`mvn install` gives an error at the project module jkube-kit:common"
### Description

### Info

* Eclipse JKube version : Latest(1.7.0)
* Maven version (`mvn -v`) : Apache Maven 3.8.5 (3599d3414f046de2324203b78ddcf9b5e4388aa0)
[code]
* Kubernetes / Red Hat OpenShift setup and version :

* If it's a bug, how to reproduce : I ran `mvn install` in the parent directory i.e /jkube and got the error.

* If it's a feature request, what is your use case :

* Sample Reprodu

[2022-03-29 17:59] cdprete commented on #1382
@rohanKanojia I'll work on this in the next days then.
In the meantime,  when do you plan to release the fix for this ticket? :)

[2022-03-30 07:25] Surfjoan opened #1411 "Additional image tags issue"
### Description

### Info

* Eclipse JKube version: 1.7.0
* Maven version (`mvn -v`): 3.5.4
* Kubernetes / Red Hat OpenShift setup and version: Openshift v3.11
* If it's a bug, how to reproduce:
* I have set the name element to this \<name>${namespace}/%a:%v\</name>  but want to add an additional tag on the image in openshift after it is built. So i added the \<tags>\<tag>my-tag\</tag>\</tags> ele

[2022-03-30 08:41] zkj1374960803 commented on #1406
`<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <parent>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-starter-p

[2022-03-30 08:43] zkj1374960803 commented on #1406
`<build>
        <plugins>
            <plugin>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-maven-plugin</artifactId>
            </plugin>
            <plugin>
                <groupId>org.eclipse.jkube</groupId>
                <artifactId>openshift-maven-plugin</artifactId>
                <version>1.7.0</version>
                <configur

[2022-03-30 08:44] zkj1374960803 commented on #1406
<build>
        <plugins>
            <plugin>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-maven-plugin</artifactId>
            </plugin>
            <plugin>
                <groupId>org.eclipse.jkube</groupId>
                <artifactId>openshift-maven-plugin</artifactId>
                <version>1.7.0</version>
                <configura

[2022-03-30 08:47] zkj1374960803 commented on #1406
![image](https://user-images.githubusercontent.com/23010181/160790545-00f5b7f8-6815-43c9-80ce-8d4d111947e2.png)
![image](https://user-images.githubusercontent.com/23010181/160790780-40193e30-e281-4ea3-ae78-af1a20a3f1a5.png)
![image](https://user-images.githubusercontent.com/23010181/160790832-6ba2f382-78d7-4522-8902-d044da3475f1.png)
![image](https://user-images.githubusercontent.com/23010181/1607

[2022-03-30 09:19] zkj1374960803 commented on #1406
This is my execution log, please focus on these two paragraphs.

[INFO] --- openshift-maven-plugin1.7.0resource (default) @ ubip-poc-fabric8 ---
[INFO] oc Using docker image name of namespace ubip-dev
[INFO] oc Running generator spring-boot
[INFO] oc spring-boot Using Docker image quay.iojkubejkube-java0.0.13 as base  builder

[INFO] --- openshift-maven-plugin1.7.0apply (default) @ ubip-poc-fabric

[2022-03-30 16:01] rohanKanojia opened #1413 "BuildServiceTest : Simplify Mockito `verify` call"
### Description

The below code is tagged as smell by Sonar:

Mockito.verify(), Mockito.when(), Stubber.when() and BDDMockito.given() each have overloads with and without argument matchers.
However, the default matching behavior (i.e. without argument matchers) uses equals(). If only the matcher org.mockito.ArgumentMatchers.eq() is used, the call is equivalent to the call without matchers, i.e. th

[2022-03-30 16:46] rohanKanojia opened #1414 "OpenshiftHelperTest : Replace these tests with a single Parameterized one."
### Description

These tests could be extracted into a parameterized test:

https://github.com/eclipse/jkube/blob/479858aa6719ffaabe8320c87ec43d129c78ffe6/jkube-kit/common/src/test/java/org/eclipse/jkube/kit/common/util/OpenshiftHelperTest.java#L160-L258

- [ ] Create a new parameterized test class OpenShiftHelperStatusTest and move all these abovementioned tests