[2021-02-17 05:43] manusa commented on #566
Does this mean that the fix has to be implemented in the Fabric8 project?

[2021-02-17 06:18] rohanKanojia commented on #566
Yeah, you're right. I'll create a PR for this in kubernetes-client

[2021-02-17 07:35] shaohme opened #578 "NullPointerException on k8s:resource"
### Description

### Info

* Eclipse JKube version : v1.1.0
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift setup and version :
minikube version: v1.17.1
commit: 043bdca07e54ab6e4fc0457e3064048f34133d7e
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196815e248d3ecfb03c680a4507229c2a56", GitTreeState:"clean", BuildDate:"2021-01-13T13:2

[2021-02-17 17:33] dloiacono opened #580 "Publish Helm charts on repository"
### Description
Is not possible to publish the created helm chart in some helm repository

### Info

* Eclipse JKube version : 1.1.0
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift setup and version :

* If it's a bug, how to reproduce :

* If it's a feature request, what is your use case : I want to publish the Helm chart to use it in the prod environment

* Sample Reproducer

[2021-02-17 17:57] rohanKanojia commented on #580
Duplicate of https://github.com/eclipse/jkube/issues/576

[2021-02-18 08:02] ochstobi opened #581 "Permission error when switching from fabric8-maven-plugin to openshift-maven-plugin"
### Description

### Info

* Eclipse JKube version : openshift-maven-plugin version: 1.1.0
* Maven version (`mvn -v`) : 3.6.1
* Kubernetes / Red Hat OpenShift setup and version : Kubernetes v1.18.3+ac53d20 / Openshift 4

If I try to apply resources with the openshift-maven-plugin I get this error:

[code]
If I apply the same resources with fabric8-maven-plugin:4.4.1 it is working. So I don't think

[2021-02-18 10:31] manusa commented on #581
This is caused by https://github.com/eclipse/jkube/issues/570

I guess you configured your namespace using the `jkube.namespace` and a project resource is being created despite you already have that project already in your cluster (you just wanted to configure it), right?

We're working on a fix for this.

[2021-02-18 10:45] ochstobi commented on #581
Thats excatly my problem. Haven't seen that issue, I'm sorry for duplicate.

[2021-02-18 10:45] #581 closed

[2021-02-18 10:49] manusa commented on #581
No worries.
We'll probably fix this in 1.1 since it might affect most users running JKube in a Pipeline.

[2021-02-18 13:54] manusa commented on #570
As agreed during several meetings and PR reviews behavior should be as follows:

- A new configuration option is provided in the Namespace Enricher: `jkube.enricher.jkube-namespace.namespace`
  This option accepts the name of the Namespace to create.

Expected behavior | `jkube.namespace` | `jkube.enricher.jkube-namespace.namespace`
-- | -- | --
Use default namespace or the one provided in `.kube/

[2021-02-22 11:36] manusa opened #584 "Improve Vert.x support (Generator + Enricher)"
### Description

Current [Vert.x support implementation](https://github.com/eclipse/jkube/tree/2bee3f27c4a7d93fceaafdb3fc1ad8b176ab38a6/jkube-kit/jkube-kit-vertx) works with `io.reactiverse` [Vert.x Maven Plugin](https://github.com/reactiverse/vertx-maven-plugin), or with Vanilla Vert.x < 4.

However, when creating a Vert.x application from https://start.vertx.io/ and deploying to Kubernetes, the

[2021-02-23 08:19] shaohme commented on #578
error seems to disappear if adding an empty build env-vars, like so:
[code]

[2021-02-23 14:21] manusa commented on #66
The final agreement was to provide better documentation on how to use Podman >= 2.x with JKube.

Podman is now already covering the gap and providing the necessary bindings so that it acts as a seamless and transparent Docker implementation.

However, the files where Docker persists the auth credentials when running `docker login` are not the same as the ones Podman is using `${XDG_RUNTIME_DIR}/co

[2021-02-23 22:39] vecima opened #587 "Helm Chart within .tar.gz not deployable due to base directory error"
### Description
I can't deploy a helm chart from a .tar.gz generated by the k8s:helm goal. I've tried both the project I'm working on as well as the spring-boot-helm quickstart project and both produce .tar.gz files that look ok, but produce the error:

Error: chart illegally contains content outside the base directory: "Chart.yaml"

I'm not sure but I think this might be because helm install is e

[2021-02-24 09:29] manusa commented on #566
Fix merged in Kubernetes Client.
We need to update the Client dependency once it gets released.

[2021-02-24 10:29] manusa commented on #570
Behavior should be fixed in [1.1.1](https://github.com/eclipse/jkube/releases/tag/v1.1.1) and improved in upcoming [1.2.0](https://github.com/eclipse/jkube/milestone/6).

[2021-02-24 10:29] #570 closed

[2021-02-27 00:50] philipreimer opened #589 "jkube.build.strategy=jib does not create a layered image like jib-maven-plugin does"
### Description

### Info

* Eclipse JKube version : kubernetes-maven-plugin 1.1.1
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift setup and version : not relevant, concerns only k8s:build

* If it's a bug, how to reproduce :
1. clone https://github.com/eclipse/jkube/tree/v1.1.1/quickstarts/maven/spring-boot-with-jib
2. run `mvn k8s:build -PJib-Zero-Config` as stated in the `R

[2021-02-28 08:50] yaakov-berkovitch opened #590 "k8s:build failed because .git folder is copied to target"
### Description
The k8s:build action copies the .git folder to target and then failed to build the docker image.

### Info

* Eclipse JKube version : 1.1.0
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift setup and version : 1.20

* If it's a bug, how to reproduce :
Clone a git repository. Then, execute the k8s:build action. The following error is shown:
[code]

To reproduce th

[2021-03-01 06:24] manusa commented on #589
Similar to #425

[2021-03-01 06:27] manusa commented on #590
Will probably get fixed by #529

[2021-03-01 13:45] yaakov-berkovitch commented on #590
Thanks @manusa . Any workaround you can recommend ? Because it makes it unusable for the moment 😟

[2021-03-01 13:52] manusa commented on #590
Don't use the simplified Dockerfile workflow. So probably your project looks like: https://github.com/eclipse/jkube/tree/master/quickstarts/maven/docker-file-simple

If you use any of the other approaches in any of the 4 profiles of https://github.com/eclipse/jkube/tree/master/quickstarts/maven/docker-file-provided you should be fine.

[2021-03-01 13:55] manusa commented on #590
OK; just saw your reproducer project.
Just don't use the `${project.basedir}` as the docker contextDir, make it all relative to the target dir

[2021-03-01 14:08] jaydee101 opened #591 "Helm Linter fails with error: ' apiVersion is required'"
### Description
When running helm lint on spring-boot-helm example from, it shows an error:
[code]
### Info
* Eclipse JKube version : 1.1.1
* Maven version (`mvn -v`) : 3.6.3
* Helm version 3.2.4
* Kubernetes / Red Hat OpenShift setup and version : OpenShift 4.6.13 (but irrelevant for this issue)

### How to reproduce :
[code]

[2021-03-01 15:02] apupier commented on #566
this is part of 5.1.1 https://github.com/fabric8io/kubernetes-client/blob/master/CHANGELOG.md#bugs-1 which has been released on the 24/02/21

[2021-03-01 15:04] apupier opened #592 "Upgrade Kubernetes Client to 5.1.1"
### Description

currently using 5.0.0 https://github.com/eclipse/jkube/blob/35999caee8736d69a5d3cc6dc6589287e3e7fb3b/jkube-kit/parent/pom.xml#L56

### Info

* Eclipse JKube version :
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift setup and version :

* If it's a bug, how to reproduce :

* If it's a feature request, what is your use case :

* Sample Reproducer Project : *[Git

[2021-03-01 15:05] apupier commented on #566
current version is 5.0.0 https://github.com/eclipse/jkube/blob/35999caee8736d69a5d3cc6dc6589287e3e7fb3b/jkube-kit/parent/pom.xml#L56

reported a specific issue for the upgrade https://github.com/eclipse/jkube/issues/592

[2021-03-01 15:55] rohanKanojia commented on #592
Hmm, When I testing jkube with `5.1-SNAPSHOT`, I was able to resolve this with these changes:

https://github.com/eclipse/jkube/compare/master...rohanKanojia:pr/upgrade-fabric8-5-1-0?expand=1

Could you please try migrating to `java.util.Base64` and see if it works for you?

[2021-03-01 16:05] apupier commented on #592
it is fixing the compile issue. thanks.

remains a test that is failing https://github.com/eclipse/jkube/pull/593#issue-582161621
[code]

[2021-03-01 16:15] rohanKanojia commented on #592
ohk, let me try to take a look into it as soon as I finish my current task.

[2021-03-01 16:32] apupier commented on #592
I printed the actual and expected content on which it is failing. i tis for the `openshift/templates/test-pod.yaml`

the genrated one contaisn effectively a problem:
[code]

the line `helm-variable: "{{ required "A valid .Values.global_template_env_var entry required!" .Values.global_template_env_var | default "This is a sample" }}"` is using double-quotes to enclose the value although there are d

[2021-03-02 08:12] yaakov-berkovitch commented on #590
Thanks @manusa. Your tip works fine.

[2021-03-02 09:29] dloiacono opened #594 "Debugging with suspend mode doesn't prevent Kubernetes cluster to restart the pod."
### Description
In debug mode with suspend mode enabled (`-Djkube.debug.suspend`), the Kubernetes cluster restarts the pod if the remote debug session is not started soon enough, or the application startup debug process takes longer than the livenessProbe periods.

Documentation states that when [Debugging with suspension](https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#_debugging_with_

[2021-03-02 11:00] ochstobi opened #595 "Openshift api token via command line for maven build"
### Description

### Info

* Eclipse JKube version : 1.1.1
* Maven version (`mvn -v`) : 3.6.1

Is it possible to provide the Authentication-Token to OpenShift via command line for openshift-maven-plugin? E.g. mvn install -Dtoken=xxx?

[2021-03-02 11:07] rohanKanojia commented on #595
Umm, you should be able to deploy to openshift(on 3.x versions) using username and password
[code]

Right now this is not working on OpenShift 4.x versions(see https://github.com/eclipse/jkube/issues/566)

[2021-03-02 12:28] da-blok opened #596 "DeploymentConfig for Openshift does not have the correct namespace for the ImageStream"
### Description
When using the openshift version and creating the resources, the openshift-maven-plugin creates the `xxxx-deploymentconfig.yml` which does not use the correct namespace in the image for the container, as well as the namespace configuration under the triggers.

### Info

* Eclipse JKube version : 1.1.1
* Maven version (`mvn -v`) : 3.6.3

### If it's a bug, how to reproduce :
Running

[2021-03-02 12:37] manusa commented on #577
Should be fixed on #534
Will be available in next minor release.

[2021-03-02 12:37] manusa commented on #577
@rohanKanojia to check if the provided reproducer works OK in master branch.

[2021-03-02 12:41] manusa commented on #596
How did you provide the namespace config? Can you provide a link to a reproducer project?

_If using the command-line, have you tried to surround the yyy-pu namespace with quotes?_

[2021-03-02 13:54] rohanKanojia commented on #577
I can confirm that I can get the above project working with `1.2.0-SNAPSHOT`

First Apply (Create):
[code]

Second apply( Update) :
[code]

[2021-03-02 14:16] da-blok commented on #596
I'm logged into openshift using the oc client, and did not provide any namespace configuration. If I have to do, how should I do that?

[2021-03-02 14:37] da-blok commented on #596
I found the problem by myself. Sorry for your invest, but thanks a lot.
The problem was, that I had a Dockerfile in the root repository, which was picked up by the build somehow, that misleads me into a wrong direction. Maybe you can explain why?

Why the namespace however was how it was (the start of the origin namespace), I cannot explain :/

[2021-03-02 14:56] #596 closed

[2021-03-02 15:02] manusa commented on #596
OK, thx.

For completeness: you can [configure](https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#_kubernetes_access_configuration) the namespace to operate on by using `-Djkube.namespace`.

When you include a `Dockerfile` in the root project directory, JKube understands that you want to build/configure your image according to this Dockerfile ([Simple Dockerfile build](https://www.eclipse

[2021-03-02 15:47] dloiacono commented on #594
https://github.com/eclipse/jkube/pull/597

[2021-03-02 16:12] da-blok commented on #596
Thanks for you reply and explanation, now that clear for me.
The dash truncating, was also my first guess, but then it is still an issue, that I ended with a config not containing the full namespace.

[2021-03-02 16:31] manusa commented on #592
Test failure -> Helm template generation issues relate to:
- https://github.com/fabric8io/kubernetes-client/issues/2510
- https://github.com/fabric8io/kubernetes-client/pull/2646

[2021-03-02 17:03] manusa commented on #596
OK, not sure if I understood. You can confirm that the namesapce issue was due to a misconfigured `.kube/config` in your environment (i.e. everything is fine with JKube)?

[2021-03-02 17:25] #529 closed

[2021-03-02 20:47] da-blok commented on #596
I don't think that it was due to a misconfigured `.kube/config`, because in my in there (`.kube/config`) everything looks fine and the namespace is also correct.
I had a Dockerfile in the repository which is for a local build of the application via Docker and not for openshift. There is no namespace or other openshift relevant configuration involved.

[2021-03-03 06:04] manusa commented on #596
OK, thx. We'll look into it then.

[2021-03-03 08:38] ochstobi commented on #595
Thanks for that hint, unfortunately I'm running on OpenShift 4. I have tried to add my credentials to kubeconfig but it doesn't work.
If I add the following to the config file it is working:
[code]
But the token expires after one day and I have to refresh it manually. So I tried to add the credentials to the config file like this:
[code]
But with this configuration the oc:build is breaking with th

[2021-03-03 09:04] rohanKanojia commented on #595
hmm, I guess your problem is the same  as #566 . We have the fix already, it just needs to be merged and released.

[2021-03-03 17:45] dzagagnoni opened #599 "KubernetesClientException: Namespace mismatch error when specifying namespace in configuration"
### Description

### Info

* Eclipse JKube version : 1.1.1
* Maven version (`mvn -v`) : Apache Maven 3.6.3
[code]
* Kubernetes : v1.19.3 on Windows 10 with Docker Desktop

* If it's a bug, how to reproduce : mvn clean package k8s:deploy or k8s:apply

* If it's a feature request, what is your use case :

* Sample Reproducer Project : *[GitHub Clone URL]*

In my pom.xml I put namespace tag under my

[2021-03-03 17:48] rohanKanojia commented on #599
What's strange is that `jkube.namespace` property seems to work fine but when we specify namespace in configuration like mentioned above, it throws this error

[2021-03-03 17:53] dzagagnoni commented on #599
In fact for the moment I solved it by inserting the property as you suggest. Thanks for the support

[2021-03-04 06:12] manusa commented on #599
Before #586 Namespace was read using properties in the service layer (#570 #582).

Are we sure this issue is still present in master?

[2021-03-04 06:16] rohanKanojia commented on #599
Looks like this issue is not present in master. I'm not able to reproduce this with 1.2.0-SNAPSHOT

[2021-03-04 07:44] Christian-dev-ops opened #600 "Create (PVC) volume by xml mode"
### Description
Currently you can only create a persistent volume claim for fragments.
I propose that you can create the (pvc) and configure the deployment using xml mode. It would be necessary for both options to be independent, since it is possible that we only need to connect to a previously created pvc.

[2021-03-04 08:40] manusa commented on #600
Could you please provide a sample of the expected YAML you'd like to be generated as a result of this XML based config?

[2021-03-04 09:22] Christian-dev-ops commented on #600
Case 1 (Create PVC and deployment config):

deployment.yml:

apiVersion: apps/v1
kind: Deployment
metadata:
  name: app1
spec:
  replicas: 1
  revisionHistoryLimit: 2
  template:
    metadata:
      labels:
        app: app1
    spec:
      containers:
      - env:
        - name: spring.cloud.config.uri
          value: http://xxxx.xxx
        - name: spring.cloud.config.enabled
          value:

[2021-03-04 10:34] manusa commented on #600
So for the Deployment part, current version should already work, just configure your volume as follows:
[code]

So if I'm not mistaken, we're only missing the feature to create Persistent Volume Claims from XML.

The other part (creating an extra deployment -> 2 opinionated deployments for a single project), I'm not sure we can implement that.

[2021-03-04 13:24] Christian-dev-ops commented on #600
ok thanks, but it doesn't work if you use a yml fragments together xml config like this example:

deployment.yml:

spec:
 template:
   spec:
     containers:
       - env:
         - name: spring.cloud.config.uri
           value: http://xxxx.xxx
         - name: spring.cloud.config.enabled
           value: true
         - name: spring.cloud.config.profile
           value: xxx
         - name: s

[2021-03-04 13:45] manusa commented on #600
So you're providing a YAML fragment for deployment + XML config. Why not use one or (XOR) the other?

I guess there are merging issues, we'll investigate that too. But I really feel it's not the best approach to spread your config into different files.

[2021-03-04 22:37] rafaeltuelho opened #602 "oc:resource do not generate route"
### Description

`oc:resource` do not generate openshift route

### Info
even explicitly configuring the `openshift-maven-plugin` with:
[code]

* Eclipse JKube version : 1.1.1
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift setup and version :
[code]

* If it's a bug, how to reproduce :
[code]
* If it's a feature request, what is your use case :

* Sample Reproducer Project :

[2021-03-05 00:42] rafaeltuelho opened #603 "openshift-maven-plugin ignoring deploymentconfig fragment"
### Description

`oc:resource` ignore my `src/main/jkube/deploymentconfig.yml` fragment

### Info
I put a `deploymentconfig.yml` in `src/main/jkube`:

[code]

The generated dc does not contain my fragment.

* Eclipse JKube version : 1.1.1
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift setup and version :
[code]

* If it's a bug, how to reproduce :
[code]
* If it's a feature r

[2021-03-05 11:19] manusa commented on #584
As for the port inference, there is not an easy way to infer the exposed ports since in many cases ports are assigned programmatically.
There's already some sort of integration with [Vert.x Config](https://vertx.io/docs/vertx-config/java/) and [properties files](https://github.com/eclipse/jkube/blob/2c2d5da4a7ac43cb36094b57f9855ebf9f341d3d/jkube-kit/jkube-kit-vertx/src/main/java/org/eclipse/jkube/

[2021-03-05 11:19] #584 closed

[2021-03-05 11:52] manusa commented on #602
_**WIP: I'm trying to reproduce the issue.**_

When I run `mvn clean oc:resource -Popenshift` with the project as is in https://github.com/rafaeltuelho/my-business-automation-showcase/blob/0fa29a20c99adbde48e456a00589ff29b7736ccc/business-application-service/pom.xml a route gets successfully created. :heavy_check_mark:

If I remove the [route.yml](https://github.com/rafaeltuelho/my-business-automa

[2021-03-05 12:12] manusa commented on #602
It's really clear that our documentation should be improved in this aspect. As I did the analysis I recall that other users stumbled across this before. We need to improve it.

[2021-03-05 12:12] manusa commented on #602
Please @rafaeltuelho  confirm that the proposed fix (adding `<jkube.enricher.jkube-service.expose>true</jkube.enricher.jkube-service.expose>` to your pom.xml) fixes the issue for you.

[2021-03-05 12:27] manusa commented on #603
Hi, I tried to reproduce your issue.
This is the content of the fragment as of now in the [repo](https://github.com/rafaeltuelho/my-business-automation-showcase/blob/e2766421b7ad26f2c16d3c353c9a38eb98f6c593/business-application-service/src/main/jkube/deploymentconfig.yml):
[code]
This is what the generated DeploymentConfig looks like for me:
[code]
- `resources` :heavy_check_mark:
- `replicaCount`

[2021-03-05 12:35] manusa commented on #599
Should we close this then?

[2021-03-05 15:15] manusa opened #606 "ResourceConfig#customResourceDefinitions field/config seems to be no longer needed"
### Description

Seems there are no longer usages of that field.

- https://github.com/eclipse/jkube/blob/efe3e902ea9ef571be5c32839cfa64321908aa18/jkube-kit/config/resource/src/main/java/org/eclipse/jkube/kit/config/resource/ResourceConfig.java#L77
- https://github.com/eclipse/jkube/blob/cf88735616f98ca48b03c756ba5741bf0c92ce8c/quickstarts/maven/spring-boot-crd/pom.xml#L82-L83

[2021-03-05 15:34] rafaeltuelho commented on #603
Hi @manusa !
Yeah, I just realized that my DC spec needs to be defined under `template/spec` node.

[code]

Maybe it worth highlighting this in the docs or provide a sample of an Openshift DC.

[2021-03-05 15:47] rafaeltuelho commented on #602
@manusa thank you for explaining that.
So, I put a route.yml fragment to kinda force the route generation which worked for me.
I removed that route fragment and tried the prop you pointed out and it also worked!
Yeah, this need to be highlighted in the docs because it seems I don't need this piece of config:

[code]

I just need to use the prop you pointed:

[code]

It's confusing :-/

[2021-03-05 15:51] manusa commented on #602
Agreed. We'll keep this issue open to use it as a placeholder to improve our docs.

[2021-03-05 16:03] manusa commented on #603
We have an [external-resources](https://github.com/eclipse/jkube/tree/cf88735616f98ca48b03c756ba5741bf0c92ce8c/quickstarts/maven/external-resources) quickstart.

Would you like to contribute a similar `external-resources-openshift` quickstart which provides OpenShift specific resource fragments?

[2021-03-05 16:50] #592 closed

[2021-03-08 11:13] #594 closed

[2021-03-08 16:50] manusa commented on #587
Relates to:
- https://github.com/helm/helm/issues/5552
- -https://github.com/helm/helm/pull/5610

[2021-03-09 09:45] Christian-dev-ops commented on #600
ok, we will create the pvc via YAML fragment like a template and using "sed command"

[2021-03-09 09:45] #600 closed

[2021-03-09 14:07] #591 closed

[2021-03-11 13:09] theexplorist commented on #571
@rohanKanojia Hi rohan, please assign me this issue, will be sending the PR today itself.
Thank you

[2021-03-11 13:21] rohanKanojia commented on #571
@theexplorist : Hi Kartik, welcome back!

[2021-03-12 05:34] theexplorist commented on #571
@rohanKanojia Thank you, rohan! I am seeing to be a long time contributor here.
#611  All check are passed in this PR except eclipse even when i registered with it!
Please review!

[2021-03-12 05:49] theexplorist commented on #471
Please assign me this issue @rohanKanojia

[2021-03-13 11:41] irefaat commented on #427
@rohanKanojia
Thanks a lot for the istio enricher.
Please, we need to add the DestinationRule to istio enricher:
<customResourceDefinition>destinationrules.networking.istio.io</customResourceDefinition>

[2021-03-15 06:24] rohanKanojia commented on #427
Hi @irefaat ,

We don't support generating Istio artifacts right now. If you want to do this you would need to implement a custom enricher yourself. Here is an example of how to do this[0]. In this quickstart we have this enricher `IstioEnricher` in which we are generating `Gateway`. Generating `DestinationRules` should also be similar(If it's supported by Fabric8 Istio Extension

[0] https://gith

[2021-03-15 10:12] irefaat commented on #427
@rohanKanojia
Thanks a lot.
so I will need to add the create one enricher like "https://github.com/eclipse/jkube/tree/master/quickstarts/kit/custom-istio-enricher/istio-enricher", then put it as module in my project?
Also please need to know how to add the already existing available enrichers like "istio.gateway" to be enriched/generated for me in my project.
Thanks a lot.

[2021-03-15 10:16] rohanKanojia commented on #427
You would need to add it like done in that quickstart:

https://github.com/eclipse/jkube/blob/8a03b82364f9b4aeb771179ab62aa690b89bc078/quickstarts/kit/custom-istio-enricher/app/pom.xml#L54-L88

[2021-03-15 10:36] irefaat commented on #427
Yes agree, but my pom.xml parent is :
`	<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<version>2.4.3</version>
		<relativePath />
	</parent>
`

not as in the quickstart:
https://github.com/eclipse/jkube/blob/8a03b82364f9b4aeb771179ab62aa690b89bc078/quickstarts/kit/custom-istio-enricher/app/pom.xml#L26-L31

[2021-03-15 10:50] rohanKanojia commented on #427
Ohk, I see. If you create this custom enricher as separate project and publish it to your internal maven registry, you should be able to use it I think.

[2021-03-15 14:10] apupier commented on #566
I think this is fixed now that there was the upgrade to Kubernetes Client 5.1.1

[2021-03-15 14:10] #566 closed

[2021-03-15 14:34] rohanKanojia commented on #566
@apupier : Thanks a lot for taking care of this. I think you should be able to get this fix in v1.2.0 (We might release it at the end of this month)

[2021-03-16 16:18] abhijeetshuklaoist commented on #606
Hey @manusa Please assign it to me, I will work on it.

[2021-03-20 20:56] ghassen1khalil opened #618 "NullPointerException on mvn k8s:resource"
### Description
When I try to generate Kubernetes manifest yaml files I get this error :

[code]

### Info

* Eclipse JKube version : 1.1.1
* Maven version (`mvn -v`) :
[code]

* If it's a bug, how to reproduce :

Plugin throws a NullPointerException on goal resource when using this XML configuration :
[code]

[2021-03-22 05:37] manusa commented on #618
Hi @ghassen1khalil
You report you're using 1.1.1, but your log shows otherwise (I guess the error is reproducible in both versions and you pasted the log for a different execution, right?)

Could you please run your maven command with a `-X` to print a full stack trace so we can see where the error is happening?

It would be great if you could send/link a reproducer project too.

[2021-03-22 10:37] #587 closed

[2021-03-23 13:50] #571 closed

[2021-03-23 14:01] manusa commented on #595
We should add a JKube specific configuration property ---> field to be able to specify the auth token without having to use the Fabric8 Kubernetes Client environment variable

[2021-03-23 14:05] manusa commented on #578
Duplicate of #618

[2021-03-23 19:43] ghassen1khalil commented on #618
Hi @manusa
Actually I'm using the 1.1.1 version but when I copied the snippet I was just testing an older version to see if it changes anything 😄
Here is the full output of `mvn k8s: resource -X`

[code]

Here it is a reproducer project : https://github.com/ghassen1khalil/jkube-error-reproducer

[2021-03-24 07:15] ochstobi commented on #595
@manusa It would be nice if it's possible to specify credentials, too.

[2021-03-24 08:41] rohanKanojia commented on #595
@ochstobi : In #566 , user is deploying via credentials which is working on master.

[2021-03-24 08:42] manusa commented on #595
As Rohan says, credentials already work and can be provided via properties, or field configuration (JKube-kit).

The idea is to provide the same for tokens, which apparently we are lacking right now.

[2021-03-25 09:22] manusa commented on #580
Closing this in favor of #576

[2021-03-25 09:22] #580 closed

[2021-03-25 09:23] dloiacono commented on #576
I can do that

[2021-03-25 09:25] manusa commented on #576
As agreed in the sync meeting, it would be good to implement this in similar way as [Helm Maven Plugin](https://github.com/kiwigrid/helm-maven-plugin) does it  via REST API.

We would be looking to implement the core logic in this package|module: https://github.com/eclipse/jkube/tree/master/jkube-kit/resource/helm/src/main/java/org/eclipse/jkube/kit/resource/helm

The implemented service should be

[2021-03-25 10:24] mcarlett opened #622 "jkube-healthcheck-karaf startup feature name is wrong"
hi, in the [documentation about jkube-healthcheck-karaf specific enricher](https://www.eclipse.org/jkube/docs/openshift-maven-plugin#jkube-healthcheck-karaf) is defined the karaf startup feature named jkube.karaf-checks. It should be jkube-karaf-checks

[2021-03-25 10:26] rohanKanojia commented on #622
@mcarlett : Thanks a lot for reporting this. Would you like to submit a PR to fix this?

[2021-03-25 11:16] rohanKanojia opened #624 "Not able to override Image Name in Simple Dockerfile Mode with `jkube.generator.name`"
When using simple Dockerfile mode, we're not able to override the default image name using `jkube.generator.name` property. Seems like we always assume image name to be group:artifact:latest in zero dockerfile mode and don't consider whether `jkube.generator.name` property is set or not, we do pass a defaultImageName but somehow it seems to be passed as null:

https://github.com/eclipse/jkube/blob

[2021-03-25 11:20] manusa opened #625 "Helm: Store charts in chart repository"
## Description
In the scope of the Helm provided services, it would be nice to be able to create/update the index for a chart repository.

This step could be invoked after generating the Chart files `/target/jkube/helm/${project.artifactId}`, move the affected files to the specified location and update the related chart index.

So from https://helm.sh/docs/topics/chart_repository/#managing-chart-r

[2021-03-25 12:06] manusa opened #626 "GitHub actions quota concurrency limit"
## Description

For the past few days, the number of workflow jobs that are run simultaneously in the Eclipse JKube project has decreased significantly.

Apparently, the main reason is that more and more projects within the [Eclipse Foundation organization](https://github.com/eclipse) are using GitHub action workflows.

There is a limit per organization to [20 concurrent](https://docs.github.com/e

[2021-03-25 18:00] manusa commented on #450
fixed by #623

[2021-03-25 18:00] #450 closed

[2021-03-26 11:31] manusa opened #630 "OpenShift switchToDeployment flag"
### Description
Document the usage of the flag `jkube.build.switchToDeployment`

See why `<jkube.enricher.jkube-controller.type>Deployment</jkube.enricher.jkube-controller.type>` is not working as expected with OpenShift Maven Plugin.

See how these flags interact

[2021-03-26 17:25] rohanKanojia opened #632 "Add support for Quarkus Fast Jar Packaging"
[Quarkus 1.12](https://quarkus.io/blog/quarkus-1-12-0-final-released/) was released last month which made Fast-jar packaging as default. Earlier we used to run `*-runner.jar` in previous versions, but now it's replaced by this:
[code]
You can read more about it [here](https://github.com/quarkusio/quarkus/wiki/Migration-Guide-1.12).

Right now users can't use jkube in zero-configuration  mode with

[2021-03-26 17:47] rohanKanojia opened #633 "Not able to override imagePullPolicy via XML configuration"
Right now if we try to override the default imagePullPolicy by using XML configuration like this:
[code]
Resulting imagePullPolicy always seems to be set to `IfNotPresent`:
[code]

Workaroud: Provide a resource fragment for deployment like [this](https://github.com/kameshsampath/rosa-fruits-app/blob/master/src/main/jkube/deployment.yaml#L10)

[2021-03-26 17:58] manusa commented on #632
You can easily work around this issue by setting `<quarkus.package.type>uber-jar</quarkus.package.type>` as stated in the generated README.md when bootstraping a Quarkus project >= 1.12

[2021-03-26 17:59] manusa commented on #632
Improvement is related to #425 when trying to optimize image builds.

From the generator perspective, we should identify possible assembly strategies (uber, native, fast-jar) and then create the assembly configuration based on that.

[2021-03-27 14:17] theexplorist opened #634 "Replace occurences of keySet() with entrySet() when value are needed"
### Description
There are few places in our codebase where keySet() is used instead of entrySet(), which leads to a sonar code smell.

#### "entrySet()" should be iterated when both the key and value are needed.

We need to replace these occureneces of keySet() with entrySet() to make it SonarCloud compliant![0]

[0] https://sonarcloud.io/organizations/jkubeio/rules?open=java%3AS2864&rule_key=java

[2021-03-27 14:18] theexplorist commented on #634
Please assign me this issue @rohanKanojia

[2021-03-29 07:12] theexplorist opened #635 "Bump jkube to JDK11"
### Description

Jkube for now supports JDK8. We should think of upgrading it to JDK11.

[2021-03-29 07:27] manusa commented on #635
Could you please elaborate?
Default base images are based on Java 11.

[2021-03-29 07:39] #471 closed

[2021-03-29 08:21] rohanKanojia commented on #635
I think he is talking about bumping jkube's jdk version

https://github.com/eclipse/jkube/blob/85008d4274a9aa6f0d0a047370d8dcb8c696d7ac/jkube-kit/parent/pom.xml#L778-L779

[2021-03-30 13:50] ochstobi opened #639 "Quotas for jkube.build.strategy docker"
### Description

### Info

* Eclipse JKube version : 1.1.1
* Maven version (`mvn -v`) : 3.6.1
* Kubernetes / Red Hat OpenShift setup and version : Openshift 4.6

Hello,

I switched from fabric8-maven-plugin to openshift-maven-plugin. The most things are working good.
But I can't find how to handle quotas for local docker builds.

I use this build strategy `<jkube.build.strategy>docker</jkube.build

[2021-03-30 14:02] rohanKanojia commented on #639
I checked code and seems like the flag is still there:
https://github.com/eclipse/jkube/blob/85008d4274a9aa6f0d0a047370d8dcb8c696d7ac/jkube-kit/config/resource/src/main/java/org/eclipse/jkube/kit/config/resource/ResourceConfig.java#L81

Do you face problems when you provide this configuration to the plugin?

[2021-03-30 14:34] rohanKanojia commented on #639
ohk, seems like something is not working as expected.

[2021-03-30 15:57] ochstobi commented on #590
Can you provide an updated line for the contextDir? I don't get it

[2021-03-31 04:45] manusa commented on #599
To be closed after 1.2.0 release.

[2021-03-31 11:32] #626 closed

[2021-03-31 13:40] manusa opened #643 "Revisit and refactor AppyService#applyEntity method"
### Description
The current implementation of [ApplyService#applyEntity](https://github.com/eclipse/jkube/blob/0a0e08db42086d4896d4bf0c79ca716ee11095bf/jkube-kit/config/service/src/main/java/org/eclipse/jkube/kit/config/service/ApplyService.java#L149) has specific actions for some of the resources.

This might make sense for those for which we perform some additional checks.

However, there are se

[2021-03-31 14:30] edrandall opened #644 "assembly / descriptorRef seems not to be supported"
### Description
Switched an existing project over from docker-maven-plugin to org.eclipse.jkube:kubernetes-maven-plugin:1.1.1 and immediately encountered an error:

[code]

### Info

* Eclipse JKube version : 1.1.1
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift setup and version :
docker-desktop 20.10.5 with Kubernetes 1.19.3

* If it's a bug, how to reproduce :

Plugin confi

[2021-03-31 14:35] rohanKanojia commented on #644
I'm not able to find `descriptorRef` mentioned in the documentation[0]. What's your use case?

[0] https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin

[2021-03-31 14:39] manusa commented on #644
Relates to: #497 #272 #94 ([#94 comment on actions taken](https://github.com/eclipse/jkube/issues/94#issuecomment-651818985))

Refs are no longer supported, please see https://github.com/eclipse/jkube/issues/497#issuecomment-728957843 for alternatives.

If you really feel that this is something needed we might re-evaluate in the future. The main reason to remove Maven specific functionality is tha

[2021-03-31 15:44] edrandall commented on #644
My use-case is to be able to simply archive a few common files as a .tar artifact in another module of the multi-module project, then have that made available tp the Dockerfile in the current module simply by declaring it as a dependency in the usual maven way.  I don't see that this is a particularly special case at all, far from it, very normal.

We already use maven-assembly-plugin to create th

[2021-03-31 15:46] #624 closed

[2021-03-31 16:40] rohanKanojia commented on #624
@ghassen1khalil : We just released v1.2.0 which should fix your issue. Could you please try it out and provide feedback?

[2021-04-01 06:46] ochstobi commented on #595
I can confirm that this is working with openshift-maven-plugin version 1.2.0

[2021-04-01 06:46] #595 closed

[2021-04-01 09:43] theexplorist commented on #635
@manusa @rohanKanojia  Yes I am talking about jkube's jdk version

[2021-04-02 07:53] edrandall commented on #644
Seems to me that removing support for dependencies opens a big gap of missing functionality.

We are a big maven shop.   We're only looking at JKube as an evolution from docker-maven-plugin and fabric8-maven-plugin.   If large parts of functionality are going to be removed, this becomes a dead-end for us.

The maven-free technical purity of some Java API is not my concern, but missing functionalit

[2021-04-02 08:23] manusa commented on #644
Functionality has been removed from the core logic, however, there are plenty of ways to overcome this issue with a few extra configurations. (Even with multimodule, you could configure your assembly as you please, simply need to preprocess into a common output directory/file and then add a proper assembly configuration for JKube. Everything you pointed out [here](https://github.com/eclipse/jkube/

[2021-04-03 09:48] kameshsampath opened #647 "Configuring Labels and Annotations for ServiceAccount"
### Description
https://www.eclipse.org/jkube/docs/openshift-maven-plugin#resource-labels-annotations, right now supports adding annotations and/or labels for service, deployment, replicaset and all. In some case we might need to annotate the ServiceAccounts as well.

### Info

* Eclipse JKube version : 1.1.1
* Maven version (`mvn -v`) : 3.6.3
[code]
* Kubernetes / Red Hat OpenShift setup and vers

[2021-04-03 09:48] kameshsampath commented on #647
CC: @manusa  @rohanKanojia

[2021-04-04 13:27] kameshsampath commented on #632
@rohanKanojia @manusa  ^^ PR #649

[2021-04-04 13:27] kameshsampath commented on #647
@rohanKanojia @manusa  ^^ PR #648

[2021-04-04 13:28] rohanKanojia commented on #632
@kameshsampath : Thanks a lot for the PR but there is one PR from @dloiacono to fix the same issue: https://github.com/eclipse/jkube/pull/638

[2021-04-04 15:20] dloiacono commented on #632
@kameshsampath, @rohanKanojia I improved my PR with some of the @kameshsampath changes.

[2021-04-06 15:07] manusa commented on #599
Hi @dzagagnoni
Could you please confirm that the issue is no longer present in the newer release ([1.2.0](https://github.com/eclipse/jkube/releases/tag/v1.2.0))?

[2021-04-06 15:19] dzagagnoni commented on #599
Yes, I confirm! Thanks for the support!

[2021-04-06 15:19] #599 closed

[2021-04-07 00:49] Taruvai opened #652 "Image does not start in Spring Boot Quickstart Katacoda scenario"
### Description
Problem when deploying image in Spring Boot Quickstart Katacoda scenario.

[code]

[2021-04-07 00:55] Taruvai commented on #652
Kubernetes
I followed the getting started at https://katacoda.com/jkubeio/courses/getting-started/spring-boot-quickstart
in STS 4.4.6.1. Everything goes just fine but I do
kubectl get pod
I get 👍 jkubedemo-59846f7f94-xwt7z         0/1     CrashLoopBackOff   23         97m
If i do mnnw k8s:log i see this:
[INFO] k8s: Starting the Java application using /opt/jboss/container/java/run/run-java.sh ...

[2021-04-07 00:56] Taruvai commented on #652
This is a really nice application. If I can just get it to work!

[2021-04-07 05:14] manusa commented on #652
Hi @Taruvai
Everything seems to work OK for me:
![image](https://user-images.githubusercontent.com/488391/113813764-cad4b100-9770-11eb-8498-8391a50f6ef7.png)

I think that you probably didn't run the following command correctly:
[code]

You need to package/install the application before running `k8s:build`

[2021-04-07 07:55] ningpengtao-coder opened #653 "k8s:watch port forward websocket error"
The order of the two variables of the forwardPortAsync method of PortForwardService is reversed, resulting in port-forward not working.

code line: PortForwardService.java line 219

Affected version: 1.1.0 1.1.1 1.2.0

[2021-04-07 10:45] rohanKanojia commented on #602
I'm adding a small note in [Route Generation](https://www.eclipse.org/jkube/docs/openshift-maven-plugin#resource-route-generation) section regarding expose labels required for Route generation.

[2021-04-07 14:26] Taruvai commented on #652
Thnx. That did the trick. I ran build (checked the image) , resource
(checked the docker file) apply ( to deploy)
in individual steps. Why do I need install?
Also can i add actuator to the pom and get  health and liveliness check?

I am writing a paper on Cloud Deployments for Java developers where I was
planning to deal with JKube. Thanks again

On Wed, Apr 7, 2021 at 1:15 AM Marc Nuri ***@***.**

[2021-04-07 14:33] manusa commented on #652
There's no need to install, just package. In the Katacoda scenario an `install` goal is used instead, but just because is the usual goal developers tend to run, just to make it more familiar.

If you add the actuator dependency, liveness and readiness probes should be added automatically for you.

Feel free to reach out to us on [Gitter](https://gitter.im/eclipse/jkube?utm_source=badge&utm_medium=

[2021-04-08 08:25] manusa commented on #653
https://github.com/eclipse/jkube/blob/1e1cb66ab1cba21daa9d5c56ce1dd5595cc66471/jkube-kit/config/service/src/main/java/org/eclipse/jkube/kit/config/service/PortForwardService.java#L219

[2021-04-08 08:30] manusa commented on #653
This is really weird. Services depending on this method work (debug, watch, etc.)
@rohanKanojia  ?

[2021-04-08 08:44] rohanKanojia commented on #653
@PengtaoNing : Hello, I tried reproducing this on https://github.com/rohanKanojia/eclipse-jkube-demo-project with minikube v1.17.1(K8s v1.20.2) but for me watch goal seems to be working okay:
[code]

Could you please provide more details on how to reproduce it?

[2021-04-08 08:52] manusa commented on #653
Yes, the goals work, but as he says, the arguments are inverted. So somewhere, here or Fabric8 things are the opposite as described.

[2021-04-08 09:42] rohanKanojia commented on #653
I think you're right. I just ran a quick simple port forward using client and looks like argument should be `remotePort, localPort` instead.

[2021-04-08 09:46] manusa commented on #653
:+1:  Then we need to create an issue there.

[2021-04-08 09:49] rohanKanojia commented on #653
Umm, why issue there? Isn't the issue in our code that arguments are inverted? I'm not sure how it's working. Maybe we tested it for cases when both remotePort and localPort are same?

[2021-04-08 09:54] manusa commented on #653
Well, you just tested in our repo and seems that things work fine. The easiest case to test is for debug where we use the standard Java remote debug port (5005) and point it to the exposed container port.
We probably need a more thorough check then.

What's clear is that the variable names are not OK, either here or in the client.

[2021-04-08 13:03] manusa commented on #544
This issue should have been addressed in the latest release ([1.2.0](https://github.com/eclipse/jkube/releases/tag/v1.2.0)).

Could you please confirm if you are still facing this?

[2021-04-08 13:22] manusa commented on #633
That `imagePullPolicy` config refers to the image pull policy for the Docker / container image generation strategy. i.e. in case an image already exists in my local Docker daemon, should the same image be pulled again from the repo.

You are mixing up this with the imagePullPolicy configuration for the `jkube-controller` enricher which can be configured via properties `jkube.enricher.jkube-control

[2021-04-08 14:26] ghassen1khalil commented on #624
@rohanKanojia I confirm that the release 1.2.0 fixed my bug 👍🏼
Thank you

[2021-04-08 14:53] manusa opened #656 "[Quickstart] Service Binding Operator with Fragments"
### Description

Create a quickstart that shows how to use/configure the [Service Binding Operator](https://github.com/redhat-developer/service-binding-operator) (SBO) with JKube.

The quickstart should be a port of @kadel demo where he shows SBO with the Spring Pet Clinic.

The initial approach would be to use JKube fragments to generate the SBO YAML file that will bind the Pet Clinic to a MySQL

[2021-04-08 19:33] shawkins opened #657 "jkube / dekorate integration for deployment of crd"
### Description

I have a module that is using dekorate to generate crds.  There are two of them, which are placed together in the target/classes/META-INF/dekorate/kubernetes.yml file.  The contents are:

[code]

I'd like to use k8s:apply for this resource, but nothing seems to work.  I've tried both the jkube.mergeWithDekorate option and using a plugin configuration:

[code]

Either way I get the

[2021-04-09 05:16] manusa commented on #657
You should try to use the available [Dekorate](https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#integrations.dekorate) integration. Check the [quickstart too](https://github.com/eclipse/jkube/tree/master/quickstarts/maven/spring-boot-dekorate).

Basically, if the Dekorate dependency is detected, you shouldn't need to provide any manual configuration.

The integration hasn't been tested t

[2021-04-09 05:23] manusa commented on #652
If you get the issue in your surefire Test reports, that has nothing to do with JKube.

Those are run in your machine when compiling+verifying the project. You are probably lacking an application.properties file for your local dev environment, test, etc.

[2021-04-09 07:20] rnetuka opened #658 "Apply configuration in DependencyEnricher"
In DependencyEnricher, configuration is not taken into account. For example if you have two projects, one depends
on another, and you run

[code]

it creates
_target/classes/META-INF/jkube/openshift/project_A_deploymentconfig.yml_
with `spec.replicas: 2`
_target/classes/META-INF/jkube/openshift/project_B_deploymentconfig.yml_
with `spec.replicas: 1`

It would be nice to overwrite the replica count

[2021-04-09 07:37] manusa commented on #658
Hi @rnetuka ,
Thx for reporting the issue.
As discussed, let us further investigate the issue. DependencyEnricher hasn't been revisited in a long time and it's possible that we're missing other configurations too (besides replicas).

[2021-04-09 11:22] shawkins commented on #657
Yes, I tried both approaches.

See https://github.com/shawkins/jkube-crd

The desired goal is to apply the generated crds.

[2021-04-09 16:38] #576 closed

[2021-04-11 14:57] PengtaoNing opened #661 "download fragment.yaml remotely"
Do you consider supporting more protocols for remote downloading of fragments? For example: jar:http://xxxx or jar:file:xxx. It would be better if the fragment was loaded from the jar file in the built-in.

https://github.com/eclipse/jkube/blob/cb9c58efc737c89fc18f729a1e803a9a9f303e10/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/util/KubernetesHelper.java#L853

[2021-04-12 20:12] Taruvai opened #662 "Resource example does not work"
I tried the jkube/quickstarts/maven/external-resources/ example to create a deployment with a configmap. I just copied the deployment.yml and the configmap.yml. I renamed configmap to configmap-cr, k8s:build just work fine if I use a fixed value of 'welcome' (Otherwise the build fails since there is no value specified in application. properties) But k8s:resource fails with a NullPointer Exception.

[2021-04-12 20:13] Taruvai commented on #662
BTW I am using JKube 1.2

[2021-04-12 20:20] rohanKanojia commented on #662
@Taruvai : Is it possible for you to share a reproducer project which we can run quickly and find out what's wrong?

[2021-04-12 21:05] Taruvai commented on #662
Here you go. It is a Spring Tool Suite Eclipse project.

On Mon, Apr 12, 2021 at 4:20 PM Rohan Kumar ***@***.***>
wrote:

I am attaching my source and pom. Stupid gmail is blocking me fro emailing
the entire project. Let me know if you need anything more.

--

*" Any intelligent fool can make things bigger, more complex and more
violent. It takes a touch of genius - and a lot of courage - to move

[2021-04-13 05:39] PengtaoNing opened #663 "ingress annotation process error"
Kind.BUILD should be Kind.INGRESS
https://github.com/eclipse/jkube/blob/4a87c508210f3d40ef1376eab1562d58978064ff/jkube-kit/enricher/api/src/main/java/org/eclipse/jkube/kit/enricher/api/visitor/MetadataVisitor.java#L355

[2021-04-13 09:01] #634 closed

[2021-04-13 14:15] rnetuka commented on #658
PR https://github.com/eclipse/jkube/pull/660

[2021-04-13 16:33] manusa commented on #590
This issue should be fixed in the latest [1.2.0](https://github.com/eclipse/jkube/releases/tag/v1.2.0) release.

Could you please confirm?

[2021-04-14 05:23] ochstobi commented on #590
I can't confirm. The problem persists with v1.2.0 in s2i local build with excludes like in my example above.

`Failed to execute goal org.eclipse.jkube:openshift-maven-plugin:1.2.0:build (s2i-chained-local) on project springrest.openshift: Failed to execute the build: Unable to create the build archive: C:\springrest\openshift\target\docker\springrest-build\build\.\.git\objects\00\163521cb06fd599f

[2021-04-14 05:45] rohanKanojia commented on #590
@ochstobi : Could you please try creating `.jkube-dockerignore` file and putting `.git/**` inside it?

[2021-04-14 06:17] ochstobi commented on #590
@rohanKanojia I confirm that this is working. But only for `.git/**`. If I add other folders/files they are not ignored.

[code]

[2021-04-14 07:30] rohanKanojia commented on #590
Are you sure about that? For me all specified folders seem to be getting ignored. I tested this on https://github.com/r0haaaan/jkube-dockerfile-test project which has this `.jkube-dockerignore` file:
[code]
I do `k8s:build` and check contents of `target/docker` directory:
[code]
I modify my `.jkube-dockerignore` file to ignore `.git` and `.idea` as well:
[code]

When I run `mvn k8s:build`, I was a

[2021-04-14 07:59] manusa commented on #590
Please also confirm your OS

[2021-04-14 08:50] ochstobi commented on #590
I am working on Windows 10. Sorry I did a mistake before. In fact the `.jkube-dockerignore` isn't considered at all in my setup.

My `.jkube-dockerignore` is this:
[code]
and is located in /cicd/openshift/.jkube-dockerignore (same folder als the pom.xml which is executing the plugin).

I have the following structure:
[code]

This is my fileset for the openshift-maven-plugin step:
[code]

Maybe the

[2021-04-14 08:55] manusa commented on #590
I haven't checked our code, but I suspect it might have something to do with line separators (could you switch your file from CRLF to LF [if that is the case] and see if it works as expected?)

[2021-04-14 09:13] ochstobi commented on #590
@manusa Sadly this ends in the same output.

[2021-04-14 09:35] manusa commented on #590
Yes, we checked the code and we're using the nio Files helper class to read the file entries.

However, if you're still using the configuration provided in this [comment](https://github.com/eclipse/jkube/issues/590#issuecomment-810380921), then the issue has nothing to do with the `.jkube-dockerignore`. I think that the fact that we're discussing your problem in this issue that is related to the D

[2021-04-14 09:38] rohanKanojia commented on #662
@Taruvai : Hello, somehow I'm not able to see attached project. Could you please create a simple one on github and share URL with us if possible? Could you please join our chat https://gitter.im/eclipse/jkube ?

[2021-04-14 09:57] rohanKanojia commented on #661
Umm, do you mean the plugin would download, unzip jar and use the fragment specified in the path?

[2021-04-14 10:18] manusa commented on #600
What do you mean by "sed command", you're aware that Maven properties are interpolated in your YAML fragments, right?

[2021-04-14 10:28] Christian-dev-ops commented on #600
We have the code that merges the needs we need such as:

deployment.yaml:

spec:
 template:
   spec:
     containers:
       - env:
         - name: spring.cloud.config.uri
           value: xxx
         - name: spring.cloud.config.enabled
           value: true
         - name: spring.cloud.config.profile
           value: beta
         - name: spring.cloud.config.username
           value: xxx

[2021-04-14 10:38] manusa commented on #600
Have you tried:
[code]

That should work.

[2021-04-14 10:52] manusa commented on #658
I think the solution for this issue might be as simple as switching the order of the Enrichers
These lines:
https://github.com/eclipse/jkube/blob/4809716a08ab90ddf9ec7e7d329e5b7e020630a9/openshift-maven-plugin/plugin/src/main/resources/META-INF/jkube/profiles-default.yml#L32
https://github.com/eclipse/jkube/blob/4809716a08ab90ddf9ec7e7d329e5b7e020630a9/kubernetes-maven-plugin/plugin/src/main/resou

[2021-04-14 11:29] ochstobi commented on #590
@manusa Thanks for this clarification. I apologize for the trouble.

[2021-04-14 11:52] manusa commented on #658
I've tried this with a few more changes like changing the override from `enrich` to `create`, but the problem is really not with the `DependencyEnricher` implementation (maybe the order should be fixed either way).

The problem is about what we expect from this Enricher and the behavior of the `-Djkube.replicas` modifier.

The enricher basically merges **materialized** YAML configurations that com

[2021-04-14 12:02] manusa commented on #658
A possible solution compliant with our current state might be to create a new Enricher whose sole responsibility would be to set/enforce the number of replicas for any Controller resource despite whatever comes from a Fragment, XML config, etc.

The value would only be set by providing the -Djkube.replicas property:
https://github.com/eclipse/jkube/blob/0a1b6b156d1b2b6ec3799430a6167e488986caea/kub

[2021-04-14 12:04] manusa commented on #590
OK, no problem. Just confirm to us if once you configure the excludes in your XML config, it works OK.

[2021-04-14 13:26] rohanKanojia commented on #578
When I use an ImageConfiguration with no XML configuration as provided in https://github.com/shaohme/k8stest like this:
[code]
No image is built using build goal:
[code]
On running `k8s:resource` goal I'm able to see NPE:
[code]

When I add empty `<build></build>` tags in XML configuration like this:
[code]
With this configuration, I'm not able to build using `mvn k8s:build`:
[code]

[2021-04-14 14:41] Taruvai commented on #662
Thnx. I will join glitter later today.

On Wed, Apr 14, 2021 at 5:38 AM Rohan Kumar ***@***.***>
wrote:

--

*" Any intelligent fool can make things bigger, more complex and more
violent. It takes a touch of genius - and a lot of courage - to move in the
opposite direction" - Albert Einstein*

[2021-04-14 15:05] Taruvai commented on #662
you don't need my source. Just see Maven Quickstarts :
https://github.com/eclipse/jkube/tree/master/quickstarts/maven/external-resources/

On Wed, Apr 14, 2021 at 10:40 AM Taruvai Subramaniam <
***@***.***> wrote:

--

*" Any intelligent fool can make things bigger, more complex and more
violent. It takes a touch of genius - and a lot of courage - to move in the
opposite direction" - Albert Einste

[2021-04-14 16:01] rohanKanojia commented on #630
`<jkube.enricher.jkube-controller.type>Deployment</jkube.enricher.jkube-controller.type>` is not working in openshift mode since OpenShift mode also depends on an additional condition `platformMode == PlatformMode.openshift && useDeploymentForOpenShift()`
https://github.com/eclipse/jkube/blob/a2205dc2e90716cd6d715bcacd9fcc569d2dee59/jkube-kit/enricher/generic/src/main/java/org/eclipse/jkube/enrich

[2021-04-14 16:19] Taruvai commented on #662
Github src:
https://github.com/Taruvai/Jkube
See the README

On Wed, Apr 14, 2021 at 11:04 AM Taruvai Subramaniam <
***@***.***> wrote:

--

*" Any intelligent fool can make things bigger, more complex and more
violent. It takes a touch of genius - and a lot of courage - to move in the
opposite direction" - Albert Einstein*

[2021-04-14 16:23] rohanKanojia commented on #662
You don't need to prefix your fragments with `*-cr.yml` . Both ConfigMap and Deployment are in build resources. Just naming them `configmap.yml` / `deployment.yml` should work

[2021-04-14 17:03] Taruvai commented on #662
k8s:resource works and generates JKubeResource prefix deployment,
configmap, serviceaccount, service yml files( Attached) But when I do
k8s:apply
I get an error:
[ERROR] Failed to execute goal
org.eclipse.jkube:kubernetes-maven-plugin:1.2.0:apply (default-cli) on
project JKubeResource: Failed to create ConfigMap from kubernetes.yml.
io.fabric8.kubernetes.client.KubernetesClientException: Failure e

[2021-04-14 17:16] theexplorist opened #666 "Using static methods instead of deprecated JsonParser"
We can remove the deprecated JsonParser with static methods as mentioned in Gson documentation.

The expected result will solve the code smell below -
https://sonarcloud.io/project/issues?id=jkubeio_jkube&open=AXgDJoU2sHuH603U0SQ6&resolved=false&severities=MINOR

Proposed Solution

[code]
If the issue and proposed solution seems correct then I can send a PR.

[2021-04-14 18:02] rohanKanojia commented on #662
value: "JKubeResource": a DNS-1123 subdomain must consist of lower case
alphanumeric characters, '-' or '.', and must start and end with an
alphanumeric character (e.g. 'example.com', regex used for validation is
'[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*').

I think your resource name might contain uppercase character. Your kubernetes resources must follow standard kubernete

[2021-04-14 19:58] Taruvai commented on #662
I created a new project with essentially the same content but with name
JKubefragment
Now it generates the resources: jkubefragment-deployment.yml,
jkubefragment-service.yml, ribbon-serviceaccount.yml. But it creates
JKubefragment-configmap.yml. Note the case. It is auto generated. Where is
it coming from? I attached the files.
Also, now in the controller I did
@Value("${welcome}")
    private Str

[2021-04-14 21:22] Taruvai commented on #662
Just to make sure I renamed JKubefragment-configmap.yml to
jkubefragment-configmap.yml and did
$ kubectl create configmap jkubefragment-configmap.yml
configmap/jkubefragment-configmap.yml created
So that seemed to work but not with k8s:apply even after renaming. For your
reference here is the kubernetes.yml file generated in the
META-INF/classes/jkube/kubernetes directory

On Wed, Apr 14, 2021 at

[2021-04-15 04:59] rohanKanojia commented on #662
I'm not referring to name of the file but `metadata.name` field in yaml:
[code]

I had cloned https://github.com/Taruvai/Jkube but seems like it doesn't contain any pom.xml. Is it really the project you're using?

[2021-04-15 06:01] ochstobi commented on #590
I have tested it and found out some things. First of all the exclusions are working but not correctly. In the `oc:build` step the content of `<directory>${project.basedir}/../../</directory>` is copied completely to the `target\docker\springrest-build\build` folder. After that the exclusions are deleted. It works for all but `.git` because this error is thrown:
[code]
To dig a bit deeper I deleted

[2021-04-15 06:06] PengtaoNing commented on #661
@rohanKanojia There is no problem downloading fragments remotely via http protocol, if you customize kind and want the default fragment xml. Just want to avoid downloading fragments remotely. It's an enhancement.

[2021-04-15 06:09] rohanKanojia commented on #639
Looks like `ResourceConfig` is not being passed from AbstractDockerMojo to JKubeServiceHub:

https://github.com/eclipse/jkube/blob/a2205dc2e90716cd6d715bcacd9fcc569d2dee59/kubernetes-maven-plugin/plugin/src/main/java/org/eclipse/jkube/maven/plugin/mojo/build/AbstractDockerMojo.java#L670-L680

It starts working with this one liner change:
[code]

[2021-04-15 08:25] manusa commented on #578
These are several scenarios:

- User wants to run the k8s:resource goal without configuring a custom build and needs to override the Deployment/Controller Pod template image name. Why does the property configuration flag `jkube.generator.name` work and providing a `<images><image><name></name></image></images>` doesn't?

- What happens when a user provides a custom image configuration (valid) and

[2021-04-15 08:33] manusa commented on #630
Both configurations should be independent of each other.

This means that if I state `<jkube.enricher.jkube-controller.type>Deployment</jkube.enricher.jkube-controller.type>` the switchToDeployment flag shouldn't be required/needed to be provided in addition to.

The `switchToDeployment` flag seems to be very specific, so probably can be used in specific deployment scenarios where I want to overri

[2021-04-15 08:36] rnetuka commented on #658
Sounds good to me.

[2021-04-15 11:24] manusa commented on #590
Remember that the syntax for the exclusions is based on [FileSystem.html#getPathMatcher](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/nio/file/FileSystem.html#getPathMatcher(java.lang.String)).

Since you're on a Windows platform, try using `\` instead e.g. `**\target\**`

[2021-04-15 11:56] ochstobi commented on #590
It seems that maven doesn't care. I tried and the results are the same.

[2021-04-15 14:22] Taruvai commented on #662
I already sent you the pom. Anyway, here is is again

On Thu, Apr 15, 2021 at 12:59 AM Rohan Kumar ***@***.***>
wrote:

--

*" Any intelligent fool can make things bigger, more complex and more
violent. It takes a touch of genius - and a lot of courage - to move in the
opposite direction" - Albert Einstein*

[2021-04-15 14:34] Taruvai commented on #662
The project I am referring to:
https://github.com/Taruvai/JKube2

On Thu, Apr 15, 2021 at 10:22 AM Taruvai Subramaniam <
***@***.***> wrote:

--

*" Any intelligent fool can make things bigger, more complex and more
violent. It takes a touch of genius - and a lot of courage - to move in the
opposite direction" - Albert Einstein*

[2021-04-15 15:09] rohanKanojia commented on #578
**jkube.generator.name**
Configuring image name via `jkube.generator.name` **only works when generators are applicable** and they generate an opinionated image configuration. In case available generators are not applicable, no opinionated ImageConfiguration would be generated hence no Kubernetes manifests would be generated either.

**XML image configuration**
Providing image name via XMl configur

[2021-04-15 16:20] rohanKanojia commented on #662
Thanks a lot for sharing the project. I can see your error now. I think it's due to your project's artifactId being set to `JKubefragment` which is picked up by configmap.

If I apply these changed I'm able to see your application being deployed:
[code]

Here are my logs:
[code]

[2021-04-15 17:20] Taruvai commented on #662
I edited the pom's artifact id to be all lower case. with
mvn k8s:resource k8s:apply -Djkube.enricher.jkube-service.type=NodePort
everything build fine but..
.
$ kubectl get pod

jkubefragment-c48b495c4-sblg2       0/1     *CrashLoopBackOff*   5

What is the difference?

On Thu, Apr 15, 2021 at 12:20 PM Rohan Kumar ***@***.***>
wrote:

--

*" Any intelligent fool can make things bigger, more compl

[2021-04-15 17:23] rohanKanojia commented on #662
Could you please check logs of your pod with `kubectl logs pod/jkubefragment-c48b495c4-sblg2`? Seems like pod is failing and restarting again and again due to some error

[2021-04-15 17:24] rohanKanojia commented on #662
When you build container image for this application using `mvn k8s:build`, Did you get any chance to run it locally using `docker run <sha>`? Is it working like this?

[2021-04-15 17:37] rohanKanojia commented on #630
If I refactor DefaultControllerEnricher to remove switchToDeployment specific code, I'm still not able to see Deployment being generated. Looks like [DeploymentConfigEnricher](https://github.com/eclipse/jkube/blob/master/jkube-kit/enricher/generic/src/main/java/org/eclipse/jkube/enricher/generic/openshift/DeploymentConfigEnricher.java#L57) forcibly converts Deployment to DeploymentConfig on platfo

[2021-04-15 18:54] Taruvai commented on #662
Finally,
jkubefragment-c48b495c4-wkvhz       1/1     *Running            *0
 30s     10.1.2.130   docker-desktop

I just put in an application.properties with a welcome message.
Strangely k8s:build worked without it but when I do
mvnw install k8s:build k8s:resource k8s:apply
I get an error from the test that it could not load the context because it
could not find welcome. I don't get it!!

Anyhow

[2021-04-16 00:32] Taruvai commented on #662
All items are resolved. I figured out how to remove the Eclipse error. The
only remaining item is I get a test failed build error if the
appliaction.properties is empty when
I do "mvn install k8s:build k8s:resource k8s:apply" but not when I do
k8s:build by itself. How can that be?

On Thu, Apr 15, 2021 at 2:53 PM Taruvai Subramaniam <
***@***.***> wrote:

--

*" Any intelligent fool can make thing

[2021-04-16 06:26] rohanKanojia commented on #662
During which phase does your test run? Is it an integration test?

[2021-04-16 08:16] manusa commented on #578
- [ ] Makes sense adding this extra filter, so that `k8s:resource` goal can get the image name customization via XML.
- [ ] Improve documentation to state that the `jkube.generator.**` flags only apply to Generators
- [ ] Improve documentation to clearly state that Generators won't apply if customized XML image configuration is provided. i.e. Custom images take precedence over generators, and are

[2021-04-16 10:16] #602 closed

[2021-04-16 12:56] manusa commented on #639
OK, but what does the resourceConfig have to do with the build configuration??

Not sure why were those configuration parameters added there in the first place.

[2021-04-16 12:59] rohanKanojia commented on #639
BuildConfig is a Kubernetes resource. I think ResourceConfig is correct place for it's configuration. `oc:build` creates BuildConfig, Build and ImageStream while running.

[2021-04-16 13:12] manusa commented on #639
From a technical low-level perspective, yes build creates a `BuildConfig` which is indeed an **`OpenShift`** resource.

From a functional perspective it doesn't, since this is related to the build process and not to the final resource generation. Personally I think that describing the build limits in a more agnostic way would make more sense, these limits could then be also applied to other build

[2021-04-16 13:28] rohanKanojia commented on #639
You're right. I'll add documentation for these. However, I noticed there is no documentation available for the entire ResoureConfig class

[2021-04-16 13:38] manusa commented on #639
AFAIK That's because it's partially documented for each Enricher (and the reasoning for my previous rant: ResourceConfig is a technical non-functional entity that covers functional cases ---> Enricher configuration).

[2021-04-16 13:48] rohanKanojia commented on #639
I think ResourceConfig and enricher configuration are two separate things.

https://github.com/eclipse/jkube/blob/42b268e3b3e4240190af21139d8806446d87ee8e/kubernetes-maven-plugin/plugin/src/main/java/org/eclipse/jkube/maven/plugin/mojo/build/AbstractDockerMojo.java#L313-L320

I can see some documentation for `<configMap>` in `jkube-configmap-file` but apart from that I'm not able to see any docume

[2021-04-16 14:01] manusa commented on #639
The problem is that (as we've discussed many times) there are far too many ways to configure things and for compatibility reasons, we can't remove them. So yes, you also have the `ProcessorConfig` class used to configure Enrichers (mostly now) + the preferred way (seamlessly translates XML into properties).

But basically ResourceConfig is the Java Class used to deserialize the resources field in

[2021-04-16 14:37] Taruvai commented on #662
I am not sure. All I know is the test is not run in k8s:build but it runs
when I do
mvnw install k8s:build k8s:resource k8s: apply

On Fri, Apr 16, 2021 at 2:26 AM Rohan Kumar ***@***.***>
wrote:

--

*" Any intelligent fool can make things bigger, more complex and more
violent. It takes a touch of genius - and a lot of courage - to move in the
opposite direction" - Albert Einstein*

[2021-04-16 17:46] #647 closed

[2021-04-16 17:46] #663 closed

[2021-04-19 13:31] erizzo commented on #31
I see this has been pushed to 1.3.0. Is that realistic, or just a case of "we didn't get to it, maybe next time?"
I'm starting a new project and am trying to push for using Gradle, but I have to make sure tooling all supports it as much as possible.

[2021-04-19 13:40] manusa commented on #31
The Gradle plugins are one of our main priorities. We really want to provide a **preview** of the feature ASAP so we can start getting feedback.

However, we count with very limited resources, this is the reason it keeps getting pushed to the next minor release.
We released 1.2.0 on the 31st of March, so depending on the community needing an additional release in the coming weeks, this feature mig

[2021-04-20 06:51] rohanKanojia opened #671 "ApplyMojo not considering namespace configured from XML configuration"
### Description

### Info
When I'm trying to do `k8s:apply` from a project where namespace is configured from XML rather than `jkube.namespace` property. I'm getting this error:
[code]
I think we're not considering namespace configured from ResourceConfig here:

https://github.com/eclipse/jkube/blob/3af6339ddfa16efbe42ef6e71687f583d74856ee/kubernetes-maven-plugin/plugin/src/main/java/org/eclipse/j

[2021-04-20 07:00] rohanKanojia opened #672 "Improve our Liveness/Readiness Probe XML configuration support"
Right now our support for [Liveness/Readiness probes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#http-probes) is okay but I think it's not up to date with latest releases of kubernetes.

I see some things missing:
- Support for configuring custom headers `httpHeaders`
- Configuring `periodSeconds`
- ~Configuring `terminationGracePeriodSeco

[2021-04-20 07:02] rohanKanojia opened #673 "Unused field in ResourceConfig"
While revisiting ResourceConfig, I discovered this field is not used anywhere:

https://github.com/eclipse/jkube/blob/3af6339ddfa16efbe42ef6e71687f583d74856ee/jkube-kit/config/resource/src/main/java/org/eclipse/jkube/kit/config/resource/ResourceConfig.java#L68

Shall we remove this field if it's not getting used anywhere?

[2021-04-20 07:33] manusa commented on #671
How are the resources generated?
If the namespace is configured using ResourceConfig--->XML, during the resource phase, namespace should be added to the resources

[2021-04-20 07:42] rohanKanojia commented on #671
Yes, resources are generated correctly. But it's the namespace used in ApplyService that is getting picked from ClusterAccess. so namespace in resource is correct but the namespace we provide in `inNamespace(..)` is picked from ClusterAccess

[2021-04-20 07:51] manusa commented on #671
I think I'm not explaining myself correctly. Let's discuss it later on.
But just picture a scenario where you have several resources (might be provided via fragments--->raw fragments) and you want to target multiple namespaces.

[2021-04-20 07:53] rohanKanojia commented on #671
ohk, I think I'm getting what you're saying now. We would need to refactor ApplyService to give precedence to namespace in resource rather than straightaway picking it from ApplyService.getNamespace

[2021-04-20 08:25] manusa commented on #671
We need to deal with (at least) 3 possible scenarios:
- Resources have no namespace configured ----> Namespace should be picked from `clusterAccess.getNamespace()`
- Resources have namespace configured (maybe provided in XML configuration after a k8s:resource invocation. But could also be provided as raw fragments, etc.) ----> Namespace should be preserved
- As a user, I want to override this name

[2021-04-20 08:29] manusa commented on #671
Relates to #599 #586 #570 #582

[2021-04-20 08:53] manusa commented on #673
Sure.
However, we should first see if this port is used in FMP and double check we won't have compatibility issues in case users upgrade from FMP to JKube.

[2021-04-20 14:14] rnetuka commented on #658
@manusa I've created PR https://github.com/eclipse/jkube/pull/675. Could you please take a look at it when you have time?

[2021-04-20 15:34] dloiacono opened #676 "Define Helm Chart dependencies"
### Description
Manage the dependencies of a chart.

Helm charts store their dependencies in 'charts/'. For chart developers, it is often easier to manage dependencies in 'Chart.yaml' which declares all dependencies.

The dependency commands operate on that file, making it easy to synchronize between the desired dependencies and the actual dependencies stored in the 'charts/' directory.

For examp

[2021-04-20 15:57] ffang opened #677 "KarafGenerator misses jolokia port 8778"
### Description

### Info

* Eclipse JKube version :1.2.0
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift setup and version :

* If it's a bug, how to reproduce :

When building a Karaf based image with jkube plugin, there is no jolokia port 8778 in the auto-generated deploymentconfig.yml. But the jolokia port 8778 is important for Karaf based image, since other App like Fuse

[2021-04-20 16:03] rohanKanojia commented on #677
Are you using zero configuration mode or providing some XML configuration for building image? I see there is a webPort field in KarafGenerator but it's default value is 8181
https://github.com/eclipse/jkube/blob/3af6339ddfa16efbe42ef6e71687f583d74856ee/jkube-kit/generator/karaf/src/main/java/org/eclipse/jkube/generator/karaf/KarafGenerator.java#L45-L49

[2021-04-20 16:09] ffang commented on #677
Hi @rohanKanojia ,

Thanks for your reply!

I know there's a 8181, this is for the http-servlet port. But we also need the jolokia port 8778, just like it in JavaExecGenerator.

Best Regards
Freeman

[2021-04-20 16:11] rohanKanojia commented on #677
Thanks a lot for sending a quick PR. You just need to sign Eclipse Contributor Agreement and add a `Signed-off By ` footer in your commit message for ECA check to pass[0]

https://www.eclipse.org/jkube/contributing#legal

[2021-04-20 18:00] ffang commented on #677
Thanks @rohanKanojia for the guidance! All done there.

Freeman

[2021-04-22 12:34] ohbus opened #682 "Update next-generation circleci convenience images"
The next-generation convenience images in this section were built from the ground up with CI, efficiency, and determinism in mind. Here are some of the highlights:

**Faster spin-up time** - In Docker terminology, these next-gen images will generally have fewer and smaller layers. Using these new images will lead to faster image downloads when a build starts, and a higher likelihood that the image

[2021-04-22 16:32] manusa commented on #682
https://circleci.com/docs/2.0/circleci-images/#next-generation-convenience-images

https://hub.docker.com/u/cimg

https://github.com/CircleCI-Public/cimg-overview

https://hub.docker.com/r/cimg/openjdk

https://discuss.circleci.com/tag/convenience-images

[2021-04-23 05:03] #682 closed

[2021-04-23 10:10] #578 closed

[2021-04-23 10:10] #618 closed

[2021-04-23 11:03] #677 closed

[2021-04-23 11:15] #666 closed

[2021-04-23 12:30] ohbus commented on #622
@rohanKanojia where can I find the source of this doc?

[2021-04-23 12:33] ohbus commented on #622
Found it here `kubernetes-maven-plugin/doc/src/main/asciidoc/inc/enricher/_jkube_healthcheck_karaf.adoc`

[2021-04-23 13:17] #632 closed

[2021-04-26 06:35] anand188 opened #685 "Do plugin support Helm push/publish to repo"
Do plugin support Helm push/publish to repo

[2021-04-26 06:37] rohanKanojia commented on #685
We already have this in master #636 Demo here[0] , Would you like to test our snapshot version?

[0] https://www.youtube.com/watch?v=RnjROID8qqc

[2021-04-26 06:44] anand188 commented on #685
i am currently using release version 1.2.0 and tried to use 1.3.0-SNAPSHOT it seems its not available in repo yet . is it available ?

[2021-04-26 06:48] rohanKanojia commented on #685
Sorry, we don't publish snapshot versions. You can build it locally or use [JitPack.io ](https://jitpack.io/)

[2021-04-26 06:54] anand188 commented on #685
Its always best to publish snapshots so that everyone can use even if its not completely ready until unless it breaks .

[2021-04-26 07:32] manusa commented on #685
We encourage to use JitPack instead of SNAPSHOT builds since you get a build of a specific ref:
[code]

[2021-04-26 07:45] anand188 commented on #685
Also i would like to thank @rohanKanojia for prompt response . Yeah okay @manusa  let me try

[2021-04-26 13:43] anand188 commented on #685
Its pretty hard to build even with jitpack so many dependencies not found and variables @manusa

[2021-04-26 13:46] rohanKanojia commented on #685
Umm, I think doing a build without tests `mvn clean install -DskipTests` should not take more than a minute. What problems are you facing?

[2021-04-26 13:54] anand188 commented on #685
Failure to find com.github.eclipse.jkube:kubernetes-maven-plugin:pom:

[2021-04-26 14:53] manusa commented on #685
He is not building, he is trying to use jitpack.io

[2021-04-26 14:55] manusa commented on #685
Can you share your pom details, I can only see one recent build in [JitPack](https://jitpack.io/#eclipse/jkube/master-SNAPSHOT)

https://jitpack.io/com/github/eclipse/jkube/master-SNAPSHOT/build.log

[2021-04-27 05:41] anand188 commented on #685
I tried both maven and jitpack.io neither of them had workout

[2021-04-27 09:14] anand188 commented on #685
When will be 1.3.0 released ?

[2021-04-27 10:56] manusa commented on #685
JitPack issue relates to:
- https://github.com/jitpack/jitpack.io/issues/3998

[2021-04-27 13:07] #622 closed

[2021-04-27 15:50] rohanKanojia commented on #662
@Taruvai : ohk. Is it possible to share that repo that contains the test? Could you please join our chat so that we can discuss your problem in detail regarding jkube https://gitter.im/eclipse/jkube ?

[2021-04-27 15:52] manusa commented on #685
Hi @anand188
I think we managed to fix the JitPack issue in #687

I tested, and the following setup worked for me:
[code]

[2021-04-27 16:32] Taruvai commented on #662
Joined> Are you there?

On Tue, Apr 27, 2021 at 11:50 AM Rohan Kumar ***@***.***>
wrote:

--

*" Any intelligent fool can make things bigger, more complex and more
violent. It takes a touch of genius - and a lot of courage - to move in the
opposite direction" - Albert Einstein*

[2021-04-29 08:21] #630 closed

[2021-04-29 11:03] #639 closed

[2021-04-29 14:44] Taruvai commented on #662
Dear Rohan Kumar, https://dzone.com/articles/kubernetes-for-java-developers

On Tue, Apr 27, 2021 at 12:32 PM Taruvai Subramaniam <
***@***.***> wrote:

--

*" Any intelligent fool can make things bigger, more complex and more
violent. It takes a touch of genius - and a lot of courage - to move in the
opposite direction" - Albert Einstein*

[2021-05-06 12:18] manusa commented on #656
I tried to create a quickstart with the following assumptions:

1. OpenShift 4.x with webconsole (I used CRC 1.25 --> OpenShift 4.7.5)
1. Service Binding Operator installed in the cluster (I used 0.7.1)
1. [PostgreSQL Database](https://github.com/operator-backing-service-samples/postgresql-operator) operator installed in the cluster (I used 0.0.9)
1. PostgreSQL and Service Binding Operator (reques

[2021-05-07 10:04] manusa commented on #661
https://docs.oracle.com/cd/E19253-01/819-0913/author/jar.html#jarprotocol

[2021-05-07 12:03] rohanKanojia commented on #673
I checked in FMP codebase and this field seems unused there as well. I think we should remove it

[2021-05-07 12:43] manusa commented on #673
Go ahead ;)

[2021-05-10 13:55] #673 closed

[2021-05-10 15:01] manusa commented on #676
Fixed by #691

[2021-05-10 15:01] #676 closed

[2021-05-11 08:55] manusa commented on #590
Just configure the plugin as described in my [previous comment](https://github.com/eclipse/jkube/issues/590#issuecomment-836851243).

Note that the Maven GAV coordinates change and that you need to add the Jitpack repository.

[2021-05-13 19:54] jsrolon opened #696 "Istio VirtualService resource type not found when using helm goal"
### Description
I can't link to the code directly because it's a private project, but I'm simply trying to add a CustomResource to a Helm chart. Under `src/main/jkube/virtual-service-cr.yml` I have the following:

[code]

And I have added the `helm` goal to my executions. The `k8s:resource` goal works well, until it gets to `k8s:helm`:

[code]

I don't need any enricher support or anything fancy a

[2021-05-14 05:21] manusa commented on #696
This issue might have been fixed in #690 #688 #689

Could you try to reproduce by using the latest snapshot:

[code]

[2021-05-14 13:02] #671 closed

[2021-05-14 21:52] springframeworkguru opened #697 "Filter for Maven props not working on docker file"
Maven Properties not getting substituted as described.

This docker file:

[code]
creates this error on build:

[code]

I also tried explicitly setting the filter property to `${*}` or `@` and no luck.

### Info

* Eclipse JKube version : 1.2.0
* Maven version (`mvn -v`) : 3.8.1
[code]
* Kubernetes / Red Hat OpenShift setup and version : n/a

* If it's a bug, how to reproduce : mvn k8s:build

* Sa

[2021-05-17 11:29] #658 closed

[2021-05-17 15:17] rohanKanojia commented on #697
I can reproduce this issue. While debugging, I am not able to see `project.build.finalName` property being set here:

https://github.com/eclipse/jkube/blob/f5069b21b03ecc9672c96e5cf812c20a36897622/jkube-kit/build/api/src/main/java/org/eclipse/jkube/kit/build/api/helper/DockerFileUtil.java#L129-L132

When I explicitly set this property like this:
[code]

`mvn k8s:build` builds successfully

[2021-05-17 16:27] springframeworkguru commented on #697
fyi - I have a cleaner example on branch jkube-broken

https://github.com/springframeworkguru/kbe-rest-brewery/tree/jkube-broken

[2021-05-17 16:35] rohanKanojia commented on #697
I see similar behavior on jkube-broken too. If I manually set `project.build.finalName` in `<properties>` it works. Looks like jkube is not taking standard maven properties into account.

[2021-05-17 18:14] jsrolon commented on #696
Hi @manusa , thanks for your answer.

I added the jitpack repo to my pom and changed the version of the artifact, but now I'm getting an error due to a class being missing:

[code]

I can tell that the missing class is in the original artifact group, which is `org.eclipse.jkube`, whereas the snapshot is on `com.github.eclipse.jkube`. I tried adding some jkube-kit 1.2.0 dependencies into my pom, bu

[2021-05-17 19:53] springframeworkguru commented on #697
Thanks @rohanKanojia . Not sure if its helpful, works fine with the fabric8 docker-maven-plugin

Example here
https://github.com/springframeworkguru/kbe-rest-brewery/tree/maven-props

[2021-05-18 09:17] manusa commented on #697
I'm not sure about this, but Docker Maven Plugin is probably delegating resource filtering to Plexus.

After a thorough analysis, the main issue is that in JKube we are only considering Properties (System, Project, Session, etc.) when performing replacements.

[Maven Resources Plugin](https://github.com/apache/maven-resources-plugin), which should be our guide, is not only using properties but Obj

[2021-05-18 11:02] #497 closed

[2021-05-18 11:20] springframeworkguru commented on #697
@manusa - if this isn't going to be resolved soon, the project documentation should be updated, which specifically refers to project properties.

See filtering section [here](https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#build-configuration).

I was migrating a working example from the `docker-maven-plugin` and found the behavior confusing.

[2021-05-18 11:23] manusa commented on #697
hmm, that's bad.

This is something we can tackle in a future release, but it involves quite a big refactor. I'll strike-through that statement in the docs in the meantime.

[2021-05-18 13:17] manusa commented on #590
We just released 1.3.0, could you please confirm you can no longer reproduce this issue?

[2021-05-18 13:46] manusa commented on #696
I will try again, but I think I managed to make the JitPack releases work (are you sure you included both repository entries?).

In the meantime, we just released 1.3.0. Could you confirm if the issue was fixed for you?

[2021-05-19 06:15] ochstobi commented on #590
@manusa I can confirm that this is working now. Great work!

[2021-05-19 08:35] #590 closed

[2021-05-19 16:26] jsrolon commented on #696
I just updated to 1.3.0 and the helm issue went away. The istio VirtualService is passed through to the helm chart .tgz directly without any issues. Thanks!

[2021-05-19 16:26] #696 closed

[2021-05-19 17:16] missedone opened #702 "k8s:push failed with aws ecr credential helper for docker"
### Description

I have [aws ecr credential helper](https://github.com/awslabs/amazon-ecr-credential-helper) for docker install on Ubuntu 20.04
[code]
the setup works well, if i use native docker cli to pull or push.

however, when i tried with jkube maven plugin 1.1.0, 1.2.0. or 1.3.0, got the same error below `Error:  k8s: null`

[code]

my project is a spring boot app, the k8s:build works, and

[2021-05-21 19:56] rafaeltuelho opened #704 "NPE when using Service resource fragment"
### Description

### Info

* Eclipse JKube version : 1.3.0
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift setup and version :
[code]
* If it's a bug, how to reproduce :
just create a Service fragment in the `src/main/jkube/service.yml`
with this content:
[code]
* If it's a feature request, what is your use case :

* Sample Reproducer Project : *[GitHub Clone URL]*

Looking at

[2021-05-24 10:12] manusa commented on #702
https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#extended-authentication
Maybe we lost something when porting from DMP.

[2021-05-24 10:19] manusa commented on #685
Hi @anand188,
The [latest release](https://github.com/eclipse/jkube/releases/tag/v1.3.0) should already support pushing/publishing your Helm charts.

[2021-05-24 10:21] manusa commented on #662
Hi @Taruvai
Did we manage to fix all of your issues? Can we close this one or is there still something to be addressed?

[2021-05-24 14:09] Taruvai commented on #662
No. It is not closed. I still don't understand. I tried your way and it
works but I don't get it

On Mon, May 24, 2021 at 6:21 AM Marc Nuri ***@***.***> wrote:

--

*" Any intelligent fool can make things bigger, more complex and more
violent. It takes a touch of genius - and a lot of courage - to move in the
opposite direction" - Albert Einstein*

[2021-05-24 14:14] rohanKanojia commented on #662
@Taruvai : oh, Can we reproduce it on https://github.com/Taruvai/JKube2 ?

[2021-05-24 15:35] Taruvai commented on #662
Yes. Do you have my original ticket description of the issue

On Mon, May 24, 2021 at 10:14 AM Rohan Kumar ***@***.***>
wrote:

--

*" Any intelligent fool can make things bigger, more complex and more
violent. It takes a touch of genius - and a lot of courage - to move in the
opposite direction" - Albert Einstein*

[2021-05-25 10:14] manusa opened #705 "JIB image build in Windows fails"
### Description
When running a JIB image build in Windows it fails with:
[code]

WIP

### Info

* Eclipse JKube version : 1.3.0

* If it's a bug, how to reproduce :
[code]

[2021-05-25 10:32] manusa commented on #705
Relates to #300

[2021-05-30 22:30] hammad-k-dar opened #707 "Do plugin provides selecting server port and other properties from application-<some-profile>.properties file?"
### Description

### Info

* Eclipse JKube version :1.2.0
* Maven version (`mvn -v`) :3.6.3
[code]
* Kubernetes / Red Hat OpenShift setup and version :Kubernetes

* If it's a bug, how to reproduce :

* If it's a feature request, what is your use case : I want to generate resources based on the profile I intend to run for Spring Boot multi module project.

* Sample Reproducer Project : *[GitHub Clo

[2021-05-31 09:55] #705 closed

[2021-06-03 16:08] dloiacono opened #711 "Remove quotes from helm chart values"
### Description
The Helm chart values are created with quotes due to a configuration used in the YAML object mapper:  ALWAYS_QUOTE_NUMBERS_AS_STRINGS

### Info

* Eclipse JKube version : 1.3.0
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift setup and version : Not Important

* If it's a bug, how to reproduce :
[code]

* If it's a feature request, what is your use case :

* Sam

[2021-06-07 09:48] manusa commented on #704
According to the OpenAPI specs and our analysis, the port (number) is a required field when defining a service.

I'm assuming from your issue description that what you want is to make sure the **generated** port has the name you provide in the fragment. Right?

If this is the case, it requires further analysis, since there are several Enrichers involved in the Service generation.

[2021-06-07 12:07] manusa commented on #425
## Analysis

### Separate COPY instructions for Assembly#files and Assembly#fileSets

#### Advantages
This one seems the cleaner solution for me, since there's already a collection backing up the field definitions (files, fileSets) of this model.

#### Disadvantages

The main disadvantage is that it will change the behavior of existing configurations. Now any user who has defined multiple files or

[2021-06-07 14:35] rafaeltuelho commented on #704
That's right, @manusa

[2021-06-10 13:08] rohanKanojia commented on #702
@missedone : Hello, do you have your AWS IAM id/secret configured in system properties, plugin configuration, or maven `~/.m2/settings.xml` file? The plugin tries to read those in order to create Signature Version 4 request[0]

[0] https://docs.aws.amazon.com/general/latest/gr/sigv4-create-canonical-request.html

[2021-06-10 14:17] rohanKanojia commented on #702
I checked Fabric8 Docker Maven Plugin and JKube implementation(our docker service code is ported from DMP) and I see DMP uses the new `api.ecr*` URL for getting ECR authorization token, see [0] [1]. Although, `ecr.*` URL also seems compatible according to docs[2] .

I'll port this to jkube to see if it resolves your issue

[0] https://github.com/fabric8io/docker-maven-plugin/issues/1317
[1] https:

[2021-06-10 15:22] missedone commented on #702
hi @rohanKanojia

No. I have IAM role for service account (IRSA) attached on my build pod in k8s. i assume the AWS Java SDK should be able to login with AWS_WEB_IDENTITY_TOKEN_FILE.

BTW, DMP works for me, yes pls port the change i can test it.

Thanks,
Nick

[2021-06-11 04:45] rohanKanojia opened #716 "Update Spring Boot Quickstarts to latest version"
Our Spring Boot Quickstarts are based upon spring boot versions that were released a year ago. We need to update them to the latest version of spring boot.

1. Update Spring Boot version in Quickstart to latest version
2. Check if Quickstart is building fine after version bump
3. Test if upgraded quickstart is working okay with jkube. Check `mvn k8s:build`, `mvn k8s:resource`, `mvn k8s:apply` goal

[2021-06-11 04:46] manusa commented on #716
It would also be necessary to check the update works with OpenShift in those quickstarts where it's applicable.

[2021-06-11 04:48] rohanKanojia commented on #716
In case testing on OpenShift is needed, use Red Hat Developer Sandbox[0]

[0] https://developers.redhat.com/developer-sandbox

[2021-06-11 04:49] rohanKanojia commented on #716
@theexplorist : Please review if the issue description is clear enough. If it looks okay to you and you're interested in working on this, I'll assign it to you.

[2021-06-11 08:53] theexplorist commented on #716
@rohanKanojia Assign me this issue!

[2021-06-11 15:31] manusa commented on #425
After the first iteration, it now seems that multiple Assembly#inline entries might make more sense than multiple BuildConfiguration#assembly.

The `AssemblyConfiguration#mode` and other fields make sense in the global context of the archive that will be used to create the assembly, so if the user provides different values for these fields, it's not possible to decide which one should be applied.

[2021-06-12 15:24] #707 closed

[2021-06-12 15:25] hammad-k-dar commented on #707
closed

[2021-06-14 03:32] rohanKanojia opened #720 "Add `terminationGracePeriodSeconds` to ProbeConfig when it's available in stable Kubernetes versions"
While working on https://github.com/eclipse/jkube/issues/672 I didn't add `terminationGracePeriodSeconds` configuration parameter to ProbeConfig since at the time it was only supported in Kubernetes v1.21 [alpha][0].

Right now the same field is available in PodSpec, so user can work around this by providing a fragment like this:
[code]

We should add this field to ProbeConfig whenever it's availa

[2021-06-14 06:47] rohanKanojia commented on #549
We seem to have Ingress Generation related documentation https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#ingress-generation which was added inhttps://github.com/eclipse/jkube/pull/674

[2021-06-14 11:32] rohanKanojia commented on #702
@missedone : #718 got merged to master. Would it be possible for you to test this with 1.4.0-SNAPSHOT version of master. You would need to build jkube or use jitpack

[2021-06-14 11:32] manusa commented on #685
Hi @anand188
Your issue should already be addressed, closing it. Feel free to reopen/create new issue if the current fix doesn't work for you

[2021-06-14 11:32] #685 closed

[2021-06-14 21:27] missedone commented on #702
@rohanKanojia , could you publish the snapshot to somewhere so i can consume in our CI jobs. thx

[2021-06-15 11:59] tadayosi opened #725 "Upgrade HttpClient to 4.5.13 or later"
### Description

Simply, please merge #713!

### Info

n/a

[2021-06-15 12:04] rohanKanojia commented on #725
someone needs to fix build issues https://app.circleci.com/pipelines/github/eclipse/jkube/1317/workflows/1ed90d23-9680-4aa8-911c-d2770c491dc5/jobs/7719

[2021-06-15 12:34] tadayosi commented on #725
@rohanKanojia OK, let me try then. thanks!

[2021-06-15 13:06] rohanKanojia commented on #548
Are you referring to this stacktrace:
[code]
This seems to be coming from here
https://github.com/eclipse/jkube/blob/b7335940a71fe16581773da51f3d1b08f2050793/jkube-kit/config/service/src/main/java/org/eclipse/jkube/kit/config/service/JKubeServiceHub.java#L96-L100

If we wrap this client initialization in an if-else block we should be able to get rid of these warnings
[code]

[2021-06-15 15:03] manusa commented on #704
The rest of issue should be addressed in https://github.com/eclipse/jkube/issues/367

[2021-06-16 05:11] rohanKanojia commented on #367
I think this should be fixed now. I tried with this Service resource fragment:
[code]
When I ran `mvn k8s:resource` goal I could see that both name and port number are reserved by Eclipse JKube.
[code]

[2021-06-16 05:58] rohanKanojia commented on #702
Umm, I didn't realize you were using it in your pipelines. Right now we don't publish snapshots anywhere and suggest using jitpack for trying out snapshot builds. I think you'll need to wait for our next release in order to test.

[2021-06-16 07:40] manusa commented on #702
Jitpack should be usable in your pipelines (unless you have it forbidden as a repository source).

[code]

[2021-06-17 08:44] jfdenise opened #728 "chown problem when copying content into docker generator image"
### Description

I am writing a generator that, during assembly, copy a directory to the FROM image. My FROM image user is not root but jboss (185).

I want the user owning the copied directory (and sub directories) to be jboss:root. In the generator I am calling:

// preserve permissions
builder.mode(AssemblyMode.tar);
// set user
builder.user("jboss:root");

During k8s:build, I got the following

[2021-06-17 14:59] davidecavestro commented on #644
If descriptorRef support has been dropped, then maybe the [migration guide](https://www.eclipse.org/jkube/docs/migration-guide/) from fabric8 maven plugin should be updated, right?

[2021-06-17 15:42] rohanKanojia commented on #702
Hello, I thought your issue was regarding pushing image rather than building image. Would it be possible for you to share a reproducer project so that I can reproduce?

[2021-06-17 15:51] missedone commented on #702
hi @rohanKanojia
just have a quick look at
[code]

AWS ECR credential helper for docker get the auth info from context, in my case it's IRSA (IamRole for Service Account), which means we should use WebIdentityTokenFile, see more context https://github.com/aws/aws-sdk-java/issues/2136

[2021-06-17 15:54] missedone commented on #702
also look at https://github.com/eclipse/jkube/blob/969025bf6bd21f22ec02ef4a72174ae49aaad5bb/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/auth/AuthConfigFactory.java#L227-L239
why the method requires returning AuthConfig which contains user/password, it's may not necessary for WebIdentityTokenFile though you still can get the user and password

[2021-06-17 16:05] jfdenise commented on #728
[test-chown.zip](https://github.com/eclipse/jkube/files/6671604/test-chown.zip)
This is what is generated when I am setting the user "jboss:root" in the builder.
* Unzip build.zip
* cd build
* docker build -t test .
* You will observe the ownership problem. My from image user is not root, but jboss, so can't change the ownership.

[2021-06-17 16:09] davidecavestro commented on #644
The [plugin docs](https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#building-images) still claim

I'm not sure it is still true.

BTW it would be great if the migration guide is updated keeping the original fabric8 example which makes use of _descriptorRef_, so that we get a clear reference on how to produce a simple docker image with the main artifact.

[2021-06-17 17:07] rohanKanojia commented on #702
oh, thanks a lot for pointing out. I'm seeing that there are some implementation differences in dmp and jkube in AuthConfigFactory. Looks like we need to port two more PRs

https://github.com/fabric8io/docker-maven-plugin/pull/1310
https://github.com/fabric8io/docker-maven-plugin/pull/1311

[2021-06-17 18:34] missedone commented on #702
https://github.com/fabric8io/docker-maven-plugin/pull/1311 is more relavant to the issue, pls let me know once it's available in master-SNAPSHOT, i will test out
Thanks,
Nick

[2021-06-18 11:28] manusa commented on #653
After recently checking the SpringBootWatch implementation which is not working ATM, it seems that the order of the parameters/arguments might be wrong at some places.

For SpringBootWatcher, changing this line:
https://github.com/eclipse/jkube/blob/8063d3db1c3bc9e40e2b1097bcf830736a8b7e34/jkube-kit/jkube-kit-spring-boot/src/main/java/org/eclipse/jkube/springboot/watcher/SpringBootWatcher.java#L12

[2021-06-21 07:43] #548 closed

[2021-06-21 11:41] manusa commented on #728
I think you're not specifying all arguments for user, you should do like in:

https://github.com/eclipse/jkube/blob/1958da9551a05acd67268ece655ee261ff98d205/jkube-kit/generator/webapp/src/main/java/org/eclipse/jkube/generator/webapp/handler/WildFlyAppSeverHandler.java#L115

And specify the user with 3 parts.

JKube will take care of running that specific chmod statement as root.
The output Dockerf

[2021-06-21 12:00] jfdenise commented on #728
@manusa , thank-you. That was it. I missed the "run user" part. I will close the issue.

[2021-06-21 12:00] #728 closed

[2021-06-21 15:52] manusa commented on #367
Port `8240` is not a known port (AFAIK), so previously the name shouldn't be overridden either.

What's the output if you use a port such as `8080`, `8082` or  `80`? Are the names preserved too?

[2021-06-21 15:53] #549 closed

[2021-06-23 05:29] manusa opened #732 "Quickstart using Jitpack as plugin repository"
### Description

Testing the newly implemented features of Eclipse JKube prior to a release is critical to deliver a great product.

For users reporting bugs, it might be helpful to validate that an issue was effectively fixed by being able to use the latest SNAPSHOT from the main/master branch.

Since we don't provide nightly builds (Jitpack seems like a much more powerful option), we need to pro

[2021-06-23 07:57] manusa opened #733 "Replace test assertion to use AssertJ"
### Description

The following test assertion is reported as a code smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&open=AXCb0U1sych7OcxsbwhB&resolved=false&types=CODE_SMELL):

https://github.com/eclipse/jkube/blob/682cc6f25ccf3e95e20832d1396fa3890f3a4e26/jkube-kit/build/api/src/test/java/org/eclipse/jkube/kit/build/api/auth/handler/SystemPropertyRegistryAuthHandlerTest

[2021-06-23 09:02] manusa opened #734 "RunService.java: Use isEmpty() to check whether the collection is empty or not."
### Description

The following statement is reported as a code smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&open=AXCb0UvMych7Ocxsbwgc&resolved=false&types=CODE_SMELL):

https://github.com/eclipse/jkube/blob/8ca3f342372128fe12ea1572db1e37d033406a94/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/RunService.java#L411

Replace wit

[2021-06-23 09:15] rbrishabh commented on #732
I can help with this!

[2021-06-23 09:18] manusa commented on #732
I'll assign to you. Let [us know](https://gitter.im/eclipse/jkube) if you need assistance.

[2021-06-23 09:44] rbrishabh commented on #733
hey! I can help with this one too :)

[2021-06-23 09:46] rbrishabh commented on #734
Sorry, just learning java, if it's OK, I can help with this too :)

[2021-06-23 09:51] manusa commented on #733
[first-timers-only](https://github.com/eclipse/jkube/labels/first-timers-only) issues are intended for new contributors. If you have already committed to the project or are already working on an issue you shouldn't apply for these ones.

[2021-06-23 09:51] manusa commented on #734
[first-timers-only](https://github.com/eclipse/jkube/labels/first-timers-only) issues are intended for new contributors. If you have already committed to the project or are already working on an issue you shouldn't apply for these ones.

[2021-06-23 14:55] #425 closed

[2021-06-23 16:22] danmikes commented on #733
Hello,
I think this would be a nice issue for me to pick up. However, it is my first time ever to contribute to open source. I have forked the repository and changed all asserts to use assertJ. Except in one test, where I ignored how to change it:
jkube-kit/build/api/src/test/java/org/eclipse/jkube/kit/build/api/assembly/AssemblyManagerCreateDockerTarArchiveTest.java
Should I try leave that one an

[2021-06-24 05:50] Jayita10 commented on #734
@manusa, I would love to work on this issue. can I?

[2021-06-24 15:05] Jayita10 commented on #734
Hi @manusa, I fixed the issue. Please review my work. Thanks :)

[2021-06-25 05:55] manusa commented on #733
Closed by #737

[2021-06-25 05:55] #733 closed

[2021-06-27 08:04] theexplorist commented on #716
Testing the build, will be submitting PR!

[2021-06-28 07:25] manusa opened #740 "ConfigKey.java: Make DEFAULT_PREFIX private and final"
### Description
The following statement is reported as a vulnerability by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&open=AW3z0M4hL3SSO-VMZS4E&resolved=false&types=VULNERABILITY):

https://github.com/eclipse/jkube/blob/bf88230a5c110d686ea02ffb45dba8a294f5e2e9/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/config/handler/property/Conf

[2021-06-28 13:19] Jayita10 commented on #740
I see no one assign for this issue yet. can I work on this?

[2021-06-28 13:48] rohanKanojia commented on #740
@Jayita10 : This issue is for first time contributors. Would you like to pick up some other slightly involved issue?

[2021-06-28 13:53] manusa commented on #740
Hi @Jayita10
[first-timers-only](https://github.com/eclipse/jkube/labels/first-timers-only) issues are intended for newcomers.
Our intention is to provide also additional [`help-wanted`](https://github.com/eclipse/jkube/labels/help%20wanted) issues so that people who have already contributed to the project (just like you), can keep involved and helping out.

[2021-06-28 13:58] Jayita10 commented on #740
Yeah sure :)

[2021-06-28 13:59] rohanKanojia opened #741 "Add a private constructor to hide the implicit public ones in Utility classes"
Utility classes, which are collections of static members, are not meant to be instantiated. Even abstract utility classes, which can be extended, should not have public constructors.

Java adds an implicit public constructor to every class which does not define at least one explicitly. Hence, at least one non-public constructor should be defined. You can read more about this in SonarRule[0]

We ne

[2021-06-28 14:29] #734 closed

[2021-06-28 14:34] manusa commented on #734
@Jayita10 thanks for contributing to Eclipse JKube, you've now become part of the extensive list of contributors to JKube and to the Eclipse foundation

As stated in this [comment](https://github.com/eclipse/jkube/issues/740#issuecomment-869704487), we'd be very happy if you stayed around and involved with the project. We'll try to label some new (a little bit more involved issues) with [`help wan

[2021-06-29 02:32] param-thakker commented on #740
Hi, Can I please work on this? I'm a first time contributor.

[2021-06-29 06:24] param-thakker commented on #740
I have created a pull request with the changes.

[2021-06-29 09:26] jfdenise opened #743 "Bootable JAR Health enricher must handle new cloud enabled element"
### Description

When a Bootable JAR Maven plugin release contains a fix for https://github.com/wildfly-extras/wildfly-jar-maven-plugin/issues/249, the Health Enricher must be evolved to check that the cloud is not disabled.

### Info

* Eclipse JKube version : latest
[code]
* Kubernetes / Red Hat OpenShift setup and version : all

* If it's a feature request, what is your use case : This provides

[2021-06-29 14:06] #725 closed

[2021-06-30 04:59] manusa opened #746 "KubernetesResourceUtil.java: Make SIMPLE_FIELD_TYPES private"
### Description
The following statement is reported as a vulnerability by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&open=AXGmF3jC7hhEzz-4P4Ej&resolved=false&types=VULNERABILITY):

https://github.com/eclipse/jkube/blob/b2a4fb833ba8e740bbd142a0ab94bcac0c87dc8f/jkube-kit/enricher/api/src/main/java/org/eclipse/jkube/kit/enricher/api/util/KubernetesResourceUtil.java#L111

shoul

[2021-06-30 09:22] kristofnagyban commented on #741
I'll work on this.

[2021-06-30 13:46] manusa commented on #253
I thought there was an extra-issue for this, but we probably just discussed this elsewhere because I can't find it.

In addition to the way BuildService implementations are discovered and instantiated, we need a way to automatically (in case the user doesn't provide a manual configuration `jkube.build.strategy` select a build service based on the environment where the plugin is run (maybe with a s

[2021-06-30 13:50] manusa commented on #522
Hi @jauffrey

This functionality should be covered now by #710 (fabric8io/fabric8-maven-plugin#1054)

You can check how it works in this demo https://www.youtube.com/watch?v=zAIARZ-efxk

Could you confirm if this is what you were looking for?

[2021-06-30 13:52] manusa commented on #589
Should be fixed by #724
Will be available in next 1.4.0 release

[2021-07-01 05:37] #741 closed

[2021-07-01 07:32] #740 closed

[2021-07-01 17:25] rohanKanojia commented on #653
@ningpengtao-coder : Thanks a lot for reporting this! You're right about the arguments being inversed. I made a mistake while testing it earlier and now when Marc and I tested the complete flow of the watch, we realized it's broken. LiveReload doesn't happen during `k8s:watch` session even on updating jarfile.

For `k8s:debug` when we don't specify localdebug port both container port and local por

[2021-07-01 20:30] jauffrey commented on #522
Hi @manusa
Many thanks for your awesome work on this. I checked the demo and it will definitely solve the issue.
Can't wait to test it! 🚀 :shipit:

[2021-07-02 08:24] manusa opened #754 "KarafGenerator.java: remove unused imports"
### Description
Remove unused imports in this class. The following lines should be removed:

https://github.com/eclipse/jkube/blob/c49728626913300daa73ca7698b3e7e1b478dd97/jkube-kit/generator/karaf/src/main/java/org/eclipse/jkube/generator/karaf/KarafGenerator.java#L19-L20

### How to _manually_ test my changes
#### Kubernetes

If you don't have a real Kubernetes cluster available (most probably),

[2021-07-02 09:14] manusa opened #755 "Arguments.java: Replace the call to "replaceAll()" by a call to the "replace()" method"
### Description
The following statement is reported as a critical code smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&open=AXNtNJUkOwr8C6MdNZOQ&resolved=false&severities=CRITICAL&types=CODE_SMELL).

It's also a duplicate fragment of some core logic defined in the Class [EnvUtil#splitOnSpaceWithEscape](https://github.com/eclipse/jkube/blob/813074705147f9423dd807385c0d40

[2021-07-02 09:58] valaparthvi commented on #755
@manusa I would like to work on this one. Can you assign it to me?

[2021-07-02 10:50] rohanKanojia opened #756 "`k8s:watch` broken; Service redeploy error since upgrade to Fabric8 Kubernetes Client"
### Description

`k8s:watch` goal doesn't seem to be working since upgrade to KubernetesClient. Right now when I'm running `mvn k8s:watch`, I'm getting patch exception related to Service:
[code]

This is happening only on master, v1.3.0 is not affected with this issue

### Info

* Eclipse JKube version : master
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift setup and version

[2021-07-02 10:55] manusa commented on #756
Does this relate to what we talked about this morning?

[2021-07-02 10:57] rohanKanojia commented on #756
Yes, this is the issue I've created for the additional ApplyService changed I had done in #748

[2021-07-02 11:15] rohanKanojia opened #758 "QuarkusHealthCheckEnricher: default health path value is outdated in Quarkus 2.0.0.Final"
### Description

I was trying out @kameshsampath 's sample when I observed this, somehow pods were not coming in `Ready` state due to probe conditions not getting fulfilled. According to Quarkus docs[0], liveness healthchecks paths are

[code]

However, when running `mvn k8s:resource` liveness/readiness probes are generated with this path:
[code]

Looks like behavior in quarkus has changed and `/h

[2021-07-02 13:57] manusa commented on #758
Related to:
- https://github.com/quarkusio/quarkus/issues/15030
- `quarkus.http.non-application-root-path`
  - https://github.com/quarkusio/quarkus/issues/15030#issuecomment-778463320
  - https://quarkus.io/blog/path-resolution-in-quarkus/

[2021-07-02 14:48] #653 closed

[2021-07-02 17:31] himanshu007-creator commented on #754
Hi, i would like to work on this issue

[2021-07-03 07:34] #754 closed

[2021-07-03 16:55] skpandey885 commented on #755
If This Issue Is Open I would Like To Work On it!

[2021-07-03 19:03] manusa commented on #755
This one is currently assigned. However, #746 is free, maybe you want to take a look 😉

[2021-07-04 00:03] skpandey885 commented on #746
Hey! I'm Interested! Can I work On this?

[2021-07-04 11:50] skpandey885 commented on #746
Hey! Can You Explain a Bit more.. I am a Beginner! Need Help! :)

[2021-07-04 14:37] manusa opened #760 "Quarkus k8s:build in native mode fails in windows"
## Description

Quarkus Generator expects a file ended in `-runner` for native packaging. However, in Windows, this file is generated as `*-runner.exe`.

The plugin execution fails with the following exception:
[code]

[2021-07-05 05:18] manusa commented on #746
You need to replace the line with the link on the description KubernetesResourceUtil.java#L111 with the suggested replacement.
- Fork the project
- Clone it in your machine
- Create a branch
- Do the suggested changes
- Create an Eclipse Account (if you don't own one)
- Sign the Eclipse Contributor Agreement
- Commit your changes singing-off your commit with the same email account you registered f

[2021-07-05 06:03] skpandey885 commented on #746
I Forgot To Sign off! again I will generate a pr!

[2021-07-05 07:41] manusa commented on #702
Hi @missedone
The new fix got merged again to master.
Would you mind trying again with the Jitpack snapshot?

[2021-07-05 07:58] #672 closed

[2021-07-05 08:54] manusa opened #762 "LogRequestor.java: Add the missing @Override annotation"
### Description
The following statement is reported as a code smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&open=AXCb0UiGych7OcxsbwfQ&resolved=false&severities=MAJOR&types=CODE_SMELL):

https://github.com/eclipse/jkube/blob/c15c4bb8b7cc4ea7502f8314b1e067b27f9a1dda/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/access/log/LogReq

[2021-07-05 09:56] manusa opened #763 "SpringBootGenerator Multi-layered image"
## Description

With the recent introduction of multi-layered image support (#425), in order to make Spring Boot images compliant with the Spring Boot Maven plugin does ([`spring-boot:build-image`](https://spring.io/blog/2020/01/27/creating-docker-images-with-spring-boot-2-3-0-m1)), images should be layered [efficiently](https://spring.io/blog/2020/08/14/creating-efficient-docker-images-with-sprin

[2021-07-05 11:07] #704 closed

[2021-07-05 19:15] missedone commented on #702
@manusa , yes it works now, thank you and @rohanKanojia

below is my plugin configuration snippet
[code]

[2021-07-05 19:16] missedone commented on #702
@manusa , i think better to update the doc with mentioning the above plugin dependencies for ECR login

[2021-07-05 20:03] missedone commented on #702
hmm, i have to reopen this issue, since i got error below when pull the base image `openjdk:11.0.8-jre-slim`:
[code]

[2021-07-05 20:24] missedone commented on #702
well looks like i have to set the image registry of `configuration.images.image.registry` rather than `configuration.registry`  which is the global setting seems caused the above issue. could you confirm @manusa @rohanKanojia

[code]

[2021-07-06 05:26] manusa commented on #702
In the global configuration there are `registry` and `pullRegistry` configurations available.

I assume that your problem is that the global `registry` configuration is ignored, right? Please, confirm if this is the case and we'll open another issue and investigate it. I already see some problems with the registry configuration in AbstractDockerMojo that probably need to be addressed.

[2021-07-06 07:54] manusa opened #764 "Bootstrap Gradle Plugin modules"
## Description

Child of #31

In a dedicated upstream `feature/gradle-plugins`, bootstrap the required modules and project structure to implement the Gradle Plugins.

- Kubernetes Gradle Plugin
- OpenShift Gradle Plugin

[2021-07-06 07:56] manusa opened #765 "Implement k8s:build with Docker build strategy for Dockerfile mode equivalent functionality for Kubernetes Gradle Plugin"
## Description

Child of #31

Implement the Docker build strategy for Dockerfile for the Kubernetes Gradle Plugin.

- Any configuration setting should be part of the KubernetesExtension class (Tasks should have no Inputs)
- Any logic present in the current Mojos should be moved to JKube-kit

## AC
- [x] Image can be pulled from an private registry
  - [x] With generic credentials
  - [x] With pull

[2021-07-06 23:23] missedone commented on #702
I think the global registry shouldn't impact what being defined in the Dockerfile, Ex. if the Dockerfile use base image `openjdk:11.0.8-jre-slim` which means pull from the dockerhub, jkube shouldn't add the global registry on base image.

i agree it's separate issue, since it works for me if put the registry at image element https://github.com/eclipse/jkube/issues/702#issuecomment-874314823

i'm g

[2021-07-06 23:23] #702 closed

[2021-07-07 04:35] manusa opened #767 "Support for Kaniko"
### Description

TBD

### See also:
- https://github.com/GoogleContainerTools/kaniko
- https://cloud.google.com/blog/products/containers-kubernetes/introducing-kaniko-build-container-images-in-kubernetes-and-google-container-builder-even-without-root-access

### Relates to:
- #66
- #439

[2021-07-07 10:38] Manjooth commented on #762
Could I be assigned this issue please?

[2021-07-07 18:32] Manjooth commented on #762
@manusa Hey! Sorry to bother you but I'm getting a `fatal: unable to access 'https://github.com/eclipse/jkube.git/': The requested URL returned error: 403` when trying to push my changes. Do I need to do anything specific?

[2021-07-08 05:31] manusa opened #769 "Refactor: Move GeneratorManager and DefaultEnricherManager out of the plugin"
## Description

Child of #31
Blocks #764

The classes [GeneratorManager](https://github.com/eclipse/jkube/blob/9db93fb42d1dcade59278ce8f1b433b869e0927d/kubernetes-maven-plugin/plugin/src/main/java/org/eclipse/jkube/maven/plugin/generator/GeneratorManager.java) and [DefaultEnricherManager](https://github.com/eclipse/jkube/blob/a80ecbdb2bba680b173b32e6104133b112e6041c/kubernetes-maven-plugin/plugin/

[2021-07-08 08:04] manusa commented on #756
Caused by: (check this discussion https://github.com/fabric8io/kubernetes-client/pull/3221#pullrequestreview-701100484)

[2021-07-08 09:33] #762 closed

[2021-07-08 13:46] parapar opened #771 "k8s:build jar packaging igonoring some files (when run on Jenkins)"
### Description

### Info

* Eclipse JKube version : 1.3.0
* Maven version (`mvn -v`) : 3.8.1
[code]
* Kubernetes / Red Hat OpenShift setup and version :
  N/A
* If it's a bug, how to reproduce :

We have a  simple spring boot react app generated from an archetype. When running mvn k8s:build locally everything seems to be ok. We are able to deploy the image in our minikube. However, we noted that

[2021-07-09 03:35] rohanKanojia commented on #771
Do you have a sample reproducer project we can try out? Does it only happen on Jenkins or also on some other CI(CircleCI/Github Action etc)?

[2021-07-09 04:33] manusa opened #773 "JKubeBuildTarArchiver.java: Remove unused import"
### Description
The following statement is reported as a code smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&open=AXT4h68QMF49wDtJLNPb&resolved=false&types=CODE_SMELL):

https://github.com/eclipse/jkube/blob/969025bf6bd21f22ec02ef4a72174ae49aaad5bb/jkube-kit/build/api/src/main/java/org/eclipse/jkube/kit/build/api/assembly/JKubeBuildTarArchiver.java#L27-L28

These lines

[2021-07-09 04:40] manusa opened #774 "VolumeService.java: Remove unused import"
### Description
The following statement is reported as a code smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&open=AW3z0M_RL3SSO-VMZS7N&resolved=false&types=CODE_SMELL):
https://github.com/eclipse/jkube/blob/969025bf6bd21f22ec02ef4a72174ae49aaad5bb/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/VolumeService.java#L20-L21

These l

[2021-07-09 10:17] onFilm commented on #774
@manusa Please assign this to me 😊

[2021-07-10 14:06] Sheldor5 opened #776 "Infinite Recursive Resource Copying"
### Description

I wanted to add JKube to an already big maven project which already is creating/copying all sorts of files/dependencies and the final Dockerfile into the target/ directory, my intention was to move the image pushing from a bash script to this maven plugin so I wanted to simply user JKube to execute the already filtered target/Dockerfile and push the image to our registry.

After a

[2021-07-11 16:02] skpandey885 commented on #773
Can You Assign This To Me?

[2021-07-12 05:12] manusa commented on #776
Hi @Sheldor5,

In your current configuration (you are using the [manual External Dockerfile](https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#external-dockerfile) mode). The first issue I see here is that you are assuming that you Dockefile will be in your `${project.baseDir}/target`, which unless you are running some sort of preassembly, won't be the case (the `<dockerFile>`configuratio

[2021-07-12 13:42] #756 closed

[2021-07-13 08:08] Sheldor5 commented on #776
Hi @manusa ,

My maven project is already creating everything needed for the docker build: from compiling java sources to dependency-copying everything and also filtering the Dockerfile is already done by the maven project even without JKube.

Currently we run `mvn clean verify` and `docker build ...` one after another in a bash script, so maven is fully preparing everything in `${project.baseDir}

[2021-07-13 08:40] manusa commented on #776
You are in the scenario I describe in my 3rd paragraph. In this case, if you don't want to add an assembly configuration, you need to create a  `.jkube-dockerignore` file in the context directory, with the necessary entries to avoid recursion (i.e. `docker/**/*`).

If you want to go a further step, you can define your own assembly configuration, and configure your Dockerfile accordingly. Anyway, s

[2021-07-13 11:11] Sheldor5 commented on #776
@manusa thanks again for your answer!

While you say "you have a very specific scenario" I would say "I have the most basic scenario" (just run `docker build .` inside `${project.baseDir}/target`) but it looks like JKube is meant for more complex scenarios :)

Also `contextDir` in Docker means "working directory" while `contextDir` in JKube means "copy everything from there into my own folder stru

[2021-07-13 13:01] manusa commented on #776
If you have a very basic scenario (and a basic Dockerfile -> FROM,LABELS,COPY,ENTRYPOINT), then the easiest way would be to take full advantage of JKube and remove the Dockerfile altogether and configure everything else via JKube.

Your tar file `./target/docker/.../tmp/docker-build.tar` should contain the same files you have in `./target/docker/.../build`. This is what the docker daemon receives

[2021-07-13 13:56] Sheldor5 opened #777 "Error processing tar file(archive/tar: missed writing 4096 bytes):"
### Description
The `jkube:build` goal failes on `CentOS Linux release 7.9.2009 (Core)` with:

[code]

The same project is working on Windows.

The TAR file looks fine with `tar -tf docker-build.tar`.

The image can be built manually by going into the assembly directory and running `docker build .` so `docker` and the `docker daemon` are working.

The TAR file is somehow not valid for the `docker

[2021-07-14 08:24] #755 closed

[2021-07-14 10:41] Sheldor5 commented on #776
@manusa currently only to build the Docker Images.

Many thanks for your detailed explainations, I close this because it seems not to be an issue from JKube's POV.

[2021-07-14 10:41] #776 closed

[2021-07-15 13:58] rag-sapient opened #778 "k8s:helm with template for integer values fails deserialization (Similar to https://github.com/fabric8io/kubernetes-client/issues/448)"
### Description

Blocked by #802

When trying to use Jkube for helm generation with template.yml getting deserialisation error for integer values in the template. On searching found it to be simiilar https://github.com/fabric8io/kubernetes-client/issues/448 (still open but a fabric8io issue) and also reference on https://github.com/eclipse/jkube/issues/327#issuecomment-666139528 (closed).

It can

[2021-07-15 14:08] manusa commented on #778
This issue hasn't been fixed yet, there was a recent discussion on the topic.

There's no easy generic solution for the problem.

[2021-07-16 09:15] #253 closed

[2021-07-19 13:14] manusa commented on #764
Branch is ready, added all required modules.

[2021-07-19 13:14] #764 closed

[2021-07-19 15:15] rag-sapient commented on #778
Thanks @manusa. I will close this for now as this is being tracked against the original issue.

[2021-07-20 03:31] manusa commented on #778
I'll keep this issue open so we can keep track of this here too.

In the end it's likely that we have to implement some sort of work-around or partial fix on the JKube side.

[2021-07-20 10:26] #746 closed

[2021-07-20 12:35] davidecavestro commented on #777
We are experiencing something similar.

The build is ok on dev local envs, but fails on an old Docker 1.12.1 (Git commit:   23cf638) using OpenJDK 1.8.0_111-b15 and Maven 3.3.9 on CentOS Linux release 7.2.1511

Please also note that manually sending the tar generated by the plugin to the docker daemon we get the very same error
[code]
even if the content of the tar seems ok
[code]

[2021-07-20 13:12] manusa commented on #777
Is there a way to reproduce the issue so we can further investigate?

? Is the result the same if you load->build the tar using:
[code]

[2021-07-20 16:54] #758 closed

[2021-07-20 17:02] davidecavestro commented on #777
The docker load command fails with

both on the problematic server and in dev local env.

At https://github.com/davidecavestro/vagrant-jkube-connection-reset-by-peer I've shared some stuff to reproduce it on a vagrant box with docker 1.12

[2021-07-21 08:55] davidecavestro commented on #777
The issue is consistently reproducible from docker-engine 1.12 up to docker-ce 17.12
(with rpms respectively from https://mirrors.aliyun.com/docker-engine/yum/repo/main/centos/7/Packages/ and  https://mirrors.aliyun.com/docker-ce/linux/centos/7.2/x86_64/stable/Packages/)

[2021-07-21 08:58] manusa commented on #777
So, do you mean this is specific to the environment (Docker version + OS)? i.e. It does work on new versions of Docker ??

I'm checking your vagrant example (:raised_hands: thanks for this). But I had some trouble running that on Fedora, also I think the vagrant file is not provisioning the project files (checking this now in another machine).

[2021-07-21 09:22] davidecavestro commented on #777
The docker version seems to play a role: if a switch to a docker >=18.06 in the vagrant box the image is built with no issues.
On my debian and ubuntu I have only recent docker verisons, and the issue is not reproducible.

When the box is up and running you could issue a `vagrant rsync` from your host and check the files in the `/vagrant` folder within the box, i.e.
[code]

[2021-07-21 09:41] manusa commented on #777
I'm running this on Windows, and it doesn't work very well :(

What I want to try is to generate the docker-build.tar in the vagrant provisioned machine, and then load that tar to another the host machine's docker daemon. I think we might be building a Docker archive that's not compatible with those older Docker versions.

There are alternative docker _packagings_, compression available, this is s

[2021-07-21 10:05] davidecavestro commented on #777
Given a certain version of the jkube plugin, mvn and jdk, I guess the tar generated is the same both within the vagrant box or on the host.
So if you could install an "ancient" docker on your host maybe you could reproduce it as well.
Or even on a virtualbox or any other virtualized SO where you send that TAR to an old docker.

I'd say the issue arises from the golang tar library built within the

[2021-07-21 10:21] manusa commented on #777
Yes, this is what I suspect. But there are other considerations such as how access to the Docker daemon is performed.

Anyway, I'll try something else to reproduce since the Vagrant option is not working very well.

I'm not following 100% here. Internally we use commons-compress to generate the docker-build.tar archive (https://github.com/eclipse/jkube/blob/120ee60c1217b1bd24cbfbd4cd49ebf876e5f673

[2021-07-21 11:13] davidecavestro commented on #777
Never tried with jib build strategy here. Great idea, I'll give it a try.
Updating Docker is the last resort, as this is an old CI server manually mantained by other folks so far, hence potentially plenty of pitfalls.
About commons-compress it would be interesting to compare the tar with one generated by tar cli (maybe I'll give it a try)

[2021-07-21 11:27] rohanKanojia opened #781 "Automatically configure ServiceAccount in Deployment whenever a ServiceAccount Fragment is present"
### Description

This was observed by @lordofthejars, whenever we need to add a ServiceAccount using Eclipse JKube. We need to add the ServiceAccount fragment in `src/main/jkube` and then add XML configuration to set this ServiceAccount in Deployment:
[code]

However, since Eclipse JKube does most of the stuff opinionated way. It would be nice if JKube could configure ServiceAccount automatically

[2021-07-21 13:56] davidecavestro commented on #777
About jib strategy, it builds the image, but fails pushing it to the registry (its an insecure registry exposed only on HTTP)

That is the same error I get if I issue a curl on it using https protocol
Any clue on how to push to an insecure registry? (creds over http)
I've seen https://github.com/eclipse/jkube/issues/336 but it talks about pull

[2021-07-21 14:43] manusa commented on #777
:( Could you open a specific feature request issue for that :pray:

[2021-07-21 15:00] davidecavestro opened #782 "k8s:push goal fails on insecure registries when using jib build strategy"
### Description
The `k8s:push` goal fails to publish the image on insecure registries (i.e. a registry exposed only over http with username and password) when invoked passing `-Djkube.build.strategy=jib` in order to avoid depending on the docker daemon.

### Info

* Eclipse JKube version : 1.3.0 (maven-kubernetes-plugin)
* Maven version (`mvn -v`) : 3.6.3

### How to reproduce
1. deploy an insecur

[2021-07-21 15:01] davidecavestro commented on #777
I have sketched https://github.com/eclipse/jkube/issues/782

[2021-07-21 15:23] rohanKanojia commented on #782
Are you able to get it working with jib-maven-plugin? It's quite strange since we have allowInSecureRegistries flag set to true in code:
https://github.com/eclipse/jkube/blob/1e1816840bc0e9434ceb592cac379fabccb758c1/jkube-kit/build/service/jib/src/main/java/org/eclipse/jkube/kit/service/jib/JibServiceUtil.java#L223-L228

[2021-07-21 15:29] davidecavestro commented on #782
In this case the insecure registry also needs username/password auth for write access, could it be the cause?

[2021-07-21 15:35] rohanKanojia commented on #782
I'm not sure. I think we need to debug whether correct credentials are getting passed there in RegistryImage object. Would it be possible for you to set a breakpoint there and check?

[2021-07-21 15:45] davidecavestro commented on #782
I'll try...

In the meantime I've noticed that when I don't specify credentials (i.e. through -Djkube.docker.push.username/password on the CLI) there's an additional line in the log

while the remaining part doesn't change

[code]

[2021-07-21 19:12] maycap123 commented on #773
is this still available? i would like to give it a try :)

[2021-07-22 09:06] davidecavestro commented on #782
The problem arises from _com.google.cloud.tools.jib.registry.RegistryEndpointCaller_ that during _BearerAuth_ attempt generates and auth request url prependend with _https://_.
This in turn triggers a _SocketException_ - based on the registry response - that is not recognized as an insecure registry symptom, hence skip the wwwauth attempt.

[code]

[2021-07-22 09:49] rohanKanojia commented on #782
@davidecavestro : From your investigation, does it look like it might be a bug in jib core?

[2021-07-22 11:20] davidecavestro commented on #782
Well, I've just tried with jib-maven-plugin and it fails the same way.
There's no processing listening on port 443 on that server, hence the behaviour depicted above.

It seems in the past jib considered an [_allowHttp_](https://github.com/GoogleContainerTools/jib/pull/572) config property, but as of now I cannot find it.

[2021-07-22 14:15] manusa opened #783 "AbstractNativeClientBuilder.java: Reorder the modifiers to comply with the Java Language Specification"
### Description
The following statement is reported as a code smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&open=AW3z0MzpL3SSO-VMZS2l&resolved=false&types=CODE_SMELL):

https://github.com/eclipse/jkube/blob/c15c4bb8b7cc4ea7502f8314b1e067b27f9a1dda/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/access/hc/util/AbstractNativeClien

[2021-07-22 14:28] manusa opened #784 "EnvUtilTest.java: Replace hamcrest with AssertJ"
### Description
We are replacing the usage of Hamcrest assertions with AssertJ all over the project.

In [EnvUtilTest.java](https://github.com/eclipse/jkube/blob/813074705147f9423dd807385c0d40e4670ddf9a/jkube-kit/common/src/test/java/org/eclipse/jkube/kit/common/util/EnvUtilTest.java), replace any usage of Hamcrest with the AssertJ (`org.assertj.core.api.Assertions.assertThat`).

e.g.
https://gith

[2021-07-22 17:02] himanshu007-creator commented on #784
Hi, i would like to work on this issue

[2021-07-23 02:19] gabriellaabdennabi commented on #783
Hi could you assign this to me?

[2021-07-23 04:38] manusa opened #785 "ExternalCommand.java: Change the visibility of constructor to "protected""
### Description
The following statement is reported as a code smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AXUG3pIvWOmtUdi5Nk1g&open=AXUG3pIvWOmtUdi5Nk1g):

https://github.com/eclipse/jkube/blob/5c745b9e8dd85d3a6889816c0e316078d34c6691/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/ExternalCommand.java#L43

It should be replaced by the following:

[2021-07-23 04:47] manusa opened #786 "LazyBuilderTest.java: Replace hamcrest with AssertJ"
### Description
We are replacing the usage of Hamcrest assertions with AssertJ all over the project.

In [LazyBuilderTest.java](https://github.com/eclipse/jkube/blob/fe0a1d88ce6ac5f5e8f64d470c8a134f66b9bc60/jkube-kit/common/src/test/java/org/eclipse/jkube/kit/common/util/LazyBuilderTest.java), replace any usage of Hamcrest with the AssertJ (`org.assertj.core.api.Assertions.assertThat`).

e.g.
http

[2021-07-23 06:44] Tanner-Mindrum commented on #786
Hello, can I be assigned this? I've replaced hamcrest with AssertJ.

My statements are prefixed with Assertions. (e.g. `Assertions.assertThat(result).isEqualTo(10);`). Is that fine or do you need it as just assertThat?

[2021-07-23 08:10] RhnSharma commented on #785
I would like to take this one.

[2021-07-23 08:37] davidecavestro commented on #777
As a side note, the whole thing works perfectly with _fabric8-maven-plugin:3.1.63_.
Maybe that's a clue.

[2021-07-23 08:39] rohanKanojia commented on #777
@davidecavestro : that's quite old version of fabric8-maven-plugin. What about newer versions 4.4.1?

[2021-07-23 08:47] davidecavestro commented on #777
Yep, it works even with 4.4.1.

[2021-07-23 08:49] manusa commented on #777
I think in FMP we relied on Maven to generate the tar file. We really need to see the difference of a tar file generated with one plugin and the other.
With two equivalent configurations (image model), the tar generated from FMP and JKube should be exactly the same.

[2021-07-23 09:47] rohanKanojia commented on #777
@davidecavestro : I'm trying to reproduce your issue. I cloned https://github.com/davidecavestro/vagrant-jkube-connection-reset-by-peer adding fabric8-maven-plugin with the same configuration. But `mvn fabric8:build` is failing with this error:
[code]

[2021-07-23 09:57] davidecavestro commented on #777
Yep, the reproducer project, with the assembly portion modified to
[code]

[2021-07-23 10:00] davidecavestro commented on #777
This works with FMP, but introduces changes into the generated Dockerfile and how the temporary structure are packaged into the tar, hence the two tar don't share the same contents.

[2021-07-23 10:10] #785 closed

[2021-07-23 10:46] #786 closed

[2021-07-23 10:54] rohanKanojia commented on #777
@davidecavestro : Thanks a lot for sharing vagrantfile, I can reproduce your issue

[2021-07-23 22:21] ramananrpn commented on #784
Hey, shall I pick it up if you didn't started ? @himanshu007-creator

[2021-07-24 02:27] himanshu007-creator commented on #784
Sure!, @manusa please assign @ramananrpn  this issue. 🟩

[2021-07-24 08:23] ramananrpn commented on #784
@manusa @himanshu007-creator  Could you please provide me write access ?

[2021-07-24 17:22] ramananrpn commented on #784
@manusa @rohanKanojia Could you guys please review and merge this PR #789 ?

[2021-07-26 13:21] manusa opened #791 "Ingress enricher merges opinionated defaults with provided Fragments"
## Description

The Ingress enricher is only used for [Ingress creation purposes](https://github.com/eclipse/jkube/pull/723#issuecomment-886685308).

Scenarios such as the following are not covered:

- Fragment provided for `extensions/v1beta1`
  - [ ] 2.1 Generate and merge ingress with apiVersion `networking.k8s.io/v1`
  - [ ] 2.2 Generate and merge ingress with apiVersion `extensions/v1beta1`
-

[2021-07-26 13:22] manusa commented on #791
It might be worth considering the Deployment approach and provide specific enrichers to perform the merge.

[2021-07-26 14:25] #551 closed

[2021-07-26 16:53] #784 closed

[2021-07-27 04:00] manusa commented on #732
Polite ping, are you still working on this issue?

[2021-07-27 04:07] manusa opened #792 "TemplateUtilTest.java: Replace hamcrest with AssertJ"
### Description
We are replacing the usage of Hamcrest assertions with AssertJ all over the project.

In [TemplateUtilTest.java](https://github.com/eclipse/jkube/blob/414dbf4266005988c931513d7d7227a291eaf7d6/jkube-kit/common/src/test/java/org/eclipse/jkube/kit/common/util/TemplateUtilTest.java), replace any usage of Hamcrest with the AssertJ (`org.assertj.core.api.Assertions.assertThat`).

e.g.
ht

[2021-07-27 12:23] rohanKanojia commented on #777
I noticed that in case of jkube directory size was more than zero:
[code]
When I set TarArchiveEntry size only in case of files, I'm able to get jkube working with docker:
https://github.com/eclipse/jkube/blob/15bb59fbe2eb8c5f26e450ec7e4256bae19fe070/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/archive/JKubeTarArchiver.java#L78

[code]

[2021-07-27 12:37] manusa commented on #777
For future reference, also note that user/group id, name, etc. are not set in the TarArchiveEntry entities.

[2021-07-27 13:10] manusa commented on #777
If it's not necessary I'd rather keep it this way. Maybe the unnecessary fix breaks something else. I just added the comment for the record in case we hit some other issue in the future.

[2021-07-27 16:51] davidecavestro commented on #777
So I've tried the vagrant box sample with 1.4.0, but as soon as I add the deploy step just to simulate real-world scenario i.e.
`mvn -DskipTests clean package k8s:build deploy -DaltDeploymentRepository=snapshot-repo::default::file:/tmp/foo`
I got

[ERROR] at sun.reflect.UnsafeFieldAccessorImpl.throwSetIllegalArgumentException(UnsafeFieldAccessorImpl.java:167)
[ERROR] at sun.reflect.UnsafeFieldAcce

[2021-07-27 17:00] rohanKanojia commented on #777
@davidecavestro Which version of maven are you using? I saw a similar issue on docker maven plugin today(https://github.com/fabric8io/docker-maven-plugin/issues/1485). Does splitting phases like mentioned in the issue help you use case?

[2021-07-27 17:10] davidecavestro commented on #777
Splitting phases is not enough if I still call the goals in the following sequence
`mvn ... clean package k8s:build deploy`

Instead it works fine - splitting phases or not doesn't matter - if I simply call them separately, i.e.
1. `mvn ... clean package k8s:build`
2. `mvn ... deploy`

That said the _logging issue_ is not reproducible using a slightly more recent version of maven such as 3.6.3 (tr

[2021-07-27 17:29] davidecavestro commented on #777
(thank you guys and keep up the good work)

[2021-07-27 18:06] rohanKanojia commented on #777
@davidecavestro : Thanks a lot to you for coordinating with us. Your vagrant setup helped a lot in debugging this issue.

[2021-07-28 05:02] manusa commented on #777
:relieved:  At least we got it working (with some extra hassle). Thanks for sharing the workaround.

[2021-07-28 05:38] manusa commented on #522
We just released [1.4.0](https://github.com/eclipse/jkube/releases/tag/v1.4.0), hopefully this issue should be covered. I'm closing it, in case there's something missing, don't hesitate to open a new issue so we can address it.

[2021-07-28 05:38] #522 closed

[2021-07-28 05:39] manusa commented on #589
We just released [v1.4.0](https://github.com/eclipse/jkube/releases/tag/v1.4.0), hopefully this issue should be covered. I'm closing it, in case there's something missing, don't hesitate to open a new issue so we can address it.

[2021-07-28 05:39] #589 closed

[2021-07-28 09:12] #544 closed

[2021-07-28 09:12] #633 closed

[2021-07-28 10:00] manusa commented on #771
The JKube plugins are not involved in the packaging of the jar, they however select a Jar to be added to the container image (in case you are using generators).

My only guess is that your jar file is repackaged after the container image is built or that a wrong jar is selected by JKube, I can't see any other explanation for this situation.

As Rohan points out, some way to reproduce this issue wo

[2021-07-28 19:02] itewk opened #796 "failure when running k8s:push to custom container push registry when using podman"
### Description
When trying to execute k8s:push on quickstart apps with a custom container push registry it fails.

When trying this with a host with docker it works fine.

### Reproducing steps - jkube.generator.name not specified

.commands
[code]

.mvn k8s:push - output
[code]

### Reproducing steps - jkube.generator.name specified

.commands
[code]

.mvn k8s:push - output
[code]

### Info

* E

[2021-07-28 19:18] itewk commented on #796
one difference i have found is that when using podman if i list the images then the built image name is `localhost/GENERATED_IMAGE_NAME` but if doing docker and listing the built images then the built image name is simply `GENERATED_IMAGE_NAME` i wonder if that localhost is messing it up because then tag for the push from location isn't lining up. gonna investigate more.

[2021-07-28 19:30] itewk commented on #796
found more informaiton on this. podman adds `localhost/` where as docker adds `docker.io` by default, but i guess the `docker image list -a` command filters out the docker.io part vs podman does not filter out the localhost. Still not sure if this is root of problem though...just a difference i see.

[2021-07-28 19:38] itewk commented on #796
updated description with another attempt trying to specify a full name rather then short name with the generater name. no dice.

[2021-07-28 20:13] itewk commented on #796
i have noticed each time i try to push i get the following in my podman service log
[code]

[2021-07-29 11:13] manusa commented on #796
Are you able to push that image using Podman's CLI?

I'm doing the following, which works both with jib and docker using Minikube's registry:
[code]
With standard Docker:
[code]
With standard Jib:
[code]
With Podman:
[code]
But also:
[code]

Is it possible that the issue is in Podman?

[2021-07-29 11:40] manusa opened #800 "Refactor: Move WatcherManager out of the plugin"
## Description

Child of #31
Blocks #764

The class [WatcherManager](https://github.com/eclipse/jkube/blob/8063d3db1c3bc9e40e2b1097bcf830736a8b7e34/kubernetes-maven-plugin/plugin/src/main/java/org/eclipse/jkube/maven/plugin/watcher/WatcherManager.java) belongs to the Kubernetes Maven plugin module. However, most probably this class could be reused for the Gradle plugins.
It should be moved to a mo

[2021-07-29 12:02] itewk commented on #796
@manusa i can push with podman without issue:

.commands
[code]

.output
[code]

[2021-07-29 12:28] manusa commented on #796
OK, I went too quick and didn't check the error about the insecure registry :facepalm:

With my reproducer steps it works OK:
[code]

I'm using podman 2.2.1

[2021-07-29 12:31] #769 closed

[2021-07-29 13:27] itewk commented on #796
@manusa im on `podman 3.0.2-dev` which is what installs on RHEL 8. maybe thats the diff?

[code]

[2021-07-29 13:31] manusa commented on #796
Yes, I read that in the issue description, that's why I was letting you know.

I'm not sure, I don't have a Nexus repository available. I think that it might either be an issue with the Podman version or the Nexus Docker registry.

Could you please try my steps with Minikube + local port forward, to see if that works for you in your environment?

[2021-07-29 13:43] itewk commented on #796
@manusa same issue. sooo....podman version?

**setup**
[code]

**attempt**
[code]

[2021-07-29 13:47] itewk commented on #796
i also verified each time i attempt to push with jkube, whether with the minikube local registry or nexus the following gets logged to my podman socket error log:
[code]

so my guess, something different with the podman socket API or something?

[2021-07-29 14:04] manusa commented on #796
I really don't know.

@rohanKanojia I think you might have podman 3.x in your system, right? Could you try to reproduce with my steps, see if it fails for you too?

[2021-07-29 14:55] rohanKanojia commented on #796
I tried this with `podman version 3.2.3`. I'm able to push to my quay.io private registry with following steps:
1. ` podman system service --time=0 ${DOCKER_HOST} 1> /home/$(whoami)/podman.stdout 2> /home/$(whoami)/podman.stderr`
2. Set DOCKER_HOST and run JKube goals in quickstart directory:
[code]
![Screenshot from 2021-07-29 20-20-59](https://user-images.githubusercontent.com/13834498/127514258

[2021-07-29 15:02] itewk commented on #796
so maybe a problem with 3.0.2-dev (which is what ships with RHEL 8)? I can try and figure out how to compile podman 3.2.3 and try that, then i guess if that works, open bug with rhel folks to ship a newer podman. its gonna be quite a rabbit whole to try and compile podman 3.2.3 for rhel and i can work around this by just doing a podman push vs using the jkube push, so not going to be high on my pr

[2021-07-30 05:29] manusa commented on #796
I still find it very odd, I'm not really sure that the issue is with Podman itself.

Anyway, the good thing is that you can work around the issue. If we find time we'll try to reproduce with an environment equivalent to yours too.

[2021-07-30 05:36] manusa opened #802 "deps: Bump Kubernetes|OpenShift client to 5.10.1 (or latest)"
### Description

- [x] Bump the KubernetesClient version to latest release (---> 5.10.1 or latest).
- [x] Replace usage of GenericCustomResource with GenericKubernetesResource
- [x] Use the new getApiGroups and getApiResources [instead of CustomResourceDefinitions](https://github.com/eclipse/jkube/blob/4358c2507e8ca3da377cb52264cba2bf6b17a7d2/jkube-kit/config/service/src/main/java/org/eclipse/jkub

[2021-07-30 09:27] manusa commented on #773
Hi @maycap123  are you still working on this?

[2021-07-30 09:31] manusa opened #803 "AbstractNativeSocketFactory.java: Reorder the modifiers to comply with the Java Language Specification"
### Description
The following statement is reported as a code smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AW3z0MzyL3SSO-VMZS2n&open=AW3z0MzyL3SSO-VMZS2n):

https://github.com/eclipse/jkube/blob/969025bf6bd21f22ec02ef4a72174ae49aaad5bb/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/access/hc/util/AbstractNativeSocketFac

[2021-07-30 11:24] Shatakshi0805 commented on #803
Hi, for the visibility of constructor I believe the public constructor should be private so that this class and it's objects cannot be accessed by any other class?

[2021-07-30 11:32] manusa commented on #803
Almost, take into account that subclasses need to access this constructor.

Do you want to give it a try?

[2021-07-30 11:55] Shatakshi0805 commented on #803
yes, please assign this to me.

[2021-07-30 12:28] manusa opened #805 "KitLogger.java: Field may be final"
### Description
The following statement is a code smell :

https://github.com/eclipse/jkube/blob/0fe957a00e69b56eb8d797a4a931b87ca0eee5a1/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/KitLogger.java#L136

- [x] The field can be effectively declared `final`
[code]

### Bonus points

- [x] The class has [several falsely reported code-smells](https://sonarcloud.io/project/issues?fileUui

[2021-07-30 12:42] manusa opened #806 "ProcessUtil.java: Unused class can be deleted"
### Description

The class [ProcessUtil](https://github.com/eclipse/jkube/blob/813074705147f9423dd807385c0d40e4670ddf9a/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/util/ProcessUtil.java) is not used in the code-base, it should be deleted.

### How to _manually_ test my changes

#### Kubernetes

If you don't have a real Kubernetes cluster available (most probably), you can use Minik

[2021-07-30 12:52] manusa opened #807 "ClassUtilTest: Remove unused imports"
### Description
The class [ClassUtilTest](https://github.com/eclipse/jkube/blob/bc812977cc26684611552681ab336bc7f1b8c58c/jkube-kit/common/src/test/java/org/eclipse/jkube/kit/common/util/ClassUtilTest.java) contains multiple unused imports.

Locate those statements and remove them.

### How to _manually_ test my changes

#### Kubernetes

If you don't have a real Kubernetes cluster available (most p

[2021-07-30 13:10] #800 closed

[2021-07-30 13:13] manusa opened #808 "Implement k8s:build for XML configuration mode equivalent functionality for Kubernetes Gradle Plugin"
## Description

Child of #31
Follow-up on #765

**n.b. before starting the final implementation and work on this issue, a PoC should be implemented to analyze if there are any prerequisites that should be implemented in the main branch, or any other blocker tasks.**

Implement the XML configuration mode for k8sBuild taks of the Kubernetes Gradle Plugin.

- Any configuration setting should be part

[2021-07-30 15:00] #803 closed

[2021-07-30 22:59] kev197 commented on #805
Hey, can I try this?

[2021-08-01 22:56] cpon00 commented on #806
Hi, I would like to work on this. Could this be assigned to me?

[2021-08-02 06:18] JorgeGabin commented on #771
After some deeper research, we found that the maven-frontend-plugin (used to package together React and Java apps) was not generating the artifacts soon enough to be copied in the JAR. So we bound that plugin to an earlier phase of the maven lifecycle, which fixed the problem.

Thanks for your help.

[2021-08-02 06:43] Aaditi-S commented on #773
Is this task completed ? if not can I go for this

[2021-08-02 06:47] Aaditi-S commented on #806
can I go for it?

[2021-08-02 07:06] Aaditi-S commented on #806
I have deleted the class ProcessUtil.java and made a pullRequest
I am new to open source so if i have made some mistake you please tell me where I go wrong I will improve it.

[2021-08-02 07:48] manusa commented on #807
Please @vlaetansky, add a comment to this issue so we can assign to you.

[2021-08-02 07:52] vlaetansky commented on #807
@manusa Assign comment. I am sorry for the late response, currently trying to get on the Eclipse site since it is still not fully functional after the last maintenance.

[2021-08-02 07:54] manusa commented on #807
Yup, there's something wrong with the Eclipse infra, and this week they are closed :worried:

[2021-08-02 07:56] vlaetansky commented on #807
I am waiting for an email to submit ECA form, i couldn't do it yesterday since the website was completely not functional :(

[2021-08-02 08:06] manusa commented on #771
Great you could fix it, thx for sharing!

[2021-08-02 08:08] manusa commented on #771
BTW, I usually bind those tasks to the `generate-resources` phase, did you use something else? was this phase causing trouble?

[2021-08-02 08:20] vlaetansky commented on #792
Can i be assigned on this?

[2021-08-02 08:30] JorgeGabin commented on #771
As we started the project from an existing example, the yarn build generation and the copy of the resources were bound to later phases (`package` and `validate` respectively). We are now binding the yarn build generation to the `generate-resources` phase and copying the resources in the `prepare-package` phase.

[2021-08-02 09:57] rohanKanojia opened #815 "[OpenShift-Maven-Plugin] `java.lang.ClassCastException` during `oc:build` when OpenShift not present"
### Description

### Info
In recent release v1.4.0, I notice that when OpenShift is not present; OpenShift Maven Plugin build goal fails with a ClassCastException:

[code]

In v1.3.0, I used to get a correct message about OpenShift cluster not getting detected:
[code]

* Eclipse JKube version : 1.4.0
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift setup and version :

* If it'

[2021-08-02 11:46] rohanKanojia opened #817 "Refactor `JKubeProjectUtil.getFinalOutputArtifact` to directly make use of `jkubeProject.getArtifact()`"
### Description

### Info
Right now in JKubeProjectUtil.getFinalOutputArtifact() method we're trying to infer final output artifact(final jar) in a bit hacky-ish way:
https://github.com/eclipse/jkube/blob/cff79a222dcf8909ddd124f37437c9acee46721a/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/util/JKubeProjectUtil.java#L118-L129

We can simplify this to use `jkubeProject.getArtifact()`

[2021-08-03 15:27] mohitsaxenaknoldus commented on #773
Please assign to me if available.

[2021-08-03 16:19] rohanKanojia commented on #773
@maycap123: Are you still working on this? If not, Could you please un-assign if yourself?

[2021-08-03 16:23] maycap123 commented on #773
I thought i did a pull request for my change. Apparently that didnt happen.

[2021-08-03 16:25] rohanKanojia commented on #773
@maycap123 : Are you talking about https://github.com/maycap123/jkube/pull/1 ? I think you raised PR against your fork rather than JKube. Could you please create a new PR against jkube?

[2021-08-03 16:35] maycap123 commented on #773
Will do that! Sorry, new to github and the workflow :D

[2021-08-03 17:01] maycap123 commented on #773
hope i did it right this time! sorry again!

[2021-08-03 17:04] rohanKanojia commented on #773
Umm, I'm a little confused. There is no file changed in your branch

[2021-08-03 17:04] maycap123 commented on #773
damn it! i am really sorry. i look into it

[2021-08-03 17:06] rohanKanojia commented on #773
Thanks a lot. Feel free to ask for help on our gitter channel https://gitter.im/eclipse/jkube

[2021-08-03 18:07] maycap123 commented on #774
Is this still available? I would love to do it! :)

[2021-08-03 18:19] maycap123 commented on #802
can i try this?

[2021-08-03 19:08] rohanKanojia opened #822 "Use `.equals()` for JKubeBuildStategy enum instead of extracting label"
## Description
In order to check whether we need to connect to docker daemon or not we seem to rely on this method. This method simply checks whether the current build strategy is NOT JIB.

https://github.com/eclipse/jkube/blob/86979df8c7d4bdda21d01fa8cf60266e231b45ee/kubernetes-maven-plugin/plugin/src/main/java/org/eclipse/jkube/maven/plugin/mojo/build/AbstractDockerMojo.java#L591-L593

I think w

[2021-08-04 07:17] #773 closed

[2021-08-04 09:31] #805 closed

[2021-08-04 10:30] manusa commented on #792
Sure, but you first need to complete the work on #813

[2021-08-04 11:27] rohanKanojia opened #823 "Replace `StringBuffer` with `StringBuilder` in IoUtil and TemplateUtil"
### Description

Early classes of the Java API, such as Vector, Hashtable and StringBuffer, were synchronized to make them thread-safe. Unfortunately, synchronization has a big negative impact on performance, even when using these collections from a single thread.

We should use unsynchronized update these places to use StringBuilder instead:
https://github.com/eclipse/jkube/blob/b25157bcafb4a9b6b

[2021-08-04 15:53] Ash-KODES commented on #823
i am ready to work on the issue

[2021-08-04 16:25] maycap123 commented on #822
I would like to try this.

[2021-08-04 17:23] rohanKanojia commented on #815
My initial assumption was wrong. This issue doesn't seem to be caused by upgrading to KubernetesClient but a recent refactor related to BuildService (#772), see https://github.com/eclipse/jkube/pull/772/files#r682814511.

I confirmed this by doing a git bisect. Here are my logs:
[code]

[2021-08-04 18:19] theexplorist commented on #716
Apologies for the long delay, still working!

[2021-08-05 08:34] #765 closed

[2021-08-05 13:32] #815 closed

[2021-08-06 14:00] manusa opened #832 "deps: Bump jib-core to 0.20.0 (or latest)"
### Description

Required for #31

- Bump the jib-core version to latest release (ATM [0.20.0](https://github.com/GoogleContainerTools/jib/releases/tag/v0.20.0-core)).
- Fix convergence issues with maven-enforcer-plugin
- Check quickstarts work (especially Spring Boot with latest release, since there appears to be an issue https://github.com/GoogleContainerTools/jib/issues/2931)
- Create correspon

[2021-08-06 19:53] maycap123 commented on #832
would love to make this :)

[2021-08-08 11:30] maycap123 commented on #807
is this available? would like to do it

[2021-08-08 18:52] theexplorist commented on #832
I can work on it as I have bumped the quickstarts with latest version @manusa @rohanKanojia

[2021-08-08 19:07] theexplorist commented on #732
@manusa @rohanKanojia Is the issue available?

[2021-08-09 06:58] manusa opened #834 "KubernetesResourceTask: implement k8sResource for Dockerfile mode equivalent functionality for Kubernetes Gradle Plugin"
## Description

Child of #31
Blocked by #835

Implement resource generation for Dockerfile mode.

- Any configuration setting should be part of the KubernetesExtension class (Tasks should have no Inputs)
- Any logic present in the current Mojos should be moved to JKube-kit

## AC
- [x] Integration Test for Dockerfile resource generation
- [x] Resource generation works for dockerfile examples

[2021-08-09 07:20] manusa opened #835 "KubernetesResourceTask: KubernetesExtension has required configuration options"
## Description

Child of #31

KubernetesResourceTask can be configured

## AC
- [x] KubernetesExtension has a `getPlatformMode()` method that returns `kubernetes`
- [x] OpenShiftExtension extends `getPlatformMode()` method and returns `openshift`
- [x] KubernetesExtension has a `resourceTargetDirectory` field (`Property<File>`) to specify the YAML resource generation output
  - Defaults to `${buil

[2021-08-09 07:33] manusa opened #836 "KubernetesResourceTask implement Merge With Dekorate functionality"
## Description

Child of #31
Blocked by #835

## AC
- [ ] Implement merge with Dekorate functionality
- [ ] Port `spring-boot-dekorate` Maven example

[2021-08-09 07:40] manusa opened #837 "WIP: KubernetesResourceTask implement ResourceMojo#mavenFilterFiles equivalent (fragment filtering/interpolation)"
## Description

Child of #31
Blocked by #835

## AC
- ...

[2021-08-09 09:01] #716 closed

[2021-08-09 09:04] manusa commented on #732
I guess that after 2 weeks of silence you can work on this @theexplorist, thx!

[2021-08-09 09:57] manusa opened #838 "KubernetesResourceTask implement load transitive YAML files functionality"
## Description

Child of #31
Blocked by #835

Implement functionality that allows loading Kubernetes YAML resources from dependencies

## AC
- [ ] YAML resources in transitive dependencies are processed

## See also
- https://github.com/eclipse/jkube/blob/682cc6f25ccf3e95e20832d1396fa3890f3a4e26/jkube-kit/enricher/generic/src/main/java/org/eclipse/jkube/enricher/generic/DependencyEnricher.java

[2021-08-10 14:32] manusa commented on #807
Hi @vlaetansky , any news on this?

[2021-08-10 15:03] vlaetansky commented on #807
Hi, I have submitted the form, but it still doesn't pass the ECA test.

[2021-08-11 05:01] #807 closed

[2021-08-11 08:30] #783 closed

[2021-08-11 08:32] #774 closed

[2021-08-11 08:45] vlaetansky commented on #792
Hi @manusa, the #813 issue is closed

[2021-08-11 09:55] manusa opened #843 "ResourceValidator.java: Use static access with "org.eclipse.jkube.kit.common.util.validator.ValidationRule" for "TYPE""
### Description
The following statements are reported as a critical code smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AXCbsQVhafTJU1n1scHy&open=AXCbsQVhafTJU1n1scHy).

https://github.com/eclipse/jkube/blob/bc812977cc26684611552681ab336bc7f1b8c58c/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/util/validator/ResourceValidator.java#L89-L92

should b

[2021-08-11 10:19] manusa opened #844 "UserConfigurationCompare.java: Use the built-in formatting to construct this argument."
### Description
The following statement is reported as a Major code smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AW3z0NevL3SSO-VMZTJ9&open=AW3z0NevL3SSO-VMZTJ9):

https://github.com/eclipse/jkube/blob/5ab611a35f72559b8a9dc072447e1e883a0927d9/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/util/UserConfigurationCompare.java#L185

- [ ] should be cha

[2021-08-11 17:05] maycap123 commented on #844
Can I do it? :)

[2021-08-12 05:49] manusa commented on #844
Hi @maycap123
[first-timers-only](https://github.com/eclipse/jkube/labels/first-timers-only) issues are intended for newcomers and users who haven't yet contributed to the project. You're already working on #822 -> #846.
There are also (more involved and complex) [`help-wanted`](https://github.com/eclipse/jkube/labels/help%20wanted) issues so that people who have already contributed to the project

[2021-08-12 06:01] maycap123 commented on #844
Sorry I didn't see the caption :D i will look for something else

[2021-08-12 10:48] #822 closed

[2021-08-12 10:50] #792 closed

[2021-08-12 11:02] deepak-gittyup commented on #844
Can I pick this up ?

[2021-08-12 14:13] #808 closed

[2021-08-12 14:30] manusa opened #849 "OpenShiftBuildTask: implement oc:build for XML configuration mode equivalent functionality for OpenShift Gradle Plugin"
## Description

Child of #31

Implement the Groovy DSL configuration  mode for ocBuild taks of the OpenShift Gradle Plugin -> `OpenShiftBuildTask`.

- Any OpenShift specific configuration setting should be part of the OpenShiftExtension class (Tasks should have no Inputs)
- Any logic present in the current Mojos should be moved to JKube-kit

## AC
- [x] Image can be built using S2I build strategy

[2021-08-12 14:44] manusa opened #850 "KubernetesBuildTask: k8sBuild Generator - SpringBoot"
## Description

Child of #31

k8sBuild Gradle task works with SpringBoot Generator.

- Any configuration setting should be part of the KubernetesExtension class (Tasks should have no Inputs)
- Any logic present in the current Mojos should be moved to JKube-kit

## AC
- [x] Generator configuration options can be overridden via DSL
- [x] Port Sprint Boot related examples (compatible with the availab

[2021-08-12 14:57] manusa opened #851 "KubernetesLogTask: implement k8s:log equivalent functionality for Kubernetes Gradle Plugin"
## Description

Child of #31

Implement k8sLog task for Gradle Plugins.

- Any configuration setting should be part of the KubernetesExtension class (Tasks should have no Inputs)
- Any logic present in the current Mojos should be moved to JKube-kit

## AC
- [x] The log of the currently deployed application can be checked
- [x] Log follow can be disabled
- [x] Pod and container names can be configu

[2021-08-12 16:24] deepak-gittyup commented on #844
Hi @manusa
The first task of this ticket is pretty straight-forward

I had a question about the 2nd task: _Create a unit test to verify your changes_

- Is the test simply suppose to ensure that the condition containing the LOG.warn statement is exercised ?
[code]
- Or is the test expected to have a mechanism to intercept LOG.warn(...) and ensure that the expected message is indeed propagated to t

[2021-08-13 05:23] manusa commented on #844
Hi @deepak-gittyup,

I'm really glad to see that you're interested in the bonus part of the issue.

The issue description is really vague, sorry for that. The lack of details is partly in purpose so that the contributor engages in a conversation to clarify, just like you did :trophy:.

If you check the `UserConfigurationCompareTest` class, there's no test for the method you just modified.

If you

[2021-08-13 08:16] deepak-gittyup commented on #844
Hi @manusa
Thankyou for the clarification and for the quick reply

Is it okay if I make the `protected` to `private` change in the same commit that includes the change for the originally intended _Use the built-in formatting..._ change ?
Or should it be treated as a separate commit ?

👍

After staring at the code, this is what caught my attention
The code now is:
[code]
My understanding is:
`else

[2021-08-13 11:19] Atharva321 commented on #843
Hii @manusa , I want to work on this issue.
Can I pick this up?

[2021-08-13 13:31] maycap123 commented on #469
I would like to try this

[2021-08-14 05:54] manusa commented on #843
Hi @Atharva321
@vinayakkumargupta has an incomplete PR (#845) but never requested to work on this issue.

@vinayakkumargupta are you working on this?

[2021-08-14 09:54] Atharva321 commented on #843
Sorry 😅 , I did't saw that PR.
Can you point out to me to any other beginner friendly issue on which I can work?
I am beginner in k8s and java.

[2021-08-15 12:13] maycap123 commented on #802
I would like to try this task, if I'm allowed to have several assignments :) if so, I need some further explanation: is there a trick to find out in which pom.xml the soon-to-be changing dependency is? what is to change with "GenericKubernetesResource? And last but not least, what is a cq? :)

[2021-08-16 06:25] rohanKanojia commented on #802
It's here
https://github.com/eclipse/jkube/blob/5a1828c0ece30567fdcf89ce7668bb8c2003211d/jkube-kit/parent/pom.xml#L57

In order to handle CustomResources in a generic way, we introduced [GenericCustomResource](https://github.com/eclipse/jkube/blob/master/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/GenericCustomResource.java). But in latest releases of Fabric8 Kubernetes Java Client

[2021-08-16 09:09] maycap123 commented on #802
Then please assign me :)

[2021-08-16 16:24] vinayakkumargupta commented on #843
@manusa Thank you For Asking i am very pleased to work on #845 issue I am a rookie Now But I will try to do this

[2021-08-16 16:59] vinayakkumargupta commented on #843
@manusa I have done changes it has no conflict with the main repo I am waiting for review

[2021-08-16 18:11] maycap123 commented on #802
Am I supposed to change only in the given code citation? or throughout ApplyService and ApplyServiceTest.java?

[2021-08-16 19:23] rohanKanojia commented on #802
You're right. You're supposed to replace usages of GenericCustomResource across project. Idea is to get rid of GenericCustomResource and use GenericKubernetesResource from kubernetes java client

[2021-08-16 21:39] Onyinye91-ctrl commented on #732
Is this issue still available @manusa ?

[2021-08-16 22:00] Onyinye91-ctrl commented on #823
Hello @Ash-KODES Is this issue still available? if yes, i will love to work on it

[2021-08-17 06:31] rohanKanojia opened #854 "`%n` should be used in place of `\n` to produce the platform-specific line separator."
We have this use of `\n` in `String.format` statements here which is a line delimiter on Linux:

https://github.com/eclipse/jkube/blob/5a1828c0ece30567fdcf89ce7668bb8c2003211d/jkube-kit/config/image/src/main/java/org/eclipse/jkube/kit/config/image/ImageName.java#L269-L273

We should use `%n` instead which will be portable across different platforms.

#### Kubernetes

If you don't have a real Kuber

[2021-08-17 06:32] rohanKanojia commented on #823
@Onyinye91-ctrl : Hi, Could you please check if you can work on https://github.com/eclipse/jkube/issues/854 instead?

[2021-08-17 07:51] Onyinye91-ctrl commented on #823
@rohanKanojia Just checked it out. Can i go for it?

[2021-08-17 09:02] rohanKanojia commented on #823
@Onyinye91-ctrl : Yes, Could you please add a comment on the issue so that I can assign it to you?

[2021-08-17 09:05] Onyinye91-ctrl commented on #823
@rohanKanojia  I have already done that

[2021-08-17 09:15] rohanKanojia commented on #823
Sorry for not being clear, I meant to comment on #854 . I can only assign users participating in specific issue conversations.

[2021-08-17 09:16] Onyinye91-ctrl commented on #854
Hello @rohanKanojia Can i task this?

[2021-08-17 09:27] Onyinye91-ctrl commented on #854
@rohanKanojia i have worked on it. Can you see it or should redo?

[2021-08-17 09:38] rohanKanojia commented on #854
Are your referring to https://github.com/Onyinye91-ctrl/jkube/commit/4da0e3c733cf1d8da1c9539ccc86f0cdf3fd1b71 ? I think it looks good. Could you please create a pull request against this repository so that it can be merged?

[2021-08-17 17:59] maycap123 commented on #802
Is there a trick to find out in which class GenericCustomResource is used?

[2021-08-17 21:27] Onyinye91-ctrl commented on #843
Is this issue still open? @vinayakkumargupta

[2021-08-18 06:33] rohanKanojia commented on #802
You can do a `git grep -in GenericCustomResource` to list all files referencing GenericCustomResource

[2021-08-18 07:32] maycap123 commented on #802
Thanks, i will do this later and maybe i will issue the pull request then :)

[2021-08-19 05:16] arnab-2001 commented on #843
Hi, @manusa I am a beginner in Open Source also new to the project, can you please point me some resources?

[2021-08-21 15:39] rohanKanojia opened #857 "[EPIC] Migrate to Mockito mocking framework from JMockit in unit tests"
### Description

Right now we're using [JMockit](https://jmockit.github.io/) in our tests for mocking the behavior of classes. We're discussed this in past as well but never got any chance to create an issue for this. We should try to move to [Mockito](https://site.mockito.org/) which is a more modern mocking framework.

### Goals
- Remove JMockit dependency
  - JMockit expectations should be repl

[2021-08-21 15:55] rohanKanojia opened #858 "FromConfigRegistryAuthHandlerTest: Use `assertThrows` instead of deprecated `ExpectedException.none()` `@Rule`"
As pointed out in [JUnit Javadocs](https://junit.org/junit4/javadoc/latest/org/junit/rules/ExpectedException.html#none()), `ExpectedException.none()` rule is deprecated. We should use `Assert.assertThrows` instead

https://github.com/eclipse/jkube/blob/5a1828c0ece30567fdcf89ce7668bb8c2003211d/jkube-kit/build/api/src/test/java/org/eclipse/jkube/kit/build/api/auth/handler/FromConfigRegistryAuthHandl

[2021-08-21 16:23] himanshu007-creator commented on #858
Hi, I would like to work on this issue 😊

[2021-08-21 20:21] soumyadeeptadas commented on #858
Hi, i have tried on this issue and refactored the deprecated functionalities.

Heres the link to the PR: [#858 fix ](https://github.com/eclipse/jkube/pull/858)

[2021-08-23 04:11] rohanKanojia commented on #858
@soumyadeeptadas : Hi, This issue was already assigned to @himanshu007-creator . Why did you create a PR for this?

Anyway, there are some more places where `ExpectedException.none()` is being used in tests. We need to update these tests as well:
[code]

[2021-08-23 06:26] theexplorist commented on #732
Working on it, you can see its assigned

[2021-08-23 16:44] praneethjreddy commented on #857
@rohanKanojia, I have experience in writing unit tests using Mockito and would love to contribute to this migration. Thank you

[2021-08-23 16:58] rohanKanojia commented on #857
@praneethjreddy : awesome, Thanks a lot. I wanted to get Marc's opinion on this one(He's on PTO right now and would be back next week). I think you can pick this up once he approves.

[2021-08-23 17:28] praneethjreddy commented on #857
Sounds good

[2021-08-29 10:19] yaakov-berkovitch opened #865 "Enhancement: add support to package my already existing Helm Chart"
### Description
There is no support for packaging and uploading my existing Helm charts I created by myself. It's an important feature because our charts are not so simple to generate because they are based on helm chart library we created, and so the charts are templatized.

### Info

* Eclipse JKube version : 1.4.0
* Maven version (`mvn -v`) : 3.6.3
[code]
* Kubernetes / Red Hat OpenShift setup

[2021-08-30 08:10] #843 closed

[2021-08-30 08:12] manusa commented on #843
Hi,
Sorry for the late replies, I've been on PTO until today.

I'm not sure if you've checked the [first-timers-only](https://github.com/eclipse/jkube/labels/first-timers-only) issues. We'll be creating issues with that tag for newcomers (probably there aren't any left right now).

[2021-08-30 08:14] #854 closed

[2021-08-30 10:35] manusa commented on #857
As we previously discussed, this is something we want to do.
However, this can't be started until we merge the current work on Gradle Plugins. And also, individual issues should be open for classes, suites, modules or whatever we want to break down this task into. It would be too hard and would take too long to accomplish this in a single PR.

[2021-08-30 10:38] manusa commented on #857
Also, this is not the argument for switching to Mockito. For Gradle plugins we required some features specific to Mockito in order to keep thing simple. In addition, the newer versions of Mockito don't require the use of PowerMock for special use cases and mock declaration is much more readable than JMockit.
Since for Gradle we require Mockito and everything we have implemented using JMockit can b

[2021-08-31 05:31] rohanKanojia commented on #857
Umm, okay I'm fine with waiting till we merge feat/gradle-plugin into master branch. I thought we can take help from community members to achieve this since and resolving conflicts would not be that difficult even if we start now.

[2021-08-31 05:38] manusa commented on #857
Yes, sure, but we don't have the CQ approved for this and we will have some conflicts in the pom.xml since this is a new dependency (Mockito dependency was added in scope of #31). ----> It's hard maintaining a separate branch that affects completely separate modules, if we start adding changes to poms, it will get harder and harder.

In addition, just like we are doing with the Hamcrest to AssertJ

[2021-08-31 05:50] deepak-gittyup commented on #844
Hi @manusa
A polite reminder :)
Any inputs from the previous comment👆

[2021-08-31 08:34] manusa commented on #844
Hi @deepak-gittyup,

Sorry for the late replay, I just came back from PTO.

Just keep it in the same commit, sth like `refactor: fix sonar warnings` might make sense for this set of changes.

I'm not sure if it's required (tests are always helpful in these situations) but as you say, line 59 could  be changed to `entity1 instanceof Map || entity2 instanceof Map` and then use the `castTo` method fo

[2021-08-31 10:48] #835 closed

[2021-08-31 12:58] manusa opened #867 "PodLogService: ANSI issue"
## Description

Child of #31

Log visualization for Pod doesn't work like with Maven (see https://github.com/eclipse/jkube/pull/862#issuecomment-909210534)

ANSI renders partially, Gradle Logger wrapper needs to be checked to see what can be supported.

**Maven Plugin**:
![image](https://user-images.githubusercontent.com/488391/131506058-87a03c34-93f3-49e0-83e1-990e067a6f8d.png)

** Gradle Plugin*

[2021-08-31 14:59] #851 closed

[2021-08-31 15:56] rohanKanojia opened #868 "LogMojo : Rename variables in order to align with documentation"
Right now there is a mismatch between variable names in Mojos and in the [plugin documentation](https://www.eclipse.org/jkube/docs/kubernetes-maven-plugin#jkube:log). Although it's harmless since variables are `private` and can't be directly used in XML configuration.

But for avoiding confusion, it's better to rename them.
https://github.com/eclipse/jkube/blob/2bd55bcc7c830e50929b6ede5d0da242e42d

[2021-08-31 17:24] izzy-el commented on #868
Can I pick this up?

[2021-08-31 17:29] izzy-el commented on #868
Thank you! This is my first open source contribution. Where can I see the rules for contributing to this repository?
And, just to be sure, I need to fork this repository and create a new branch, right?

[2021-08-31 17:36] rohanKanojia commented on #868
Yes, you're right. You'd need to fork the repository, create a new branch and push it to your fork. After pushing it, you would need to create a PR from Github UI. Maybe this guide can help clear your doubts better: https://www.dataschool.io/how-to-contribute-on-github/.

In order to contribute to Eclipse, you would need to create an [Eclipse Account](https://accounts.eclipse.org/) and Sign [Eclip

[2021-08-31 18:01] izzy-el commented on #868
I appreciate it. Right now, I just finished my commit on my fork on a new branch that I have created. I am opening a PR right now and I was going through the checklist. Two of the items is to test my changes on the code in either Kubernetes or OpenShift. How can I test my code on them? I mean, even though I just changed the variables name, I feel like this is something I should do.

[2021-09-01 03:40] tejassinghsital commented on #868
Hi I am a beginner and want to contribute to open source. I am looking for some simple issues that I can resolve. Please respond back.

[2021-09-01 03:49] tejassinghsital commented on #823
@rohanKanojia Greetings Sir, Sir I am looking for some simple issues that I can work on as my first ever contribution to open source. I''ve been actively looking for some beginner level issues but almost all are assigned already to others. I am little confused now so can you please put me in right direction? Really looking for your reply...

[2021-09-01 05:12] manusa commented on #868
Hi @tejassinghsital ,

https://github.com/eclipse/jkube/issues?q=is%3Aissue+is%3Aopen+label%3Afirst-timers-only

They are all taken right now. We'll be adding a few more later today.

[2021-09-01 05:32] rohanKanojia commented on #823
@Ash-KODES : polite ping, Are you still working on this issue? If not, Is it okay if I assign this to @tejassinghsital ?

@tejassinghsital : Thanks for showing interest in contributing to our project. Let me create some more good first issues by the end of today.

[2021-09-01 05:35] rohanKanojia commented on #868
@izzy-el: cool, In order to do this you would need to get access to a Kubernetes cluster. If you want to install it locally, you can use [minikube](https://minikube.sigs.k8s.io/) or [kind](https://kind.sigs.k8s.io/docs/). For OpenShift, you can get a free instance at Red Hat Developer Sandbox: https://developers.redhat.com/developer-sandbox

Once you have access to a Kubernetes Cluster; You need t

[2021-09-01 14:24] #868 closed

[2021-09-01 14:27] #844 closed

[2021-09-01 16:59] manusa opened #876 "ContainerCreateConfig.java: Provide the parametrized type for this generic."
### Description
The following statement is reported as a Major Code Smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AXGdTyfqheqsK8Fb83zZ&open=AXGdTyfqheqsK8Fb83zZ):

https://github.com/eclipse/jkube/blob/b9c08dea11f1dc0d5c164763f4b1148d73df42aa/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/access/ContainerCreateConfig.jav

[2021-09-01 17:33] rohanKanojia opened #877 "LogMojo: Change access modifiers to protected for use in XML configuration"
### Description

In https://github.com/eclipse/jkube/issues/868, we changed variable names of these configuration options for log goal. Now that the variable names are correct, we can expose their access so that they can be used in plugin configuration:
https://github.com/eclipse/jkube/blob/85f507ef25ed5c3b9284db893032eaec0c963451/kubernetes-maven-plugin/plugin/src/main/java/org/eclipse/jkube/mave

[2021-09-01 17:34] manusa opened #878 "DockerAccessWithHcClient.java: Change this "try" to a try-with-resources."
### Description
The following statement is reported as a Critical Code Smell by [SonarCloud](https://sonarcloud.io/project/issues?id=jkubeio_jkube&issues=AXCb0Ufhych7OcxsbwfL&open=AXCb0Ufhych7OcxsbwfL):

https://github.com/eclipse/jkube/blob/e5f1554e4a63b7aeda50f9ad1a8d5c13a72733f3/jkube-kit/build/service/docker/src/main/java/org/eclipse/jkube/kit/build/service/docker/access/hc/DockerAccessWithHcC

[2021-09-01 17:58] ysnarafat commented on #876
Do need to test with Kubernetes and OpenShift or just change the code you mentioned?

[2021-09-01 23:30] praneethjreddy commented on #878
@manusa Can I pick this up ?

[2021-09-02 00:32] praneethjreddy commented on #878
Here is the new code block after changing anonymous implementation to lambda:

`return response -> {
            try (InputStream stream = response.getEntity().getContent();
                 LineNumberReader reader = new LineNumberReader(new InputStreamReader(stream))) {
                String line;
                try {
                    callback.open();
                    while ( (line = read

[2021-09-02 01:20] rohanKanojia commented on #878
I'm perfectly okay with converting this to lambda as well if it breaks nothing

[2021-09-02 02:42] yraydhitya commented on #877
May I take this?

[2021-09-02 04:17] Hell4U commented on #823
Hey, @rohanKanojia I am new to contributing. Can I get some simple issue for my way to first ever contribution to open source ? Since most of the `first-timers-only` issue were solved when I was finding them.

[2021-09-02 05:44] manusa commented on #823
https://github.com/eclipse/jkube/labels/first-timers-only

We tend to add new issues here every day, or when there are no more available.

[2021-09-02 08:26] Ash-KODES commented on #823
yes go ahead

[2021-09-02 08:27] Ash-KODES commented on #823
yes go ahead

[2021-09-02 10:43] Hell4U commented on #823
So, I am just curious do I have to down mention below to this particular `jkube/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/util/IoUtil.java` file or all the files present in project.
[code]

[2021-09-02 10:48] rohanKanojia commented on #823
This issue is only applicable to two files mentioned in issue description.

[2021-09-02 10:56] Hell4U commented on #823
Thanks for clearing the doubt.

[2021-09-02 14:05] rohanKanojia opened #880 "KubernetesApplyTask: Add required configuration options to KubernetesExtension"
## Description

Child of #31

KuberneteApplyTask can be configured

## AC
- [x] KubernetesExtension has a `getRecreate()` field(`Property<Boolean>`) that decides whether resources should be deleted and created again.
  - Defaults to `false`
- [x] KubernetesExtension has a `getSkipApply()` field(`Property<Boolean>`) that decides whether apply goal should be skipped or not.
  - Defaults to `false`
-

[2021-09-02 14:09] rohanKanojia commented on #834
Can we close this one?

[2021-09-02 14:11] manusa commented on #834
I'm refactoring the test part

[2021-09-02 14:16] rohanKanojia opened #881 "KubernetesApplyTask: Implement k8sApply equivalent funtionality for Kubernetes Gradle Plugin"
### Description

Child of #31
~Blocked by https://github.com/eclipse/jkube/issues/880~

Port ApplyMojo from maven plugins to KubernetesApplyTask
- Any functionality present in maven plugin goal should be moved to KubernetesApplyTask

[2021-09-03 08:18] manusa opened #882 "OpenShiftResourceTask: implement oc:resource for Dockerfile mode equivalent functionality for OpenShift Gradle Plugin"
## Description

Child of #31
Relates to #834

Implement resource generation for Dockerfile mode.

- Any configuration setting should be part of the OpenShiftExtension class (Tasks should have no Inputs)
- Any logic present in the current Mojos should be moved to JKube-kit

[2021-09-04 14:34] yraydhitya commented on #877
I have changed the access modifier and deployed the `quickstart/maven/spring-boot` in minikube. Added `<logFollow>false</logFollow>` above this line https://github.com/eclipse/jkube/blob/e212da5881cf25a64afa49b84132ab7aff6ed225/quickstarts/maven/spring-boot/pom.xml#L127 and execute `mvn k8s:log -Pkubernetes`, but the plugin still follow logs. Is the configuration placement correct? How do I know I

[2021-09-05 16:12] Muhammadwasi commented on #876
Hi @manusa,
I would like to contribute to this issue.

[2021-09-06 05:23] Muhammadwasi commented on #876
Thanks @manusa

[2021-09-06 07:59] manusa commented on #877
The placement is fine, however you're probably testing with the released version and not the SNAPSHOT. Try running the following command `mvn k8s:log -Pkubernetes -Djkube.version=1.5.0-SNAPSHOT`

[2021-09-06 08:02] #834 closed

[2021-09-06 11:47] shubham-singh-748 commented on #878
Where to do change in code, it looks like to be same, i don't think, this code needs to change.....

[2021-09-06 13:03] manusa commented on #878
Don't worry, this issue is already being handled by @praneethjreddy and there's a PR (#879) that will be merged imminently.

[2021-09-06 14:43] rohanKanojia commented on #867
It also seems to affect pod log visualization for OpenShift Build:
[code]

[2021-09-06 16:13] rgordill opened #887 "Incorrect warning about overriding environment variable"
### Description

### Info

* Eclipse JKube version : 1.4.0
* Maven version (`mvn -v`) :
[code]
* Kubernetes / Red Hat OpenShift setup and version : k8s 1.21

* If it's a bug, how to reproduce : Just adding images with environment vars that can be overriden to resources. Ex.
[code]

* Log:
[code]

* Sample Reproducer Project : https://github.com/rgordill/customer-service-cache

* Other references:

[2021-09-08 01:45] kumar-cloud opened #891 "busybox image name is hardcoded in VolumePermissionEnricher class, need to make it as config"
### Description

**busybox** image name is hardcoded in [VolumePermissionEnricher.java Line 115](https://github.com/eclipse/jkube/blob/master/jkube-kit/enricher/generic/src/main/java/org/eclipse/jkube/enricher/generic/VolumePermissionEnricher.java#L115).
Now a days every one have their own ECR registries maintained.Few people are using Dockerhub pro version to pull images.
Due to this , we are get

[2021-09-08 05:02] manusa commented on #891
Hi @kumar-cloud,

Thanks for reporting.

Yes, this is exactly what needs to be done. Would you be interested in contributing a fix?

[2021-09-08 05:32] kumar-cloud commented on #891
Hi Team

Yes I would like to if possible. But I never contributed anything till now.
It would be a good experience for me.

If someone help me with steps...On process.

On Wed, 8 Sep 2021, 13:02 Marc Nuri, ***@***.***> wrote:

[2021-09-08 06:22] rohanKanojia commented on #891
@kumar-cloud : We have this webpage regarding contributing to project[0]. Please review it and see if it helps(You're also welcome to provide feedback regarding improvements since you would have a fresh perspective).

In case of any doubt, you can always reach out to us on Gitter Channel[1] (like you previously did). Our channel is usually active during IST/CET timezones.

[0] https://www.eclipse.

[2021-09-08 13:35] rohanKanojia commented on #849
Can we close this issue?

[2021-09-08 20:20] rohanmars opened #894 "Disable Log Updates for JIB ProgressBar - supporting jib.console = plain functionality"
If you run a jib build in a non ansi terminal (like any CICD build tool) then the jib build will generate endless update messages and fill almost the entire build log. Would be nice to support an option like jukbe.jib.console = plain for that. Basically just print the begin and end messages, not the update ones.

The method I think that does it is static so I'm not sure the best way that should be

[2021-09-08 20:31] rohanmars opened #895 "JIB Image Build Regession in 1.4.0"
Seems like there has been a bug/side effect introduced in 1.4.0 with build jib images.

The same image build that worked in versions before now gets an error when I run mvn install:

[ERROR] Failed to execute goal org.eclipse.jkube:kubernetes-maven-plugin:1.4.0:build (default) on project jkube-java-builder: Failed to execute the build: Error when building JIB image: Failed to create directory: /ho

[2021-09-09 04:23] manusa commented on #895
Hi @rohanmars,
Thanks for your report. Could you please provide some way to reproduce this issue?

[2021-09-09 06:13] kumar-cloud commented on #891
Hi Marc

Can you please merge the fix.

On Wed, 8 Sep 2021, 19:01 Marc Nuri, ***@***.***> wrote:

[2021-09-09 14:57] nightswimmings opened #898 "It might have sense to move Prometheus enricher generated annotations to deployment instead of service, or at least make it configurable"
According to this https://github.com/eclipse/jkube/blob/969025bf6bd21f22ec02ef4a72174ae49aaad5bb/kubernetes-maven-plugin/doc/src/main/asciidoc/inc/enricher/_jkube_prometheus.adoc
The JKube_Prometheus enricher creates Prometheus autodiscovery scrape metadata annotations on Service kind for service-endpoint scrapping, but there are times when it is justified to use the pod scrapping instead, and the

[2021-09-09 17:23] maycap123 commented on #802
Sorry, I'm still on this, got a lot on my plate right now. Hope that's ok

[2021-09-10 09:35] manusa opened #899 "Quickstarts: Port spring-boot-dekorate quickstart"
## Description

Child of #31
Blocked by #836

k8sBuild Gradle task works with SpringBoot Generator.

Port spring-boot-dekorate Maven quickstart to Gradle.

[2021-09-10 09:37] manusa opened #900 "Quickstarts: Port spring-boot-helm quickstart"
## Description

Child of #31
Blocked by k8sHelm goal implementation

Port spring-boot-helm Maven quickstart to Gradle.

[2021-09-10 09:40] manusa opened #901 "Quickstarts: Port spring-boot-watch quickstart"
## Description

Child of #31
Blocked by #1109
Port spring-boot-watch Maven quickstart to Gradle.

[2021-09-10 12:08] #850 closed

[2021-09-10 13:01] #882 closed

[2021-09-10 14:21] #880 closed

[2021-09-10 14:40] manusa opened #903 "OpenShiftBuildTask: ocBuild Generator - SpringBoot"
## Description

Child of #31
Equivalent of #850

ocBuild Gradle task works with SpringBoot Generator.

Make sure that the right artifact is chosen

[2021-09-10 15:27] manusa opened #904 "DeploymentConfig ImageChange trigger seems to be wrong for custom images"
### Description

The following statements sets the **namespace** of the change trigger to the image user. This seems to be an issue for custom images which include the repository/user/group information.

https://github.com/eclipse/jkube/blob/682cc6f25ccf3e95e20832d1396fa3890f3a4e26/jkube-kit/enricher/generic/src/main/java/org/eclipse/jkube/enricher/generic/openshift/ImageChangeTriggerEnricher.java

[2021-09-11 05:07] pavanp73 commented on #806
Is it fixed? Anyone working on this? If not. can I take it?

[2021-09-11 07:22] yraydhitya commented on #877
I missed installing the plugin after changing the code. The goal now logs the deployment and terminates with below exception.

`[WARNING] Exec Failure
javax.net.ssl.SSLException: Socket closed
    at sun.security.ssl.Alert.createSSLException (Alert.java:127)
    at sun.security.ssl.TransportContext.fatal (TransportContext.java:349)
    at sun.security.ssl.TransportContext.fatal (TransportContext.j

[2021-09-12 09:13] ronnuriel commented on #823
is this issue still open ?

[2021-09-14 08:44] rohanKanojia opened #908 "OpenShift Maven Plugin doesn't remove periods from container name."
### Description

I noticed this when I was trying to reproduce https://github.com/eclipse/jkube/issues/904. If you go to [quickstarts/maven/quarkus-customized-image](https://github.com/eclipse/jkube/tree/5e8b297a379cbe13745574a34440e3c0bcfa291c/quickstarts/maven/quarkus-customized-image), image name is configured like this:
[code]

If you'll do `oc:resource` you get a warning at validation phase r

[2021-09-14 08:58] manusa commented on #806
Sorry for the belated reply, yes please, go ahead.

[2021-09-14 09:12] pavanp73 commented on #806
Cool. Thanks.

[2021-09-14 09:55] #878 closed

[2021-09-14 12:46] rohanKanojia commented on #904
When I was trying to reproduce this issue, Due to image name being set to `${project.groupId}/${project.artifactId}` I bumped into https://github.com/eclipse/jkube/issues/908. I modified image name to `%g/${project.artifactId}` But noticed a difference in behavior between Fabric8 Maven Plugin and Eclipse JKube.

In Fabric8 Maven Plugin, `%g` was getting replaced by namespace which was currently co

[2021-09-14 12:56] rohanKanojia commented on #908
In past, we had made changes to allow periods in image user/registries: https://github.com/eclipse/jkube/issues/523 . I think this behavior is due to this change.

https://github.com/eclipse/jkube/blob/e2aa310a834322d5eca84f802e5830d706c47d21/jkube-kit/enricher/api/src/main/java/org/eclipse/jkube/kit/enricher/api/util/KubernetesResourceUtil.java#L398-L403

While debugging quarkus-customized-image

[2021-09-14 13:11] rohanKanojia commented on #904
According to OpenShift documentation, `from.namespace` field is optional. If we don't set this namespace is assumed to be namespace where DeploymentConfig gets applied.

![Screenshot from 2021-09-14 18-27-31](https://user-images.githubusercontent.com/13834498/133261837-e8cbdc59-3ad5-47f8-b229-72a1cdc9beff.png)

If I remove this namespace set line from ImageChangeTriggerEnricher, I can see that in

[2021-09-14 14:25] mborra opened #913 "The provider name appears to be hardcoded, it would need to be configurable"
### Description

The provider name appears to be hardcoded, it would need to be configurable.

I have changed the `<provider>` in the labels using `<resources><labels><all>`, now the selector does not find the match due to the fact that the `provider` in the `selector` cannot be changed. If I can change the label I don't see why I can't change the `provider` in the `selector`.

### Info

* Eclipse

[2021-09-15 04:44] rohanKanojia opened #914 "KubernetesUndeployTask: implement k8sUndeploy task `k8s:undeploy` maven equivalent funtionality in Kubernetes Gradle Plugin"
### Description

Child of #31

There is no additional configuration option which needs to be added since they are already covered by configuration fields added for resource and apply goals.

Port UndeployMojo to KubernetesUndeployTask in Kubernetes Gradle Plugin

- Any functionality present in mojo should be ported to task

[2021-09-15 05:33] manusa commented on #913
This is handled in the ProjectLabelEnricher.

It could be tackled just like we do with the [`app` label](https://github.com/eclipse/jkube/blob/ca84ce4f59a60c3aef18afdfc1f28c06a6ffc421/jkube-kit/enricher/generic/src/main/java/org/eclipse/jkube/enricher/generic/ProjectLabelEnricher.java#L198) by adding a configuration.

So adding a configuration here:

https://github.com/eclipse/jkube/blob/ca84ce4f5

[2021-09-15 08:23] manusa commented on #904
OK, let's remove it then.

If there's a regression we can always set it back since the correct behavior is fixed in #910

Updated documentation for 4.8 https://docs.openshift.com/container-platform/4.8/rest_api/workloads_apis/deploymentconfig-apps-openshift-io-v1.html

[2021-09-15 10:48] #904 closed

[2021-09-15 10:48] #832 closed

[2021-09-15 13:18] #908 closed

[2021-09-15 15:24] rohanKanojia commented on #903
Does this issue include verifying ocBuild task works okay? Or do you think something needs to be done in OpenShiftBuildTask in regards to SpringBoog generator?

[2021-09-16 05:27] manusa commented on #903
Verify that Spring Boot generator behaves OK when using ocBuild with **all** of the available strategies, configurations, flags, etc.

Probably nothing needs to be done, but it must be tested and verified.

Maybe some tests apply.

[2021-09-16 05:29] manusa commented on #903
I had to add a fix for this (#902) https://github.com/eclipse/jkube/commit/ef35f77d4364bc9fe3d5e29718a564b02d01ad1d because the repackage task of the Spring plugin was running after our Build task in some cases. This meant that the plain jar (not uber/fat) was chosen instead.

[2021-09-17 05:15] #849 closed

[2021-09-17 05:21] #881 closed

[2021-09-17 10:41] manusa opened #921 "OpenShiftApplyTask: Implement ocApply equivalent funtionality for OpenShift Gradle Plugin"
### Description

Child of #31
Relates to #881

Port OpenshiftApplyMojo from maven plugins to OpenShiftApplyTask
- Any functionality present in maven plugin goal should be moved to OpenShiftApplyTask
  - Manifest retrieval
  - Log prefix
- OpenShift specifics in ApplyMojo
  - Check also log message indicating clusterKind
  - See disableOpenShiftFeatures (should be covered by defaults in Kubernetes|

[2021-09-17 10:46] manusa opened #922 "OpenShiftUndeployTask: implement ocUndeploy task oc:undeploy maven equivalent funtionality in OpenShift Gradle Plugin"
### Description

Child of #31
Relates to #914

Port OpenshiftUndeployMojo from maven plugins to OpenShiftUndeployTask
- Any functionality present in maven plugin goal should be moved to OpenShiftUndeployTask
  - Make sure that s2iStream is included in the resources to undeploy

[2021-09-17 13:47] manusa opened #923 "QuakusGenerator not applicable when using io.quarkus.platform groupId"
### Description

Quarkus introduced recently the [Platform registry](https://quarkus.io/blog/quarkus-2x-platform-quarkiverse-registry/), which has a different groupId.

TL;DR: the quarkus-maven-plugin artifact can now be downloaded from both the `io.quarkus.platform` and `io.quarkus` group ids.

We need to fix QuarkusGenerator so that the new group id is also considered [when determining](https://

[2021-09-18 06:24] iamdebojyoti commented on #876
Hi @manusa, Is this issue still open? If yes, then I would like to contribute to it.

[2021-09-20 05:26] manusa commented on #876
Hi @Muhammadwasi, are you still working on this? It's been 2 weeks, but we have no news. We'll be opening new first time and good first issues in the coming days.

[2021-09-20 07:35] #891 closed

[2021-09-20 11:23] manusa commented on #895
I managed to reproduce the issue (https://github.com/marcnuri-demo/202109-quarkus-cafe/runs/3650824725?check_suite_focus=true)

Problem in:
https://github.com/eclipse/jkube/blob/93a66d007ad1c6169ba804959c81c7d3e279b6f0/jkube-kit/common/src/main/java/org/eclipse/jkube/kit/common/util/FileUtil.java#L251

Directory is created but returns false (I think last canonical `/` messes the method).

Could be

[2021-09-20 14:41] rohanKanojia commented on #903
I've tested openshift-gradle-plugin on `spring-boot`, `spring-boot-crd` and `spring-boot-camel-complete` quickstarts and it seems to be working in S2I and Docker build strategies. Basically I've run the following commands:
[code]
I think right jar is getting picked in all above three cases.